.landing-page-header {

  &__body--red {
    background-color: $brand-primary;
  }

  &__title--red {
    color: $landing-page-header-inverted-text-color;
  }

  &__down-arrow--red {
    text-align: center;
    color: $brand-text;
  }
}
