<main role="main" class="gray-background">
    <article class="content-page-layout gray-background">
        <div class="center">
            <div class="list-teaser">
                <div class="list-teaser__body">
                    <div class="list-teaser__caption">Artikel</div>
                    <h2 class="list-teaser__headline">Artikel Headline</h2>
                    <h3 class="list-teaser__subheadline">
                        Artikel Subheadline
                    </h3>
                    <img src={context.app.uri("static/arrow-long-right-red.svg")} />
                </div>
                <div class="list-teaser__footer">
                    <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--small">
                            <img class="avatar__image" itemprop="photo" src="https://innoq.com/assets/uploads/staff_member/photo/alex/thumb_DSC02016_2.jpg" alt="Portrait von Alexander Hesingfeld" />
                        </div>
                        <div class="author-bio__text">
                            <div class="author-bio__name" itemprop="name">
                                <a class="author-bio__link" itemprop="url" href="https://innoq.com/de/staff/alexander-heusingfeld/">Heribert Innoq</a>
                            </div>
                            <div class="author-bio__info" itemprop="jobTitle" >Senior Consultant</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-teaser">
                <div class="list-teaser__body">
                    <div class="list-teaser__caption">Artikel</div>
                    <h2 class="list-teaser__headline">Artikel Headline</h2>
                    <h3 class="list-teaser__subheadline">
                        Artikel Subheadline
                    </h3>
                    <img src={context.app.uri("static/arrow-long-right-red.svg")} />
                </div>
                <div class="list-teaser__footer">
                    <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--small">
                            <img class="avatar__image" itemprop="photo" src="https://innoq.com/assets/uploads/staff_member/photo/alex/thumb_DSC02016_2.jpg" alt="Portrait von Alexander Hesingfeld" />
                        </div>
                        <div class="author-bio__text">
                            <div class="author-bio__name" itemprop="name">
                                <a class="author-bio__link" itemprop="url" href="https://innoq.com/de/staff/alexander-heusingfeld/">Heribert Innoq</a>
                            </div>
                            <div class="author-bio__info" itemprop="jobTitle" >Senior Consultant</div>
                        </div>
                    </div>
                    <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--small">
                            <img class="avatar__image" itemprop="photo" src="https://innoq.com/assets/uploads/staff_member/photo/alex/thumb_DSC02016_2.jpg" alt="Portrait von Alexander Hesingfeld" />
                        </div>
                        <div class="author-bio__text">
                            <div class="author-bio__name" itemprop="name">
                                <a class="author-bio__link" itemprop="url" href="https://innoq.com/de/staff/alexander-heusingfeld/">Heribert Innoq</a>
                            </div>
                            <div class="author-bio__info" itemprop="jobTitle" >Senior Consultant</div>
                        </div>
                    </div>
                    <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--small">
                            <img class="avatar__image" itemprop="photo" src="https://innoq.com/assets/uploads/staff_member/photo/alex/thumb_DSC02016_2.jpg" alt="Portrait von Alexander Hesingfeld" />
                        </div>
                        <div class="author-bio__text">
                            <div class="author-bio__name" itemprop="name">
                                <a class="author-bio__link" itemprop="url" href="https://innoq.com/de/staff/alexander-heusingfeld/">Heribert Innoq</a>
                            </div>
                            <div class="author-bio__info" itemprop="jobTitle" >Senior Consultant</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
