<main role="main" class="stripe stripe--primary">
    <header class="topic-header topic-header-bg-image-igel">
        <div class="topic-header__body">
            <h3 class="topic-header__type">Schwerpunktthema <span class="topic-header__tag">Microservices</span></h3>
            <div class="topic-header__punch-in topic-header-bg-image-text-box-igel">
                <h1 class="topic-header__title">Schwerpunkt-Thema Headline</h1>
            </div>
            <div class="topic-header__text">
                Filet mignon sausage tongue, hamburger porchetta fatback kielbasa flank
                ribeye. Pastrami t-bone pork chop sirloin ham swine cupim brisket
                prosciutto buffalo drumstick strip steak capicola short loin.
                Frankfurter fatback turkey pork chop prosciutto pork ground round tongue
                chuck doner. Pig venison pork chop shoulder corned beef capicola
                meatball.
            </div>
            <img src={context.app.uri('assets/static/arrow-long-down.svg')} />
        </div>
    </header>

    <article class="page-layout--grid">
        <div class="center">
            <div class="list-teaser">
                <div class="list-teaser__body">
                    <div class="list-teaser__caption">Artikel</div>
                    <h2 class="list-teaser__headline">Artikel Headline</h2>
                    <h3 class="list-teaser__subheadline">
                        Artikel Subheadline
                        <img class="arrow-right" src={context.app.uri("static/arrow-long-right-red.svg")} />
                    </h3>
                </div>
                <div class="list-teaser__footer">
                    <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--small">
                            <img class="avatar__image" itemprop="photo" src="https://innoq.com/assets/uploads/staff_member/photo/alex/thumb_DSC02016_2.jpg" alt="Portrait von Alexander Hesingfeld" />
                        </div>
                        <div class="author-bio__text">
                            <div class="author-bio__name" itemprop="name">
                                Heribert Innoq
                            </div>
                            <div class="author-bio__info" itemprop="jobTitle" >Senior Consultant</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-teaser">
                <div class="list-teaser__body">
                    <div class="list-teaser__caption">Artikel</div>
                    <h2 class="list-teaser__headline">Artikel Headline</h2>
                    <h3 class="list-teaser__subheadline">
                        Artikel Subheadline
                        <img class="arrow-right" src={context.app.uri("static/arrow-long-right-red.svg")} />
                    </h3>
                </div>
                <div class="list-teaser__footer">
                    <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--small">
                            <img class="avatar__image" itemprop="photo" src="https://innoq.com/assets/uploads/staff_member/photo/alex/thumb_DSC02016_2.jpg" alt="Portrait von Alexander Hesingfeld" />
                        </div>
                        <div class="author-bio__text">
                            <div class="author-bio__name" itemprop="name">
                                Heribert Innoq
                            </div>
                            <div class="author-bio__info" itemprop="jobTitle" >Senior Consultant</div>
                        </div>
                    </div>
                    <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--small">
                            <img class="avatar__image" itemprop="photo" src="https://innoq.com/assets/uploads/staff_member/photo/alex/thumb_DSC02016_2.jpg" alt="Portrait von Alexander Hesingfeld" />
                        </div>
                        <div class="author-bio__text">
                            <div class="author-bio__name" itemprop="name">
                                Heribert Innoq
                            </div>
                            <div class="author-bio__info" itemprop="jobTitle" >Senior Consultant</div>
                        </div>
                    </div>
                    <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--small">
                            <img class="avatar__image" itemprop="photo" src="https://innoq.com/assets/uploads/staff_member/photo/alex/thumb_DSC02016_2.jpg" alt="Portrait von Alexander Hesingfeld" />
                        </div>
                        <div class="author-bio__text">
                            <div class="author-bio__name" itemprop="name">
                                Heribert Innoq
                            </div>
                            <div class="author-bio__info" itemprop="jobTitle" >Senior Consultant</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-teaser-abstract primary">
                <div class="list-teaser__body">
                    <div class="list-teaser-abstract__caption">Artikel</div>
                    <h2 class="list-teaser-abstract__headline">Artikel Headline</h2>
                    <p class="list-teaser-abstract__text">
                        Lorem gibson dermatrodes boy nodality neural office sprawl futurity Lado-Acheson count zero interrupt Night City tanto papier-mache kanji corporation meta-lights neurosurgery.
                        Lorem gibson Chiba neon neon motion Mycotoxin Metro Holografix boat RAM AI disposable lights saturation point stimulate boat systemic vehicle.
                        <img class="arrow-right" src={context.app.uri("static/arrow-long-right-white.svg")} />
                    </p>
                </div>
                <div class="list-teaser__footer">
                    <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--small">
                            <img class="avatar__image" itemprop="photo" src="https://innoq.com/assets/uploads/staff_member/photo/alex/thumb_DSC02016_2.jpg" alt="Portrait von Alexander Hesingfeld" />
                        </div>
                        <div class="author-bio__text">
                            <div class="author-bio__name" itemprop="name">
                                Heribert Innoq
                            </div>
                            <div class="author-bio__info" itemprop="jobTitle" >Senior Consultant</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-teaser-abstract secondary">
                <div class="list-teaser__body">
                    <div class="list-teaser-abstract__caption">Artikel</div>
                    <h2 class="list-teaser-abstract__headline">Artikel Headline</h2>
                    <p class="list-teaser-abstract__text">
                        Lorem gibson dermatrodes boy nodality neural office sprawl futurity Lado-Acheson count zero interrupt Night City tanto papier-mache kanji corporation meta-lights neurosurgery.
                        Lorem gibson Chiba neon neon motion Mycotoxin Metro Holografix boat RAM AI disposable lights saturation point stimulate boat systemic vehicle.
                        <img class="arrow-right" src={context.app.uri("static/arrow-long-right-red.svg")} />
                    </p>
                </div>
                <div class="list-teaser__footer">
                    <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--small">
                            <img class="avatar__image" itemprop="photo" src="https://innoq.com/assets/uploads/staff_member/photo/alex/thumb_DSC02016_2.jpg" alt="Portrait von Alexander Hesingfeld" />
                        </div>
                        <div class="author-bio__text">
                            <div class="author-bio__name" itemprop="name">
                                Heribert Innoq
                            </div>
                            <div class="author-bio__info" itemprop="jobTitle" >Senior Consultant</div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#" class="list-teaser-event">
                <div class="event-date-section">
                    <div class="label talk">Vortrag</div>
                    <time class="event-date" datetime="2017-06-23">
                        <span class="event-day-month">
                            <span class='event-day'>23</span>
                            <span class='event-month'>Jun</span>
                        </span>
                        <span class='event-year'>2017</span>
                    </time>
                </div>
                <div class="list-teaser__content">
                    <div class="list-teaser__body">
                        <div class="label talk">Vortrag</div>
                        <div class="label slides">Folien verfügbar</div>
                        <h2 class="list-teaser-event__headline">Vortrag Titel</h2>
                        <h3 class="list-teaser-event__subheadline">
                            Vortragsort / 10-12 Uhr
                            <img class="arrow-right" src={context.app.uri("static/arrow-long-right-red.svg")} />
                        </h3>
                    </div>
                    <div class="list-teaser__footer">
                        <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                            <div class="author-bio__image avatar avatar--small">
                                <img class="avatar__image" itemprop="photo" src="https://innoq.com/assets/uploads/staff_member/photo/alex/thumb_DSC02016_2.jpg" alt="Portrait von Alexander Hesingfeld" />
                            </div>
                            <div class="author-bio__text">
                                <div class="author-bio__name" itemprop="name">
                                    Heribert Innoq
                                </div>
                                <div class="author-bio__info" itemprop="jobTitle" >Senior Consultant</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="list-teaser-event">
                <div class="event-date-section">
                    <div class="label talk">Training</div>
                    <div class="event-date-wrapper">
                        <time class="event-date" datetime="2017-06-23">
                            <span class="event-day-month">
                                <span class='event-day'>23</span>
                                <span class='event-month'>Jun</span>
                            </span>
                        </time>
                        <hr class="event-date-separator" />
                        <time class="event-date" datetime="2017-06-24">
                            <span class="event-day-month">
                                <span class='event-day'>24</span>
                                <span class='event-month'>Jun</span>
                            </span>
                            <span class='event-year'>2017</span>
                        </time>
                    </div>
                </div>
                <div class="list-teaser__content">
                    <div class="list-teaser__body">
                        <div class="label training">Training</div>
                        <h2 class="list-teaser-event__headline">Training Titel</h2>
                        <h3 class="list-teaser-event__subheadline">
                            Trainingsort
                            <img class="arrow-right" src={context.app.uri("static/arrow-long-right-red.svg")} />
                        </h3>
                    </div>
                    <div class="list-teaser-event__footer">
                        <div class="link-teaser">Mehr erfahren</div>
                    </div>
                </div>
            </a>
        </div>
    </article>
</main>
