$zigzag-bottom: $spacer-y * 1.5;
$blockquote-bottom: $spacer-y * 2;

blockquote {
  margin-bottom: $blockquote-bottom;
  text-align: center;


  .zigzag {
    display: block;
    margin: 0 auto $zigzag-bottom;
    width: 300px;
  }

  p {
    @extend %heading-font-heavy;
    line-height: $blockquote-line-height;
    color: $brand-interaction;
    font-size: $blockquote-font-size;

    &::before {
      content: '„';
    }

    &::after {
      content: '“';
    }
  }

  cite {
    @extend %author-name;
    display: block;
  }

  .role {
    @extend %author-role;
  }
}
