blockquote {
  margin-bottom: $component-spacer-blockquote-vertical;
  text-align: center;


  .zigzag {
    display: block;
    margin: 0 auto $component-spacer-zigzag-horizontal;
    width: 300px;
  }

  p {
    @extend %heading-font-heavy;
    line-height: $blockquote-line-height;
    color: $brand-interaction;
    font-size: $blockquote-font-size;

    &::before {
      content: '„';
    }

    &::after {
      content: '“';
    }
  }

  cite {
    @extend %author-name;
    display: block;
  }

  .role {
    @extend %author-role;
  }
}
