.tag-section {
  @extend %container-md;
  @extend %container-vertical-spacing-xl;

  .tag-list {
    margin-top: $spacer-sm;
  }
}

.tag-section__headline {
  @extend %heading-font-heavy;

  color: $meta-tags-headline-text-color;
  font-size: $font-size-base;
  text-align: center;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .tag-section__headline {
    font-size: $font-size-sm;
  }
}
