.alert {
  @extend %heading-font-regular;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: $spacer-xs;
  margin-bottom: $spacer-sm;
  color: $alert-color;
  font-size: $font-size-base;

  &--info {
    background-color: $brand-info;
  }

  &--warn {
    background-color: $brand-warn;
    color: $brand-text;
  }

  &--error {
    background-color: $brand-danger;
  }
}

.alert-btn {
  @extend %base-button;

  color: inherit;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .alert {
    padding: $spacer-sm;
    margin-bottom: $spacer-md;
  }
}
