// ---- Block quotes -----------------------------------------------------------
//
// Scope element based selector to elements, that do not carry a
// class attribute, to prevent reverting styles for all non-default quotes.
//

blockquote:not([class]),
.blockquote {
  position: relative;
  margin-right: 0;
  margin-left: 0;

  &,
  > p {
    @extend %body-font-italic;

    font-size: $font-size-sm;
    line-height: $paragraph-line-height;
  }

  @media screen and (min-width: $grid-breakpoint-md) {
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -$spacer-base;
      display: block;
      width: 10px;
      background-color: $quote-color;
      content: '';
    }
  }
}
