.btn {
  @extend %heading-font-bold;
  border: 2px solid $button-border-color;
  background-color: $button-background;
  cursor: pointer;
  padding: 24px 27px;
  line-height: $button-medium-line-height;
  color: $button-color;
  font-size: $button-medium-font-size;

  &:hover,
  &:focus {
    background-color: $button-hover-background;
    color: $button-hover-color;
  }

  &--cta {
    border-color: $button-cta-border-color;
    background-color: $button-cta-background;
    color: $button-cta-color;

    &:hover,
    &:focus {
      border-color: $button-cta-hover-border-color;
      background-color: $button-cta-hover-background;
    }
  }

  &--light {
    background-color: transparent;
    border-width: 0 0 2px;
    padding: 11.5px 1.5px;
  }


}
