//
// Button
//

.btn {
  @extend %heading-font-bold;
  display: inline-block;
  position: relative;
  transition: $standard-transition;
  border: 3px solid $button-border-color;
  background-color: $button-background;
  cursor: pointer;
  padding: $spacer-md $spacer-base;
  line-height: $button-medium-line-height;
  white-space: nowrap;
  color: $button-color;
  font-size: $button-medium-font-size;
  user-select: none;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    transition: $standard-transition;
    z-index: -1;
    background-color: $button-hover-background;
    width: 0%;
    height: 100%;
    content: '';
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }

  &--cta {
    border-color: $button-cta-border-color;
    background-color: $button-cta-background;
    color: $button-cta-color;

    &::before {
      position: absolute;
      z-index: 1;
      content: attr(data-label);
    }

    &::after {
      z-index: 0;
      background-color: $button-cta-hover-background;
    }

    &:hover,
    &:focus {
      border-color: $button-cta-hover-border-color;

      &::after {
        width: 100%;
      }
    }
  }

  &--light {
    border-width: 0 0 3px;
    background-color: transparent;
    padding: $spacer-xs 0;
  }
}
