//
// Button
//

$default-btn-margin: $spacer-sm;

.btn {
  @extend %heading-font-bold;
  @include hover-fill($brand-interaction, $button-color, $button-color);
  display: inline-block;
  position: relative;
  transition: $standard-transition;
  margin-bottom: $default-btn-margin;
  border: 3px solid $button-border-color;
  border-radius: 0;
  background-color: $button-background;
  cursor: pointer;
  padding: $spacer-md $spacer-base;
  line-height: $button-medium-line-height;
  white-space: nowrap;
  font-size: $button-medium-font-size;
  user-select: none;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &--cta {
    border-color: $button-cta-border-color;
    background-color: $button-cta-background;
    color: $button-cta-color;

    &::before {
      position: absolute;
      z-index: 1;
      content: attr(data-label);
    }

    &::after {
      z-index: 0;
      background-color: $button-cta-hover-background;
    }

    &:hover,
    &:focus {
      border-color: $button-cta-hover-border-color;
      color: $button-cta-color;

      &::after {
        width: 100%;
      }
    }
  }

  &--light {
    border-width: 0 0 3px;
    background-color: transparent;
    padding: $spacer-xs 0;
  }

  &--small {
    padding: $spacer-sm $spacer-md;
    line-height: $button-small-line-height;
    font-size: $button-small-font-size;
  }

  &--large {
    padding: $spacer-md $spacer-lg;
    line-height: $button-large-line-height;
    font-size: $button-large-font-size;
  }

  &--inverted {
    @include hover-fill($brand-interaction, $button-inverted-color, $button-inverted-color);
    color: $button-inverted-color;
    border-color: $button-inverted-border-color;
  }

  & + .btn {
    margin-left: $default-btn-margin;
  }
}
