.eyecatcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $eyecatcher-body-bg;
  padding: $spacer-md;
  overflow: hidden;

  .social-media-bar {
    margin-bottom: 0;
  }

  .social-media-bar__link {
    transition: standard-transition(color);

    .icon-svg:hover,
    .icon-svg:focus {
      background: $eyecatcher-text-color;
    }
  }
}

.eyecatcher__text {
  @extend %heading-font-bold;

  margin-bottom: $spacer-md;
  text-align: center;
  color: $eyecatcher-text-color;
  font-size: $eyecatcher-font-size;

}
