.eyecatcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacer-md;
  overflow: hidden;
  text-align: center;

  &--event {
    background-color: $eyecatcher-body-bg;
    color: $eyecatcher-text-color;
  }

  &--event__text {
    @extend %heading-font-bold;

    margin-bottom: 0;
    font-size: $eyecatcher-font-size;
  }

  &--event__link {
    border: 0;
    color: $eyecatcher-text-color;

    &:hover,
    &focus {
      color: $eyecatcher-color-inverted;
    }
  }

  &--social {
    background-color: $eyecatcher-body-bg;
    color: $eyecatcher-text-color;

    .social-media-bar {
      margin-bottom: 0;
      color: $eyecatcher-color-inverted;
      font-size: $eyecatcher-font-size-large;
    }

    .social-media-bar__link {
      transition: standard-transition(color);

      &:hover,
      &:focus {
        color: $eyecatcher-text-color;
      }
    }
  }

  &--social__text {
    @extend %heading-font-bold;

    margin-bottom: $spacer-md;
    font-size: $eyecatcher-font-size;
  }

}
