code {
  @extend %monospace-font-regular;

  display: inline-block;
  background-color: $code-background-color;
  padding: 2px $spacer-xxs;
  font-size: $font-size-xs;
}

mark {
  display: inline-block;
  background-color: $mark-color;
}
