super-quote > blockquote,
.superquote {
  @extend %longquote;

  > p {
    font-size: $font-size-sm;
  }
}

.superquote__zigzag {
  @extend %longquote__zigzag;
}

.superquote__author {
  @extend %longquote__author;
}

.superquote__role {
  @extend %longquote__role;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .superquote {
    @extend %longquote;

    > p {
      font-size: $font-size-xl;
    }
  }
}
