.newsletter-optin {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: $newsletter-optin-color;

  background-color: $brand-gray-75;
  background-image: asset-url('bg-images/edition-02/edition02-data-05.webp');
  background-size: cover;
  background-blend-mode: multiply;

  .form-label {
    color: $newsletter-optin-color;
  }
}

.newsletter-optin__title {
  @extend %h1;

  color: $newsletter-optin-color;
  text-align: center;
}

.newsletter-optin__subtitle {
  @extend %h5;

  color: $newsletter-optin-color;
  text-align: center;
}

.newsletter-optin__form {
  .form-control {
    border: 0;
  }
}
