.contact-person {
  @extend %container-xl;

  .author-bio--large {
    color: $brand-secondary;
  }
}

.contact-person--inverted {
  background-blend-mode: multiply;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  * {
    color: $brand-white;
  }
}

.contact-person__wrapper {
  display: grid;
  width: 100%;
  grid-gap: $spacer-base;
  grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%), 1fr));

}

.contact-person__subheading {
  @extend %heading-font-regular;

  margin-bottom: $spacer-lg;
  font-size: $font-size-md;
  line-height: $heading-line-height;
  text-align: center;
}
