$anchor-list-font-size: 1.26rem; // Determined by the hard science of pushing things around

.toc {
  max-width: 100%;
  margin-bottom: $spacer-lg;
}

.toc__heading {
  @extend %heading-font-heavy;

  margin-bottom: $spacer-sm;
  color: $toc-heading-color;
  font-size: $font-size-sm;
  text-transform: uppercase;
}

.toc__list {
  @extend %list-unstyled;
  padding-left: 0.7rem;

  > li {
    @extend %body-font-italic;

    padding-top: $spacer-xxs;
    padding-bottom: $spacer-xxs;
    font-size: $font-size-base;
  }

  > li + li {
    border-top: 1px solid $toc-border-color;
  }

  li {
      list-style-type: $icon-arrow-down;
      padding-left: 0.7rem;


      &::marker {
        @extend %icon; // inline-block

        position: absolute;
        left: -$spacer-md;
        width: $spacer-base;
        color: $brand-interaction;
        font-weight: bolder;
      }
  }
}

.toc__anchor {
  @extend %link-unstyled;
  @include hover-fill($link-hover-color-light, $toc-anchor-hover-text-color, $toc-anchor-text-color);

  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;


}

@media screen and (min-width: $grid-breakpoint-xl) {
  .toc {
    margin-top: $spacer-xxs;
    margin-right: $spacer-xl;
  }
}
