$two-column-image-divider-height-md: 3.5 * $spacer-xxl;
$two-column-image-divider-height-lg: 6 * $spacer-xxl;

.two-column-image-divider-asymmetric {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.two-column-image-divider-asymmetric__left-image,
.two-column-image-divider-asymmetric__right-image {
  max-height: 100%;
  object-fit: cover;
}

@media screen and (min-width: $grid-breakpoint-xl) {
  .two-column-image-divider-asymmetric {
    flex-direction: row;
    gap: $spacer-xxl;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  .two-column-image-divider-asymmetric__left-image--hoch {
    height: calc($two-column-image-divider-height-lg / 1.3);
  }

  .two-column-image-divider-asymmetric__right-image--hoch {
    height: $two-column-image-divider-height-lg;
  }

  .two-column-image-divider-asymmetric__left-image--quer {
    height: calc($two-column-image-divider-height-md / 1.2);
  }

  .two-column-image-divider-asymmetric__right-image--quer {
    height: $two-column-image-divider-height-md;
  }
}
