.list-teaser {
  @extend %list-teaser;

  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  border-top: 3px solid $list-teaser-border-color;
  background-color: $list-teaser-background-color;
}

a.list-teaser {
  @extend %hover-glow;
}

.list-teaser__body {
  padding: $spacer-sm $spacer-md;

  .label {
    &.talk,
    &.slides,
    &.training {
      display: none;
    }
  }
}

.list-teaser__footer {
  @extend %list-teaser-footer;
}

.list-teaser__caption {
  @extend %teaser-caption;

  color: $list-teaser-caption-color;
}

.list-teaser__headline {
  @extend %h3;

  margin-bottom: $spacer-xxs;
  color: $list-teaser-headline-color;
}

.list-teaser__subheadline {
  @extend %heading-font-regular;

  margin-bottom: $spacer-xs;
  font-size: $font-size-sm;
  line-height: $paragraph-line-height-sm;

  .icon {
    margin-left: $spacer-xxs;
  }
}

//
// Media Queries
//
@media screen and (min-width: $grid-breakpoint-md) {
  .list-teaser__subheadline {
    font-size: $font-size-md;
  }

  .list-teaser__body {
    .label {
      &.talk,
      &.slides,
      &.training {
        display: inline-block;
        margin-bottom: $spacer-xs;
      }
    }
  }
}
