.footnote-section__headline__container {
  width: 100%;
}

.footnote-section__headline {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: $spacer-sm;
  color: $footnote-section-headline-color;
  font-size: $font-size-sm;
  text-transform: uppercase;

  &::after {
    position: relative;
    top: 0.65em;
    max-width: 80px;
    height: 3px;
    flex-grow: 1;
    margin-left: 10px;
    background-color: $footnote-section-headline-color;
    content: "\a0";
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .footnote-section__headline__container {
    width: 30%;
  }
}
