.masonry-grid {
  display: grid;
  grid-gap: $spacer-md;

  .case-teaser__body {
    top: 0;
  }
}

@media screen and (min-width: $grid-breakpoint-md-lg) {
  .masonry-grid {
    grid-template-columns: repeat(8, minmax(6rem, 1fr));
  }

  .span-4 {
    grid-column: span 4;
  }

  .span-3 {
    grid-column: span 3;
  }

  .span-5 {
    grid-column: span 5;
  }
}
