$navbar-padding: $spacer-md;

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $navbar-body-bg;
  padding: $navbar-padding;
  color: $navbar-link-color;

  &--transparent {
    background-color: transparent;
  }

  .dropdown__menu {
    font-size: $navbar-secondary-font-size;
  }

  .collapse {
    // sass-lint:disable no-important
    display: none !important;
  }
}

.navbar__inner {
  display: flex;
  flex-direction: column;
}

.navbar__header {
  @extend %heading-font-regular;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
  font-size: $navbar-secondary-font-size;
}

.navbar__logo {
  display: block;
  height: 2.25rem;
}

.navbar__logo + .navbar__header__meta {
  margin-top: $spacer-sm;
}

.navbar__nav {
  @extend %list-unstyled;
  margin-bottom: 0;
}

.navbar__primary {
  @extend %heading-font-bold;
  margin-top: $spacer-md;
  font-size: $navbar-primary-font-size;
}

.navbar__link {
  transition: $standard-transition;
  text-decoration: none;
  color: $navbar-link-color;

  &--active {
    border-bottom: 2px solid $navbar-link-active-color;
  }

  &:hover,
  &:focus  {
    color: $navbar-link-hover-color;
  }
}

.navbar__toggler {
  padding: .5rem; // FIXME: magic number
}

@media screen and (min-width: $grid-breakpoint-md) {
  .navbar {
    display: block;

    .collapse {
      display: flex !important;
    }
  }

  .navbar__header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  .navbar__inner {
    // display: block;
    flex: 1;
  }

  .navbar__logo {
    margin-bottom: 0;
    grid-column-start: 2;
  }

  .navbar__header__meta {
    display: flex;
    margin-left: auto;
  }

  .navbar__locale-switch {
    margin-left: $spacer-lg;
  }

  .navbar__item {
    display: inline-block;
  }

  .navbar__primary {
    margin: $spacer-md auto 0;

    .navbar__item + .navbar__item {
      margin-left: $spacer-md;
    }
  }

  .navbar__logo + .navbar__header__meta {
    margin-top: 0;
  }

  .navbar__secondary {
    .navbar__item + .navbar__item {
      margin-left: $spacer-sm;
    }
  }

  navbar-toggler {
    display: none;
  }
}
