// sass-lint:disable force-pseudo-nesting

@media screen and (min-width: $nav-breakpoint-px) {
  .navbar {
    display: block;
    height: auto;
  }

  // .navbar__inner {
  //   flex: 1;
  // }

  .navbtn--menu {
    display: none;
  }

  .navbtn--primary {
    padding-bottom: $navbar-padding;

    &:hover ~ .dropdown__list-wrapper--navbar {
      display: block;
    }

    // let user toggle dropdown via checkbox-toggle
    // &:focus ~ .dropdown__list-wrapper--navbar {
    //   display: block;
    // }
  }

  .navbar__brand {
    padding: 0;
    width: 100%;
    height: 0;
    text-align: center;
  }

  .navbar__logo {
    margin-top: $navbar-padding;
    width: $navbar-logo-height * 3.94;
    height: $navbar-logo-height;
  }

  .navbar__meta {
    display: flex;
    order: 2;
    background-color: transparent;
    width: auto;
    height: $navbar-brandbar-height;
  }

  .navbar__togglers {
    order: 3;
    padding-left: 0;
    width: auto;
    height: $navbar-brandbar-height;
  }

  .primary-nav {
    display: flex;
    order: 4;
    background-color: transparent;
    width: 100%;
  }

  .primary-nav__list {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 $navbar-padding;
    width: 100%;
    min-width: $navbar-min-width;
    max-width: $navbar-max-width;
    height: auto;
    overflow-y: unset;
  }

  .primary-nav__item {
    padding-top: 0;
    font-size: inherit;
  }

  .dropdown__list-wrapper--navbar {
    position: absolute;
    top: $spacer-md * 2;
    left: -$spacer-md;
    padding: 0 $spacer-md $spacer-md;
    width: auto;
  }

  .dropdown__link--navbar {
    white-space: nowrap;
  }

  .dropdown__item--clone {
    display: none;
  }
}

// adjust "dynamic dropdown alignment"
$navbar-breakpoint-step-size: 250px;

@media screen and (min-width: $nav-breakpoint-px) and (max-width: $nav-breakpoint-px + $navbar-breakpoint-step-size) {
  // semi dynamic alignment of dropdown lists
  .primary-nav__item:nth-last-child(1),
  .primary-nav__item:nth-last-child(2),
  .primary-nav__item:nth-last-child(3) {
    .dropdown__list-wrapper--navbar {
      right: -$spacer-md;
      left: auto;
    }
  }
}

@media screen and (min-width: $nav-breakpoint-px + $navbar-breakpoint-step-size + 1) and (max-width: $nav-breakpoint-px + (2 * $navbar-breakpoint-step-size)) {
  // semi dynamic alignment of dropdown lists
  .primary-nav__item:nth-last-child(1),
  .primary-nav__item:nth-last-child(2) {
    .dropdown__list-wrapper--navbar {
      right: -$spacer-md;
      left: auto;
    }
  }
}

@media screen and (min-width: $nav-breakpoint-px + (2 * $navbar-breakpoint-step-size) + 1) and (max-width: $nav-breakpoint-px + (3 * $navbar-breakpoint-step-size)) {
  // semi dynamic alignment of dropdown lists
  .primary-nav__item:nth-last-child(1) {
    .dropdown__list-wrapper--navbar {
      right: -$spacer-md;
      left: auto;
    }
  }
}
