<nav class="navbar">
    <div class="navbar__inner">

        <div class="navbar__brand">
            <a href="#" class="navbar__brand-link">
                <img class="logo navbar__logo" src={context.app.uri('static/innoq-logo--whitered.svg')} />
            </a>
        </div>

        <div class="navbar__meta hidden">
            <a href="#" class="navbar__meta-link">Kontakt</a>
            <a href="#" class="navbar__meta-link navbar__meta-link--locale navbar__meta-link--active" title="Deutsch">de</a> |
            <a href="#" class="navbar__meta-link navbar__meta-link--locale" title="English">en</a>
        </div>

        <div class="navbar__togglers">
            <multi-toggler class="navbar__toggler navbar__toggler--menu-toggler" data-target=".navbar__meta, .navbar__nav" data-toggle-class="hidden">
                <button class="btn btn--inverted btn--small navbar__toggler__btn" type="button" aria-label="Navigation ein- oder ausblenden">
                    Menü
                </button>
            </multi-toggler>

            <multi-toggler class="navbar__toggler navbar__toggler--search-toggler" data-target="">
                <button class="btn btn--inverted btn--small navbar__toggler__btn" type="button" aria-label="Suche ein- oder ausblenden">
                    <i class="icon icon-search"></i>
                </button>
            </multi-toggler>
        </div>

        <div class="navbar__nav hidden">
            <ul class="navbar__nav__primary-list">
                <li class="navbar__nav__item">
                    <a href="#" class="navbar__link">Leistungen</a>
                </li>
                <li class="navbar__nav__item">
                    <a href="#" class="navbar__link navbar__link--active">Projekte</a>
                </li>
                <li class="navbar__nav__item">
                    <a href="#" class="navbar__link">Kultur</a>
                </li>
                <li class="navbar__nav__item">
                    <a href="#" class="navbar__link">Magazin</a>
                </li>
                <li class="navbar__nav__item">
                    <a href="#" class="navbar__link">Termine</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
