<nav class="navbar">
    <div class="navbar__header">
        <img class="logo navbar__logo" src="/static/innoq-logo--whitered.svg" />
        <div class="navbar__header__meta">
            <ul class="navbar__nav navbar__secondary">
                <li class="navbar__item">
                    <a href="#" class="navbar__link">Kontakt</a>
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link">Suche</a>
                </li>
            </ul>
            <div class="navbar__locale-switch">
                <a href="#" class="navbar__link active" title="Deutsch">de</a>
                <a href="#" class="navbar__link" title="Englisch">en</a>
            </div>
        </div>
    </div>

    <ul class="navbar__nav navbar__primary">
        <li class="navbar__item">
            <a href="#" class="navbar__link">Leistungen</a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link">Projekte</a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link">Kultur</a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link">Magazin</a>
        </li>
        <li class="navbar__item">
            <a href="#" class="navbar__link">Termine</a>
        </li>
    </ul>
</nav>
