$staff-intro-offset: -(ms(22));
/* stylelint-disable-next-line color-no-hex */
$staff-header-bg-gray: #f6f6f6;

.staff-header {
  display: flex;
  flex-flow: row wrap;
}

.staff-header-image {
  width: 100%;
  height: auto;
}

.staff-header-label {
  z-index: 10;
  flex-grow: 1;
  padding: $spacer-md $spacer-md $spacer-xs;
  margin: -$spacer-md $spacer-md $spacer-md;
  background-color: $brand-primary;


  &__name {
    margin-bottom: $spacer-xs;
    text-transform: uppercase;
  }

  &__job-title {
    @extend %heading-font-regular;

    margin-bottom: $spacer-xs;
    font-size: $font-size-lg;
  }
}

.staff-header-bio {
  padding: $spacer-xxl $spacer-md $spacer-md;
  margin: -$spacer-xxl 0 0;
  background-color: $brand-secondary;

  &__text {
    @extend %heading-font-regular;

    color: $brand-white;
    font-size: $font-size-sm;
    line-height: $paragraph-line-height;
  }

  &__social {
    padding: $spacer-md 0;

    .icon {
      font-size: ms(7);
    }

    .icon-svg:hover,
    .icon-svg:focus {
      background: $brand-primary;
    }
  }
}

//Breakpoints
@media screen and (min-width: $grid-breakpoint-md) {
  .staff-header-image {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: $grid-breakpoint-lg) {
  .staff-header {
    justify-content: center;
  }

  .staff-header-content {
    max-width: $default-page-layout-content-width-xl;
    flex-direction: row;
    margin: 0 auto;
  }

  .staff-header-bio {
    z-index: 100;
    width: $grid-page-layout-content-width;
    max-width: $grid-page-layout-content-width-xl;
    box-sizing: content-box;
    padding-top: $spacer-md;
    margin: 0;
  }

  .staff-header-label {
    flex-grow: 1;
    padding: $spacer-xxl $spacer-md 0;
    margin: 0;
  }

  .staff-header-image {
    min-width: $default-page-layout-content-width-xl / 2;
    max-width: $default-page-layout-content-width-xl / 2;
    min-height: $default-page-layout-content-width-xl / 2;
    max-height: $default-page-layout-content-width-xl / 2;
    flex-grow: 1;
  }
}
