.staff-header {
  display: flex;
  flex-flow: row wrap;
}

.staff-header-image {
  width: 100%;
  height: auto;
}

.staff-header-info {
  z-index: 10;
  flex-grow: 1;
  padding: $spacer-md $spacer-md $spacer-xs;
  margin: -$spacer-md $spacer-md $spacer-md;
  background-color: $staff-header-info-bg-color;

  &__name {
    margin-bottom: $spacer-xs;
    text-transform: uppercase;
  }

  &__job-title {
    @extend %heading-font-regular;

    margin-bottom: $spacer-xs;
    font-size: $font-size-lg;
  }
}

.staff-header-bio {
  padding: $spacer-xl * 2 $spacer-md;
  margin: -$spacer-xxl 0 0;
  background-color: $staff-header-bio-bg-color;

  &__text {
    @extend %heading-font-regular;

    padding-bottom: $spacer-md;
    color: $staff-header-bio-color;
    font-size: $font-size-sm;
    line-height: $paragraph-line-height;
  }

  &__social {
    padding: $spacer-lg 0;
    border-top: 1px solid $staff-header-bio-color;


    .icon {
      font-size: ms(7);
    }

    .icon-svg:hover,
    .icon-svg:focus {
      background: $staff-header-icon-hover-color;
    }
  }
}

//Breakpoints
@media screen and (min-width: $grid-breakpoint-md) {
  .staff-header-image {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: $grid-breakpoint-lg) {
  .staff-header {
    display: grid;
    grid-template-columns: auto $default-page-layout-content-width-xl / 3  $default-page-layout-content-width-xl / 3  auto;
    grid-template-rows: auto;
  }

  .staff-header-left {
    background-color: $staff-header-bg-color;
    grid-column: 1 / 2;
  }

  .staff-header-right {
    background-color: $staff-header-bg-color;
    grid-column: 4 / 5
  }

  .staff-header-bio {
    padding-top: $spacer-md;
    margin: 0;
    grid-column: 2 / 4;
  }

  .staff-header-info {
    padding: $spacer-xxl $spacer-md 0;
    margin: 0;
    grid-column: 2 / 3;
    grid-row-start: 1;
  }

  .staff-header-image {
    min-width: $default-page-layout-content-width-xl / 3;
    min-height: $default-page-layout-content-width-xl / 3;
    grid-column: 3 / 4;
  }
}
