.staff-page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.staff-header__profile {
  display: flex;
  flex-direction: column;
}

.staff-header__role {
  @extend %heading-font-regular;
}

.staff-header__link {
  @extend %heading-font-heavy;
  @extend %link-unstyled;

  font-size: $font-size-xs;
}

.staff-header__title {
  margin: $spacer-sm 0;
}

.staff-header__text {
  padding-bottom: $spacer-lg;
  border-bottom: $staff-header-text-underline-color solid 2px;
  margin: $spacer-lg $spacer-sm;
}

.staff-page__header .social-media-bar__item { 
  .icon-svg:hover,
  .icon-svg:focus {
    background: $brand-primary;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .staff-header__profile {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .staff-header__title {
    margin: $spacer-sm;
  }
  
}