$staff-intro-offset: -(ms(22));
/* stylelint-disable-next-line color-no-hex */
$staff-header-bg-gray: #f6f6f6;

.staff-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.staff-header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $staff-header-content-bg-color;
}

.staff-header-image {
  width: 100%;
  height: auto;
}

.staff-header-quote {
  padding: $spacer-lg $spacer-md;
  background-color: $staff-header-quote-bg-color;
}

.staff-header-quote--text {
  color: $staff-header-quote-color;
  font-size: $font-size-xl;
}

.staff-header-quote--author {
  @extend %heading-font-regular;

  color: $staff-header-quote-author-color;
  font-size: $font-size-base;
  text-transform: uppercase;
}

.staff-intro {
  width: 100%;
  padding: $spacer-md;
  background-color: $staff-header-intro-bg-color;
  color: $staff-header-intro-text-color;
}

.staff-intro--name {
  @extend %heading-font-heavy;

  margin-bottom: $spacer-xs;
  color: $staff-header-intro-text-color;
  font-size: $font-size-xl;
  text-transform: uppercase;
}

.staff-intro--job-title {
  @extend %body-font-italic;

  margin-bottom: $spacer-xs;
  color: $staff-header-intro-text-color;
  font-size: $font-size-lg;
}

.staff-intro--text {
  @extend %heading-font-regular;

  padding-bottom: $spacer-base;
  border-bottom: 1px solid $staff-header-intro-text-border;
  font-size: $font-size-sm;
  line-height: $paragraph-line-height;
}

.staff-intro--social {
  padding: $spacer-md 0;

  .icon {
    font-size: ms(7);
  }

  .icon-svg:hover,
  .icon-svg:focus {
    background: $staff-header-icon-hover-color;
  }
}

//Breakpoints
@media screen and (min-width: $grid-breakpoint-md) {
  .staff-header {
    grid-template-columns: 1fr 1fr;
  }

  .staff-header-image {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: $grid-breakpoint-lg) {
  .staff-header-content {
    max-width: $default-page-layout-content-width-xl;
    flex-direction: row;
    margin: 0 auto;
  }

  .staff-header-quote {
    flex-grow: 1;
    padding: $spacer-xxl $spacer-md 0;
  }

  .staff-header-image {
    min-width: $default-page-layout-content-width-xl / 2;
    max-width: $default-page-layout-content-width-xl / 2;
    min-height: $default-page-layout-content-width-xl / 2;
    max-height: $default-page-layout-content-width-xl / 2;
  }

  .staff-header-quote--text {
    font-size: $font-size-xxxl;
  }

  .staff-intro {
    position: relative;
    width: $grid-page-layout-content-width;
    max-width: $grid-page-layout-content-width-xl;
    box-sizing: content-box;
  }

  .staff-intro--job-title {
    margin-bottom: $spacer-sm;
  }

  .staff-intro--text {
    padding-bottom: $spacer-lg;
  }

  .staff-intro--social {
    padding: $spacer-base 0;
  }
}
