.gradient-header {  background: linear-gradient(180deg, $brand-apricot-25 0%, rgba(255, 230, 217, 0) 100%);

  &__body {
    display: flex;
    max-width: $grid-page-layout-content-width-xl;
    box-sizing: content-box;
    flex-direction: column;
    justify-content: center;
    padding: $spacer-base auto;
    margin: 0 auto;
    color: $gradient-header-text-color;
  }

  &__type {
    @extend %heading-font-bold;

    margin-bottom: $spacer-xs;
    font-size: $font-size-xs;
    text-align: center;
    text-transform: uppercase;
  }

  &__author {
    @extend %body-font-regular;

    margin-bottom: $spacer-lg;
    font-size: $font-size-xs;
    text-align: center;
  }

  &__title {
    @extend %body-font-italic;

    margin-bottom: $spacer-lg;
    font-size: $font-size-xl;
    text-align: center;
  }

  &__img {
    @extend %box-shadow-primary-25-right-bottom;

  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .gradient-header__body {
    position: relative;
    padding: $spacer-xl $spacer-xxl $spacer-xl;
  }

  .gradient-header__type {
    font-size: $font-size-base;
  }

  .gradient-header__author {
    font-size: $font-size-base;
  }

  .gradient-header__title {
    font-size: $font-size-xxl;
  }
}
