.toolbar {
  @extend %list-unstyled;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.toolbar__item {
  display: flex;
  align-items: center;
  margin: $spacer-sm $spacer-sm 0 0;
}

.toolbar__icon {
  margin-right: $spacer-xxs;
  font-size: 1.5em;
}

.toolbar__link {
  @extend %link-unstyled;
  @extend %heading-font-bold;
  transition: standard-transition(color);

  &:hover,
  &:focus {
    color: $toolbar-link-hover-color;
  }
}
