.tag-list {
  @extend %list-unstyled;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag-list__item {
  margin: $spacer-xxs;
}

.tag-list__link {
  @extend %heading-font-bold;

  display: inline-block;
  padding: $spacer-xs $spacer-sm;
  background: $tag-background-color;
  color: $tag-text-color;
  font-size: $font-size-base;
  text-decoration: none;
  transition: 0.2s background-color ease-in-out;

  &:hover {
    background-color: $tag-background-color-hover;
    color: $tag-text-color-hover;
  }
}
