form,
.fieldset {
  > * + * {
    margin-top: $spacer-md;
  }
}

.form--inverted {
  .form-label,
  .form-text {
    color: $form-label-inverted-color;
  }

  .form-control {
    border-color: $form-control-inverted-border-color;
    caret-color: $form-control-inverted-caret-color;

    &:hover,
    &:focus {
      color: $form-control-inverted-focus-color;
      background-color: $form-control-inverted-focus-bg;
    }
  }

  .form-group--invalid {
    .form-control {
      border-color: $form-control-invalid-border-color;
    }
  }
}
