.textbox-sequence__header {
  @extend %heading-font-heavy;
  @extend %manual-hyphenation;

  display: inline;

  margin-bottom: $spacer-base;
  padding: ms(-16);

  font-size: $font-size-lg;
  line-height: 1.38; //magic number
  color: $service-intro-text-color;

  background-color: $brand-primary;
  box-shadow:
    $spacer-xxs 0 0 $brand-primary,
    -$spacer-xxs 0 0 $brand-primary;
  box-decoration-break: clone;
}

.textbox-sequence__text {
  @extend %heading-font-regular;

  margin: $spacer-xs 0 $spacer-sm 0;
  font-size: $font-size-base;
  line-height: $paragraph-line-height;
  color: $service-intro-text-color;

  a {
    color: $service-intro-text-color;
  }
}

.textbox-sequence__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  padding: 0 $spacer-sm;

  background-color: $brand-white;
}

.textbox-sequence__icon--bottomleft,
.textbox-sequence__icon--bottomright,
.textbox-sequence__icon--topright {
  display: none;
}

@media screen and (min-width: $grid-breakpoint-md-lg) {
  .textbox-sequence__wrapper {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto, 10rem);

    padding: 0;
  }

  .textbox-sequence__text {
    font-size: $font-size-sm;
  }

  .textbox-sequence__box--a {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    align-self: start;
  }

  .textbox-sequence__box--b {
    position: relative;
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    align-self: start;
  }

  .textbox-sequence__box--c {
    position: relative;
    grid-column: 5 / 7;
    grid-row: 2 / 6;
    align-self: start;
  }

  .textbox-sequence__box--d {
    position: relative;
    grid-column: 3 / 5;
    grid-row: 5 / 7;
    align-self: start;
  }

  .textbox-sequence__box--e {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 6 / 8;
    align-self: start;
  }

  .textbox-sequence__box--f {
    position: relative;

    grid-column: 3 / 5;
    grid-row: 8 / 10;
    align-self: start;

    margin-top: -40px;
  }

  .textbox-sequence__icon--topright {
    position: absolute;
    top: -5rem;
    right: 0;
    display: block;
  }

  .textbox-sequence__icon--bottomright {
    position: absolute;
    right: 0;
    bottom: -6rem;
    display: block;
  }

  .textbox-sequence__icon--bottomleft {
    position: absolute;
    bottom: -5rem;
    left: -2rem;
    display: block;
  }
}
