<div class="textbox-sequence__wrapper">
    <div class="textbox-sequence__box--a">
        <h3 class="textbox-sequence__header"> 1.<br>Deine Bewerbung</h3>
        <div class="textbox-sequence__text">Schicke Deine Bewerbung mit Lebenslauf an Uschi Nettersheim (jobs@innoq.com). Du erhältst die erste Rückmeldung so schnell wie möglich (innerhalb weniger Tage).</div>
        <div class="icon icon--brand-primary icon-arrow-drawn-upright textbox-sequence__icon--topright"></div>
    </div>

    <div class="textbox-sequence__box--b">
        <h3 class="textbox-sequence__header"> 2.<br>Kennenlernen</h3>
        <div class="textbox-sequence__text">Wir vereinbaren mit Dir ein erstes Vorgespräch mit einem der Geschäftsführer, bei dem wir einen ersten Eindruck von Dir gewinnen möchten. Hier klären wir, was du bei uns machen willst und welche Ausgangslage du mitbringst. Außerdem klären wir grobe Rahmenbedingungen.</div>
        <div class="icon icon--brand-primary icon-arrow-drawn-downright textbox-sequence__icon--bottomright"></div>
    </div>

    <div class="textbox-sequence__box--c">
        <h3 class="textbox-sequence__header"> 3.<br>Gespräch mit den Geschäftsführern</h3>
        <div class="textbox-sequence__text">Du wirst ein Bewerbungsgespräch mit zwei der Geschäftsführer via Zoom haben, bei dem wir Dich noch besser kennenlernen. Dauer: ca. 2 Stunden. Was ist deine Geschichte? Welche Erfahrungen bringst Du mit und was möchtest Du bei uns tun? Warum möchtest Du bei uns arbeiten? Bei uns gibt es außerdem keine Coding Challenge wie in anderen Unternehmen. Überzeug uns einfach von dem, was du weißt in einem kurzen Fachgespräch. Außerdem werden wir Dir alles über INNOQ erzählen, was du möchtest. Außerdem sprechen wir hier auch über deine Gehaltsvorstellungen und wann Du bei uns anfangen kannst.</div>
        <div class="icon icon--brand-primary icon-arrow-drawn-downleft textbox-sequence__icon--bottomleft"></div>
    </div>

    <div class="textbox-sequence__box--d">
        <h3 class="textbox-sequence__header"> 4.<br>Gespräch mit anderen Teammitgliedern</h3>
        <div class="textbox-sequence__text">Optional gibt es noch ein Gespräch mit anderen Teammitgliedern deines Fachgebiets.</div>
    </div>

    <div class="textbox-sequence__box--e">
        <h3 class="textbox-sequence__header"> 5.<br>Unser Jobangebot</h3>
        <div class="textbox-sequence__text">Wir schicken Dir einen Vertragsentwurf zu, bei dem Anmerkungen immer willkommen sind und finalisieren den Bewerbungsprozess mit der digitalen Unterschrift. Und dann kann es losgehen!</div>
        <div class="icon icon--brand-primary icon-arrow-drawn-downleft-2 textbox-sequence__icon--topright"></div>
        <div class="icon icon--brand-primary icon-arrow-drawn-downright-2 textbox-sequence__icon--bottomright"></div>
    </div>

    <div class="textbox-sequence__box--f">
        <h3 class="textbox-sequence__header"> 6.<br>Dein Einstieg</h3>
        <div class="textbox-sequence__text">Du bekommst eine*n Mentor*in an Deine Seite, um Dich bestmöglich zu unterstützen. Die ersten Tage stehen im Zeichen des Ankommens. Du wirst Deine Teammitglieder kennenlernen sowie unsere Kultur, bevor Du dann in Deinem ersten Projekt starten wirst!</div>
    </div>
</div>

