<div class="container-xl">
    <div class="wrapper">
        <div class="arrow a1"></div>
        <div class="box a">
        <p>1 This is box A. </p>
        <code>Schicke Deine Bewerbung mit Lebenslauf an Uschi Nettersheim (jobs@innoq.com).
    Du erhältst die erste Rückmeldung so schnell wie möglich (innerhalb weniger Tage).</code>
        </div>

        <div class="box b">
        <p>2 This is box B.</p>
        <code>Wir vereinbaren mit dir ein erstes Vorgespräch mit einem der Geschäftsführer, bei dem wir einen ersten Eindruck von dir gewinnen möchten. Hier möchten wir klären, was du machen willst und welche Ausgangslage du mitbringst. Außerdem klären wir grobe Rahmenbedingungen.</code>
        <div class="arrow a2"></div>
        </div>
        <div class="box c">
        <p>3 This is box C.</p>
        <code>Wir vereinbaren mit dir ein Bewerbungsgespräch mit zwei der Geschäftsführer via Zoom, bei dem wir dich noch besser kennenzulernen. Dauer: ca. 2 Stunden. Was ist deine Geschichte? Welche Erfahrungen bringst du mit und was möchtest du bei uns tun? Warum möchtest du bei uns arbeiten? Bei uns gibt es keine Coding Challenge wie in anderen Unternehmen. Überzeug uns einfach von dem, was du weißt in einem kurzen Fachgespräch. Außerdem werden wir dir alles über INNOQ erzählen was du möchtest. Wann könnte es losgehen? Gehalt?</code>

        </div>
        <div class="box d">
        <p>4 This is box D.</p>
        <code>Optional gibt es noch ein Gespräch mit anderen Teammitgliedern deines Fachgebiets.</code>
        </div>
        <div class="box e">
        <p>5 Each of the boxes on the left has a grid area d 3 rows (we're  as box A.</p>
        <code>Wir schicken dir einen Vertragsentwurf zu, bei dem Anmerkungen immer willkommen sind und finalisieren den Bewerbungsprozess mit der digitalen Unterschrift. Und dann kann es losgehen!</code>
        </div>
        <div class="box f">
        <p>6 Test Box</p>
        <code>Du bekommst eine Mentor:in an Deine Seite, die Dir erzählt, was Du wissen musst und Deine Fragen beantwortet.</code>
        </div>
    </div>
</div>
