<div class="card-grid">
    <div class="text-card">
        <p class="text-card__quote">"{{text_short}}"</p>
        <div class="text-card__footer">
            <h3 class="text-card__name">Alisa Zett</h3>
            <p class="text-card__job">Head of IT, Mustercompany</p>
        </div>
    </div>
    <div class="text-card">
        <p class="text-card__quote">"{{text_longer}}"</p>
        <div class="text-card__footer">
            <h3 class="text-card__name">Alisa Zett</h3>
            <p class="text-card__job">Head of Marketing and IT, Mustercompany</p>
        </div>
    </div>
    <div class="text-card">
        <p class="text-card__quote">"{{text_short}}"</p>
        <div class="text-card__footer">
            <h3 class="text-card__name">Alisa Zett</h3>
            <p class="text-card__job">Head of IT, Mustercompany</p>
        </div>
    </div>
</div>
