.landing-page-layout {
  margin-top: $article-margin;
  margin-right: auto;
  margin-bottom: $article-margin;
  margin-left: auto;
  padding: $container-spacer-y-sm $container-spacer-x-sm;
  width: $landing-page-width;
  max-width: $landing-page-content-width;
}
