import { cssBackground } from "./components/02-molecules/page-header/topic-header/config";
import { cssRight, cssBoth } from "./components/02-molecules/teaser/tile-teaser/podcast-teaser/config";

<main role="main">
    <header class="page-header landing-page-header">
        <div class="page-header__body">
            <div class="page-header__punch-in landing-page-header-1440">
                <h1 class="page-header__title">Wir geben Technologie einen Sinn. <br />
                Und ihren Ideen eine Zukunft.</h1>
            </div>
            <div class="page-header__text">
                Wir beraten ehrlich, denken innovativ und entwickeln leidenschaftlich gern.
                Das Ergebnis sind erfolgreiche Softwarelösungen, Infrastrukturen und Geschäftsmodelle.
            </div>
        </div>
    </header>
    <section>
        <div class="landing-page-layout">
            <div class="service-intro-grid">
                <div class="service-intro">
                    <h1 class="service-intro__header">Strategie- und Technologieberatung</h1>
                    <div class="service-intro__text">
                        Nichts interessiert uns mehr als neue Technologie. Doch bei Strategie
                        und Technologieberatung geht es uns nicht um das neueste, sondern um das,
                        was am besten zu Ihnen und Ihren Aufgabenstellungen passt. Dank unserer
                        branchenübergreifenden Erfahrung können wir Ihnen dazu die richtigen
                        Fragen stellen und die richtigen Antworten gleich dazu liefern. Dabei
                        profitieren Sie von unserem Wissensvorsprung. Damit Ihre Entscheidung
                        zukunftsfähig ist.
                    </div>
                    <a href="#" class="service-intro__link">
                        <img src={context.app.uri('static/arrow-long-right-red.svg')} alt="" />
                    </a>
                </div>

                <div class="service-intro">
                    <h1 class="service-intro__header">Entwicklung digitaler Geschäftsmodelle</h1>
                    <div class="service-intro__text">
                        Ihre Fachexpertise und unser Entwicklung-Knowhow sind eine
                        erfolgsversprechende Kombination. Im Software-as-a-Service-Modell
                        (SaaS) transformieren wir Ihr neues oder bestehendes Geschäftsmodell
                        in einen innovativen, digitalen Service für Ihre Kunden. Das gilt
                        selbstverständlich für den gesamten Lebenszyklus – fachlich,
                        technisch und kommerziell.
                    </div>
                    <a href="#" class="service-intro__link">
                        <img src={context.app.uri('static/arrow-long-right-red.svg')} alt="" />
                    </a>
                </div>

                <div class="service-intro">
                    <h1 class="service-intro__header">Softwarearchitektur und -entwicklung</h1>
                    <div class="service-intro__text">
                        Unsere langjährige Erfahrung als Softwarearchitekten und -entwickler
                        lehrt uns vor allem eines: DIE Lösung gibt es nicht. Deshalb nehmen
                        wir Ihre Software- und Systemarchitektur genau unter die Lupe und
                        analysieren Ihre Unternehmensprozesse im Detail. Und deshalb arbeiten
                        wir auch unabhängig von Herstellern und Produkten. Das Ergebnis ist
                        so vielfältig, wie unsere Kunden. Doch ob Modernisierungskonzept oder
                        neu entwickelte Individualsoftware, eines ist immer gleich:
                        Der Nutzer steht im Mittelpunkt.
                    </div>
                    <a href="#" class="service-intro__link">
                        <img src={context.app.uri('static/arrow-long-right-red.svg')} alt="" />
                    </a>
                </div>

                <div class="service-intro">
                    <h1 class="service-intro__header">Digitale Plattformen und Infrastrukturen</h1>
                    <div class="service-intro__text">
                        Noch in Arbeit.
                    </div>
                    <a href="#" class="service-intro__link">
                        <img src={context.app.uri('static/arrow-long-right-red.svg')} alt="" />
                    </a>
                </div>

                <div class="service-intro">
                    <h1 class="service-intro__header">Wissenstransfer, Coaching und Trainings</h1>
                    <div class="service-intro__text">
                        Unsere öffentlichen Trainings, Inhouse-Schulungen und Coaching
                        gestalten wir so, wie wir sie als Teilnehmer gerne selbst erleben:
                        Die Schulungen sind interaktiv und unsere Trainer sind
                        praktizierende Softwareentwickler und -architekten. Sie wenden
                        täglich an, was sie lehren und sind immer auf dem neuesten
                        technischen Stand. Und sie teilen gerne ihr Knowhow aus der Praxis.
                    </div>
                    <a href="#" class="service-intro__link">
                        <img src={context.app.uri('static/arrow-long-right-red.svg')} alt="" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="gray-background">
        <div class="landing-page-layout blocks">
            <a href="#" class="teaser content-teaser content-teaser--inverted">
                <div class="content-teaser__body">
                    <div class="content-teaser__caption">Artikel</div>
                    <h2 class="content-teaser__header">Command Line Interfaces in Java</h2>
                    <p class="content-teaser__text">
                        Wie man auf Kommando die richtigen Dinge tut.
                    </p>
                </div>
                <div class="content-teaser__footer">
                    <div class="author-bio author-bio--condensed" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--xs">
                            <img class="avatar__image" itemprop="photo" src="https://innoq.com/assets/uploads/staff_member/photo/alex/thumb_DSC02016_2.jpg" alt="Portrait von Alexander Hesingfeld" />
                        </div>
                        <div class="author-bio__text">
                            <div class="author-bio__name" itemprop="name">
                                <span class="author-bio__link" itemprop="url" href="https://innoq.com/de/staff/alexander-heusingfeld/">Alexander Heusingfeld</span>
                            </div>
                            <div class="author-bio__info" itemprop="jobTitle" >Senior Consultant</div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="podcast-teaser podcast-teaser--avatar--overlay" style={cssRight}>
                <div class="podcast-teaser__body">
                    <div class="podcast-teaser__caption">Podcast</div>
                    <h2 class="podcast-teaser__headline">Podcast Headline</h2>
                    <h3 class="podcast-teaser__subheadline">
                        Podcast Subheadline
                    </h3>
                    <img src={context.app.uri("static/arrow-long-right-white.svg")} />
                </div>
                <div class="podcast-teaser__footer">
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                </div>
            </a>

            <a href="#" class="teaser content-teaser content-teaser--inverted">
                <div class="content-teaser__body">
                    <div class="content-teaser__caption">Artikel</div>
                    <h2 class="content-teaser__header">Command Line Interfaces in Java</h2>
                    <p class="content-teaser__text">
                        Wie man auf Kommando die richtigen Dinge tut.
                    </p>
                </div>
                <div class="content-teaser__footer">
                    <div class="author-bio author-bio--condensed" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--xs">
                            <img class="avatar__image" itemprop="photo" src="https://innoq.com/assets/uploads/staff_member/photo/alex/thumb_DSC02016_2.jpg" alt="Portrait von Alexander Hesingfeld" />
                        </div>
                        <div class="author-bio__text">
                            <div class="author-bio__name" itemprop="name">
                                <span class="author-bio__link" itemprop="url" href="https://innoq.com/de/staff/alexander-heusingfeld/">Alexander Heusingfeld</span>
                            </div>
                            <div class="author-bio__info" itemprop="jobTitle" >Senior Consultant</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="landing-page-layout blocks">
            <a href="#" class="list-teaser-event tile">
                <div class="event-date-section">
                    <div class="label talk">Vortrag</div>
                    <time class="event-date" datetime="2017-06-23">
                        <span class="event-day-month">
                            <span class='event-day'>23</span>
                            <span class='event-month'>Jun</span>
                        </span>
                        <span class='event-year'>2017</span>
                    </time>
                </div>
                <div class="list-teaser__content">
                    <div class="list-teaser__body">
                        <div class="label talk">Vortrag</div>
                        <div class="label slides">Folien verfügbar</div>
                        <h2 class="list-teaser-event__headline">Vortrag Titel</h2>
                        <h3 class="list-teaser-event__subheadline">
                            Vortragsort / 10-12 Uhr
                            <img class="arrow-right" src={context.app.uri("static/arrow-long-right-red.svg")} />
                        </h3>
                    </div>
                    <div class="list-teaser__footer">
                        <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                            <div class="author-bio__image avatar avatar--small">
                                <img class="avatar__image" itemprop="photo" src="https://innoq.com/assets/uploads/staff_member/photo/alex/thumb_DSC02016_2.jpg" alt="Portrait von Alexander Hesingfeld" />
                            </div>
                            <div class="author-bio__text">
                                <div class="author-bio__name" itemprop="name">
                                    Heribert Innoq
                                </div>
                                <div class="author-bio__info" itemprop="jobTitle" >Senior Consultant</div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#" class="list-teaser-event tile">
              <div class="event-date-section">
                  <div class="label talk">Training</div>
                  <div class="event-date-wrapper">
                      <time class="event-date" datetime="2017-06-23">
                          <span class="event-day-month">
                              <span class='event-day'>23</span>
                              <span class='event-month'>Jun</span>
                          </span>
                      </time>
                      <hr class="event-date-separator" />
                      <time class="event-date" datetime="2017-06-24">
                          <span class="event-day-month">
                              <span class='event-day'>24</span>
                              <span class='event-month'>Jun</span>
                          </span>
                          <span class='event-year'>2017</span>
                      </time>
                  </div>
              </div>
              <div class="list-teaser__content">
                  <div class="list-teaser__body">
                      <div class="label training">Training</div>
                      <h2 class="list-teaser-event__headline">Training Titel</h2>
                      <h3 class="list-teaser-event__subheadline">
                          Trainingsort
                          <img class="arrow-right" src={context.app.uri("static/arrow-long-right-red.svg")} />
                      </h3>
                  </div>
                  <div class="list-teaser-event__footer">
                      <div class="link-teaser">Mehr erfahren</div>
                  </div>
              </div>
            </a>
        </div>
    </section>
</main>
