.visual-trainings-01-bg-image {
  background-image: linear-gradient($gradient-stencil, $gradient-stencil), asset-url('public/assets/visual-trainings-01.jpg');
}

.visual-trainings-02-bg-image {
  background-image: linear-gradient($gradient-stencil, $gradient-stencil), asset-url('public/assets/visual-trainings-02.jpg');
}

.visual-trainings-03-bg-image {
  background-image: asset-url('public/assets/visual-trainings-03.jpg');
}

.visual-trainings-04-bg-image {
  background-image: linear-gradient($gradient-stencil, $gradient-stencil), asset-url('public/assets/visual-trainings-04.jpg');
}

.visual-trainings-05-bg-image {
  background-image: linear-gradient($gradient-stencil, $gradient-stencil), asset-url('public/assets/visual-trainings-05.jpg');
}

.visual-trainings-06-bg-image {
  background-image: linear-gradient($gradient-stencil, $gradient-stencil), asset-url('public/assets/visual-trainings-06.jpg');
}
