<main role="main">
    <header class="standard-header" style="background-image: url(&#x27;https://source.unsplash.com/eHD8Y1Znfpk/1444x1000;)">
        <h1 class="standard-header__title standard-header__title--separated">Unser<br />Schulungsangebot</h1>
        <div class="standard-header__intro">
            <h2 class="standard-header__intro-headline">Weil wir Wissen gerne mit Ihnen teilen</h2>
            <div class="standard-header__intro__text">
                Sich auf das Wissen von Beratern und externen Dienstleistern zu verlassen ist das Eine, das Wissen im eigenen Haus zu vertiefen, um die Leistung Dritter beurteilen zu können das Andere. INNOQ unterstützt Sie natürlich auch beim „Anderen“, sodass Sie nicht immer auf unsere Projektbegleitung angewiesen sind.
            </div>
        </div>
    </header>
    <article class="content-page-layout">
        <section class="center">
            <p>Wir bieten Schulungen zu bewährten und aktuellen Themen an. Dabei achten wir immer darauf, dass die Inhalte einen hohen Praxisbezug haben und wenden einprägsame Methoden an.</p>
            <p>Darüber hinaus können Ihre Mitarbeiter bei uns Ausbildungen zum iSAQB Certified Professional for Software Architecture (CPSA) – Foundation Level besuchen und sich anschließend zertifizieren lassen.</p>
        </section>
    </article>

    <article class="gray-background">
        <div class="content-page-layout">
            <section class="center">
                <h3 class="section-heading--primary">Unser Schulungsangebot im Überblick</h3>
                <h4 class="section-heading--secondary">Flexible Architekturen: Microservices, Self-contained Systems und Continuous Delivery</h4>

                <a href="#" class="list-teaser-event">
                    <div class="event-date-section">
                        <div class="event-date-wrapper">
                            <time class="event-date" datetime="2017-06-23">
                                <span class="event-day-month">
                                    <span class="event-day">23</span>
                                    <span class="event-month">Jun</span>
                                </span>
                            </time>
                            <hr class="event-date-separator" />
                            <time class="event-date" datetime="2017-06-24">
                                <span class="event-day-month">
                                    <span class="event-day">24</span>
                                    <span class="event-month">Jun</span>
                                </span>
                                <span class="event-year">2017</span>
                            </time>
                        </div>
                    </div>
                    <div class="list-teaser__content">
                        <div class="list-teaser__body">
                            <p><em>Berlin, Courtyard by Mariott</em></p>
                            <p class="display">
                              <span><strong>Trainer:</strong> Till Schulte-Coerne</span>
                              <br />
                              <span><strong>Preis:</strong> EUR 1799,00 zzgl. 19% MwSt.</span>
                            </p>
                        </div>
                        <div class="list-teaser-event__footer">
                            <button class="btn btn--condensed btn--cta" data-label="Jetzt Buchen">Jetzt Buchen</button>
                        </div>
                    </div>
                </a>

                <a href="#" class="list-teaser-event">
                    <div class="event-date-section">
                        <div class="label talk">Training</div>
                        <div class="event-date-wrapper">
                            <time class="event-date" datetime="2017-06-23">
                                <span class="event-day-month">
                                    <span class="event-day">10</span>
                                    <span class="event-month">Jun</span>
                                </span>
                            </time>
                            <hr class="event-date-separator" />
                            <time class="event-date" datetime="2017-06-24">
                                <span class="event-day-month">
                                    <span class="event-day">12</span>
                                    <span class="event-month">Jun</span>
                                </span>
                                <span class="event-year">2017</span>
                            </time>
                        </div>
                    </div>
                    <div class="list-teaser__content">
                        <div class="list-teaser__body">
                            <p><em>München, Holiday Inn Unterhaching</em></p>
                            <p class="display">
                              <span><strong>Trainer:</strong> Stefan Tilkov</span>
                              <br />
                              <span><strong>Preis:</strong> EUR 1999,00 zzgl. 19% MwSt.</span>
                            </p>
                        </div>
                        <div class="list-teaser-event__footer">
                            <button class="btn btn--condensed btn--cta" data-label="Jetzt Buchen">Jetzt Buchen</button>
                        </div>
                    </div>
                </a>

                <h4 class="section-heading--secondary">
                    Skalierbare Web-Architekturen - Modul zum iSAQB Certified Professional for Software Architecture Advanced Level®
                </h4>

                <a href="#" class="list-teaser-event">
                    <div class="event-date-section">
                        <div class="event-date-wrapper">
                            <time class="event-date" datetime="2017-06-23">
                                <span class="event-day-month">
                                    <span class="event-day">23</span>
                                    <span class="event-month">Jun</span>
                                </span>
                            </time>
                            <hr class="event-date-separator" />
                            <time class="event-date" datetime="2017-06-24">
                                <span class="event-day-month">
                                    <span class="event-day">24</span>
                                    <span class="event-month">Jun</span>
                                </span>
                                <span class="event-year">2017</span>
                            </time>
                        </div>
                    </div>
                    <div class="list-teaser__content">
                        <div class="list-teaser__body">
                            <p><em>Berlin, Courtyard by Mariott</em></p>
                            <p class="display">
                              <span><strong>Trainer:</strong> Till Schulte-Coerne</span>
                              <br />
                              <span><strong>Preis:</strong> EUR 1799,00 zzgl. 19% MwSt.</span>
                            </p>
                        </div>
                        <div class="list-teaser-event__footer">
                            <button class="btn btn--condensed btn--cta" data-label="Jetzt Buchen">Jetzt Buchen</button>
                        </div>
                    </div>
                </a>

                <a href="#" class="list-teaser-event">
                    <div class="event-date-section">
                        <div class="label talk">Training</div>
                        <div class="event-date-wrapper">
                            <time class="event-date" datetime="2017-06-23">
                                <span class="event-day-month">
                                    <span class="event-day">10</span>
                                    <span class="event-month">Jun</span>
                                </span>
                            </time>
                            <hr class="event-date-separator" />
                            <time class="event-date" datetime="2017-06-24">
                                <span class="event-day-month">
                                    <span class="event-day">12</span>
                                    <span class="event-month">Jun</span>
                                </span>
                                <span class="event-year">2017</span>
                            </time>
                        </div>
                    </div>
                    <div class="list-teaser__content">
                        <div class="list-teaser__body">
                            <p><em>München, Holiday Inn Unterhaching</em></p>
                            <p class="display">
                              <span><strong>Trainer:</strong> Stefan Tilkov</span>
                              <br />
                              <span><strong>Preis:</strong> EUR 1999,00 zzgl. 19% MwSt.</span>
                            </p>
                        </div>
                        <div class="list-teaser-event__footer">
                            <button class="btn btn--condensed btn--cta" data-label="Jetzt Buchen">Jetzt Buchen</button>
                        </div>
                    </div>
                </a>
            </section>
        </div>
    </article>

    <article class="content-page-layout">
        <section class="center">
            <h3 class="section-heading--primary">Unsere Inhouse Schulungen</h3>
            <h4 class="section-heading--secondary">Scala</h4>

            <div class="blocks">
                <div class="simple-teaser">
                    <div class="simple-teaser__body">
                        <h5>Fast Track to Play with Scala</h5>
                    </div>
                    <div class="simple-teaser__footer">
                        <button class="btn btn--cta btn--condensed event-teaser__btn" data-label="Jetzt Termin anfragen">Jetzt Termin anfragen</button>
                    </div>
                </div>
                <div class="simple-teaser">
                    <div class="simple-teaser__body">
                        <h5>Fast Track to Akka with Scala</h5>
                    </div>
                    <div class="simple-teaser__footer">
                        <button class="btn btn--cta btn--condensed event-teaser__btn" data-label="Jetzt Termin anfragen">Jetzt Termin anfragen</button>
                    </div>
                </div>
            </div>
            <div class="blocks">
                <div class="simple-teaser">
                    <div class="simple-teaser__body">
                        <h5>Fast Track to Play with Scala</h5>
                    </div>
                    <div class="simple-teaser__footer">
                        <button class="btn btn--cta btn--condensed event-teaser__btn" data-label="Jetzt Termin anfragen">Jetzt Termin anfragen</button>
                    </div>
                </div>
                <div class="simple-teaser">
                    <div class="simple-teaser__body">
                        <h5>Fast Track to Akka with Scala</h5>
                    </div>
                    <div class="simple-teaser__footer">
                        <button class="btn btn--cta btn--condensed event-teaser__btn" data-label="Jetzt Termin anfragen">Jetzt Termin anfragen</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="breakout">
            <div class="case-teaser case-teaser--simple case-teaser--right-aligned">
                <div class="case-teaser__body">
                    <div class="case-teaser__caption">Individuelle Schulungen</div>
                    <div class="case-teaser__header">
                        <h1>Auf Ihr Bedürfniss angepasst</h1>
                    </div>
                    <div class="case-teaser__text lead">Ich erhalte Informationen dazu, das ich die Schulungsinhalte individualisieren kann, den Umfang individualisieren kann, etc. Ich erhalte Informationen dazu, das ich die Schulungsinhalte individualisieren kann, den Umfang individualisieren kann, etc. Ich erhalte Informationen dazu, das ich die Schulungsinhalte individualisieren kann, den Umfang individualisieren kann, etc.</div>
                    <div><a class="link-teaser" href="#">Schulung anfragen</a>
                    </div>
                </div>
            </div>
        </section>
    </article>
</main>
