import StandardHeader from "./components/02-molecules/visual-elements/header/standard-header"
import { SectionHeading } from "./components/01-atoms/text/block/heading"
import TrainingListTeaser from "./components/02-molecules/visual-elements/teaser/list-teaser/training-list-teaser"
import CaseTileTeaser from "./components/02-molecules/visual-elements/teaser/tile-teaser/case-tile-teaser"
import Label from "./components/01-atoms/text/block/label"
import SimpleTileTeaser from "./components/02-molecules/visual-elements/teaser/tile-teaser/simple-tile-teaser"
import CaseListTeaser from "./components/02-molecules/visual-elements/teaser/list-teaser/case-list-teaser"

<main role="main">
    <StandardHeader title="Unser Schulungsangebot" introTitle="Weil wir Wissen gerne mit Ihnen teilen" additionalClassnames="visual-trainings-04-bg-image" titleSeparated>
        Sich auf das Wissen von Beratern und externen Dienstleistern zu verlassen ist das Eine, das Wissen im eigenen Haus zu vertiefen, um die Leistung Dritter beurteilen zu können das Andere. INNOQ unterstützt Sie natürlich auch beim „Anderen“,
        sodass Sie nicht immer auf unsere Projektbegleitung angewiesen sind.
    </StandardHeader>
    <article class="page-layout--grid">
        <section class="center">
            <p>Wir bieten Schulungen zu bewährten und aktuellen Themen an. Dabei achten wir immer darauf, dass die Inhalte einen hohen Praxisbezug haben und wenden einprägsame Methoden an.</p>
            <p>Darüber hinaus können Ihre Mitarbeiter bei uns Ausbildungen zum iSAQB Certified Professional for Software Architecture (CPSA) – Foundation Level besuchen und sich anschließend zertifizieren lassen.</p>
        </section>
    </article>
    <article class="stripe stripe--primary">
        <section class="page-layout-md--default">
            <SectionHeading primary>Unser Schulungsangebot im Überblick</SectionHeading>
            <TrainingListTeaser primary title="Titel" subtitle="Untertitel" label="Labeltext" linkText="Termine & Details" />
            <TrainingListTeaser secondary title="Titel" subtitle="Untertitel" label="Labeltext" linkText="Termine & Details" />

            <div class="blocks">
                <CaseTileTeaser size="sm" additionalClassnames="case-tile-teaser-bg-image-training" href="#" caption="Training Caption" headline="Training Headline" linkTeaser="Termine &amp; Details">
                    <Label type="badge" big>Interaktiv!</Label>
                </CaseTileTeaser>
                <CaseTileTeaser size="sm" additionalClassnames="case-tile-teaser-bg-image-training" href="#" caption="Training Caption" headline="Training Headline" linkTeaser="Termine &amp; Details" />
            </div>
            <div class="blocks">
                <CaseTileTeaser size="sm" additionalClassnames="case-tile-teaser-bg-image-training" href="#" caption="Training Caption" headline="Training Headline" linkTeaser="Termine &amp; Details" />
                <CaseTileTeaser size="sm" additionalClassnames="case-tile-teaser-bg-image-training" href="#" caption="Training Caption" headline="Training Headline" linkTeaser="Termine &amp; Details" />
            </div>
        </section>
    </article>
    <article class="page-layout--grid">
        <section class="center">
            <SectionHeading primary>Unsere Inhouse Schulungen</SectionHeading>
            <div class="blocks">
                <SimpleTileTeaser title="Inhouse Schulung Titel" subtitle="Das ist ein Untertitel" buttonText="Jetzt anfragen!"></SimpleTileTeaser>
                <SimpleTileTeaser title="Inhouse Schulung Titel" subtitle="Das ist ein Untertitel" buttonText="Jetzt anfragen!"></SimpleTileTeaser>
            </div>
            <div class="blocks">
                <SimpleTileTeaser title="Inhouse Schulung Titel" subtitle="Das ist ein Untertitel" buttonText="Jetzt anfragen!"></SimpleTileTeaser>
                <SimpleTileTeaser title="Inhouse Schulung Titel" subtitle="Das ist ein Untertitel" buttonText="Jetzt anfragen!"></SimpleTileTeaser>
            </div>
            <div class="blocks">
                <SimpleTileTeaser title="Inhouse Schulung Titel" subtitle="Das ist ein Untertitel" buttonText="Jetzt anfragen!"></SimpleTileTeaser>
                <SimpleTileTeaser title="Inhouse Schulung Titel" subtitle="Das ist ein Untertitel" buttonText="Jetzt anfragen!"></SimpleTileTeaser>
            </div>
            <div class="blocks">
                <SimpleTileTeaser title="Inhouse Schulung Titel" subtitle="Das ist ein Untertitel" buttonText="Jetzt anfragen!"></SimpleTileTeaser>
                <SimpleTileTeaser title="Inhouse Schulung Titel" subtitle="Das ist ein Untertitel" buttonText="Jetzt anfragen!"></SimpleTileTeaser>
            </div>
        </section>
    </article>
    <section class="breakout">
        <CaseListTeaser header="Auf Ihr Bedürfnis angepasst" caption="Individuelle Schulungen" href="#" linkText="Schulung anfragen" additionalClasses="visual-trainings-03-bg-image" simple withButton align="left">
            Ich erhalte Informationen dazu, das ich die Schulungsinhalte individualisieren kann, den Umfang
            individualisieren kann, etc. Ich erhalte Informationen dazu, das ich die Schulungsinhalte individualisieren
            kann, den Umfang individualisieren kann, etc. Ich erhalte Informationen dazu, das ich die Schulungsinhalte
            individualisieren kann, den Umfang individualisieren kann, etc.
        </CaseListTeaser>
    </section>
</main>
