$event-date-section-height: ($label-font-size * $label-line-height) + (2 * $spacer-xxs);

.list-teaser-event {
  @extend %list-teaser;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $event-date-section-height + $spacer-base;
  background-color: $list-teaser-background-color;

  .list-teaser-event__footer {
    @extend %list-teaser-footer;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .link-teaser {
      margin-bottom: $spacer-sm;
    }
  }

  .list-teaser-event__footer,
  .list-teaser__footer {
    .author-bio {
      flex-basis: 100%;
      margin-bottom: 0;
    }
  }
}

.list-teaser__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
}

.list-teaser-event__headline {
  @extend %h3;

  margin-bottom: $spacer-xs;
  line-height: $list-teaser-event-headline-line-height-small;
  color: $list-teaser-event-headline-color;
  font-size: $list-teaser-event-headline-font-size-small;
}

.list-teaser-event__headline--secondary {
  @extend %h5;

  margin-bottom: $spacer-sm;
  color: $list-teaser-event-subheadline-color;
}

.list-teaser-event__subheadline {
  @extend %body-font-italic;

  margin-bottom: $spacer-xs;
  line-height: $list-teaser-event-subheadline-line-height-small;
  font-size: $list-teaser-event-subheadline-font-size-small;
}

//
// Media Queries
//
@media screen and (max-width: $grid-breakpoint-md) {
  .list-teaser-event {
    .label {
      margin-bottom: 0;
      text-align: center;

      &.training,
      &.talk {
        border-left: 0;
      }
    }

    .list-teaser__content {
      align-self: flex-start; // Prevent content to be centered vertically
    }
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .list-teaser-event {
    flex-direction: row;
    align-items: stretch;
    margin-top: 0;

    .event-date-section {
      .label {
        display: none;
      }
    }

    .list-teaser-event__footer {
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }

  .list-teaser-event__headline {
    line-height: $list-teaser-event-headline-line-height;
    font-size: $list-teaser-event-headline-font-size;
  }

  .list-teaser-event__subheadline {
    line-height: $list-teaser-event-subheadline-line-height;
    font-size: $list-teaser-event-subheadline-font-size;
  }
}

@media screen and (min-width: $grid-breakpoint-lg) {
  .list-teaser-event {
    .list-teaser-event__footer,
    .list-teaser__footer {
      .author-bio {
        flex-basis: auto;
      }
    }
  }
}
