.search-hero {
  overflow: hidden;
  background-color: $search-field-background;
}

.search-form {
  display: flex;
  align-items: center;
  border-bottom: 4px solid$search-field-border-color;
  background-color: $search-field-background;
  grid-area: center;
}

.search-form__input {
  @extend %heading-font-bold;

  display: block;
  width: 100%;
  border: 0;
  appearance: none;
  background-color: $search-field-background;
  caret-color: $search-field-caret-color;
  color: $search-field-color;
  line-height: 1.5em; // don't cut off descenders Chrome/FF
  outline: none;
}

.search-form__btn {
  border: 0;
  background-color: transparent;

  .icon-search {
    width: 1rem;
    height: 1rem;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .search-form {
    font-size: $font-size-xl;
  }

  .search-form__btn {
    .icon-search {
      width: 2rem;
      height: 2rem;
    }
  }
}
