.card {
  padding: $spacer-sm;
}

.card__image-header {
  position: relative;
}

.card__tags {
  @extend %list-unstyled;

  position: absolute;
  top: 0;
  left: 0;
  margin-top: $spacer-md;
}

.card__tag {
  @extend %teaser-caption;

  padding: $spacer-xxs;
  background-color: $card-tag-bg-color;
  color: $card-tag-text-color;

  + .card__tag {
    margin-top: $spacer-xs;
  }
}

.card__image {
  max-width: 100%;
  vertical-align: bottom;
}

.card__body {
  padding: $spacer-sm;
  background-color: $card-bg-color;

  .upcase-heading {
    color: $card-headline-color;
  }

  .standalone {
    color: $card-subheadline-color;
  }

  .checklist {
    color: $card-subheadline-color;
  }
}

.card__footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: $spacer-sm;
  background-color: $card-headline-color;

  > * {
    flex-basis: 0;
    flex-grow: 1;
  }

  > * + * {
    margin-top: 0;
    margin-left: $spacer-md;
  }

  .upcase-heading {
    color: $card-bg-color;
  }

  .standalone {
    color: $card-bg-color;
  }

  .checklist {
    color: $card-subheadline-color;

    li::before {
      color: $card-bg-color;
    }
  }
}

.card__subheadline {
  @extend %teaser-caption;

  margin-bottom: $spacer-xxs;
  color: $card-subheadline-color;
  line-height: $paragraph-line-height;
}

.card__headline {
  @extend %h3;

  color: $card-headline-color;
}

.card__text {
  @extend %body-font-italic;

  margin-bottom: $spacer-xxs;
  color: $card-text-color;
  font-size: $font-size-sm;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .card {
    padding: $spacer-base;
  }

  .card__body,
  .card__footer {
    margin: 0 $spacer-base;
    transform: translateY(-$spacer-xxl);
  }

  .card__image {
    vertical-align: baseline;
  }
}
