.card {
  @extend %link-unstyled;

  display: flex;
  flex-direction: column;
}

.card__header {
  position: relative;
}

.card__header__image {
  max-width: 100%;
}

.card__header__tags {
  @extend %list-unstyled;

  position: absolute;
  top: 0;
  left: 0;
  margin-top: $spacer-md;
}

.card__header__tag {
  @extend %heading-font-bold;

  padding: $spacer-xxs;
  background-color: $card-tag-bg-color;
  color: $card-tag-text-color;
  font-size: $font-size-xs;
  text-transform: uppercase;

  + .card__header__tag {
    margin-top: $spacer-xs;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card__content__body {
  padding: $spacer-sm;
  background-color: $card-bg-color;
}

.card__content__body__subheadline {
  @extend %teaser-caption;

  color: $card-subheadline-color;
  line-height: $paragraph-line-height;
}

.card__content__body__headline {
  @extend %h3;

  margin-top: $spacer-xxs;
  color: $card-headline-color;
}

.card__content__body__text {
  @extend %body-font-italic;

  margin-top: $spacer-sm;
  color: $card-text-color;
  font-size: $font-size-sm;
}

.card__content__footer {
  padding: $spacer-sm;
  background-color: $card-headline-color;

  > * + * {
    margin-top: $spacer-md;
  }

  .card__content__footer__heading {
    @extend %h5;

    color: $card-bg-color;
    text-transform: uppercase;
  }

  .standalone {
    color: $card-subheadline-color;
  }

  .checklist {
    color: $card-subheadline-color;

    li::marker {
      color: $card-bg-color;
    }
  }

  .card__content__footer__link {
    display: inline-block;
  }
}

// Breakpoints
@media screen and (min-width: $grid-breakpoint-sm) {
  .card__content__footer {
    display: grid;
    gap: $spacer-base;
    grid-template-columns: 1fr 1fr;

    > * + * {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .card__content {
    margin: 0 $spacer-base (-$spacer-xxl) $spacer-base;
    transform: translateY(-$spacer-xxl);
  }

  .card__content__body,
  .card__content__footer {
    height: 22rem; //magic number
  }

  .card__content__footer__link {
    align-self: flex-end;
    justify-self: baseline;
  }
}
