.footer {
  @extend %container-vertical-spacing-xl;

  display: grid;
  width: 100%;
  max-width: $default-page-layout-content-width-xl;
  align-items: start;
  padding: 0 $spacer-sm;
  margin: 0 auto;
  color: $footer-color;
  gap: $spacer-base;
}

.footer__form,
.footer__offices__section,
.footer__list__section {
  display: grid;
  gap: $spacer-xs;
}

.footer__offices {
  display: grid;
  gap: $spacer-base;
}

.footer__offices__section__list {
  @extend %list-unstyled;

  display: grid;
  gap: $spacer-base;
}

.footer__paragraph,
.footer__address {
  @extend %heading-font-regular;

  font-size: $font-size-base;
  line-height: $paragraph-line-height;
}

.footer__heading {
  color: $footer-heading-color;
}

.footer__subheading {
  color: $footer-color;
  font-size: $font-size-sm;
}

.footer__directions-link {
  @extend %heading-font-bold;

  display: block;
  margin-top: $spacer-xs;
  color: $footer-color;
  font-size: $font-size-xxs;
  text-transform: uppercase;

  &::before {
    display: inline-block;
    width: $font-size-xxs;
    height: $font-size-xxs;
    margin-right: $spacer-xxs;
    color: $footer-heading-color;
    content: asset-url('icons/pin.svg');
  }
}

.footer__link,
.footer a {
  border-bottom: 2px solid $footer-color;
  color: $footer-color;
  hyphens: none;

  &:hover,
  &:focus {
    border-bottom: 2px solid $footer-link-hover-color;
  }
}

.footer__link,
.footer a,
.footer__directions-link,
.footer__list__link {
  @extend %link-unstyled;

  transition: standard-transition(color);

  &:hover,
  &:focus {
    color: $footer-link-hover-color;
    background-color: transparent;
  }
}

.footer__list {
  @extend %list-unstyled;

  line-height: $paragraph-line-height;

  > * + * {
    margin-top: $spacer-xs;
  }
}

.footer__list__item {
  @extend %heading-font-regular;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .footer {
    display: grid;
    padding: 0 $spacer-base;
    gap: $spacer-xl $spacer-lg;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .footer__form {
    grid-row: 1 / 2;
  }

  .footer__offices {
    grid-row: 1;
  }

  .footer__offices__section__list {
    gap: $spacer-md;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
