.footer {
  @extend %container-vertical-spacing-xl;

  display: grid;
  gap: $spacer-base;
  align-items: start;

  width: 100%;
  max-width: $default-page-layout-content-width-xl;
  margin: 0 auto;
  padding: 0 $spacer-sm;

  color: $footer-color;
}

.footer__form,
.footer__offices__section,
.footer__list__section {
  display: grid;
  gap: $spacer-xs;
}

.footer__offices {
  display: grid;
  gap: $spacer-base;
}

.footer__offices__section__list {
  @extend %list-unstyled;

  display: grid;
  gap: $spacer-base;
}

.footer__paragraph,
.footer__address {
  @extend %heading-font-regular;

  font-size: $font-size-base;
  line-height: $paragraph-line-height;
}

.footer__heading {
  color: $footer-heading-color;
}

.footer__subheading {
  font-size: $font-size-sm;
  color: $footer-color;
}

.footer__directions-link {
  @extend %heading-font-bold;

  display: block;

  margin-top: $spacer-xs;

  font-size: $font-size-xxs;
  color: $footer-color;
  text-transform: uppercase;

  &::before {
    content: asset-url('icons/pin.svg');

    display: inline-block;

    width: $font-size-xxs;
    height: $font-size-xxs;
    margin-right: $spacer-xxs;

    color: $footer-heading-color;
  }
}

.footer__link {
  hyphens: none;
  color: $footer-color;
  border-bottom: 2px solid $footer-color;

  &:hover,
  &:focus {
    border-bottom: 2px solid $footer-link-hover-color;
  }
}

.footer__link,
.footer__directions-link,
.footer__list__link {
  @extend %link-unstyled;

  transition: standard-transition(color);

  &:hover,
  &:focus {
    color: $footer-link-hover-color;
  }
}

.footer__list {
  @extend %list-unstyled;

  line-height: $paragraph-line-height;

  > * + * {
    margin-top: $spacer-xs;
  }
}

.footer__list__item {
  @extend %heading-font-regular;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: $spacer-xl $spacer-lg;

    padding: 0 $spacer-base;
  }

  .footer__form {
    grid-row: 1 / 2;
  }

  .footer__offices {
    grid-row: 1;
  }

  .footer__offices__section__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: $spacer-md;
  }
}
