.footer {
  @extend %heading-font-regular;
  background-color: $footer-body-bg;
  padding: $spacer-lg;
  color: $footer-color;
}

.footer__form {
  margin-bottom: $spacer-lg;
}

.footer__paragraph,
.footer__address {
  @extend %heading-font-regular;
  line-height: $footer-paragraph-line-height;
  font-size: $footer-paragraph-font-size;
}

.footer__heading {
  color: $footer-heading-color;
}

.footer__subheading {
  color: $footer-color;
  font-size: $footer-subheading-font-size;
}

.footer__address {
  font-style: normal;
}

.footer__directions-link {
  @extend %link-unstyled;
  @extend %heading-font-bold;
  display: block;
  margin: $spacer-xs 0 $spacer-lg;
  text-transform: uppercase;
  line-height: $footer-directions-link-line-height;
  color: $footer-color;
  font-size: $footer-directions-link-font-size;

  &::before {
    @extend %icon;
    margin-right: $spacer-xxs;
    color: $footer-heading-color;
    content: $icon-location;
  }
}

.footer__list {
  @extend %list-unstyled;
}

.footer__list__item + .footer__list__item {
  margin-top: $spacer-xs;
}

.footer__link {
  @extend %link-unstyled;
  transition: $standard-transition;

  &:hover,
  &:focus {
    color: $footer-link-hover-color;
  }
}

.footer__aside--bottom-left {
  margin-bottom: $spacer-lg;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: $spacer-lg;
  }

  .footer__form {
    margin-bottom: 0;
    grid-column: 1;
    grid-row: 2;
  }

  .footer__heading {
    grid-row: 1;
  }

  .footer__subheading {
    grid-row: 2;
  }

  .footer__aside--top-left {
    grid-column: 2;
    grid-row: 2;
  }

  .footer__aside--top-right {
    grid-column: 3;
    grid-row: 2;
  }

  .footer__aside--bottom-left {
    margin-bottom: 0;
    grid-column: 2;
    grid-row: 3;
  }

  .footer__aside--bottom-right {
    grid-column: 3;
    grid-row: 3;
  }
}
