<footer class="footer">
    <h2 class="footer__heading">Contact</h2>
    <form class="footer__form form--inverted">
        <p class="footer__paragraph"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong></p>
        <p class="footer__paragraph">Sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <div class="form-group">
            <label class="form-label" for="first_name">Name</label>
            <input type="text" id="name" class="form-control" />
        </div>
        <div class="form-group">
            <label class="form-label" for="last_name">Email</label>
            <input type="email" id="email" class="form-control" />
        </div>
        <div class="form-group">
            <label class="form-label" for="bio">Your message</label>
            <textarea id="bio" class="form-control" rows="8" />
        </div>
        <input type="submit" value="Submit" class="btn btn--cta btn--small" />
    </form>
    <h2 class="footer__heading">Offices</h2>
    <div class="footer__aside-1">
        <h3 class="footer__subheading">INNOQ Deutschland GmbH</h3>
        <address class="footer__address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">Krischerstr. 100</span><br/>
            <span itemprop="postalCode">40789</span> <span itemprop="addressLocality">Monheim am Rhein</span><br/>
            Tel <span itemprop="telephone">(+49) 2173 3366 0</span><br/>
            <a href="https://goo.gl/maps/w3Yp3KicooD2" class="footer__directions-link">Anfahrt</a>
        </address>
    </div>
    <div class="footer__aside-2">
        <h3 class="footer__subheading">INNOQ Schweiz GmbH</h3>
        <address class="footer__address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">Gewerbestr. 11</span><br/>
            <span itemprop="postalCode">6330</span> <span itemprop="addressLocality">Cham</span><br/>
            Tel <span itemprop="telephone">(+41) 41 743 01 11</span><br/>
            <a href="https://goo.gl/maps/N9qbZPPjr9R2" class="footer__directions-link">Anfahrt</a>
        </address>
    </div>
</footer>
