<div class="accordion">
    <details open>
        <summary>Organisation</summary>
        <p>{{text}}</p>
    </details>
    <details>
        <summary>Domänenarchitektur</summary>
        <p>{{text}}</p>
    </details>
    <details>
        <summary>Makroarchitektur</summary>
        <p>{{text}}</p>
    </details>
    <details>
        <summary>Mikroarchitektur</summary>
        <p>{{text}}</p>
    </details>
    <details>
        <summary>Code</summary>
        <p>{{text}}</p>
    </details>
</div>
