


<main role="main" class="artist-collabo-page">
    <header class="standard-header bg-image-art-01">
        <span class="standard-header__type">Artist Collaboration</span>
        <h1 class="standard-header__title">Artist-in-Residence Program by INNOQ</h1>
        <div class="standard-header__intro">
            <h3>Wir glauben an die bewusste Reflektion zwischen Technik und Gesellschaft.</h3>
            <p class="standard-header__intro__text">
                Filet mignon sausage tongue, hamburger porchetta fatback kielbasa flank
                ribeye. Pastrami t-bone pork chop sirloin ham swine cupim brisket
                prosciutto buffalo drumstick strip steak capicola short loin.
                Frankfurter fatback turkey pork chop prosciutto pork ground round tongue
                chuck doner. Pig venison pork chop shoulder corned beef capicola
                meatball.
            </p>
        </div>
    </header>

    <section class="container-xl">
        <a href="#" class="artist-list-teaser">
            <div class="artist-list-teaser__edition">
                <hr class="artist-list-teaser__edition__separator" />
                <div class="artist-list-teaser__edition__type">Edition</div>
                <span class="artist-list-teaser__edition__date artist-list-teaser__edition__date--edition-1">18
                    <hr class="artist-list-teaser__edition__date__separator artist-list-teaser__edition__date__separator--edition-1"/>
                    21
                </span>
            </div>
            <h3 class="artist-list-teaser__title artist-list-teaser__title--edition-1">Vertigo in the Face of the Infinite</h3>
            <p class="artist-list-teaser__subtitle">Matthew Plummer-Fernandez</p>
            <figure class="artist-list-teaser__image">
                <img src="../../assets/bg-images/edition-02/edition02-data-04.webp" alt="Tower" />
                <figcaption>
                    Erste INNOQ-Medienkunst-Edition
                </figcaption>
            </figure>
        </a>

        <a href="#" class="artist-list-teaser">
            <div class="artist-list-teaser__edition">
                <hr class="artist-list-teaser__edition__separator" />
                <div class="artist-list-teaser__edition__type">Edition</div>
                <span class="artist-list-teaser__edition__date artist-list-teaser__edition__date--edition-1">18
                    <hr class="artist-list-teaser__edition__date__separator artist-list-teaser__edition__date__separator--edition-1"/>
                    21
                </span>
            </div>
            <h3 class="artist-list-teaser__title artist-list-teaser__title--edition-1">Vertigo in the Face of the Infinite</h3>
            <p class="artist-list-teaser__subtitle">Matthew Plummer-Fernandez</p>
            <figure class="artist-list-teaser__image">
                <img src="../../assets/bg-images/edition-02/edition02-data-04.webp" alt="Tower" />
                <figcaption>
                    Erste INNOQ-Medienkunst-Edition
                </figcaption>
            </figure>
        </a>
    </section>
</main>

