

<header class="article-intro">
  <h1>Article – Headline</h1>
  <h2>Article Subheadline</h2>
  <p class="lead">
    Lorem gibson Freeside Mycotoxin mimetic polycarbon suits digital savant
    arcology tattoo arcology savant stimulate soul-delay free-market watch.
    Narrative artisanal RAM dome black sprawl nano-pen nodal point corporation
    into office assassin meta-.
  </p>
  <div class="content-separator">
    <time class="content-separator__date date" datetime="2017-06-26"
      >26. Juni 2017</time
    ><time class="content-separator__duration duration" datetime="P8M"
      >8 Min. Lesedauer</time
    >
  </div>
  <div
    class="author-bio author-bio--short"
    itemscope=""
    itemtype="http://schema.org/Person"
  >
    <div class="author-bio__image avatar avatar--small">
      <a class="author-bio__anchor avatar__link" href="#author-bio"
        ><img
          class="avatar__image"
          itemprop="photo"
          src="../../assets/example-content/heribert.jpg"
          alt="Portrait von Heribert Innoq"
      /></a>
    </div>
    <div class="author-bio__text">
      <div class="author-bio__name" itemprop="name">
        <a class="author-bio__link" itemprop="url" href="#">Heribert Innoq</a>
      </div>
      <div class="author-bio__info" itemprop="jobTitle">Senior Consultant</div>
    </div>
  </div>
</header>

