

<a
  rel="author"
  class="author-bio author-bio--large"
  href="#mailto:contact-person@innoq.com"
  itemscope
  itemtype="http://schema.org/Person"
  ><div class="author-bio__image avatar avatar--xl">
    <img
      itemprop="photo"
      class="avatar__image"
      src="../../assets/example-content/heribert.png"
      alt="Portrait von Heribert Innoq"
    />
  </div>
  <address class="author-bio__text">
    <span rel="author" class="author-bio__name" itemprop="fullName"
      >Heribert INNOQ</span
    ><span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
    <p class="author-bio__info" itemprop="description">seit 10 Jahren dabei.</p>
    <p class="author-bio__expertise" itemprop="knowsAbout">
      Fachgebiet1, Fachgebiet2
    </p>
  </address></a
>

