

<div class="avatar avatar--base">
    <img class="avatar__image" itemprop="photo" src="../../assets/example-content/heribert.jpg"  alt="Portrait von Heribert Innoq" />
</div>

<div class="avatar avatar--sm">
    <img class="avatar__image" itemprop="photo" src="../../assets/example-content/heribert.jpg"  alt="Portrait von Heribert Innoq" />
</div>

<div class="avatar avatar--xs">
    <img class="avatar__image" itemprop="photo" src="../../assets/example-content/heribert.jpg"  alt="Portrait von Heribert Innoq" />
</div>


