

<div class="demo demo--inverted">
    <a href="#" class="case-list-teaser bg-image-edition-12">
        <div class="case-list-teaser__wrapper">
            <div class="case-list-teaser__body">
                <div class="case-list-teaser__caption">case study</div>
                <h2 class="case-list-teaser__title punch-in bg-image-edition-12">
                    case study headline eggs
                </h2>
                <div class="case-list-teaser__text">
                    lorem ipsum dolor sit amet, consectetur adipisicing elit. velit
                    doloremque culpa minima vero quod, optio itaque nisi deserunt,
                    debitis ad laudantium libero, quia nemo!
                </div>
            </div>
            <div class="case-list-teaser__footer">
                <span class="link-teaser">mehr erfahren</span>
            </div>
        </div>
    </a>

    <a href="#" class="case-list-teaser bg-image-edition-12">
        <div class="case-list-teaser__wrapper">
            <div class="case-list-teaser__body">
                <div class="case-list-teaser__caption">case study</div>
                <h2 class="case-list-teaser__title">
                    case study headline eggs
                </h2>
                <img class="case-list-teaser__logo"
                    src="../../assets/logos/edition-02/svg/innoq-logo--apricotpetrol.svg" />
            </div>
            <div class="case-list-teaser__footer">
                <span class="link-teaser">mehr erfahren</span>
            </div>
        </div>
    </a>

    <a href="#" class="case-list-teaser case-list-teaser--simple bg-image-edition-22">
        <div class="case-list-teaser__wrapper">
            <div class="case-list-teaser__body">
                <div class="case-list-teaser__caption">Case Study</div>
                <h2 class="case-list-teaser__title">
                    case study headline eggs
                </h2>
                <div class="case-list-teaser__text">
                    lorem ipsum dolor sit amet, consectetur adipisicing elit. velit
                    doloremque culpa minima vero quod, optio itaque nisi deserunt,
                    debitis ad laudantium libero, quia nemo!
                </div>
            </div>
            <div class="case-list-teaser__footer">
                <span class="btn btn--small btn--cta" data-label="mehr erfahren">mehr erfahren</span>
            </div>
        </div>
    </a>
</div>

