

<div class="case-teaser topic-header-bg-image-girl">
  <div class="case-teaser__wrapper">
    <div class="case-teaser__body">
      <div>
        <div class="case-teaser__caption">case study</div>
        <div>
          <div class="case-teaser__header">
            <h2 class="punch-in topic-header-bg-image-text-box-girl">
              case study headline eggs
            </h2>
          </div>
          <div class="case-teaser__text">
            lorem ipsum dolor sit amet, consectetur adipisicing elit. velit
            doloremque culpa minima vero quod, optio itaque nisi deserunt,
            debitis ad laudantium libero, quia nemo!
          </div>
          <div class="case-teaser__footer">
            <a href="#" class="link-teaser">mehr erfahren</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="case-teaser case-teaser--simple landing-page-header-bg-image">
  <div class="case-teaser__wrapper">
    <div class="case-teaser__body">
      <div>
        <div class="case-teaser__caption">Case Study</div>
        <div>
          <div class="case-teaser__header"><h2>Case Study Headline</h2></div>
          <div class="case-teaser__text">
            lorem ipsum dolor sit amet, consectetur adipisicing elit. velit
            doloremque culpa minima vero quod, optio itaque nisi deserunt,
            debitis ad laudantium libero, quia nemo!
          </div>
          <div class="case-teaser__footer">
            <a
              href="#"
              class="btn btn--small btn--cta"
              data-label="mehr erfahren"
              >mehr erfahren</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

