

<div class="content-separator">
  <time class="content-separator__duration duration" datetime="P8M"
    >8 Min. Lesedauer</time
  >
</div>
<div class="content-separator">
  <time class="content-separator__date date" datetime="2017-06-26"
    >26. Juni 2017</time
  >
  <hr class="content-separator__separator" />
  <time class="content-separator__duration duration" datetime="P8M"
    >8 Min. Lesedauer</time
  >
</div>
<div class="demo demo--inverted">
  <div class="content-separator content-seperator--inverted">
    <time class="content-separator__date date" datetime="2017-06-26"
      >26. Juni 2017</time
    >
    <hr class="content-separator__separator" />
    <time class="content-separator__duration duration" datetime="P8M"
      >8 Min. Lesedauer</time
    >
  </div>
</div>

