

<div class="cover bg-image-edition-18">
  <div class="cover__body">
    <h1 class="cover__title">Ich bin ein Titel</h1>
    <h2 class="cover__subtitle">Ich bin ein Untertitel</h2>
  </div>
  <div class="cover__footer cover__footer--primary">
    <ul class="cover__people">
      <li
        class="author-bio author-bio--short"
        itemscope
        itemtype="http://schema.org/Person"
      >
        <div class="author-bio__image avatar avatar--small">
          <a class="avatar__link" href="#author-bio"
            ><img
              class="avatar__image"
              itemprop="photo"
              src="../../assets/example-content/heribert.jpg"
              alt="Portrait von Heribert Innoq"
          /></a>
        </div>
        <div>
          <div class="author-bio__name" itemprop="name">
            <a class="author-bio__link" itemprop="url" href="#"
              >Heribert Innoq</a
            >
          </div>
          <div class="author-bio__info" itemprop="jobTitle">
            Senior Consultant
          </div>
        </div>
      </li>
      <li
        class="author-bio author-bio--short"
        itemscope
        itemtype="http://schema.org/Person"
      >
        <div class="author-bio__image avatar avatar--small">
          <a class="avatar__link" href="#author-bio"
            ><img
              class="avatar__image"
              itemprop="photo"
              src="../../assets/example-content/heribert.jpg"
              alt="Portrait von Heribert Innoq"
          /></a>
        </div>
        <div>
          <div class="author-bio__name" itemprop="name">
            <a class="author-bio__link" itemprop="url" href="#"
              >Heribert Innoq</a
            >
          </div>
          <div class="author-bio__info" itemprop="jobTitle">
            Principal Consultant
          </div>
        </div>
      </li>
    </ul>
    <img
      itemprop="photo"
      class="cover__logo--right"
      src="../../assets/logos/edition-02/svg/innoq-logo--whitepetrol.svg"
    />
  </div>
</div>
<div class="cover bg-image-edition-18">
  <div class="cover__body">
    <h1 class="cover__type">Content-type</h1>
    <h1 class="cover__title">Ich bin ein Titel</h1>
    <h2 class="cover__subtitle">Ich bin ein Untertitel</h2>
  </div>
  <div class="cover__footer cover__footer--white cover__footer--single">
    <img
      itemprop="photo"
      class="cover__logo--right"
      src="../../assets/logos/edition-02/svg/innoq-logo--petrolapricot.svg"
    />
  </div>
</div>
<div class="cover bg-image-edition-18">
  <div class="cover__body">
    <h1 class="cover__title">Ich bin ein Titel</h1>
    <h2 class="cover__subtitle">Ich bin ein Untertitel</h2>
  </div>
  <div class="cover__footer cover__footer--secondary cover__footer--single">
    <img
      itemprop="photo"
      class="cover__logo--right"
      src="../../assets/logos/edition-02/svg/innoq-logo--whiteapricot.svg"
    />
  </div>
</div>
<div class="cover bg-image-edition-18">
  <div class="cover__body">
    <h1 class="cover__title">Ich bin ein Titel</h1>
    <h2 class="cover__subtitle">Ich bin ein Untertitel</h2>
  </div>
  <div class="cover__footer cover__footer--white">
    <img
      itemprop="photo"
      class="cover__logo--right"
      src="../../assets/logos/edition-02/svg/innoq-logo--petrolapricot.svg"
    /><img
      itemprop="photo"
      class="cover__logo--right"
      src="../../assets/logos/edition-02/svg/innoq-logo--petrolapricot.svg"
    />
  </div>
</div>

