

a simple date<br />
<br />
<time class="date" datetime="2017-06-23">23. Juni 2017</time>
<br />
<br />
<br />
date for event teasers<br />
<br />
<br />
<div class="event-date-section">
    <time class="event-date" datetime="2017-06-23">
        <span class="event-day-month">
            <span class='event-day'>23</span>
            <span class='event-month'>Jun</span>
        </span>
        <span class='event-year'>2017</span>
    </time>
</div>
<br />
<br />
<br />
date for event teasers with duration<br />
<br />
<br />
<br />
<div class="event-date-section">
    <div class="event-date-wrapper">
        <time class="event-date" datetime="2017-06-23">
            <span class="event-day-month">
                <span class='event-day'>23</span>
                <span class='event-month'>Jun</span>
            </span>
        </time>
        <hr class="event-date-separator" />
        <time class="event-date" datetime="2017-06-24">
            <span class="event-day-month">
                <span class='event-day'>24</span>
                <span class='event-month'>Jun</span>
            </span>
            <span class='event-year'>2017</span>
        </time>
    </div>
</div>


