

<div>
  Time period of artist edition<br /><br />
  <div class="edition-section">
    <hr class="edition-separator" />
    <div class="edition">Edition</div>
    <span class="edition-date"
      >18
      <hr class="edition-date-separator" />
      19</span
    >
  </div>
  <div class="edition-section">
    <hr class="edition-separator" />
    <div class="edition">Edition</div>
    <span class="edition-date"
      >20
      <hr class="edition-date-separator edition-date-separator--variant" />
      21</span
    >
  </div>
</div>

