

<div class="icon-eyecatcher">
    <div class="icon-eyecatcher__cell">
        <span class="icon icon-globe icon--medium icon--brand-primary"></span>
        <p class="standalone">
            ein lustiger Beschreibungstext
        </p>
    </div>
    <div class="icon-eyecatcher__cell">
        <span class="icon icon-support icon--medium icon--brand-primary"></span>
        <p class="standalone">
            ein lustiger Beschreibungstext
        </p>
    </div>
    <div class="icon-eyecatcher__cell">
        <span class="icon icon-group-idea icon--medium icon--brand-primary"></span>
        <p class="standalone">
            ein lustiger Beschreibungstext
        </p>
    </div>
    <div class="icon-eyecatcher__cell">
        <span class="icon icon-interactive icon--medium icon--brand-primary"></span>
        <p class="standalone">
            ein lustiger Beschreibungstext
        </p>
    </div>
</div>

