

<h3>Arrows</h3>
<div class="demo">
    <span class="icon icon-arrow-long-right icon--brand-primary"></span>
    <span class="icon icon-arrow-long-right icon--brand-secondary"></span>
    <span class="icon icon-arrow-long-right icon--brand-gray"></span>
    <span class="icon icon-arrow-long-right icon--brand-yellow"></span>

    <span class="icon icon-arrow-long-down icon--brand-primary"></span>
    <span class="icon icon-arrow-long-down icon--brand-secondary"></span>
    <span class="icon icon-arrow-long-down icon--brand-gray"></span>

    <span class="icon icon-arrow-medium-left icon--brand-primary"></span>
    <span class="icon icon-arrow-medium-left icon--brand-secondary"></span>

    <span class="icon icon-arrow-short-down icon--brand-primary"></span>
    <span class="icon icon-arrow-short-down icon--brand-secondary"></span>

    <br />
    <span class="icon icon-arrow-drawn-upright icon--brand-primary"></span>
    <span class="icon icon-arrow-drawn-downright icon--brand-primary"></span>
    <span class="icon icon-arrow-drawn-downright-2 icon--brand-primary"></span>
    <span class="icon icon-arrow-drawn-downleft icon--brand-primary"></span>
    <span class="icon icon-arrow-drawn-downleft-2 icon--brand-primary"></span>
    <br />

    <span class="icon icon-arrow-sync icon--brand-primary"></span>
    <span class="icon icon-arrow-sync icon--brand-secondary"></span>

    <span class="icon icon-chevron-down-filled icon--brand-primary"></span>
    <span class="icon icon-chevron-down-filled icon--brand-secondary"></span>
    <span class="icon icon-chevron-down icon--brand-primary"></span>
    <span class="icon icon-chevron-down icon--brand-secondary"></span>
    <span class="icon icon-chevron-up icon--brand-primary"></span>
    <span class="icon icon-chevron-up icon--brand-secondary"></span>
</div>
<div class="demo demo--inverted">
    <span class="icon icon-arrow-long-right icon--brand-white"></span>
    <span class="icon icon-arrow-long-down icon--brand-white"></span>
</div>
<h3>Interface Icons</h3>
<div class="demo">
    <span class="icon icon-bookshelf icon--brand-primary"></span>
    <span class="icon icon-bookshelf icon--brand-secondary"></span>

    <span class="icon icon-certificate icon--brand-primary"></span>
    <span class="icon icon-certificate icon--brand-secondary"></span>

    <span class="icon icon-close icon--brand-primary"></span>
    <span class="icon icon-close icon--brand-secondary"></span>

    <span class="icon icon-email icon--brand-primary"></span>
    <span class="icon icon-email icon--brand-secondary"></span>

    <span class="icon icon-feedback icon--brand-primary"></span>
    <span class="icon icon-feedback icon--brand-secondary"></span>

    <span class="icon icon-flame icon--brand-primary"></span>
    <span class="icon icon-flame icon--brand-secondary"></span>

    <span class="icon icon-globe icon--brand-primary"></span>
    <span class="icon icon-globe icon--brand-secondary"></span>

    <span class="icon icon-group-idea icon--brand-primary"></span>
    <span class="icon icon-group-idea icon--brand-secondary"></span>

    <span class="icon icon-info icon--brand-primary"></span>
    <span class="icon icon-info icon--brand-secondary"></span>

    <span class="icon icon-interactive icon--brand-primary"></span>
    <span class="icon icon-interactive icon--brand-secondary"></span>

    <span class="icon icon-learning icon--brand-primary"></span>
    <span class="icon icon-learning icon--brand-secondary"></span>

    <span class="icon icon-location icon--brand-primary"></span>
    <span class="icon icon-location icon--brand-secondary"></span>

    <span class="icon icon-minus icon--small icon--brand-primary"></span>
    <span class="icon icon-plus icon--small icon--brand-primary"></span>

    <span class="icon icon-rooms icon--brand-primary"></span>
    <span class="icon icon-rooms icon--brand-secondary"></span>

    <span class="icon icon-search icon--brand-primary"></span>
    <span class="icon icon-search icon--brand-secondary"></span>

    <span class="icon icon-support icon--brand-primary"></span>
    <span class="icon icon-support icon--brand-secondary"></span>

    <span class="icon icon-text icon--brand-primary"></span>
    <span class="icon icon-text icon--brand-secondary"></span>

    <span class="icon icon-trainer icon--brand-primary"></span>
    <span class="icon icon-trainer icon--brand-secondary"></span>

    <span class="icon icon-virtual icon--brand-primary"></span>
    <span class="icon icon-virtual icon--brand-secondary"></span>
</div>
<h3>Logos</h3>
<div class="demo">
    <span class="icon icon-apple-itunes icon--brand-primary"></span>
    <span class="icon icon-apple-itunes icon--brand-secondary"></span>
    <span class="icon icon-facebook icon--brand-primary"></span>
    <span class="icon icon-facebook icon--brand-secondary"></span>
    <span class="icon icon-github icon--brand-primary"></span>
    <span class="icon icon-github icon--brand-secondary"></span>
    <span class="icon icon-leanpub icon--brand-primary"></span>
    <span class="icon icon-leanpub icon--brand-secondary"></span>
    <span class="icon icon-linkedin icon--brand-primary"></span>
    <span class="icon icon-linkedin icon--brand-secondary"></span>
    <span class="icon icon-mastodon icon--brand-primary"></span>
    <span class="icon icon-mastodon icon--brand-secondary"></span>
    <span class="icon icon-rss-1 icon--brand-primary"></span>
    <span class="icon icon-rss-1 icon--brand-secondary"></span>
    <span class="icon icon-rss icon--brand-primary"></span>
    <span class="icon icon-rss icon--brand-secondary"></span>
    <span class="icon icon-spotify icon--brand-primary"></span>
    <span class="icon icon-spotify icon--brand-secondary"></span>
    <span class="icon icon-twitter icon--brand-primary"></span>
    <span class="icon icon-twitter icon--brand-secondary"></span>
    <span class="icon icon-xing icon--brand-primary"></span>
    <span class="icon icon-xing icon--brand-secondary"></span>
    <span class="icon icon-youtube icon--brand-primary"></span>
    <span class="icon icon-youtube icon--brand-secondary"></span>
</div>
<div class="demo demo--inverted">
    <span class="icon icon-facebook icon--brand-white"></span>
    <span class="icon icon-github icon--brand-white"></span>
    <span class="icon icon-leanpub icon--brand-white"></span>
    <span class="icon icon-linkedin icon--brand-white"></span>
    <span class="icon icon-mastodon icon--brand-white"></span>
    <span class="icon icon-rss-1 icon--brand-white"></span>
    <span class="icon icon-twitter icon--brand-white"></span>
    <span class="icon icon-xing icon--brand-white"></span>
    <span class="icon icon-youtube icon--brand-white"></span>
</div>

