

<header class="image-header">
  <div class="image-header__body bg-image-culture-01">
    <div class="image-header__content">
      <h1 class="image-header__title bg-image-culture-01">Ein<br />Titel</h1>
      <span class="icon-svg icon-arrow-long-down icon--brand-secondary"></span>
    </div>
  </div>
</header>
<header class="image-header">
  <div class="image-header__body bg-image-staff-01">
    <div class="image-header__content">
      <h1 class="image-header__title bg-image-staff-01">Ein<br />Titel</h1>
      <span class="icon-svg icon-arrow-long-down icon--brand-secondary"></span>
    </div>
  </div>
</header>

