

<info-note class="info-note">
    <div class="info-note__content">
        <h3 class="info-note__title">Mika Majoran</h3>
        <p class="info-note__text"><span class="info-note__highlight">Bei INNOQ seit</span> 2018.</p>
        <p class="info-note__text">
            <span class="info-note__highlight">Tätig als</span> Product Owner in der Produktentwicklung.
        </p>
        <div class="info-note__text">
            <p>
                Bei INNOQ seit 2018. Mika wohnt mit seiner Lebensgefährtin und Hündin Luna in der Nähe von Hamburg. Er
                arbeitet vor allem von Zuhause, gelegentlich auch im Hamburger Büro.
            </p>
        </div>
    </div>
</info-note>

