

<info-box
  ><div class="infobox__teaser">
    <div class="infobox__teaser__left">
      <h6 class="infobox__teaser__heading">Ich bin eine Infobox</h6>
      <i class="icon icon-info"></i>
    </div>
    <div class="infobox__teaser__right">
      <i class="icon infobox__teaser__chevron"></i>
    </div>
  </div>
  <aside class="infobox__content">
    <div class="infobox__content__box">
      <p>
        Lorem gibson man engine dome assassin savant marketing neural Chatsubo.
        Advert meta-BASE jump decay long-chain hydrocarbons Freeside range-rover
        carbon youtube motion cardboard hacker.
      </p>
      <p>
        Lorem gibson man engine dome assassin savant marketing neural Chatsubo.
        Advert meta-BASE jump decay long-chain hydrocarbons Freeside range-rover
        carbon youtube motion cardboard hacker.
      </p>
    </div>
  </aside></info-box
>

