

<info-box>
    <details>
        <summary>
            <div class="infobox__teaser">
                <div class="infobox__teaser__left">
                    <span class="infobox__teaser__heading">Ich bin eine Infobox</span>
                    <span class="icon icon-info"></span>
                </div>
                <div class="infobox__teaser__right">
                    <span class="icon icon-chevron-down icon--small"></span>
                </div>
            </div>
        </summary>
        <div class="infobox__content">
            <h2>Ich bin eine Headline</h2>
            <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. <a href="#"">Link</a></p>
            <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            <h2>Ich bin eine Headline</h2>
            <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            <ul>
                <li>Ich bin ein kleines Listitem</li>
                <li>Ich bin ein kleines Listitem</li>
                <li>Ich bin ein kleines Listitem</li>
                <li><a href="#"">Link</a></li>
            </ul>
        </div>
    </details>
</info-box>

