

<main role="main" class="legacy-modernization-page">
    <header class="image-header bg-image-workshop-03">
        <div class="image-header__content">
            <h1 class="image-header__title">Softwaremodernisierung</h1>
            <h3>Der Weg der Softwaremodernisierung ist nicht einfach. Wir zeigen Ihnen, wie wir Sie unterstützen können!</h3>
            <span class="icon icon-arrow-long-down icon--brand-secondary"></span>
        </div>
    </header>
    <section class="container-md container-vertical-spacing-xl">
        <div class="page-layout-md--default">
            <h2>Was ist eine Softwaremodernisierung und
        warum geht man diesen Weg?</h2>
            <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
        </div>
        <long-quote>
            <blockquote class="longquote">
                <span class="longquote__zigzag"></span>
                <p>Jerky sirloin salami prosciutto biltong cupim shankle, brisket venison. Shankle chuck picanha meatloaf bacon tongue
                shoulder burgdoggen.</p>
                <cite class="longquote__author" itemprop="name">Name name</cite>
                <span class="longquote__role" itemprop="jobTitle">Jobtitel</span>
            </blockquote>
        </long-quote>
    </section>
    <section class="container-xl container-vertical-spacing-xl">
        <div class="page-layout-md--default">
            <h2>Vorteile einer Legacy Software Modernisierung</h2>
            <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
        </div>
        <div class="tile-grid-sm">
            <div class="big-content-teaser big-content-teaser--colored">
                <div class="big-content-teaser__content">
                    <div class="big-content-teaser__body">
                        <h4 class="big-content-teaser__headline">Verbesserung der Leistung</h4>
                        <p class="big-content-teaser__text">
                            Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.
                        </p>
                    </div>
                </div>
            </div>
            <div class="big-content-teaser big-content-teaser--inverted">
                <div class="big-content-teaser__content">
                    <div class="big-content-teaser__body">
                        <h4 class="big-content-teaser__headline big-content-teaser__headline--inverted">
                            Verbesserung der Sicherheit
                        </h4>
                        <p class="big-content-teaser__text">
                            Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.
                        </p>
                    </div>
                </div>
            </div>
            <div class="big-content-teaser big-content-teaser--colored">
                <div class="big-content-teaser__content">
                    <div class="big-content-teaser__body">
                        <h4 class="big-content-teaser__headline">Kosteneffizienz</h4>
                        <p class="big-content-teaser__text">
                            Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.
                        </p>
                    </div>
                </div>
            </div>
            <div class="big-content-teaser big-content-teaser--inverted">
                <div class="big-content-teaser__content">
                    <div class="big-content-teaser__body">
                        <h4 class="big-content-teaser__headline big-content-teaser__headline--inverted">
                            Zukunftssicherheit
                        </h4>
                        <p class="big-content-teaser__text">
                            Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.
                        </p>
                    </div>
                </div>
            </div>
            <div class="big-content-teaser big-content-teaser--colored">
                <div class="big-content-teaser__content">
                    <div class="big-content-teaser__body">
                        <h4 class="big-content-teaser__headline">Verbesserte Nutzerfreundlichkeit</h4>
                        <p class="big-content-teaser__text">
                            Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.
                        </p>
                    </div>
                </div>
            </div>
            <div class="big-content-teaser big-content-teaser--inverted">
                <div class="big-content-teaser__content">
                    <div class="big-content-teaser__body">
                        <h4 class="big-content-teaser__headline big-content-teaser__headline--inverted">
                            Aktualisierung der Benutzeroberfläche
                        </h4>
                        <p class="big-content-teaser__text">
                            Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-xxl container-vertical-spacing-xl stripe stripe--white">
        <div class="page-layout-md--default">
            <h2>Der Weg zur Legacy Software-Modernisierung</h2>
            <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
        </div>
        <div class="container-xl">
            <div class="textbox-sequence__wrapper container-vertical-spacing-xl">
                <div class="textbox-sequence__box--a">
                    <h3 class="textbox-sequence__header">Analyse der Software</h3>
                    <div class="textbox-sequence__text">
                        Wir schaffen Klarheit durch eine Analyse! Nun sehen wir uns Ihre Software genau an. Der gründliche Überblick am Anfang
                        gibt uns Einblicke, wo Sie mit Ihrer Software stehen und woher Ihre akuten Probleme kommen. Dieses Review hilft uns
                        später auch, die besten Strategien und Prioritäten für eine eventuelle Sanierung festzulegen
                    </div>
                    <div class="icon icon--brand-primary icon-arrow-drawn-upright textbox-sequence__icon--topright"></div>
                </div>

                <div class="textbox-sequence__box--b">
                    <h3 class="textbox-sequence__header">Wir sind da, wenn es brennt</h3>
                    <div class="textbox-sequence__text">
                        Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.
                    </div>
                    <div class="icon icon--brand-primary icon-arrow-drawn-downright textbox-sequence__icon--bottomright"></div>
                </div>
                <div class="textbox-sequence__box--c">
                    <h3 class="textbox-sequence__header">Modernisierungsstrategie</h3>
                    <div class="textbox-sequence__text">
                        Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.
                    </div>
                    <div class="icon icon--brand-primary icon-arrow-drawn-downleft textbox-sequence__icon--bottomleft"></div>
                </div>

                <div class="textbox-sequence__box--d">
                    <h3 class="textbox-sequence__header">Technische Sanierung</h3>
                    <div class="textbox-sequence__text">
                        Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.
                    </div>
                </div>
                <div class="textbox-sequence__box--e">
                    <h3 class="textbox-sequence__header">Wenn nichts mehr geht: Neubau Ihrer Software</h3>
                    <div class="textbox-sequence__text">
                        Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.
                    </div>
                    <div class="icon icon--brand-primary icon-arrow-drawn-downleft-2 textbox-sequence__icon--topright textbox-sequence__icon--topright--text-only"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-xl container-vertical-spacing-lg">
        <div class="page-layout-md--default">
            <h2>So haben wir unsere Kunden unterstützt</h2>
            <p>Brisket ham ground round landjaeger ball tip chicken. Boudin ham capicola shoulder meatloaf shankle. Tail hamburger fatback turducken, jerky bresaola ham t-bone frankfurter buffalo shank cupim. Biltong prosciutto turkey bresaola beef ribs pastrami, flank sausage brisket fatback picanha swine ham hock.</p>
        </div>
        <div class="masonry-grid">
            <a href="#" class="case-tile-teaser bg-image-edition-12 span-4">
                <div class="case-tile-teaser__content">
                    <div class="case-tile-teaser__body">
                        <h2 class="case-tile-teaser__caption">Case Study</h2>
                        <h2 class="case-tile-teaser__headline">Dies ist eine Headline</h2>
                        <div class="case-tile-teaser__text">
                            Lorem gibson 8-bit Freeside denim otaku sign boy neon warp long-chain
                            hydrocarbons car.
                        </div>
                        <img class="case-tile-teaser__logo"
                            src="../../assets/logos/edition-02/svg/innoq-logo--apricotpetrol.svg" />
                    </div>
                    <div class="case-tile-teaser__goto">
                        <span class="link-teaser">zum Projekt</span>
                    </div>
                </div>
            </a>
            <a href="#" class="case-tile-teaser bg-image-edition-12 span-4">
                <div class="case-tile-teaser__content">
                    <div class="case-tile-teaser__body">
                        <h2 class="case-tile-teaser__caption">Case Study</h2>
                        <h2 class="case-tile-teaser__headline">Dies ist eine Headline</h2>
                        <div class="case-tile-teaser__text">
                            Lorem gibson 8-bit Freeside denim otaku sign boy neon warp long-chain
                            hydrocarbons car.
                        </div>
                    </div>
                    <div class="case-tile-teaser__goto">
                        <span class="link-teaser">zum Projekt</span>
                    </div>
                </div>
            </a>
            <a href="#" class="case-tile-teaser bg-image-edition-12 span-3">
                <div class="case-tile-teaser__content">
                    <div class="case-tile-teaser__body">
                        <h2 class="case-tile-teaser__caption">Case Study</h2>
                        <h2 class="case-tile-teaser__headline">Dies ist eine Headline</h2>
                        <div class="case-tile-teaser__text">
                            Lorem gibson 8-bit Freeside denim otaku sign boy neon warp long-chain
                            hydrocarbons car.
                        </div>
                        <img class="case-tile-teaser__logo"
                            src="../../assets/logos/edition-02/svg/innoq-logo--apricotpetrol.svg" />
                    </div>
                    <div class="case-tile-teaser__goto">
                        <span class="link-teaser">zum Projekt</span>
                    </div>
                </div>
            </a>
            <a href="#" class="case-tile-teaser bg-image-edition-12 span-5">
                <div class="case-tile-teaser__content">
                    <div class="case-tile-teaser__body">
                        <h2 class="case-tile-teaser__caption">Case Study</h2>
                        <h2 class="case-tile-teaser__headline">Dies ist eine Headline</h2>
                        <div class="case-tile-teaser__text">
                            Lorem gibson 8-bit Freeside denim otaku sign boy neon warp long-chain
                            hydrocarbons car.
                        </div>
                        <img class="case-tile-teaser__logo"
                            src="../../assets/logos/edition-02/svg/innoq-logo--apricotpetrol.svg" />
                    </div>
                    <div class="case-tile-teaser__goto">
                        <span class="link-teaser">zum Projekt</span>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <div class="stripe stripe--gray">
        <section class="page-layout-xl--default">
            <div class="page-layout-md--default">
                <h2>Was unsere Kunden sagen</h2>
                <p>Brisket ham ground round landjaeger ball tip chicken. Boudin ham capicola shoulder meatloaf shankle. Tail hamburger fatback turducken, jerky bresaola ham t-bone frankfurter buffalo shank cupim. Biltong prosciutto turkey bresaola beef ribs pastrami, flank sausage brisket fatback picanha swine ham hock.</p>
            </div>
            <div class="card-grid">
                <div class="text-card">
                    <p class="text-card__quote">"Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle."</p>
                    <div class="text-card__footer">
                        <h3 class="text-card__name">Alisa Zett</h3>
                        <p class="text-card__job">Head of IT, Mustercompany</p>
                    </div>
                </div>
                <div class="text-card">
                    <p class="text-card__quote">"Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle."</p>
                    <div class="text-card__footer">
                        <h3 class="text-card__name">Alisa Zett</h3>
                        <p class="text-card__job">Head of Marketing and IT, Mustercompany</p>
                    </div>
                </div>
                <div class="text-card">
                    <p class="text-card__quote">"Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr."</p>
                    <div class="text-card__footer">
                        <h3 class="text-card__name">Alisa Zett</h3>
                        <p class="text-card__job">Head of IT, Mustercompany</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-xl container-vertical-spacing-lg">
            <div class="page-layout-md--default">
                <h2>Unsere Workshops</h2>
                <p>Brisket ham ground round landjaeger ball tip chicken. Boudin ham capicola shoulder meatloaf shankle. Tail hamburger fatback turducken, jerky bresaola ham t-bone frankfurter buffalo shank cupim. Biltong prosciutto turkey bresaola beef ribs pastrami, flank sausage brisket fatback picanha swine ham hock.</p>
            </div>
            <div class="tile-grid-md container-vertical-spacing-xl">
                <a href="#" class="case-tile-teaser bg-image-edition-04 case-tile-teaser--sm">
                    <div class="case-tile-teaser__content case-tile-teaser__content--sm">
                        <div class="case-tile-teaser__body">
                            <h2 class="case-tile-teaser__headline case-tile-teaser__headline--sm">
                                Workshop 1
                            </h2>
                            <div class="case-tile-teaser__text--workshop case-tile-teaser__text--sm">
                                Brisket ham ground round landjaeger ball tip chicken. Boudin ham capicola shoulder meatloaf shankle. Tail hamburger fatback turducken, jerky bresaola ham t-bone frankfurter buffalo shank cupim. Biltong prosciutto turkey bresaola beef ribs pastrami, flank sausage brisket fatback picanha swine ham hock.
                            </div>
                        </div>
                        <div class="case-tile-teaser__goto">
                            <span class="link-teaser">Workshop anfragen</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="case-tile-teaser bg-image-edition-07 case-tile-teaser--sm">
                    <div class="case-tile-teaser__content case-tile-teaser__content--sm">
                        <div class="case-tile-teaser__body">
                            <h2 class="case-tile-teaser__headline case-tile-teaser__headline--sm">
                                Workshop 2
                            </h2>
                            <div class="case-tile-teaser__text--workshop case-tile-teaser__text--sm">
                                Brisket ham ground round landjaeger ball tip chicken. Boudin ham capicola shoulder meatloaf shankle. Tail hamburger fatback turducken, jerky bresaola ham t-bone frankfurter buffalo shank cupim. Biltong prosciutto turkey bresaola beef ribs pastrami, flank sausage brisket fatback picanha swine ham hock.
                            </div>
                        </div>
                        <div class="case-tile-teaser__goto">
                            <span class="link-teaser">Workshop anfragen</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="case-tile-teaser bg-image-edition-08 case-tile-teaser--sm">
                    <div class="case-tile-teaser__content case-tile-teaser__content--sm">
                        <div class="case-tile-teaser__body">
                            <h2 class="case-tile-teaser__headline case-tile-teaser__headline--sm">
                                Workshop 3
                            </h2>
                            <div class="case-tile-teaser__text--workshop case-tile-teaser__text--sm">
                                Brisket ham ground round landjaeger ball tip chicken. Boudin ham capicola shoulder meatloaf shankle. Tail hamburger fatback turducken, jerky bresaola ham t-bone frankfurter buffalo shank cupim. Biltong prosciutto turkey bresaola beef ribs pastrami, flank sausage brisket fatback picanha swine ham hock.
                            </div>
                        </div>
                        <div class="case-tile-teaser__goto">
                            <span class="link-teaser">Workshop anfragen</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="case-tile-teaser bg-image-edition-10 case-tile-teaser--sm">
                    <div class="case-tile-teaser__content case-tile-teaser__content--sm">
                        <div class="case-tile-teaser__body">
                            <h2 class="case-tile-teaser__headline case-tile-teaser__headline--sm">
                                Workshop 4
                            </h2>
                            <div class="case-tile-teaser__text--workshop case-tile-teaser__text--sm">
                                Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.
                            </div>
                        </div>
                        <div class="case-tile-teaser__goto">
                            <span class="link-teaser">Workshop anfragen</span>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </div>
    <section class="container-xl container-vertical-spacing-lg faq-section">
        <div class="page-layout-xl--default">
            <h2>FAQ Legacy-Modernisierung</h2>
            <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
            <div class="text-grid">
                <div>
                    <h3 class="text-grid__heading">Lorem ipsum test bla mehr text lorem?</h3>
                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et. magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
                <div>
                    <h3 class="text-grid__heading">Bla bla mehr text lorem?</h3>
                    <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
                </div>
                <div>
                    <h3 class="text-grid__heading">Fragen über Fragen?</h3>
                    <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
                </div>
                <div>
                    <h3 class="text-grid__heading">Und noch eine?</h3>
                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et. magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
                <div>
                    <h3 class="text-grid__heading">Hallo?</h3>
                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et. magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
                <div>
                    <h3 class="text-grid__heading">Goodbye!</h3>
                    <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
                </div>
                <div>
                    <h3 class="text-grid__heading">Und noch eine?</h3>
                    <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
                </div>
                <div>
                    <h3 class="text-grid__heading">Hallo?</h3>
                    <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
                </div>
                <div>
                    <h3 class="text-grid__heading">Goodbye!</h3>
                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et. magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container-xl container-vertical-spacing-lg">
        <h2 class="teaser-section-heading--primary">Mehr zum Thema</h2>
        <section class="masonry-grid">
            <a href="#" class="span-4 list-teaser-podcast list-teaser-podcast--avatar--overlay--big"
                style="background-image: url(../../assets/example-content/heribert-rechts.png), url(../../assets/example-content/heribert-links.png) ">
                <div class="list-teaser-podcast__body">
                    <div class="list-teaser-podcast__caption">Podcast</div>
                    <h2 class="list-teaser-podcast__headline">Podcast Headline</h2>
                    <h3 class="list-teaser-podcast__subheadline">Podcast Subheadline</h3>
                    <span class="icon icon-arrow-long-right icon--brand-white"></span>
                </div>
                <div class="list-teaser-podcast__footer">
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person">Heribert Innoq</div>
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person">Heribert Innoq</div>
                </div>
            </a>
            <a href="#" class="span-4 list-teaser-abstract primary">
                <div class="list-teaser__body">
                    <div class="list-teaser-abstract__caption">Artikel</div>
                    <h2 class="list-teaser-abstract__headline">Artikel Headline</h2>
                    <p class="list-teaser-abstract__text">
                        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et. magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        <span class="icon icon-arrow-long-right icon--brand-white"></span>
                    </p>
                </div>
                <div class="list-teaser__footer">
                    <div rel="author" class="author-bio author-bio--short" href="#author-bio" itemscope
                        itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--sm">
                            <img itemprop="photo" class="avatar__image"
                                src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq" />
                        </div>
                        <address>
                            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                        </address>
                    </div>
                    <div rel="author" class="author-bio author-bio--short" href="#author-bio" itemscope
                        itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--sm">
                            <img itemprop="photo" class="avatar__image"
                                src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq" />
                        </div>
                        <address>
                            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                        </address>
                    </div>
                </div>
            </a>
            <a href="#" class="span-5 list-teaser-abstract secondary">
                <div class="list-teaser__body">
                    <div class="list-teaser-abstract__caption">Artikel</div>
                    <h2 class="list-teaser-abstract__headline">Artikel Headline</h2>
                    <p class="list-teaser-abstract__text">
                        Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.
                        <span class="icon icon-arrow-long-right icon--brand-white"></span>
                    </p>
                </div>
                <div class="list-teaser__footer">
                    <div rel="author" class="author-bio author-bio--short" href="#author-bio" itemscope
                        itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--sm">
                            <img itemprop="photo" class="avatar__image"
                                src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq" />
                        </div>
                        <address>
                            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                        </address>
                    </div>
                </div>
            </a>
            <a href="#" class="span-3 list-teaser-podcast list-teaser-podcast--avatar--overlay--big"
                style="background-image: url(../../assets/example-content/heribert-rechts.png), url(../../assets/example-content/heribert-links.png) ">
                <div class="list-teaser-podcast__body">
                    <div class="list-teaser-podcast__caption">Podcast</div>
                    <h2 class="list-teaser-podcast__headline">Podcast Headline</h2>
                    <h3 class="list-teaser-podcast__subheadline">Podcast Subheadline</h3>
                    <span class="icon icon-arrow-long-right icon--brand-white"></span>
                </div>
                <div class="list-teaser-podcast__footer">
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person">Heribert Innoq</div>
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person">Heribert Innoq</div>
                </div>
            </a>
        </section>
    </section>
</main>

