

<h3>Unordered List</h3>
<ul>
    <li>
        Unordered List item
    </li>
    <li>
        Unordered List item with nested unordered list
        <ul>
            <li>
                Nested unordered list item
            </li>
            <li>
                Nested unordered list item with a nested unordered list
                <ul>
                    <li>
                        Another Nested unordered list item
                    </li>
                </ul>
            </li>
            <li>
                Nested unordered list item with a nested ordered list
                <ol>
                    <li>
                        Another Nested ordered list item
                    </li>
                    <li>
                        Another Nested ordered list item
                    </li>
                </ol>
            </li>
        </ul>
    </li>
    <li>
        <p>ndustrial grade voodoo god papier-mache tanto free-market tower futurity jeans nodality singularity alcohol industrial grade tank-traps engine vehicle tattoo.</p>
        <p>ndustrial grade voodoo god papier-mache tanto free-market tower futurity jeans nodality singularity alcohol industrial grade tank-traps engine vehicle tattoo.</p>
    </li>
</ul>

<h3>Bold Bullet List</h3>
<ul class="bold-list">
    <li>
        Bold Bullet List Item
    </li>
    <li>
        Bold Bullet List Item
    </li>
</ul>

<h3>Checklist</h3>
<ul class="checklist">
    <li>
        Checklist Item
    </li>
    <li>
        Checklist Item
    </li>
</ul>

<h3>Ordered List</h3>
<ol>
    <li>
        Ordered List item
    </li>
    <li>
        Ordered List item
    </li>
    <li>
        Ordered List item
    </li>
    <li> Ordered List item with a nestet ordered list
        <ol>
            <li>
                Another Nested ordered list item
            </li>
            <li>
                Another Nested ordered list item
            </li>
        </ol>
    </li>
    <li>
        Ordered List item
    </li>
    <li>
        Ordered List item
    </li>

    <li>
        Ordered List item
    </li>
    <li>
        Ordered List item
    </li>
    <li>
        Ordered List item
    </li>

    <li>
        Ordered List item
    </li>
    <li>
        Ordered List item
    </li>
    <li>
        Ordered List item
    </li>
</ol>

<ol>
    <li>
        Ordered List with nested unordered List
        <ul>
            <li>
                Nested unordered list item
            </li>
            <li>
                Nested unordered list item
            </li>
        </ul>
    </li>
    <li>
        Ordered List item
    </li>
    <li>
        Ordered List item
    </li>
</ol>

<h3>Definition List</h3>
<dl>
    <dt>Description List item term</dt>
    <dd>Description List item description</dd>
    <dt>Description List item term</dt>
    <dd>Description List item description 1</dd>
    <dd>Description List item description 2</dd>
</dl>

<h3>Simple Definition List</h3>
<dl class="simple-definition-list">
    <dt>Description List item term</dt>
    <dd>Description List item description</dd>
    <dt>Description List item term</dt>
    <dd>Description List item description 1</dd>
    <dd>Description List item description 2</dd>
</dl>

<h3>Tuple List</h3>
<ul class="tuple-list">
    <li class="tuple-list__entry"><span class="tuple-list__label">Dauer:</span><span class="tuple-list__value">1 Tag</span></li>
    <li class="tuple-list__entry"><span class="tuple-list__label">Teilnehmer:</span><span class="tuple-list__value">Management, Product Owner, Digital Product Designer</span></li>
    <li class="tuple-list__entry"><span class="tuple-list__label">Ergebnis:</span><span class="tuple-list__value">Eine konkrete Produktvision und ein Vorschlag zu umsetzbaren nächsten Schritten.</span></li>
</ul>

