

<div>
  <div class="demo demo--centered demo--inverted">
    <img class="logo" src="../../assets/innoq-logo--whitered.svg" />
  </div>
  <div class="demo demo--centered">
    <img class="logo" src="../../assets/innoq-logo--bluered.svg" />
  </div>
  <div class="demo demo--centered demo--accented">
    <img class="logo" src="../../assets/innoq-logo--whiteblue.svg" />
  </div>
  <div class="demo demo--centered">
    <img class="logo" src="../../assets/innoq-logo--redblue.svg" />
  </div>
  <div class="demo demo--centered demo--black">
    <img class="logo" src="../../assets/innoq-logo--white.svg" />
  </div>
  <div class="demo demo--centered">
    <img class="logo" src="../../assets/innoq-logo--black.svg" />
  </div>
  <div class="demo demo--centered">
    <img class="logo" src="../../assets/innoq-logo--monochrome.svg" />
  </div>
</div>

