

<p>
  Replace the div with your component and add span classes in the order that is
  shown below to get the masonry layout
</p>
<section class="masonry-grid">
  <div class="grid-demo span-4"></div>
  <div class="grid-demo span-4"></div>
  <div class="grid-demo span-5"></div>
  <div class="grid-demo span-3"></div>
  <div class="grid-demo span-4"></div>
  <div class="grid-demo span-4"></div>
  <div class="grid-demo span-3"></div>
  <div class="grid-demo span-5"></div>
  <div class="grid-demo span-4"></div>
  <div class="grid-demo span-4"></div>
</section>

