

<p>Replace the div with your component and add span classes in the order that is shown below to get the masonry layout</p>

<section class="masonry-grid">
    <div class="grid-demo span-4"></div>
    <div class="grid-demo span-4"></div>
    <div class="grid-demo span-5"></div>
    <div class="grid-demo span-3"></div>
    <div class="grid-demo span-4"></div>
    <div class="grid-demo span-4"></div>
    <div class="grid-demo span-3"></div>
    <div class="grid-demo span-5"></div>
    <div class="grid-demo span-4"></div>
    <div class="grid-demo span-4"></div>
</section>

<p>With <code>masonry-grid--alternating-asymmetric</code>: no span classes needed, pattern alternates 5+3 / 3+5</p>

<section class="masonry-grid masonry-grid--alternating-asymmetric">
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
</section>

<p>With <code>masonry-grid--mixed</code>: no span classes needed, pattern alternates 4+4 / 5+3 / 4+4 / 3+5</p>

<section class="masonry-grid masonry-grid--mixed">
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
    <div class="grid-demo"></div>
</section>



