

<div class="podcast-channel-teaser podcast-channel-teaser--classic bg-image-edition-04">
    <h2 class="podcast-channel-teaser__title podcast-channel-teaser__title--classic">
        <span>Software</span><span>Architektur</span><span>Systeme</span><span>Menschen</span></h2>
    <a href="#" class="podcast-channel-teaser__link podcast-channel-teaser__link--classic">Alle Episoden</a>
</div>

<div class="podcast-channel-teaser podcast-channel-teaser--security bg-image-edition-24">
    <h2 class="podcast-channel-teaser__title podcast-channel-teaser__title--security">Der<br>Security<br>Podcast</h2>
    <a href="#" class="podcast-channel-teaser__link podcast-channel-teaser__link--security">Alle Episoden</a>
</div>

<div class="podcast-channel-teaser podcast-channel-teaser--ctoneedtoknow bg-image-podcast-02">
    <h2 class="podcast-channel-teaser__title podcast-channel-teaser__title--ctoneedtoknow">#CTO<br>NEED<br>TO<br>KNOW
    </h2>
    <p class="podcast-channel-teaser__caption">Der Podcast für Tech-Entscheider:innen
    </p>
    <a href="#" class="podcast-channel-teaser__link podcast-channel-teaser__link--ctoneedtoknow">Alle Episoden</a>
</div>

