

<section class="reference">
    <a href="#" class="reference__link">
        <img class="reference__image" src={context.app.uri("assets/logos/business_technology.svg")} alt="Business technology" />
    </a>
    <p class="reference__description">
        Spicy jalapeno bacon ipsum dolor amet t-bone sirloin culpa, tenderloin tempor ullamco flank rump. Biltong corned beef pork loin et. Labore dolore laborum pork laboris. Do alcatra ball tip consequat venison spare ribs pig. Bresaola boudin chuck, spare ribs officia mollit ut esse est jowl minim.
    </p>
</section>

