

<main role="main" class="reviews-page">
    <header class="image-header bg-image-workshop-03">
        <div class="image-header__content">
            <h1 class="image-header__title">Software-Reviews</h1>
            <h3>Beef ribs chuck porchetta pork, ham shoulder meatball pastrami landjaeger fatback tongue picanha pig. Porchetta ham tri-tip.</h3>
            <div class="button-wrapper">
                <a class="btn btn--cta" data-label="Mehr erfahren" href="#review-intro">Mehr erfahren</a>
                <a class="btn btn--medium" href="#book-workshop">Review buchen</a>
            </div>
        </div>
    </header>
    <section class="container-md container-vertical-spacing-xl">
        <div class="page-layout-md--default">
            <h2 id="review-intro">Was ist ein Software-Review und
        warum geht man diesen Weg?</h2>
            <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
        </div>
        <img itemprop="photo"
            src="../../assets/example-content/review-way.png"
            alt="Weg eines Software-Reviews"
        />
    </section>
    <section class="conclusion">
        <div class="conclusion-wrapper">
            <h2 class="conclusion-subheadline">Diese Ergebnisse können Sie von unserem Software Review-Workshop erwarten</h2>
            <div class="conclusion-text">
                <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
                <ul class="checklist">
                    <li>Beschreibung des IST-Zustandes</li>
                    <li>Beschreibung des IST-Zustandes</li>
                    <li>Beschreibung des IST-Zustandes</li>
                    <li>Erfahrungsbasierte Empfehlungen</li>
                    <div class="m-t-sm">
                        <ul>
                            <li>Einsatz bestimmter Technologien, ggf. Ersatz bestehender Lösungen</li>
                            <li>Erstellung von Roadmap / Milestones</li>
                            <li>Organisatorische Maßnahmen</li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>

    </section>
    <section class="container-xl container-vertical-spacing-lg">
        <div class="page-layout-xl--default">
            <h2>Ablauf eines Reviews</h2>
            <p>Brisket ham ground round landjaeger ball tip chicken. Boudin ham capicola shoulder meatloaf shankle. Tail hamburger fatback turducken, jerky bresaola ham t-bone frankfurter buffalo shank cupim. Biltong prosciutto turkey bresaola beef ribs pastrami, flank sausage brisket fatback picanha swine ham hock.</p>

            <div class="timeline">
                <div class="timeline-event">
                    <div class="timeline-event__icon"></div>
                    <div class="timeline-event__content">
                        <h2>Aufgaben</h2>
                        <ul class="bulletfree-list">
                            <li class="m-t-xs">Listitem 1</li>
                            <li>Listitem 2</li>
                            <li>Listitem 3</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-event">
                    <div class="timeline-event__icon"></div>
                    <div class="timeline-event__content">
                        <h2>Interviews & Analysen</h2>
                        <ul class="bulletfree-list">
                            <li class="m-t-xs">Listitem 1</li>
                            <li>Listitem 2</li>
                            <li>Listitem 3</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-event">
                    <div class="timeline-event__icon"></div>
                    <div class="timeline-event__content">
                        <h2>Ergebnisbericht & Präsentation</h2>
                        <ul class="bulletfree-list">
                            <li class="m-t-xs">Listitem 1</li>
                            <li>Listitem 2</li>
                            <li>Listitem 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-xl container-vertical-spacing-lg stripe stripe--white">
        <div class="page-layout-md--default center-section">
            <h2>Was unser Review für Sie leistet</h2>
            <p>Brisket ham ground round landjaeger ball tip chicken. Boudin ham capicola shoulder meatloaf shankle. Tail hamburger fatback turducken, jerky bresaola ham t-bone frankfurter buffalo shank cupim. Biltong prosciutto turkey bresaola beef ribs pastrami, flank sausage brisket fatback picanha swine ham hock.</p>
        </div>
        <div class="masonry-grid">
            <div class="case-tile-teaser bg-image-edition-12 span-4">
                <div class="case-tile-teaser__content">
                    <div class="case-tile-teaser__body">
                        <h2 class="case-tile-teaser__headline">INNOQ als Sparring Partner</h2>
                        <div class="case-tile-teaser__text--workshop">
                            Brisket ham ground round landjaeger ball tip chicken. Boudin ham capicola shoulder meatloaf shankle. Tail hamburger
                            fatback turducken, jerky bresaola ham t-bone frankfurter buffalo shank cupim. Biltong prosciutto turkey bresaola beef
                            ribs.
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-tile-teaser bg-image-edition-12 span-4">
                <div class="case-tile-teaser__content">
                    <div class="case-tile-teaser__body">
                        <h2 class="case-tile-teaser__headline">Blick von Außen</h2>
                        <div class="case-tile-teaser__text--workshop">
                            Lorem gibson 8-bit Freeside denim otaku sign boy neon warp long-chain
                            hydrocarbons car.
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-tile-teaser bg-image-edition-12 span-5">
                <div class="case-tile-teaser__content">
                    <div class="case-tile-teaser__body">
                        <h2 class="case-tile-teaser__headline">INNOQ als Sparring Partner</h2>
                        <div class="case-tile-teaser__text--workshop">
                            Lorem gibson 8-bit Freeside denim otaku sign boy neon warp long-chain
                            hydrocarbons car.
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-tile-teaser bg-image-edition-12 span-3">
                <div class="case-tile-teaser__content">
                    <div class="case-tile-teaser__body">
                        <h2 class="case-tile-teaser__headline">Blick von außen</h2>
                        <div class="case-tile-teaser__text--workshop">
                            Lorem gibson 8-bit Freeside denim otaku sign boy neon warp long-chain
                            hydrocarbons car.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-xl container-vertical-spacing-xl stripe stripe--gray">
        <div class="page-layout-md--default">
            <h2>Woran wir gemeinsam arbeiten: Ziel, Scope und Umfang</h2>
            <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
        </div>
        <div class="tile-grid-sm">
            <div class="big-content-teaser big-content-teaser--colored">
                <div class="big-content-teaser__content">
                    <div class="big-content-teaser__body">
                        <h4 class="big-content-teaser__headline">Ziel</h4>
                        <p class="big-content-teaser__text">
                            <ul class="bulletfree-list">
                                <li>Listitem 1 ist ein bisschen länger</li>
                                <li>Listitem 2 ist kurz</li>
                                <li>Listitem 3</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="big-content-teaser big-content-teaser--inverted">
                <div class="big-content-teaser__content">
                    <div class="big-content-teaser__body">
                        <h4 class="big-content-teaser__headline big-content-teaser__headline--inverted">
                            Scope
                        </h4>
                        <p class="big-content-teaser__text">
                            <ul class="bulletfree-list bulletfree-list--inverted">
                                <li>Listitem 1 ist ein bisschen länger</li>
                                <li>Listitem 2 ist kurz</li>
                                <li>Listitem 3</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="big-content-teaser big-content-teaser--colored">
                <div class="big-content-teaser__content">
                    <div class="big-content-teaser__body">
                        <h4 class="big-content-teaser__headline">Umfang</h4>
                        <p class="big-content-teaser__text">
                            <ul class="bulletfree-list">
                                <li>Listitem 1 ist ein bisschen länger</li>
                                <li>Listitem 2 ist kurz</li>
                                <li>Listitem 3</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-layout-md--default">
            <long-quote>
                <blockquote class="longquote">
                    <span class="longquote__zigzag"></span>
                    <p>Jerky sirloin salami prosciutto biltong cupim shankle, brisket venison. Shankle chuck picanha meatloaf bacon
                        tongue
                        shoulder burgdoggen.</p>
                    <cite class="longquote__author" itemprop="name">Name name</cite>
                    <span class="longquote__role" itemprop="jobTitle">Jobtitel</span>
                </blockquote>
            </long-quote>
        </div>
        <div class="default-full-width-teaser bg-image-trainings-03">
            <div class="default-full-width-teaser__wrapper">
                <div class="default-full-width-teaser__body">
                    <div>
                        <h2>Reviewfokus</h2>
                        <div class="default-full-width-teaser__text">
                            <p class="m-b-md">
                            Je nach Kontext empfehlen wir unterschiedlich fokussierte und umfangreiche Reviews:</p>
                            <ul>
                                <li>Punkt eins ist ein längerer Punkt</li>
                                <li>Punkt zwei</li>
                                <li>Punkt drei</li>
                            </ul>
                        </div>
                        <div class="default-full-width-teaser__footer">
                            <a href="#book-workshop" class="btn btn--small btn--cta" data-label="Review anfragen">Review anfragen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-xl container-vertical-spacing-xl stripe stripe--gradient-2">
        <div class="page-layout-md--default">
            <h2>Auf den richtigen Ebenen ansetzen</h2>
            <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
        </div>
        <div class="accordion">
            <details open>
                <summary>Organisation</summary>
                <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle..</p>
            </details>
            <details>
                <summary>Domänenarchitektur</summary>
                <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
            </details>
            <details>
                <summary>Makroarchitektur</summary>
                <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
            </details>
            <details>
                <summary>Mikroarchitektur</summary>
                <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
            </details>
            <details>
                <summary>Code</summary>
                <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
            </details>
        </div>
    </section>
    <section class="container-xl container-vertical-spacing-xl stripe stripe--gray">
        <div class="page-layout-md--default center-section">
            <h2>Spannungsfelder im Blick haben</h2>
            <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
        </div>
        <div class="card-grid">
            <div class="icon-card">
                <svg class="m-b-sm" height="40" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg" id="Vectors-Anchor-Square-1--Streamline-Ultimate">
                    <desc>Vectors Anchor Square 1 Streamline Icon: https://streamlinehq.com</desc>
                    <path d="M0.75 3a2.25 2.25 0 1 0 4.5 0 2.25 2.25 0 1 0 -4.5 0Z" fill="none" stroke="#ff9c66" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.5"></path>
                    <path d="M0.75 21a2.25 2.25 0 1 0 4.5 0 2.25 2.25 0 1 0 -4.5 0Z" fill="none" stroke="#ff9c66" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.5"></path>
                    <path d="M18.75 3a2.25 2.25 0 1 0 4.5 0 2.25 2.25 0 1 0 -4.5 0Z" fill="none" stroke="#ff9c66" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="1.5"></path>
                    <path d="M18.75 21a2.25 2.25 0 1 0 4.5 0 2.25 2.25 0 1 0 -4.5 0Z" fill="none" stroke="#ff9c66"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
                    <path d="m8.25 2.25 7.5 0" fill="none" stroke="#ff9c66" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5"></path>
                    <path d="m21.75 15.75 0 -7.5" fill="none" stroke="#ff9c66" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5"></path>
                    <path d="m8.25 21.75 7.5 0" fill="none" stroke="#ff9c66" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5"></path>
                    <path d="m2.25 8.25 0 7.5" fill="none" stroke="#ff9c66" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5"></path>
                </svg>
                <h3 class="text-grid__heading">Domänenarchitektur</h3>
                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et. magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="icon-card">
                <svg class="m-b-sm" height="40" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg" fill="none"
                    id="Machine-Learning-Infrastructure--Streamline-Ultimate">
                    <path stroke="#ff9c66" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                        d="M8.79999 11.45c2.20911 0 4.00001 -0.8955 4.00001 -2.00005 0 -1.10457 -1.7909 -2 -4.00001 -2 -2.20914 0 -4 0.89543 -4 2 0 1.10455 1.79086 2.00005 4 2.00005Z"
                        stroke-width="1.5"></path>
                    <path stroke="#ff9c66" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                        d="M4.79999 9.44995V12.85c0 1.1 1.8 1.9999 4 1.9999" stroke-width="1.5"></path>
                    <path stroke="#ff9c66" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                        d="M4.79999 12.8499v3.4c0 1.1 1.8 2 4 2" stroke-width="1.5"></path>
                    <path stroke="#ff9c66" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                        d="M15.6 16.45c2.2092 0 4 -0.8955 4 -2 0 -1.1046 -1.7908 -2 -4 -2 -2.2091 0 -4 0.8954 -4 2 0 1.1045 1.7909 2 4 2Z"
                        stroke-width="1.5"></path>
                    <path stroke="#ff9c66" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                        d="M11.6 14.45v3.3999c0 1.1 1.8 2 4 2s4 -0.9 4 -2V14.45" stroke-width="1.5"></path>
                    <path stroke="#ff9c66" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                        d="M11.6 17.8499v3.4c0 1.1 1.8 2 4 2s4 -0.9 4 -2v-3.4" stroke-width="1.5"></path>
                    <path stroke="#ff9c66" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                        d="M22.4535 13.55c0.4978 -0.8 0.7965 -1.7 0.7965 -2.7 0 -2.69999 -2.1903 -4.9 -4.8783 -4.9 -0.9956 0 -1.9912 0.30001 -2.7876 0.90001C14.8872 3.35001 11.9004 0.75 8.21681 0.75 4.13496 0.75 0.75 4.15 0.75 8.25c0 1.4 0.39823 2.7 1.09513 3.8"
                        stroke-width="1.5"></path>
                </svg>

                <h3 class="text-grid__heading">Infrastruktur</h3>
                <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
            </div>
            <div class="icon-card">
                <svg class="m-b-sm" height="40" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg" fill="none" id="Shield-Lock--Streamline-Ultimate">
                    <desc>Shield Lock Streamline Icon: https://streamlinehq.com</desc>
                    <path stroke="#ff9c66" stroke-linecap="round" stroke-linejoin="round"
                        d="M2.25003 3.92302V11.537c0.00002 2.4067 0.72932 4.7568 2.09176 6.7407 1.36244 1.9838 3.29406 3.5083 5.54024 4.3723l1.04097 0.4c0.6933 0.2667 1.4608 0.2667 2.154 0l1.041 -0.4c2.2462 -0.864 4.1778 -2.3885 5.5403 -4.3723 1.3624 -1.9839 2.0917 -4.334 2.0917 -6.7407V3.92302c0.0019 -0.28652 -0.079 -0.56749 -0.2329 -0.80912 -0.154 -0.24162 -0.3745 -0.43362 -0.6351 -0.55288C18.0819 1.33881 15.0552 0.721678 12 0.750018 8.94489 0.721678 5.9182 1.33881 3.11803 2.56102c-0.26052 0.11926 -0.48104 0.31126 -0.63502 0.55288 -0.15399 0.24163 -0.23489 0.5226 -0.23298 0.80912v0Z"
                        stroke-width="1.5"></path>
                    <path stroke="#ff9c66" stroke-linecap="round" stroke-linejoin="round"
                        d="M15 9.75H9c-0.82843 0 -1.5 0.6716 -1.5 1.5v4.5c0 0.8284 0.67157 1.5 1.5 1.5h6c0.8284 0 1.5 -0.6716 1.5 -1.5v-4.5c0 -0.8284 -0.6716 -1.5 -1.5 -1.5Z"
                        stroke-width="1.5"></path>
                    <path stroke="#ff9c66" stroke-linecap="round" stroke-linejoin="round"
                        d="M12 5.25c-0.7956 0 -1.5587 0.31607 -2.12132 0.87868C9.31607 6.69129 9 7.45435 9 8.25v1.5h6v-1.5c0 -0.79565 -0.3161 -1.55871 -0.8787 -2.12132C13.5587 5.56607 12.7956 5.25 12 5.25Z"
                        stroke-width="1.5"></path>
                    <path stroke="#ff9c66" d="M12 13.904c-0.2071 0 -0.375 -0.1679 -0.375 -0.375s0.1679 -0.375 0.375 -0.375"
                        stroke-width="1.5"></path>
                    <path stroke="#ff9c66" d="M12 13.904c0.2071 0 0.375 -0.1679 0.375 -0.375s-0.1679 -0.375 -0.375 -0.375"
                        stroke-width="1.5"></path>
                </svg>
                <h3 class="text-grid__heading">Security & Datenschutz</h3>
                <p>Salami flank kielbasa frankfurter sausage. Pork rump cow, pig short loin pork belly burgdoggen ribeye doner pork loin ham hock. Alcatra kielbasa capicola short ribs turkey porchetta bacon pig brisket hamburger pork belly. Jowl filet mignon kevin shankle.</p>
            </div>
        </div>
    </section>
    <section class="container-xl container-vertical-spacing-xl stripe stripe--gradient-2">
        <div class="page-layout-md--default center-section">
            <h2>Ablauf eines Reviews</h2>
            <ul class="bulletfree-list bulletfree-list--center">
                <li>Listitem 1 ist ein bisschen länger</li>
                <li>Listitem 2 ist kurz</li>
                <li>Listitem 3</li>
            </ul>
        </div>
        <div class="container-md center-section">
            <div class="icon-divider">
                <span class="icon icon-arrow-long-down icon--brand-primary icon-divider__image"></span>
            </div>
            <div class="label training">Abstimmen</div>
            <h3>Kickoff mit Stakeholdern</h3>
            <ul class="bulletfree-list bulletfree-list--center">
                <li>Listitem 1 ist ein bisschen länger</li>
                <li>Listitem 2 ist kurz</li>
                <li>Listitem 3</li>
            </ul>
            <div class="tuple-list__label">Dauer: 1-2 Wochen</div>
            <div class="icon-divider">
                <span class="icon icon-arrow-long-down icon--brand-primary icon-divider__image"></span>
            </div>
            <div class="label training">Verstehen</div>
        <h3>Interviews & Analysen</h3>
        <ul class="bulletfree-list bulletfree-list--center">
            <li>Listitem 1 ist ein bisschen länger</li>
            <li>Listitem 2 ist kurz</li>
            <li>Listitem 3</li>
        </ul>
        <div class="tuple-list__label">Dauer: 1-2 Wochen</div>
        <div class="icon-divider">
            <span class="icon icon-arrow-long-down icon--brand-primary icon-divider__image"></span>
        </div>
        <div class="label training">Darstellen, Bewerten, Empfehlen</div>
        <h3>Ergebnisbericht & Präsentation</h3>
        <ul class="bulletfree-list bulletfree-list--center">
            <li>Listitem 1 ist ein bisschen länger</li>
            <li>Listitem 2 ist kurz</li>
            <li>Listitem 3</li>
        </ul>        
        <div class="tuple-list__label">Dauer: 1-2 Wochen</div>

        <div class="color-container">
            <p>Der Ablauf ist bei längeren Reviews grundsätzlich der gleiche. Interviews und Analysen benötigen bei größeren Reviews
            allerdings deutlich mehr Zeit, die Abstimmungsphase und die Erstellung des Ergebnisberichts dauern dagegen nur
            geringfügig länger.</p>
        </div>
        </div>
    </section>
    <section class="container-xl container-vertical-spacing-xl stripe stripe--white">
        <div class="image-divider-right">
            <div class="image-divider-right-content">
                <div class="image-divider-right-textbox">

                    <div>
                        <h2>Warum INNOQ</h2>
                        <p class="m-t-md">
                        Unsere Consultants setzen sich seit 25 Jahren für KMU & Konzerne IT-Systeme jeder Größe um, als Architektinnen und
                        Architekten als auch in der Entwicklung.

                        Wir ziehen unsere Erfahrung aus dem tatsächlichen Tun - in Softwarearchitektur und -entwicklung, Plattformbetrieb und
                        Infrastrukturen sowie der digitalen Produktentwicklung.

                        Wir setzen Impulse dort, wo eine neue Perspektive gebraucht wird und bringen unsere Erfahrung ein um direkte Mehrwerte
                        ür den Kunden zu erzeugen.
                        </p>
                        <a class="btn btn--cta m-t-md" href="#book-workshop" data-label="Sprechen Sie mit uns">Sprechen Sie mit uns</a>
                    </div>
                </div>
                <img class="image-divider-right-image" itemprop="photo"
                    src="../../assets/bg-images/general/visual-culture-02.webp" alt="INNOQ Mitarbeitende" />
            </div>
        </div>
    </section>
    <div class="stripe stripe--secondary">
        <footer class="footer">
            <div class="footer__form">
                <h2 id="book-workshop" class="footer__heading">Interesse an einem Workshop?</h2>
                <p class="footer__paragraph"><strong>Sprechen Sie mit uns.</strong></p>
                <p class="footer__paragraph">Sed do eiusmod <a href="#" class="footer__link">tempor</a> incididunt ut labore
                    et dolore magna.</p>
                <form class="form--inverted">
                    <div class="form-group">
                        <label class="form-label" for="first_name">Name</label>
                        <input type="text" id="name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="last_name">Email</label>
                        <input type="email" id="email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="bio">Your message</label>
                        <textarea id="bio" class="form-control" rows="8"></textarea>
                    </div>
                    <button type="submit" class="btn btn--small btn--inverted">Submit</button>
                </form>
            </div>

            <div class="footer__list__section">
                <h2 class="footer__heading">Links</h2>
                <ul class="footer__list">
                    <li class="footer__list__item"><a href="#" class="footer__list__link">Newsletter</a></li>
                    <li class="footer__list__item"><a href="#" class="footer__list__link">Blog</a></li>
                </ul>
            </div>

            <div class="footer__list__section">
                <h2 class="footer__heading">Expertise</h2>
                <ul class="footer__list">
                    <li class="footer__list__item"><a href="#" class="footer__list__link">Strategie- und
                            Technologieberatung</a></li>
                    <li class="footer__list__item"><a href="#" class="footer__list__link">Entwicklung digitaler
                            Geschäftsmodelle</a></li>
                </ul>
            </div>

            <div class="footer__offices">
                <div class="footer__offices__section">
                    <h2 class="footer__heading">Offices</h2>
                    <h3 class="footer__subheading">INNOQ Deutschland GmbH</h3>
                    <ul class="footer__offices__section__list">
                        <li>
                            <address class="footer__address" itemprop="address" itemscope
                                itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress">Krischerstr. 100</span><br />
                                <span itemprop="postalCode">40789</span> <span itemprop="addressLocality">Monheim am
                                    Rhein</span><br />
                                Tel <span itemprop="telephone">(+49) 2173 3366 0</span><br />
                                <a href="https://goo.gl/maps/w3Yp3KicooD2" class="footer__directions-link">Directions</a>
                            </address>
                        </li>
                        <li>
                            <address class="footer__address" itemprop="address" itemscope
                                itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress">Krischerstr. 100</span><br />
                                <span itemprop="postalCode">40789</span> <span itemprop="addressLocality">Monheim am
                                    Rhein</span><br />
                                Tel <span itemprop="telephone">(+49) 2173 3366 0</span><br />
                                <a href="https://goo.gl/maps/w3Yp3KicooD2" class="footer__directions-link">Directions</a>
                            </address>
                        </li>
                        <li>
                            <address class="footer__address" itemprop="address" itemscope
                                itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress">Krischerstr. 100</span><br />
                                <span itemprop="postalCode">40789</span> <span itemprop="addressLocality">Monheim am
                                    Rhein</span><br />
                                Tel <span itemprop="telephone">(+49) 2173 3366 0</span><br />
                                <a href="https://goo.gl/maps/w3Yp3KicooD2" class="footer__directions-link">Directions</a>
                            </address>
                        </li>
                        <li>
                            <address class="footer__address" itemprop="address" itemscope
                                itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress">Krischerstr. 100</span><br />
                                <span itemprop="postalCode">40789</span> <span itemprop="addressLocality">Monheim am
                                    Rhein</span><br />
                                Tel <span itemprop="telephone">(+49) 2173 3366 0</span><br />
                                <a href="https://goo.gl/maps/w3Yp3KicooD2" class="footer__directions-link">Directions</a>
                            </address>
                        </li>
                        <li>
                            <address class="footer__address" itemprop="address" itemscope
                                itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress">Krischerstr. 100</span><br />
                                <span itemprop="postalCode">40789</span> <span itemprop="addressLocality">Monheim am
                                    Rhein</span><br />
                                Tel <span itemprop="telephone">(+49) 2173 3366 0</span><br />
                                <a href="https://goo.gl/maps/w3Yp3KicooD2" class="footer__directions-link">Directions</a>
                            </address>
                        </li>
                        <li>
                            <address class="footer__address" itemprop="address" itemscope
                                itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress">Krischerstr. 100</span><br />
                                <span itemprop="postalCode">40789</span> <span itemprop="addressLocality">Monheim am
                                    Rhein</span><br />
                                Tel <span itemprop="telephone">(+49) 2173 3366 0</span><br />
                                <a href="https://goo.gl/maps/w3Yp3KicooD2" class="footer__directions-link">Directions</a>
                            </address>
                        </li>
                    </ul>
                </div>

                <div class="footer__offices__section">
                    <h3 class="footer__subheading">INNOQ Schweiz GmbH</h3>
                    <ul class="footer__offices__section__list">
                        <li>
                            <address class="footer__address" itemscope itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress">Gewerbestr. 11</span><br />
                                <span itemprop="postalCode">6330</span> <span itemprop="addressLocality">Cham</span><br />
                                Tel <span itemprop="telephone">(+41) 41 743 01 11</span><br />
                                <a href="https://goo.gl/maps/N9qbZPPjr9R2" class="footer__directions-link">Directions</a>
                            </address>
                        </li>
                        <li>
                            <address class="footer__address" itemscope itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress">Albulastr. 55</span><br />
                                <span itemprop="postalCode">8048</span> <span itemprop="addressLocality">Zürich</span><br />
                                <a href="https://goo.gl/maps/s3CffwfWG362" class="footer__directions-link">Directions</a>
                            </address>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</main>

