

<div class="service-intro-grid">
  <clickable-area class="service-intro"
    ><h2 class="service-intro__header">
      <a href="#">Strategie- und Technologieberatung</a>
    </h2>
    <div class="service-intro__text">
      Nichts interessiert uns mehr als neue Technologie. Doch bei Strategie und
      Technologieberatung geht es uns nicht um das neueste, sondern um das, was
      am besten zu Ihnen und Ihren Aufgabenstellungen passt. Dank unserer
      branchenübergreifenden Erfahrung können wir Ihnen dazu die richtigen
      Fragen stellen und die richtigen Antworten gleich dazu liefern. Dabei
      profitieren Sie von unserem Wissensvorsprung. Damit Ihre Entscheidung
      zukunftsfähig ist.
    </div>
    <span
      class="icon-svg icon-arrow-long-right icon--brand-primary"
    ></span></clickable-area
  ><clickable-area class="service-intro"
    ><h2 class="service-intro__header">
      <a href="#">Entwicklung digitaler Geschäftsmodelle</a>
    </h2>
    <div class="service-intro__text">
      Ihre Fachexpertise und unser Entwicklung-Knowhow sind eine
      erfolgsversprechende Kombination. Im Software-as-a-Service-Modell (SaaS)
      transformieren wir Ihr neues oder bestehendes Geschäftsmodell in einen
      innovativen, digitalen Service für Ihre Kunden. Das gilt
      selbstverständlich für den gesamten Lebenszyklus – fachlich, technisch und
      kommerziell.
    </div>
    <span
      class="icon-svg icon-arrow-long-right icon--brand-primary"
    ></span></clickable-area
  ><clickable-area class="service-intro"
    ><h2 class="service-intro__header">
      <a href="#">Softwarearchitektur und -entwicklung</a>
    </h2>
    <div class="service-intro__text">
      Unsere langjährige Erfahrung als Softwarearchitekten und -entwickler lehrt
      uns vor allem eines: DIE Lösung gibt es nicht. Deshalb nehmen wir Ihre
      Software- und Systemarchitektur genau unter die Lupe und analysieren Ihre
      Unternehmensprozesse im Detail. Und deshalb arbeiten wir auch unabhängig
      von Herstellern und Produkten. Das Ergebnis ist so vielfältig, wie unsere
      Kunden. Doch ob Modernisierungskonzept oder neu entwickelte
      Individualsoftware, eines ist immer gleich: Der Nutzer steht im
      Mittelpunkt.
    </div>
    <span
      class="icon-svg icon-arrow-long-right icon--brand-primary"
    ></span></clickable-area
  ><clickable-area class="service-intro"
    ><h2 class="service-intro__header">
      <a href="#">Digitale Plattformen und Infrastrukturen</a>
    </h2>
    <div class="service-intro__text">Noch in Arbeit.</div>
    <span
      class="icon-svg icon-arrow-long-right icon--brand-primary"
    ></span></clickable-area
  ><clickable-area class="service-intro"
    ><h2 class="service-intro__header">
      <a href="#">Wissenstransfer, Coaching und Trainings</a>
    </h2>
    <div class="service-intro__text">
      Unsere öffentlichen Trainings, Inhouse-Schulungen und Coaching gestalten
      wir so, wie wir sie als Teilnehmer gerne selbst erleben: Die Schulungen
      sind interaktiv und unsere Trainer sind praktizierende Softwareentwickler
      und -architekten. Sie wenden täglich an, was sie lehren und sind immer auf
      dem neuesten technischen Stand. Und sie teilen gerne ihr Knowhow aus der
      Praxis.
    </div>
    <span class="icon-svg icon-arrow-long-right icon--brand-primary"></span
  ></clickable-area>
</div>

