

<ul class="social-media-bar">
    <li class="social-media-bar__item">
        <a href="#" class="social-media-bar__link" title="Twitter">
            <span class="icon icon-twitter icon--brand-primary"></span>
        </a>
    </li>
    <li class="social-media-bar__item">
        <a href="#" class="social-media-bar__link" title="Youtube">
            <span class="icon icon-youtube icon--brand-primary"></span>
        </a>
    </li>
    <li class="social-media-bar__item">
        <a href="#" class="social-media-bar__link" title="Linkedin">
            <span class="icon icon-linkedin icon--brand-primary"></span>
        </a>
    </li>
    <li class="social-media-bar__item">
        <a href="#" class="social-media-bar__link" title="Xing">
            <span class="icon icon-xing icon--brand-primary"></span>
        </a>
    </li>
</ul>

