

<header class="staff-header">
    <div class="staff-header-left"></div>
    <img class="staff-header-image" itemprop="photo" src="../../assets/example-content/heribert.jpg"  alt="Portrait von Heribert Innoq" />
    <address class="staff-header-info">
        <h2 class="staff-header-info__name" itemprop="fullName">Heribert Innoq</h2>
        <h3 class="staff-header-info__job-title" itemprop="jobTitle">Senior Consultant</h3>
    </address>
    <div class="staff-header-right"></div>
    <section class="staff-header-bio">
        <div class="staff-header-bio__text">
            <p>
            Filet mignon sausage tongue, hamburger porchetta fatback kielbasa flank
            ribeye. Pastrami t-bone pork chop sirloin ham swine cupim brisket Dies ist <a href="#!">ein Link</a> prosciutto buffalo drumstick strip steak capicola short loin.
            Frankfurter fatback turkey pork chop prosciutto pork ground round tongue
            chuck doner.
            </p>
        </div>
        <div class="staff-header-bio__social">
            <ul class="share-section__list">
                <li>
                    <a class="share-section__link" target="_blank" href="" title="Twitter">
                        <span class="icon-svg icon-twitter icon--brand-white"></span>
                    </a>
                </li>
                <li>
                    <a class="share-section__link" target="_blank" href="" title="Github">
                        <span class="icon-svg icon-github icon--brand-white"></span>
                    </a>
                </li>
                <li>
                    <a class="share-section__link" href="">
                        <span class="icon-svg icon-email icon--brand-white" title="Email"></span>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</header>

