

<header
  class="standard-header podcast-header--avatar--overlay"
  style="
    background-image: url(../../assets/example-content/heribert-rechts.png),
      url(../../assets/example-content/heribert-links.png);
  "
>
  <h3 class="standard-header__type">Podcast</h3>
  <h1 class="standard-header__title">Podcast Titel</h1>
  <h2 class="standard-header__subtitle">Ein Untertitel</h2>
  <div class="standard-header__intro">
    <time class="standard-header__intro__label">01.01.2018</time>
    <div class="standard-header__intro__text">
      Filet mignon sausage tongue, hamburger porchetta fatback kielbasa flank
      ribeye. Pastrami t-bone pork chop sirloin ham swine cupim brisket
      prosciutto buffalo drumstick strip steak capicola short loin. Frankfurter
      fatback turkey pork chop prosciutto pork ground round tongue chuck doner.
      Pig venison pork chop shoulder corned beef capicola meatball.
    </div>
  </div>
</header>

