

<aside class="toc">
    <h3 class="toc__heading">Inhalt</h3>
    <ol class="toc__list">
        <li><a class="toc__anchor" href="#dilemma">Das Dilemma: Innovation vs. Chaos</a></li>
        <li><a class="toc__anchor" href="#idee">Die Idee hinter Innovation Tokens</a></li>
        <li><a class="toc__anchor" href="#unbekannt">An die unbekannten Unbekannten denken</a></li>
        <li><a class="toc__anchor" href="#ballast">Kognitiven Ballast vermeiden</a></li>
        <li><a class="toc__anchor" href="#fokus">Fokus auf die Wertschöpfung legen</a></li>
        <li><a class="toc__anchor" href="#fazit">Fazit</a></li>
    </ol>
</aside>

