

<ul class="tag-list">
  <li class="tag-list__item"><a class="tag-list__link" href="#">Tag 1</a></li>
  <li class="tag-list__item"><a class="tag-list__link" href="#">Tag 2</a></li>
  <li class="tag-list__item"><a class="tag-list__link" href="#">Tag 3</a></li>
  <li class="tag-list__item"><a class="tag-list__link" href="#">Tag 4</a></li>
  <li class="tag-list__item"><a class="tag-list__link" href="#">Tag 5</a></li>
  <li class="tag-list__item"><a class="tag-list__link" href="#">Tag 6</a></li>
</ul>

