

<header class="text-header">
    <div class="text-header__body">
        <h1 class="text-header__title">
            Gemeinsam neue Wege gehen.
            <hr class="text-header__divider"/>
            Dinge tun, die etwas bewirken.
            <hr class="text-header__divider"/>
            Mit Technologie die Zukunft gestalten.
        </h1>
        <div class="text-header__text">
            Filet mignon sausage tongue, hamburger porchetta fatback kielbasa flank
            ribeye. Pastrami t-bone pork chop sirloin ham swine cupim brisket
            prosciutto buffalo drumstick strip steak capicola short loin.
            Frankfurter fatback turkey pork chop prosciutto pork ground round tongue
            chuck doner. Pig venison pork chop shoulder corned beef capicola
            meatball.
        </div>
        <span class="icon icon-arrow-long-down icon--brand-primary"></span>
    </div>
</header>

