

<p>Replace the div with your component</p>
<h2>Tile Grid Small</h2>
<section class="tile-grid-sm">
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
</section>
<h2>Tile Grid Medium</h2>
<section class="tile-grid-md">
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
  <div class="grid-demo"></div>
</section>

