

<ul class="toolbar">
    <li class="toolbar__item">
        <a href="#" class="toolbar__link">
            <span class="icon-svg icon-feedback icon--brand-secondary"></span>
            Feedback
        </a>
    </li>
    <li class="toolbar__item">
        <a href="#" class="toolbar__link">
            <span class="icon-svg icon-apple-itunes icon--brand-secondary"></span>
            Apple
        </a>
    </li>
    <li class="toolbar__item">
        <a href="#" class="toolbar__link">
            <span class="icon-svg icon-spotify icon--brand-secondary"></span>
            Spotify
        </a>
    </li>
    <li class="toolbar__item">
        <a href="#" class="toolbar__link">
            <span class="icon-svg icon-rss icon--brand-secondary"></span>
            RSS
        </a>
    </li>
    <li class="toolbar__item">
        <a href="#" class="toolbar__link">
            <span class="icon-svg icon-text icon--brand-secondary"></span>
            Transkript
        </a>
    </li>
</ul>

