

<a class=" list-teaser-training primary">
    <div class="list-teaser__body">
        <div class="list-teaser-training__caption">Untertitel</div>
        <h2 class="list-teaser-training__headline">Titel</h2>
        <div class="label-big badge badge--inverted">Labeltext</div>
    </div>
    <div class="list-teaser__footer">
        <span class="link-teaser">Termine &amp; Details</span>
    </div>
</a>

<a class="list-teaser-training secondary">
    <div class="list-teaser__body">
        <div class="list-teaser-training__caption">Untertitel</div>
        <h2 class="list-teaser-training__headline">Titel</h2>
        <div class="label-big badge">Labeltext</div>
    </div>
    <div class="list-teaser__footer">
        <span class="link-teaser inverted-interaction-color">Termine &amp; Details</span>
    </div>
</a>

