

<div class="triplet-divider">
  <div class="triplet-divider__left">Die einen designen Produkte.</div>
  <div class="triplet-divider__right">Die anderen entwickeln Software.</div>
  <div class="triplet-divider__center">
    <div class="page-layout-xl--default">
      <h2>INNOQ kann beides.</h2>
      <p class="lead">
        Für uns kann ein ausgereiftes Produkt nur dann entstehen, wenn Design
        und Entwicklung Hand in Hand arbeiten. Deshalb haben wir Module
        entwickelt, die ein ganzheitliches Vorgehen ermöglichen. Mit Methoden,
        die zum richtigen Zeitpunkt greifen – von der ersten vagen Idee bis zum
        fertigen Produkt, die von Anfang an Nutzergruppen mit einbeziehen und
        Prozesse beschleunigen.
      </p>
    </div>
  </div>
</div>

