

<section class="two-column-image-divider-asymmetric">
    <figure>
        <img class="two-column-image-divider-asymmetric__left-image two-column-image-divider-asymmetric__left-image--hoch" src="http://via.placeholder.com/600x800" alt="Bild mit Umrandung" />
    </figure>
    <figure>
        <img class="two-column-image-divider-asymmetric__left-image two-column-image-divider-asymmetric__right-image--hoch" src="http://via.placeholder.com/600x800" alt="Bild mit Umrandung" />
    </figure>
</section>

<section class="two-column-image-divider-asymmetric">
    <figure>
        <img class="two-column-image-divider-asymmetric__left-image two-column-image-divider-asymmetric__left-image--quer" src="http://via.placeholder.com/800x600" alt="Bild mit Umrandung" />
    </figure>
    <figure>
        <img class="two-column-image-divider-asymmetric__left-image two-column-image-divider-asymmetric__right-image--quer" src="http://via.placeholder.com/800x600" alt="Bild mit Umrandung" />
    </figure>
</section>

