.date-location-section {
  @extend %definition-list-simple;

  padding-top: $spacer-sm;
  border-top: 1px solid $date-location-section-border-color;
  border-bottom: 1px solid $date-location-section-border-color;
}
