.claim-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $claim-header-bg-color;
  min-height: 100vh;

  &__body {
    padding: 0 $spacer-sm;
    max-width: $default-page-layout-content-width-md;
    text-align: center;
  }

  &__type {
    text-transform: uppercase;
    color: $claim-header-type-color;
    font-size: $font-size-base;
  }

  &__title {
    margin-bottom: $spacer-md;
    color: $claim-header-title-color;
    font-size: $font-size-lg;
  }

  &__divider {
    margin-top: $spacer-base;
    border: 0;
    background-color: $claim-header-divider-color;
    width: ms(25);
    height: 4px;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .claim-header__title {
    margin-bottom: $spacer-base;
    font-size: $font-size-xl;
  }
}
