.product-list-teaser {
  @extend %block-link;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: $spacer-base;
  background-color: $list-teaser-product-background-color;
}

.product-list-teaser__body {
  padding: $spacer-base $spacer-base 0;
  border-bottom: 1px solid $list-teaser-product-border-color-muted;
  margin-bottom: $spacer-base;
}

.product-list-teaser__footer {
  padding: 0 $spacer-base $spacer-base;

  .tuple-list {
    margin-bottom: 0;
  }
}

.product-list-teaser__cta {
  @extend %block-link;
  @extend %heading-font-heavy;

  padding: $spacer-xs;
  background: $list-teaser-product-background-color-cta;
  color: $list-teaser-product-color-cta;
  font-size: $font-size-xs;
  text-align: center;
}

.product-list-teaser__caption {
  @extend %teaser-caption;

  height: $spacer-md;
  margin-bottom: $spacer-sm;
  color: $list-teaser-product-caption-color;
}

.product-list-teaser__headline {
  margin-bottom: $spacer-sm;
  color: $list-teaser-product-headline-color;
}

.product-list-teaser__text {
  @extend %body-font-italic;

  font-size: $font-size-sm;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .product-list-teaser__text {
    font-size: $font-size-md;
  }
}
