.timeline {
  position: relative;
  padding-left: 40px;
  border-left: 2px solid $brand-secondary;
}

.timeline-event {
  margin-top: $spacer-base;

  &__icon {
    position: absolute;
    left: -10px;

    width: 20px;
    height: 20px;

    background-color: $brand-primary;
    border-radius: 50%;
  }

  .timeline-list {
    @extend %body-font-sans;

    margin-left: 0;
    list-style-type: none;
  }
}

@media screen and (min-width: $grid-breakpoint-lg) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(50px, auto));
    gap: $spacer-xl;

    margin-top: $spacer-lg;

    border-top: 2px solid $brand-secondary;
    border-left: hidden;
  }

  .timeline-event {
    position: relative;

    &__icon {
      position: absolute;
      top: -45px;
      left: 40%;
      transform: translateX(-50%);
    }

    &__content {
      display: grid;
      grid-template-rows: subgrid;
      margin-left: 0;
    }
  }
}
