<div class="timeline">
    <div class="timeline-event">
        <div class="timeline-event__icon"></div>
        <div class="timeline-event__content">
            <h2>Aufgaben</h2>
            <ul class="bulletfree-list">
                <li class="m-t-xs">{{listitem}}</li>
                <li>{{listitem}}</li>
                <li>{{listitem}}</li>
            </ul>
        </div>
    </div>
    <div class="timeline-event">
        <div class="timeline-event__icon"></div>
        <div class="timeline-event__content">
            <h2>Interviews & Analysen</h2>
            <ul class="bulletfree-list">
                <li class="m-t-xs">{{listitem}}</li>
                <li>{{listitem}}</li>
                <li>{{listitem}}</li>
            </ul>
        </div>
    </div>
    <div class="timeline-event">
        <div class="timeline-event__icon"></div>
        <div class="timeline-event__content">
            <h2>Ergebnisbericht & Präsentation</h2>
            <ul class="bulletfree-list">
                <li class="m-t-xs">{{listitem}}</li>
                <li>{{listitem}}</li>
                <li>{{listitem}}</li>
            </ul>
        </div>
    </div>
</div>
