<header class="landing-page-header bg-image-edition-01">
    <div class="landing-page-header__body">
        <h1 class="landing-page-header__title bg-image-edition-01">Wir geben Technologie einen Sinn.<br /> Und Deinen
            Ideen eine Zukunft!</h1>
        <div class="landing-page-header__text">Wir beraten ehrlich, denken innovativ und entwickeln leidenschaftlich
            gern.
            Das Ergebnis sind erfolgreiche Softwarelösungen, Infrastrukturen und Geschäftsmodelle.
            Exzellentes Technologie-Know-how ist unsere zentrale Stärke und dank unserer Kolleg*innen wächst
            sie Tag für Tag. Aktuell sind wir über 160 Menschen, die daran arbeiten, unseren Kunden strategische
            und technologische Vorteile zu verschaffen.
        </div>
    </div>
</header>

<main class="main-layout job-page" role="main">
    <article class="article-layout-simple">
        <p>Wir verstärken unser Team und suchen Dich! Du administrierst gern IT-Systeme, denkst serviceorientiert und
            arbeitest selbstorganisiert.</p>
        <h1>IT-Systemadministrator*in (w/m/x)</h1>
        <h2>Deine Aufgaben</h2>
        <ul>
            <li>Installation, Betrieb und Weiterentwicklung von Linux-basierten Systemumgebungen</li>
            <li>Sicherstellung eines reibungslosen Betriebs, Entstörung und Troubleshooting</li>
            <li>Datensicherheit und Systemverfügbarkeit gewährleisten</li>
            <li>Aufsetzen von Virtualisierungslösungen und Clustern</li>
            <li>Unterstützung von Kolleg*innen bei technischen Problemen</li>
            <li>Automatisieren wiederkehrender Aufgaben</li>
            <li>Organisation, Bestellung und Bereitstellung von Computern für die Mitarbeitenden</li>
            <li>Verwaltung und Bereitstellung von SaaS-Anwendungen und Lizenzmanagement</li>
            <li>Dokumentation von Abläufen, Systemen und Umgebungen</li>
            <li>Umsetzung der Vorgaben des Informationssicherheitsmanagements</li>
            <li>Verwaltung der IT-Assets</li>
        </ul>
        <h2>Deine Qualifikationen</h2>
        <ul>
            <li>Virtualisierungs- und Cloud-Technologien (insbesondere AWS)</li>
            <li>Installation und Betrieb von Docker-Umgebungen und Container-Management-Lösungen</li>
            <li>Microsoft Exchange und Open Source Mail-Systeme</li>
            <li>JIRA, Confluence und GitLab (inkl. CI)</li>
            <li>Konfiguration von Mac- und Windows-Computern</li>
            <li>Installation und Wartung von TLS/SSL-Installation mit Zertifikatsmanagement (auch Let’s Encrypt)</li>
            <li>„Hands-on“-Mentalität, eine selbständige, kommunikationsstarke und verantwortungsbewusste Arbeitsweise
                sowie
                ein freundliches, aufgeschlossenes und hilfsbereites Wesen</li>
            <li>Abgeschlossene Ausbildung als Fachinformatiker*in, Studium im IT-Bereich oder mehrjährige
                Berufserfahrung
            </li>
            <li>Idealerweise verfügst Du über gute bis sehr gute Programmierkenntnisse</li>
        </ul>
        <h2>Deine Perspektiven</h2>
        <ul>
            <li>Arbeite eigenverantwortlich, kreativ und selbstbestimmt mit einem coolen Team zusammen — auf hohem
                Niveau. Im Homeoffice oder an einem unserer Standorte</li>
            <li>Handle initiativ – wenn Du etwas verbessern, ausprobieren oder komplett neu entwickeln willst: rede
                darüber und tu es</li>
            <li>Gestalte in unserer offenen Firmenkultur mit anderen die IT-Infrastruktur und Prozesse</li>
            <li>Nimm regelmäßig an Firmen-Events und Workshops im In- und Ausland teil (auch remote)</li>
        </ul>

    </article>

    <div class="stripe stripe--primary stripe--gray">
        <section class="container-xl container-vertical-spacing-xl">
            <div class="tile-grid-md">
                <a href="#" class="case-tile-teaser bg-image-culture-16 case-tile-teaser--sm">
                    <div class="case-tile-teaser__content case-tile-teaser__content--sm">
                        <div class="case-tile-teaser__body">

                            <h2 class="case-tile-teaser__headline case-tile-teaser__headline--sm">
                                Arbeiten bei INNOQ
                            </h2>
                            <div class="case-tile-teaser__text case-tile-teaser__text">
                                Lorem gibson 8-bit Freeside denim otaku sign boy neon warp long-chain
                                hydrocarbons car.
                            </div>
                        </div>
                        <div class="case-tile-teaser__goto">
                            <span class="btn btn--cta btn--small" data-label="Mehr erfahren">Mehr erfahren</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="case-tile-teaser bg-image-culture-06 case-tile-teaser--sm">
                    <div class="case-tile-teaser__content case-tile-teaser__content--sm">
                        <div class="case-tile-teaser__body">
                            <h2 class="case-tile-teaser__headline case-tile-teaser__headline--sm">
                                Unsere Kultur
                            </h2>
                            <div class="case-tile-teaser__text case-tile-teaser__text">
                                Lorem gibson 8-bit Freeside denim otaku sign boy neon warp long-chain
                                hydrocarbons car.
                            </div>
                        </div>
                        <div class="case-tile-teaser__goto">
                            <span class="btn btn--cta btn--small" data-label="Mehr erfahren">Mehr erfahren</span>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </div>
    <section class="contact-person contact-person--inverted bg-image-culture-08">
        <h3 class="section-heading--primary">Noch Fragen?</h3>
        <h4 class="contact-person__subheading">
            Du möchtest Dich bewerben, hast aber noch Fragen? Sprich uns persönlich an, wir antworten Dir gerne.
        </h4>
        <div class="contact-person__wrapper">
            <div rel="author" class="author-bio author-bio--large" itemscope itemtype="http://schema.org/Person">
                <div class="author-bio__image avatar avatar--xl">
                    <img itemprop="photo" class="avatar__image" src="{{ path '/assets/people/uschi-nettersheim.png'}}"
                        alt="Portrait von Uschi Nettersheim" />
                </div>
                <address class="author-bio__text">
                    <span rel="author" class="author-bio__name" itemprop="fullName">Uschi Nettersheim</span>
                    <a class="link-teaser inverted-interaction-color" href="#">Email an Uschi Nettersheim</a>
                </address>
            </div>
        </div>
    </section>
    <section class="container-xl container-vertical-spacing-xl">
        <a href="https://www.kununu.com/de/innoq-deutschland2" class="kununu-link">
            <img alt="kununu Top Company 2022"
                src="https://res.cloudinary.com/innoq/image/asset/kununu-2022-fc001e96f29a12565eb5eae9de38d45c.svg" />
            <img alt="kununu Top Company 2023"
                src="https://res.cloudinary.com/innoq/image/asset/kununu-2023-80343a0d61bde7067f7e3635f413a0fd.png" />
        </a>
        <a href="https://www.charta-der-vielfalt.de/ueber-uns/die-unterzeichner-innen/liste/zeige/innoq-deutschland-gmbh/"
            class="link-unstyled" style="width: 300px">
            <img alt="Charta der Vielfalt"
                src="https://res.cloudinary.com/innoq/image/asset/CdV-71eebec3e267c916d181917da7f543ff.svg" />
        </a>
    </section>
</main>
