.small-tile-teaser {
  @extend %block-link;
  @extend %hover-glow;
  @extend %box-shadow-primary-25-right-bottom;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: $spacer-md $spacer-sm;

  color: $small-tile-teaser-text-color;

  background-color: $small-tile-teaser-bg-color;

  .icon {
    display: block;
    align-self: flex-start;
    margin-top: $spacer-md;
  }
}

.small-tile-teaser__type {
  @extend %heading-font-bold;

  font-size: $font-size-xs;
  color: $brand-primary;
  text-transform: uppercase;
}

.small-tile-teaser__title {
  margin-top: $spacer-xs;
  color: $small-tile-teaser-text-color;
}

.small-tile-teaser__subtitle {
  @extend %heading-font-regular;

  margin-top: $spacer-xs;
  font-size: $font-size-base;
  color: $small-tile-teaser-text-color;
}
