.reference {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
}

.reference__image {
  margin: 0 auto $spacer-sm;
  max-width: 50%;
}

.reference__link {
  @extend %block-link;
  text-align: center;
}

.reference__description {
  @extend %heading-font-regular;

  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: $font-size-base;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .reference {
    margin-bottom: $spacer-lg;
  }

  .reference__image {
    margin: 0 auto $spacer-base;
    max-width: 40%;
  }
}
