<div class="cta-section">
    <h2>Kein passender Termin dabei?</h2>
    <p class="standalone">Gerne bieten wir Ihnen einen gesonderten Termin an!</p>
    <a class="btn btn--cta" data-label="Termin anfragen" href="#">Termin anfragen</a>
    <p class="display small"> 1 weiterer Termin verfügbar</p>
</div>

<div class="cta-section cta-section--dark-bg">
    <h2>Kein passender Termin dabei?</h2>
    <p class="standalone">Gerne bieten wir Ihnen einen gesonderten Termin an!</p>
    <a class="btn btn--cta btn--cta--inverted" data-label="Termin anfragen" href="#">Termin anfragen</a>
    <p class="display small"> 1 weiterer Termin verfügbar</p>
</div>
