// icon font
%icon,
.icon {
  position: relative;
  top: 2px;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "icons";
  font-size: 0.8em;
  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  -webkit-text-stroke-width: 1px;
  text-transform: none;
}

.icon-search {
  &::before {
    content: $icon-search;
  }
}

.icon-chevron-down {
  &::before {
    content: $icon-chevron-down;
  }
}

.icon-chevron-up {
  &::before {
    content: $icon-chevron-up;
  }
}

.icon-chevron-right {
  &::before {
    content: $icon-chevron-right;
  }
}

.icon-chevron-left {
  &::before {
    content: $icon-chevron-left;
  }
}
.icon-return {
  &::before {
    content: $icon-return;
  }
}

.icon-check {
  &::before {
    content: $icon-check;
  }
}

.icon-close {
  &::before {
    content: $icon-close;
  }
}

.icon-download {
  &::before {
    content: $icon-download;
  }
}

.icon-bubble-conversation-4 {
  &::before {
    content: $icon-bubble-conversation-4;
  }
}

.icon-info {
  &::before {
    content: $icon-info;
  }
}

.icon-phone {
  &::before {
    content: $icon-phone;
  }
}

.icon-location {
  &::before {
    content: $icon-location;
  }
}

.icon-chevron-2-down {
  &::before {
    content: $icon-chevron-2-down;
  }
}

.icon-chevron-2-left {
  &::before {
    content: $icon-chevron-2-left;
  }
}

.icon-chevron-2-right {
  &::before {
    content: $icon-chevron-2-right;
  }
}

.icon-chevron-2-up {
  &::before {
    content: $icon-chevron-2-up;
  }
}

.icon-location-filled {
  &::before {
    content: $icon-location-filled;
  }
}

// SVG icons
// TODO: Clean up svg icon classes after removing icon font
.icon-svg {
  display: inline-flex;
  width: $spacer-md;
  height: $spacer-md;
  align-self: center;
  background: $brand-gray;
  mask-repeat: no-repeat;
  mask-size: contain;
}

//Sizes
.icon-svg--small {
  width: $spacer-sm;
  height: $spacer-sm;
}

.icon--medium {
  width: $spacer-lg;
  height: $spacer-lg;
}

.icon--big {
  width: $spacer-xl;
  height: $spacer-xl;
}

// Colors
.icon--brand-primary {
  background: $brand-primary;
}

.icon--brand-secondary {
  background: $brand-secondary;
}

.icon--brand-white {
  background: $brand-white;
}

.icon--brand-gray {
  background: $brand-gray;
}

.icon--brand-yellow {
  background: $brand-yellow;
}

//Arrows
.icon-arrow-long-down {
  width: 0.75rem; // magic number
  height: 4.5rem; // magic number
  mask-image: asset-url("icons/arrow-long-down.svg");
  mask-repeat: no-repeat;
}

.icon-arrow-long-right {
  width: 4.5rem; // magic number
  height: 0.75rem; // magic number
  mask-image: asset-url("icons/arrow-long-right.svg");
}

.icon-arrow-medium-left {
  width: 2rem; // magic number
  height: 0.75rem; // magic number
  mask-image: asset-url("icons/arrow-medium-left.svg");
}

.icon-arrow-short-down {
  mask-image: asset-url("icons/arrow-short-down.svg");
}

.icon-arrow-sync {
  mask-image: asset-url("icons/arrow-sync.svg");
}

// Interface Icons
.icon-bookshelf {
  mask-image: asset-url("icons/bookshelf.svg");
}

.icon-certificate {
  mask-image: asset-url("icons/certificate.svg");
}

.icon-email {
  mask-image: asset-url("icons/email.svg");
}

.icon-feedback {
  mask-image: asset-url("icons/feedback.svg");
}

.icon-flame {
  mask-image: asset-url("icons/flame.svg");
}

.icon-globe {
  mask-image: asset-url("icons/globe.svg");
}

.icon-group-idea {
  mask-image: asset-url("icons/group-idea.svg");
}

.icon-interactive {
  mask-image: asset-url("icons/interactive.svg");
}

.icon-learning {
  mask-image: asset-url("icons/learning.svg");
}

.icon-rooms {
  mask-image: asset-url("icons/rooms.svg");
}

.icon-support {
  mask-image: asset-url("icons/support.svg");
}

.icon-trainer {
  mask-image: asset-url("icons/trainer.svg");
}

.icon-virtual {
  mask-image: asset-url("icons/virtual.svg");
}

.icon-minus {
  width: 1rem; // magic number
  height: 0.5rem; // magic number
  mask-image: asset-url("icons/minus.svg");
}

.icon-plus {
  width: 1rem; // magic number
  height: 1rem; // magic number
  mask-image: asset-url("icons/plus.svg");
}

.icon-text {
  mask-image: asset-url("icons/text.svg");
}

// Logos
.icon-apple-itunes {
  mask-image: asset-url("icons/apple-itunes.svg");
}

.icon-facebook {
  mask-image: asset-url("icons/facebook.svg");
}

.icon-leanpub {
  mask-image: asset-url("icons/leanpub.svg");
}

.icon-github {
  mask-image: asset-url("icons/github.svg");
}

.icon-linkedin {
  mask-image: asset-url("icons/linkedin.svg");
}

.icon-rss {
  mask-image: asset-url("icons/rss-boxed.svg");
}

.icon-rss-1 {
  mask-image: asset-url("icons/rss.svg");
}

.icon-spotify {
  mask-image: asset-url("icons/spotify.svg");
}

.icon-twitter {
  mask-image: asset-url("icons/twitter.svg");
}

.icon-xing {
  mask-image: asset-url("icons/xing.svg");
}

.icon-youtube {
  mask-image: asset-url("icons/youtube.svg");
}
