.case-teaser-grid {
  @extend %container-xl;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: $spacer-md;

  .case-teaser {
    margin-bottom: 0;
  }
}

.container-xl,
%container-xl {
  margin: 0 auto;
  max-width: $default-page-layout-content-width-xl;
  padding: $spacer-lg 0;
}

.span-4 {
  grid-column: span 4;
}

.span-3 {
  grid-column: span 3;
}

.span-5 {
  grid-column: span 5;
}
