.text-header {
  background-color: $text-header-bg-color;

  &__body {
    max-width: $default-page-layout-content-width-md;
    padding: $spacer-sm;
    margin: $spacer-lg auto;
    text-align: center;
  }

  &__title {
    margin-bottom: $spacer-base;
    color: $text-header-color;
    font-size: $font-size-xl;
  }

  &__text {
    @extend %body-font-italic;

    margin-bottom: $spacer-base;
    color: $text-header-color;
    font-size: $font-size-sm;
    line-height: $paragraph-line-height;
  }

  &__divider {
    width: ms(25);
    height: 4px;
    border: 0;
    margin-top: $spacer-base;
    background-color: $text-header-color;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .text-header__body {
    margin: $spacer-xl auto;
  }

  .text-header__title {
    margin-bottom: $spacer-lg;
    font-size: $font-size-xxxl;
  }

  .text-header__text {
    font-size: $font-size-lg;
  }
}
