long-quote > blockquote,
%longquote,
.longquote {
  margin-bottom: $spacer-md;
  text-align: center;

  > p {
    @extend %heading-font-heavy;
    color: $quote-color;
    font-size: $font-size-sm;

    &:lang(de) {
      &::before {
        content: "„";
      }

      &::after {
        content: "“";
      }
    }

    &:lang(en) {
      &::before {
        content: "“";
      }

      &::after {
        content: "”";
      }
    }
  }
}

%longquote__zigzag,
.longquote__zigzag {
  @extend %zigzag;

  display: block;
  margin: 0 auto $spacer-base;
  width: 80%;
}

%longquote__author,
.longquote__author {
  @extend %heading-font-bold;

  display: block;
  text-transform: uppercase;
  font-size: $font-size-base;
}

%longquote__role,
.longquote__role {
  @extend %body-font-italic;

  font-size: $font-size-base;
}

%longquote__avatar,
.longquote__avatar {
  margin-bottom: $spacer-xs;
}

@media screen and (min-width: $grid-breakpoint-md) {
  %longquote,
  .longquote {
    > p {
      font-size: $font-size-lg;
    }
  }
}
