.form-group {
  margin-bottom: $spacer-sm;

  .form-label + .form-control,
  .form-label > .form-control,
  .form-control + .form-text,
  .form-check__label + .form-text,
  .form-label + .form-check {
    margin-top: $spacer-xxs;
  }

  &--invalid {
    .form-label,
    .form-text {
      color: $form-label-invalid-color;
    }

    .form-control {
      border-color: $form-control-invalid-border-color;
    }
  }
}
