.cta-section {
  margin: $spacer-lg 0;
  text-align: center;

  > * + * {
    margin-top: $spacer-md;
  }
}

.cta-section--dark-bg {
  padding: $spacer-lg;
  background-color: $brand-secondary;

  > h2,
  p {
    color: $brand-white;
  }
}
