.legacy-modernization-page {
  background: $gradient-2;

  section p {
    @extend %body-font-sans;

    &.text-card__quote {
      @extend %body-font-italic;
    }
  }

  @media screen and (min-width: $grid-breakpoint-lg) {
    .big-content-teaser__headline {
      font-size: $font-size-xl;
    }
  }
}

.faq-section {
  align-items: flex-start;
  padding-right: $spacer-md;
  padding-left: $spacer-md;
}
