$topic-header-bg-width: 1444px; // Arbitrary value
$topic-header-bg-height: 1000px; // Arbitrary value

$topic-header-outer-padding: $spacer-lg;
$topic-header-inner-padding: $spacer-base;
$topic-header-top-offset: -($topic-header-inner-padding + $topic-header-outer-padding + $spacer-md + $spacer-sm);
$topic-header-left-offset: -($topic-header-inner-padding + $topic-header-outer-padding);

.topic-header {
  display: flex;
  background-repeat: no-repeat;
  background-position: top left;
  padding: $topic-header-outer-padding;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $standard-header-intro-bg;
    padding: $topic-header-inner-padding;
    color: $brand-text;
  }

  &__punch-in {
    background-clip: text;
    background-position: top $topic-header-top-offset left $topic-header-left-offset;
    background-size: $topic-header-bg-width $topic-header-bg-height;
    color: $brand-text;

    // sass-lint:disable no-vendor-prefixes
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    > * {
      // Prevent clipping of letters.
      margin: 0;
      padding-bottom: $spacer-base;

      // Don't ask! Just a littler hack for Safari to show knockout letters.
      // sass-lint:disable nesting-depth
      &::after {
        content: '\00a0';
      }
    }
  }

  &__title {
    margin-bottom: $spacer-xs;
    line-height: $standard-header-title-line-height-small;
    font-size: $standard-header-title-font-size-small;
  }

  &__type {
    @extend %heading-font-bold;
    margin-bottom: $spacer-xs;
    text-transform: uppercase;
    line-height: $standard-header-type-line-height-small;
    font-size: $standard-header-type-font-size-small;
  }

  &__tag {
    @extend %heading-font-regular;
  }

  &__text {
    @extend %body-font-italic;
    margin-bottom: $spacer-base;
    line-height: $standard-header-intro-line-height-small;
    font-size: $standard-header-intro-font-size-small;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .topic-header__title {
    line-height: $standard-header-title-line-height;
    font-size: $standard-header-title-font-size;
  }

  .topic-header__subtitle {
    line-height: $standard-header-subtitle-line-height;
    font-size: $standard-header-subtitle-font-size;
  }

  .topic-header__type {
    line-height: $standard-header-type-line-height;
    font-size: $standard-header-type-font-size;
  }

  .topic-header__text {
    line-height: $standard-header-intro-line-height;
    font-size: $standard-header-intro-font-size;
  }
}
