$content-teaser-height-sm: ms(30);
$content-teaser-height-md: ms(37);

.content-teaser {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacer-sm;
  width: 100%;
  min-height: $content-teaser-height-sm;
}


.content-teaser__body {
  margin-bottom: 0;
}

.content-teaser__footer {
  margin-bottom: 0;

  > * {
    margin: 0;
  }
}

.content-teaser__caption {
  @extend %teaser-caption;
  margin-bottom: $spacer-xs;
}

.content-teaser__header {
  @extend %h3;
}

.content-teaser__text {
  @extend %heading-font-regular;

  margin-bottom: $spacer-xs;
  line-height: $h4-line-height;
  font-size: $h4-font-size;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .content-teaser {
    min-height: $content-teaser-height-md;
  }
}


//
// Variants
//
.content-teaser--inverted {
  background-color: $content-teaser-inverted-bg;
  color: $content-teaser-inverted-color;

  .content-teaser__header {
    color: $content-teaser-accent-color;
  }

  .content-teaser__action > .link-arrow {
    color: $content-teaser-inverted-color;
  }
}

.content-teaser--colored {
  background-color: $content-teaser-colored-bg;
  color: $content-teaser-colored-color;
}

.content-teaser--default {
  background-color: $content-teaser-default-bg;
  color: $content-teaser-default-color;
}
