$two-column-image-divider-height-md: 4 * $spacer-xxl;
$two-column-image-divider-height-lg: 6 * $spacer-xxl;

.two-column-image-divider-asymmetric {
  display: flex;
}

.two-column-image-divider-asymmetric__left-image {
  overflow: hidden;
  flex-basis: 50%;
  flex-grow: 1;
  align-self: center;  
  padding: $spacer-md;
  margin: 0;

  > img {
    max-width: 100%;
    height: $two-column-image-divider-height-md / 1.5;
    object-fit: cover;
  }
}

.two-column-image-divider-asymmetric__right-image {
  overflow: hidden;
  flex-basis: 50%;
  flex-grow: 1;
  padding: $spacer-md;
  margin: 0;

  > img {
    max-width: 100%;
    height: $two-column-image-divider-height-md;
    object-fit: cover;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .two-column-image-divider-asymmetric__left-image {
    padding: $spacer-lg;
  
    > img {
      height: $two-column-image-divider-height-lg / 1.5;
    }
  }

  .two-column-image-divider-asymmetric__right-image {
    padding: $spacer-lg;

    > img {
      height: $two-column-image-divider-height-lg;
    }
  }
}
