$two-column-image-divider-height-md: 4 * $spacer-xxl;
$two-column-image-divider-height-lg: 6 * $spacer-xxl;

.two-column-image-divider-asymmetric {
  display: flex;
  width: $default-page-layout-width-xl;
  max-width: $default-page-layout-content-width-xl;  
  flex-direction: column;
  margin: 0 auto;
}

.two-column-image-divider-asymmetric__left-image,
.two-column-image-divider-asymmetric__right-image {
  overflow: hidden;
  flex-basis: 50%;
  flex-grow: 1;
  padding: $spacer-md;
  margin: 0;

  > img {
    @extend %box-shadow-primary-25-right-bottom;

    max-width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .two-column-image-divider-asymmetric {
    flex-direction: row;
  }

  .two-column-image-divider-asymmetric__left-image {
    align-self: center;  
    padding: $spacer-lg;

    > img { 
      height: $two-column-image-divider-height-md / 1.5;
    }
  }

  .two-column-image-divider-asymmetric__right-image {
    padding: $spacer-lg;

    > img  {
      height: $two-column-image-divider-height-md;
    }
  }
}
