$big-content-teaser-height-sm: ms(35);
$big-content-teaser-height-md: ms(40);

.wall-note {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.wall-note__content {
  display: flex;
  max-width: $default-page-layout-content-width-md;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacer-lg $spacer-base;
  margin: $spacer-sm;
  background-color: $wall-note-content-bg-color;

  > * + * {
    margin-top: $spacer-sm;
  }
}

.wall-note__heading {
  @extend %h1;

  font-size: $font-size-xxl;
  text-align: center;
}

.wall-note__subheading {
  @extend %teaser-caption;
}

.wall-note__text {
  @extend %body-font-italic;

  font-size: $font-size-sm;
  // IE11 Hack

  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    max-width: 100%;
  }
}

//Breakpoints
@media screen and (min-width: $grid-breakpoint-md) {
  .wall-note__content {
    padding: $spacer-xl $spacer-lg;
  }

  .wall-note__text {
    font-size: $font-size-lg;
  }
}
