wall-of-consent {
  display: block;
  width: 100%;
  padding: $spacer-sm;
}

wall-of-consent:not(.revealed) {
  background-color: $brand-apricot-25;
}

.wall-of-consent__text {
  @extend %heading-font-regular;

  font-size: $font-size-base;
}
