$gradient-from: rgba(0, 0, 0, 0.4);
$gradient-to: rgba(0, 0, 0, 0.1);
$topic-teaser-height: ms(36);

.topic-teaser {
  @extend %block-link;
  @extend %hover-glow;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacer-base;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  padding: $spacer-md;
  min-height: $topic-teaser-height;
  text-align: center;
  color: $topic-teaser-body-color;
}

.topic-teaser__body {
  width: 100%;
}

.topic-teaser__text {
  @extend %teaser-text-italic;

  margin-bottom: $spacer-base;
  font-size: $font-size-base;
}

.topic-teaser__header {
  @extend %link-unstyled;
  @extend %h2;

  margin-bottom: $spacer-md;
  color: $topic-teaser-body-color;
  font-size: $font-size-xl;
}

.topic-teaser__caption {
  @extend %teaser-caption;

  margin-bottom: $spacer-lg;
  height: $spacer-md;
}

.topic-teaser__cta {
  @extend %heading-font-bold;

  display: flex;
  flex-direction: column;

  .icon-svg {
    margin-top: $spacer-md;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .topic-teaser__header {
    margin-bottom: $spacer-base;
    font-size: $font-size-xxxl;
  }

  .topic-teaser__text {
    font-size: $font-size-md;
  }

  .topic-teaser__cta {
    @extend %heading-font-bold;

    flex-direction: row;
    justify-content: center;

    .icon-svg {
      margin-top: 0;
      margin-left: $spacer-xs;
    }
  }
}

@media screen and (min-width: $grid-breakpoint-lg) {
  .topic-teaser__body {
    width: 50%;
  }
}
