.list-teaser {
  @extend %list-teaser;

  border-top: 3px solid $list-teaser-border-color;
  background-color: $list-teaser-background-color;
}

.list-teaser__body {
  margin-bottom: 0;
  padding: $spacer-sm $spacer-md;

  & .label {
    &.talk,
    &.slides,
    &.training {
      display: none;
    }
  }
}

.list-teaser__footer {
  @extend %list-teaser-footer;

  .author-bio {
    margin-bottom: 0;
    color: $list-teaser-headline-color;
  }
}

.list-teaser__caption {
  @extend %teaser-caption;

  color: $list-teaser-caption-color;
}

.list-teaser__headline {
  @extend %h3;

  margin-bottom: $spacer-xxs;
  color: $list-teaser-headline-color;
}

.list-teaser__subheadline {
  @extend %heading-font-regular;

  margin-bottom: $spacer-xs;
  line-height: $paragraph-line-height-sm;
  font-size: $font-size-sm;

  .icon-svg {
    margin-left: $spacer-xxs;
  }
}

//
// Media Queries
//
@media screen and (min-width: $grid-breakpoint-md) {
  .list-teaser__subheadline {
    font-size: $font-size-md;
  }

  .list-teaser__body {
    & .label {
      &.talk,
      &.slides,
      &.training {
        display: inline-block;
        margin-bottom: $spacer-xs;
      }
    }
  }
}
