.cover {
  display: flex;
  overflow: hidden;
  width: 1600px;
  height: 800px;
  flex-direction: column;
  justify-content: space-between;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover__avatar-overlay {
  background-color: $podcast-teaser-overlay-color;
  background-position: top right, top left;
  background-repeat: no-repeat;
  background-size: contain;

  .cover__title,
  .cover__subtitle,
  .cover__type,
  .cover__author {
    color: $podcast-teaser-default-color;
  }
}

.cover__avatar-overlay--security {
  background-color: $podcast-teaser-overlay-color-sec;

  .cover__title,
  .cover__subtitle,
  .cover__type,
  .cover__author {
    color: $brand-gray;
  }
}

.cover__body {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 790px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* stylelint-disable-next-line selector-max-compound-selectors */
  > * + * {
    margin-top: $spacer-md;
  }
}

.cover__type {
  @extend %heading-font-bold;

  color: $standard-header-type-color;
  font-size: $font-size-base;
  text-transform: uppercase;
}

.cover__title {
  font-size: $font-size-xxxxl;
}

.cover_subtitle {
  font-size: $font-size-lg;
}

.cover__title,
.cover__subtitle,
.cover__type {
  max-width: $default-page-layout-content-width-md;
  margin-bottom: 0;
  color: $brand-white;
  text-align: center;
}

.cover__authors {
  position: absolute;
  bottom: $spacer-md;
  display: flex;
  width: 100%;
  max-width: $default-page-layout-content-width-md;
  justify-content: space-evenly;
  color: $brand-white;
}

.cover__author {
  @extend %heading-font-bold;

  font-size: $font-size-base;
  text-transform: uppercase;
}

.cover__footer {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 110px;
  align-items: center;
  justify-content: space-between;
  padding: $spacer-xxs $spacer-xl;
}

.cover__footer--primary {
  background-color: $brand-primary;
}

.cover__footer--secondary {
  background-color: $brand-secondary;
}

.cover__footer--white {
  background-color: $brand-white;
}

.cover__footer--single {
  justify-content: flex-end;
}

.cover__logo--left {
  height: 80px;
}

.cover__logo--right {
  height: 50px;
}

.cover__people {
  @extend %list-unstyled;

  display: flex;
  height: 100px;
  margin-bottom: 0;

  .author-bio {
    margin-bottom: 0;
  }

  .author-bio--short {
    margin-top: 0;
  }

  > :first-child {
    margin-right: $spacer-md;
  }
}
