$big-content-teaser-height-sm: ms(35);
$big-content-teaser-height-md: ms(38);

.big-content-teaser {
  @extend %block-link;

  display: flex;
  justify-content: center;
  min-height: $big-content-teaser-height-sm;
  background-blend-mode: multiply;
}

a.big-content-teaser {
  @extend %hover-glow;
}

.big-content-teaser__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacer-lg $spacer-base;
}

.big-content-teaser__headline {
  @extend %heading-font-heavy;

  font-size: $font-size-lg;
  color: $big-content-teaser-headline-color;
}

.big-content-teaser__text {
  @extend %heading-font-regular;

  margin-top: $spacer-md;
  font-size: $font-size-base;
  color: $big-content-teaser-text-color;
}

.big-content-teaser__footer {
  margin-top: $spacer-md;

  .link-teaser {
    display: inline;
  }
}

// Variations
.big-content-teaser--inverted {
  color: $big-content-teaser-text-color;
  background-color: $big-content-teaser-bg-color-secondary;

  .big-content-teaser__headline--inverted,
  .big-content-teaser__text {
    color: $big-content-teaser-headline-inverted-color;
  }
}

.big-content-teaser--colored {
  background-color: $big-content-teaser-bg-color-primary;
}

.big-content-teaser--image {
  .big-content-teaser__content {
    margin: $spacer-sm;
    padding: $spacer-sm;
    background-color: $big-content-teaser-bg-color;
  }

  .big-content-teaser__headline {
    color: $big-content-teaser-image-headline-color;
  }
}

.big-content-teaser--flex-start {
  justify-content: flex-start;
}

// Breakpoints
@media screen and (min-width: $grid-breakpoint-md) {
  .big-content-teaser {
    min-height: $big-content-teaser-height-md;
  }

  .big-content-teaser__content {
    padding: $spacer-xl $spacer-lg;
  }

  .big-content-teaser__headline {
    font-size: $font-size-xl;
  }

  .big-content-teaser__text {
    font-size: $font-size-sm;
  }

  .big-content-teaser--image {
    .big-content-teaser__content {
      margin: $spacer-base;
      padding: $spacer-base;
    }
  }
}