.newsletter-optin {
  $gradient-from: rgba(0, 0, 0, .6);
  $gradient-to: rgba(0, 0, 0, .3);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient($gradient-from, $gradient-to), asset-url('visual-newsletter.jpg');
  background-size: cover;
  padding: $spacer-lg;
  overflow: hidden;
  text-align: center;
  color: $newsletter-optin-color;
}

.newsletter-optin__title {
  @extend %h1;
  margin-bottom: $spacer-sm;
  color: $newsletter-optin-color;
}

.newsletter-optin__subtitle {
  @extend %h5;
  margin-bottom: $spacer-lg;
  color: $newsletter-optin-color;
}

.newsletter-optin__form {
  .form-control {
    border: 0;
    padding: $spacer-sm $spacer-md;
    font-size: $button-small-font-size;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .newsletter-optin__form {
    display: flex;
    justify-content: center;

    .form-group {
      margin-bottom: 0;
    }
  }
}
