<div class="newsletter-optin">
    <h2 class="newsletter-optin__title">The INNOQ Newsletter</h2>
    <form class="newsletter-optin__form" action="#" method="post">
        <div class="form-group">
            <label for="newsletter_email" class="sr-only">E-Mail</label>
            <input type="email" name="email" value="" class="form-control" id="newsletter_email" placeholder="Your email address" />
        </div>
        <button type="submit" class="btn btn--small btn--cta" data-label="Subscribe">Subscribe</button>
    </form>
</div>
