.footnote {
  @extend %link-unstyled;
  @extend %heading-font-regular;

  line-height: 1;
  color: $footnote-link-color;
}

.footnotes__list {
  @extend %list-unstyled;

  counter-reset: number;

  > * + * {
    margin-top: $spacer-md;
  }

  li,
  li > p {
    @extend %heading-font-regular;

    font-size: $font-size-xxs;
    line-height: $paragraph-line-height;

    /* stylelint-disable-next-line selector-max-compound-selectors */
    > * + * {
      margin-top: $spacer-sm;
    }
  }

  li {
    position: relative;
    padding-left: $spacer-sm;

    &::before {
      @extend %heading-font-bold;

      content: counter(number);
      counter-increment: number;

      position: absolute;
      left: -0.5rem;

      width: $spacer-sm;

      color: $footnote-index-color;
      text-align: right;
    }

    a {
      @extend %link-unstyled;

      color: $footnote-link-color;
      word-break: break-all;
    }
  }
}

.tooltip {
  max-width: 90%;
  padding: $spacer-lg $spacer-md;
  background-color: $tooltip-background-color;
  box-shadow: 1px 0 20px 1px $tooltip-shadow-color;

  p {
    @extend %heading-font-regular;

    margin: 0;
    font-size: $font-size-xxs;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .footnotes__list {
    li,
    li > p {
      font-size: $font-size-base;
    }
  }

  .tooltip {
    max-width: 40%;

    p {
      font-size: $font-size-base;
    }
  }
}
