<main role="main" class="services-page">
    <header class="text-header">
        <div class="text-header__body">
            <h1 class="text-header__title">
                Gemeinsam neue Wege gehen. <br />
                Dinge tun, die etwas bewirken. <br />
                Mit Technologie die Zukunft gestalten.
            </h1>
            <div class="text-header__text">
                Filet mignon sausage tongue, hamburger porchetta fatback kielbasa flank
                ribeye. Pastrami t-bone pork chop sirloin ham swine cupim brisket
                prosciutto buffalo drumstick strip steak capicola short loin.
                Frankfurter fatback turkey pork chop prosciutto pork ground round tongue
                chuck doner. Pig venison pork chop shoulder corned beef capicola
                meatball.
            </div>
            <img src={context.app.uri('assets/arrow-long-down-red.svg')} />
        </div>
    </header>

    <section class="page-layout-xl--default">
        <div class="blocks">
            <a href="#" class="teaser big-content-teaser big-content-teaser--inverted">
                <div class="big-content-teaser__content">
                    <div class="big-content-teaser__body">
                        <h2 class="big-content-teaser__headline big-content-teaser__headline--inverted"> Entwicklung digitaler Geschäftsmodelle</h2>
                        <p class="big-content-teaser__text">
                            Lorem gibson 8-bit Freeside denim otaku sign boy neon warp long-chain hydrocarbons car.
                        </p>
                    </div>
                    <div class="big-content-teaser__footer">
                        <div class="link-teaser inverted-interaction-color" href="#">Mehr erfahren</div>
                    </div>
                </div>
            </a>
            <a href="#" class="teaser big-content-teaser big-content-teaser--image big-content-teaser-bg-image-igel">
                <div class="big-content-teaser__content">
                    <div class="big-content-teaser__body">
                        <h2 class="big-content-teaser__headline">Strategie- und Technologieberatung</h2>
                        <p class="big-content-teaser__text">
                            Lorem gibson 8-bit Freeside denim otaku sign boy neon warp long-chain hydrocarbons car.
                        </p>
                    </div>
                    <div class="big-content-teaser__footer">
                        <div class="link-teaser" href="#">Mehr erfahren</div>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <section>
        <div class="case-teaser topic-header-bg-image-heads">
            <div class="case-teaser__wrapper">
                <div class="case-teaser__body">
                    <div class='case-teaser__punch-in topic-header-bg-image-text-box-heads'>
                        <div class="case-teaser__header">
                            <h1>Softwarearchitektur und -entwicklung</h1>
                        </div>
                    </div>
                    <div class="case-teaser__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit doloremque culpa minima vero quod, optio itaque nisi deserunt, debitis ad laudantium libero, quia nemo!
                    </div>
                    <div><a class="link-teaser" href="#">Mehr erfahren</a></div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-layout-xl--default">
        <div class="blocks">
            <a href="#" class="teaser big-content-teaser big-content-teaser--image big-content-teaser-bg-image-ice">
                <div class="big-content-teaser__content filled-background">
                    <div class="big-content-teaser__body">
                        <h2 class="big-content-teaser__headline"> Wissenstransfer, Coaching und Trainings</h2>
                        <p class="big-content-teaser__text">
                            Lorem gibson 8-bit Freeside denim otaku sign boy neon warp long-chain hydrocarbons car.
                        </p>
                    </div>
                    <div class="big-content-teaser__footer">
                        <div class="link-teaser" href="#">Mehr erfahren</div>
                    </div>
                </div>
            </a>
            <a href="#" class="teaser big-content-teaser big-content-teaser--colored">
                <div class="big-content-teaser__content">
                    <div class="big-content-teaser__body">
                        <h2 class="big-content-teaser__headline">Digitale Plattformen und Infrastrukturen</h2>
                        <p class="big-content-teaser__text">
                            Lorem gibson 8-bit Freeside denim otaku sign boy neon warp long-chain hydrocarbons car.
                        </p>
                    </div>
                    <div class="big-content-teaser__footer">
                        <div class="link-teaser inverted-text-color" href="#">Mehr erfahren</div>
                    </div>
                </div>
            </a>
        </div>
    </section>
</main>
