$content-teaser-height-sm: ms(30);
$content-teaser-height-md: ms(36);

.content-teaser {
  @extend %block-link;
  @extend %hover-glow;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-height: $content-teaser-height-sm;
  padding: $spacer-sm;
}

.content-teaser__footer {
  display: flex;
  flex-wrap: wrap;
  gap: $spacer-xs;
  justify-content: space-between;
}

.content-teaser__caption {
  @extend %teaser-caption;

  margin-bottom: $spacer-xs;
}

.content-teaser__header {
  @extend %h3;
}

.content-teaser__text {
  @extend %heading-font-regular;

  margin-bottom: $spacer-md;
  font-size: $font-size-base;
}

//
// Variants
//

.content-teaser--inverted {
  color: $content-teaser-inverted-color;
  background-color: $content-teaser-inverted-bg;

  .content-teaser__header {
    color: $content-teaser-accent-color;
  }

  .author-bio {
    color: $content-teaser-inverted-color;
  }
}

.content-teaser--colored {
  color: $content-teaser-colored-color;
  background-color: $content-teaser-colored-bg;

  .content-teaser__header {
    color: $content-teaser-colored-color;
  }
}

.content-teaser--default {
  color: $content-teaser-default-color;
  background-color: $content-teaser-default-bg;

  .content-teaser__header {
    color: $content-teaser-colored-color;
  }
}

//
// Media Queries
//

@media screen and (min-width: $grid-breakpoint-md) {
  .content-teaser {
    min-height: $content-teaser-height-md;
  }
}

@media screen and (min-width: $grid-breakpoint-lg) {
  .content-teaser__text {
    font-size: $font-size-md;
  }
}
