.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown__menu {
  display: none;
  position: absolute;
  left: 0;
  margin-top: 2px; // FIXME: Avoid obstructing certain low hanging letters like "g"
  background-color: $dropdown-menu-body-bg;
  padding: 0 $spacer-sm $spacer-sm;

  &--transparent {
    background-color: transparent;
  }
}

.dropdown__toggle {
  display: inline-block;
}

// sass-lint:disable force-pseudo-nesting
.dropdown__checkbox:focus + .dropdown__toggle {
  outline: none;
  color: $dropdown-link-hover-color;
}

.dropdown__checkbox:checked + .dropdown__toggle--expanded-text {
  display: inline;
}

.dropdown__checkbox:checked + .dropdown__toggle--collapsed-text {
  display: none;
}

.dropdown__checkbox:not(:checked) + .dropdown__toggle--expanded-text {
  display: none;
}

.dropdown__checkbox:not(:checked) + .dropdown__toggle--collapsed-text {
  display: inline;
}

.dropdown__checkbox:checked ~ .dropdown__menu {
  display: block;
}

[data-menu-origin='right'] {
  right: 0;
  left: auto;
}

.dropdown__list {
  @extend %list-unstyled;
  margin-bottom: 0;
}

.dropdown__link {
  display: block;
  margin-top: $spacer-sm;
  min-width: 100%;
  white-space: nowrap;
}
