//
// Teaser page layout
//

.teaser-page-layout {
  margin-top: $article-margin;
  margin-right: auto;
  margin-bottom: $article-margin;
  margin-left: auto;
  width: 95%;
  max-width: $article-grid-width;
}
