<main role="main">
    <article class="teaser-page-layout">
        <h2 class="teaser-section-headline">INNOQ Podcasts</h2>
        <div class="blocks">
            <div class="podcast-teaser podcast-teaser--avatar--overlay" style="background-image: url('/static/robert_podcast.png');">
                <div class="podcast-teaser__body">
                    <div class="podcast-teaser__caption">Podcast</div>
                    <h2 class="podcast-teaser__headline">Podcast Headline</h2>
                    <h3 class="podcast-teaser__subheadline">
                        Podcast Subheadline
                    </h3>
                    <img src="/static/arrow-long-right-white.svg" />
                </div>
                <div class="podcast-teaser__footer">
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                </div>
            </div>

            <div class="podcast-teaser podcast-teaser--default">
                <div class="podcast-teaser__body">
                    <div class="podcast-teaser__caption">Podcast</div>
                    <h2 class="podcast-teaser__headline">Podcast Headline</h2>
                    <h3 class="podcast-teaser__subheadline">
                        Podcast Subheadline
                    </h3>
                    <img src="/static/arrow-long-right-white.svg" />
                </div>
                <div class="podcast-teaser__footer">
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                </div>
            </div>

            <div class="podcast-teaser podcast-teaser--avatar" style="background-image: url('/static/robert_podcast.png');">
                <div class="podcast-teaser__body">
                    <div class="podcast-teaser__caption">Podcast</div>
                    <h2 class="podcast-teaser__headline">Podcast Headline</h2>
                    <h3 class="podcast-teaser__subheadline">
                        Podcast Subheadline
                    </h3>
                    <img src="/static/arrow-long-right-red.svg" />
                </div>
                <div class="podcast-teaser__footer">
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                </div>
            </div>
        </div>

        <div class="blocks">
            <div class="podcast-teaser podcast-teaser--default">
                <div class="podcast-teaser__body">
                    <div class="podcast-teaser__caption">Podcast</div>
                    <h2 class="podcast-teaser__headline">Podcast Headline</h2>
                    <h3 class="podcast-teaser__subheadline">
                        Podcast Subheadline
                    </h3>
                    <img src="/static/arrow-long-right-white.svg" />
                </div>
                <div class="podcast-teaser__footer">
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                </div>
            </div>

            <div class="podcast-teaser two-column podcast-teaser--avatar--overlay--big" style="background-image: url('/static/robert_podcast.png'), url('/static/robert_podcast_left.png');">
                <div class="podcast-teaser__body">
                    <div class="podcast-teaser__caption">Podcast</div>
                    <h2 class="podcast-teaser__headline">Podcast Headline</h2>
                    <h3 class="podcast-teaser__subheadline">
                        Podcast Subheadline
                    </h3>
                    <img src="/static/arrow-long-right-white.svg" />
                </div>
                <div class="podcast-teaser__footer">
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                </div>
            </div>
        </div>

        <div class="blocks">
            <div class="podcast-teaser two-column podcast-teaser--avatar--overlay" style="background-image: url('/static/robert_podcast.png');">
                <div class="podcast-teaser__body">
                    <div class="podcast-teaser__caption">Podcast</div>
                    <h2 class="podcast-teaser__headline">Podcast Headline</h2>
                    <h3 class="podcast-teaser__subheadline">
                        Podcast Subheadline
                    </h3>
                    <img src="/static/arrow-long-right-white.svg" />
                </div>
                <div class="podcast-teaser__footer">
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                </div>
            </div>
            <div class="podcast-teaser podcast-teaser--default">
                <div class="podcast-teaser__body">
                    <div class="podcast-teaser__caption">Podcast</div>
                    <h2 class="podcast-teaser__headline">Podcast Headline</h2>
                    <h3 class="podcast-teaser__subheadline">
                        Podcast Subheadline
                    </h3>
                    <img src="/static/arrow-long-right-white.svg" />
                </div>
                <div class="podcast-teaser__footer">
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
