.podcast-overview-page {
  .topic-header {
    margin-bottom: $spacer-lg;
  }

  .toolbar__link {
    &:hover,
    &:focus {
      color: $brand-white;
    }

    .icon-svg {
      background: $brand-secondary;
    }

    .icon-svg:hover,
    .icon-svg:focus {
      background: $brand-white;
    }
  }
}
