.author-bio {
  margin-bottom: $spacer-base;

  &.author-bio--short {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
}

.author-bio__name {
  @extend %author-name;
}

.author-bio__link {
  @extend %link-unstyled;
  white-space: normal;
  hyphens: none;
}

.author-bio__info {
  @extend %author-role;
}

.author-bio__anchor {
  position: relative;

  &::before {
    @extend %icon;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    background-color: $author-bio-link-background-color;
    width: $spacer-md;
    height: $spacer-md;
    text-align: center;
    line-height: $spacer-md;
    color: $author-bio-link-color;
    content: $icon-arrow-down;
  }
}

.author-bio__image {
  margin-right: $spacer-md;
}

@media screen and (min-width: $grid-breakpoint-xl) {
  .author-bio {
    &.author-bio--short {
      width: 49%;
    }
  }
}
