.author-bio {
  &.author-bio--short {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
}

.author-bio__name {
  @extend %author-name;
}

.author-bio__link {
  @extend %link-unstyled;
}

.author-bio__info {
  @extend %author-role;
}

.author-bio__anchor {
  position: relative;

  &::before {
    @extend %icon;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    background-color: $brand-interaction;
    width: $spacer-md;
    height: $spacer-md;
    text-align: center;
    line-height: $spacer-md;
    color: $brand-white;
    content: $icon-arrow-down;
  }
}

.author-bio__image {
  margin-right: $component-spacer-author-bio-horizontal;
}
