<div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
    <div class="author-bio__image avatar avatar--small">
        <a class="author-bio__anchor avatar__link" href="#author-bio">
            <img class="avatar__image" itemprop="photo" src="https://innoq.com/assets/uploads/staff_member/photo/alex/thumb_DSC02016_2.jpg" alt="Portrait von Alexander Hesingfeld" />
        </a>
    </div>
    <div class="author-bio__text">
        <div class="author-bio__name" itemprop="name">
            <a class="author-bio__link" itemprop="url" href="/de/staff/alexander-heusingfeld/">Alexander Heusingfeld</a>
        </div>
        <div class="author-bio__info" itemprop="jobTitle" >Senior Consultant</div>
    </div>
</div>
