$navbar-navbtn-transition: color 0.175s ease;
$navbar-drill-transition: left 0.5s ease;
$navbar-primary-font-size: ms(3);
$navbar-secondary-font-size: ms(-2);

//
// navbar
//
nav-bar {
  &.navbar {
    @extend %heading-font-regular;

    position: relative;
    z-index: 1;
    background-color: $navbar-body-bg;
    color: $navbar-link-color;

    &--transparent {
      background-color: transparent;
    }
  }

  .navbar__inner {
    display: flex;
    width: 100%;
    max-width: $grid-page-layout-width;
    flex-flow: row wrap;
    flex-grow: 1;
    align-content: flex-start;
    justify-content: flex-end;
    margin: 0 auto;
    background-color: $navbar-body-bg;
  }

  //
  // navbtn // buttons and links in navigation context
  //
  .navbtn {
    @extend %heading-font-regular;

    position: relative;
    display: inline-block;
    border: 0;
    background-color: transparent;
    color: $navbar-link-color;
    cursor: pointer;
    text-decoration: none;
    transition: $navbar-navbtn-transition;
    white-space: nowrap;
  }

  .navbtn--skip {
    position: absolute;
    top: -4rem;
    left: 10px;
    text-transform: uppercase;
  }

  .navbtn--skip:focus {
    top: 2px;
    left: 10px;
  }

  .navbtn--primary {
    @extend %heading-font-bold;
  }

  .navbtn--drill-up {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
    padding: $spacer-xs $navbar-padding;
    background-color: $navbar-lightened-bg;
    text-align: right;
  }

  .navbtn--search,
  .navbtn--menu {
    top: -0.1em;
  }

  .navbtn--search {
    padding: 0 0 0 $spacer-md;

    .icon-search {
      width: 1.2rem;
      height: 1.2rem;
    }

    .icon:hover,
    .icon:focus {
      background: $brand-primary;
    }
  }

  .navbtn--menu {
    @extend %heading-font-bold;

    padding: 0 $spacer-md 0 0;
  }

  .navbtn--active::after {
    position: absolute;
    top: 1.3em;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $navbar-link-active-color;
    content: '';
  }

  .navbtn--meta {
    margin-right: $spacer-base * 0.55;

    &.navbtn--locale {
      margin-right: 2px;
      margin-left: 2px;
    }

    &.navbtn--active::after {
      height: 2px;
    }
  }

  .navbtn:hover,
  .navbtn:focus {
    color: $navbar-link-hover-color;
    transition: $navbar-navbtn-transition;
  }

  //
  // navbar__brand // and related things
  //
  .navbar__brand {
    height: $navbar-brandbar-height-small;
    flex-grow: 1;
    padding: $navbar-padding 0 $navbar-padding $navbar-padding;
  }

  .navbar__brand-link {
    @extend %link-unstyled;
  }

  .navbar__logo {
    width: $navbar-logo-height-small * 3.94;
    height: $navbar-logo-height-small;
  }

  //
  // navbar__meta // container
  //
  .navbar__meta {
    display: none;
    width: 100%;
    height: $navbar-bottombar-height-small;
    align-items: center;
    justify-content: center;
    order: 4;
    padding: $spacer-sm;
    padding-right: 0;
    background-color: $navbar-lightened-bg;
    font-size: $navbar-secondary-font-size * 0.9;
    text-transform: uppercase;
  }

  //
  // navbar__togglers // container
  //
  .navbar__togglers {
    display: flex;
    height: $navbar-brandbar-height-small;
    align-items: center;
    order: 2;
    padding: $navbar-padding;
  }

  //
  // main toggles
  //
  .navbar__toggle-state--menu-toggler:checked ~ .primary-nav {
    display: block;
  }

  .navbar__toggle-state--menu-toggler:checked ~ .navbar__meta {
    display: flex;
  }

  //
  // primary-nav // main navigation row
  //
  .primary-nav {
    position: relative;
    display: none;
    width: 100%;
    order: 3;
    margin-bottom: 0;
    background-color: $navbar-lightened-bg;
  }

  .primary-nav__list {
    @extend %heading-font-bold;
    @extend %list-unstyled;

    position: relative;
    width: 100%;
    height: calc(90vh - #{$navbar-bottombar-height-small} - #{$navbar-brandbar-height});
    padding: $navbar-padding * 2 $navbar-padding $spacer-sm;
    margin: 0;
    font-size: $navbar-primary-font-size;
  }

  .primary-nav__item {
    position: relative;
    padding-top: $navbar-padding;
  }

  //
  // dropdown // in navbar context
  //
  .dropdown__list-wrapper--navbar {
    @extend %heading-font-regular;

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 $spacer-md $spacer-md;
    background-color: $navbar-lightened-bg;
    font-size: $navbar-primary-font-size;

    &:hover {
      display: block;
    }
  }

  .dropdown__item--navbar {
    padding-top: $navbar-padding;
  }

  .dropdown__link--navbar {
    white-space: normal;
  }

  //
  // --transparent
  //
  .navbar__inner--transparent,
  .navbar--transparent {
    background-color: transparent;
  }
}
