.standard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $spacer-xl;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  padding-top: $spacer-lg;

  &__title {
    margin-bottom: $spacer-xs;
    text-align: center;
    line-height: $standard-header-title-line-height-small;
    color: $standard-header-title-color;
    font-size: $standard-header-title-font-size-small;

    &--separated {
      margin-top: $spacer-xxl;
    }
  }

  &__subtitle {
    margin-bottom: $spacer-xs;
    line-height: $standard-header-subtitle-line-height-small;
    color: $standard-header-subtitle-color;
    font-size: $standard-header-subtitle-font-size-small;
  }

  &__type {
    @extend %heading-font-bold;
    margin-bottom: $spacer-xs;
    text-transform: uppercase;
    line-height: $standard-header-type-line-height-small;
    color: $standard-header-type-color;
    font-size: $standard-header-type-font-size-small;
  }
}

.standard-header--inverted {
  .standard-header__title {
    color: $standard-header-inverted-title-color;
  }

  .standard-header__type {
    color: $standard-header-inverted-type-color;
  }

  .standard-header__subtitle {
    color: $standard-header-inverted-subtitle-color;
  }
}

.standard-header__intro {
  position: relative;
  top: $spacer-lg;
  margin-top: $spacer-md;
  background-color: $standard-header-intro-bg;
  padding: $spacer-md;
  width: $article-width;
  box-sizing: content-box;
}

.standard-header__intro__headline {
  text-align: left;
}

.standard-header__intro__text {
  @extend %body-font-italic;
  line-height: $standard-header-intro-line-height-small;
  font-size: $standard-header-intro-font-size-small;
}

.standard-header__intro__date {
  @extend %heading-font-bold;
  display: block;
  position: relative;
  top: -2.6rem; // FIXME
  background-color: $standard-header-intro-date-bg;
  padding: $spacer-xxs $spacer-xs;
  line-height: $standard-header-intro-date-line-height-small;
  color: $standard-header-intro-date-color;
  font-size: $standard-header-intro-date-font-size-small;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .standard-header {
    margin-bottom: $spacer-xxl;
  }

  .standard-header__title {
    line-height: $standard-header-title-line-height;
    font-size: $standard-header-title-font-size;
  }

  .standard-header__subtitle {
    line-height: $standard-header-subtitle-line-height;
    font-size: $standard-header-subtitle-font-size;
  }

  .standard-header__type {
    line-height: $standard-header-type-line-height;
    font-size: $standard-header-type-font-size;
  }

  .standard-header__intro {
    top: $spacer-xxl;
    padding: $spacer-lg;
    width: $article-width-md;
  }

  .standard-header__intro__text {
    line-height: $standard-header-intro-line-height;
    font-size: $standard-header-intro-font-size;
  }

  .standard-header__intro__date {
    top: -4.1rem; // FIXME
    padding: $spacer-xs $spacer-sm;
  }
}

@media screen and (min-width: $grid-breakpoint-lg) {
  .standard-header__intro {
    width: $article-width-lg;
  }
}

@media screen and (min-width: $grid-breakpoint-xl) {
  .standard-header__intro {
    width: $article-width-xl;
  }
}
