.avatar {
  display: inline-block;
  position: relative;
}

.avatar__image {
  border-radius: 100%;

  .avatar--small & {
    width: 84px;
    height: auto;
  }
}

.avatar__link {
  @extend %link-unstyled;

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    color: $brand-text;
    content: '⬇️';
  }
}
