.avatar {
  display: inline-block;
  filter: grayscale(100%);
}

.avatar__image {
  border-radius: 100%;

  .avatar--xs & {
    width: $avatar-size-xs;
    height: auto;
  }

  .avatar--sm &,
  .avatar--small & {
    width: $avatar-size-sm;
    height: auto;
  }

  .avatar--base & {
    width: $avatar-size-base;
    height: auto;
  }
}

.avatar__link {
  @extend %link-unstyled;
}
