.avatar {
  display: inline-block;
}

.avatar__image {
  border-radius: 100%;

  .avatar--small & {
    width: $avatar-size-small;
    height: auto;
  }
}

.avatar__link {
  @extend %link-unstyled;
}
