$case-teaser-bg-width: 1444px; // Arbitrary value
$case-teaser-bg-height: 1000px; // Arbitrary value
$case-teaser-height: ms(38);

.case-teaser {
  @extend %page-header;
  @extend %list-teaser;

  justify-content: center;
  width: 100%;
  max-width: 100%;
  min-height: $case-teaser-height;

  &--right-aligned {
    justify-content: flex-end;
  }

  &__punch-in {
    @extend %punch-in;
  }
}

.case-teaser__wrapper {
  display: flex;
  justify-content: flex-start;
  padding: $spacer-sm;
}

.case-teaser__body {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: $case-teaser-body-bg;
  padding: $spacer-base;
  color: $case-teaser-body-color;
}

.case-teaser__text {
  @extend %teaser-text;

  margin-bottom: $spacer-base;
  line-height: $paragraph-line-height;
  font-size: $font-size-xs;
  hyphens: auto;
}

.case-teaser__logo {
  margin-bottom: $spacer-base;
  max-width: ms(22);
}

.case-teaser__header {
  padding-bottom: 0;

  h2 {
    font-size: $font-size-xl;
  }

  .punch-in {
    line-height: 1.31; // fix cut descender
  }
}

.case-teaser__caption {
  @extend %teaser-caption;
  margin-bottom: $spacer-xxs;
  height: $spacer-md;
}

//
// Media Queries
//

@media screen and (max-width: $grid-breakpoint-sm) {
  .case-teaser {
    margin-bottom: $spacer-xxl;
  }

  .case-teaser__body {
    position: relative;
    top: $spacer-xxl;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .case-teaser__wrapper {
    padding: $spacer-base;
  }

  .case-teaser__header {
    h2 {
      font-size: $font-size-xxxl;
    }
  }
}

@media screen and (min-width: $grid-breakpoint-md-lg) {
  .case-teaser__wrapper {
    padding: $spacer-sm;
    width: $default-page-layout-width-xl;
    max-width: $default-page-layout-content-width-xl;
  }

  .case-teaser__text {
    font-size: $font-size-sm;
    hyphens: none;
  }

  // Variation without stencil Headlines
  .case-teaser--simple {
    background-position: top left;
  }
}

@media screen and (min-width: $grid-breakpoint-lg) {
  .case-teaser__body {
    flex-basis: 50%;
  }
}
