.case-study-page {
  @extend %article-layout;

  .customerlogo {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: $spacer-lg;
    margin-bottom: $spacer-lg;

    img {
      max-width: 40%;
    }

    @media screen and (min-width: $grid-breakpoint-lg-xl) {
      grid-column: 5 / 6;
    }
  }
}
