.case-study-page {
  @extend %article-layout;

  .customerlogo {
    display: flex;
    grid-column: content;
    align-items: center;
    justify-content: center;

    margin-top: $spacer-lg;
    margin-bottom: $spacer-lg;

    img {
      max-width: 40%;
    }
  }
}
