.case-teaser {
  @extend %list-teaser;

  display: flex;
  width: 100%;
  max-width: 100%;
  min-height: ms(38); //magic number
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-blend-mode: multiply;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &--right-aligned {
    justify-content: flex-end;
  }

  &__punch-in {
    @extend %punch-in;
  }
}

.case-teaser__wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: $spacer-sm;
}

.case-teaser__body {
  display: flex;
  min-height: ms(35); //magic number
  flex-basis: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: $spacer-base $spacer-sm;
  background-color: $case-teaser-body-bg;
  color: $case-teaser-body-color;
  text-align: center;
}

.case-teaser__text {
  @extend %teaser-text;

  margin-bottom: $spacer-base;
  font-size: $font-size-base;
  line-height: $paragraph-line-height;
}

.case-teaser__logo {
  max-width: ms(22);
  margin-bottom: $spacer-base;
}

.case-teaser__header {
  padding-bottom: 0;

  h2 {
    font-size: $font-size-xl;
  }

  .punch-in {
    line-height: 1.31; // fix cut descender
  }
}

.case-teaser__caption {
  @extend %teaser-caption;

  height: $spacer-md;
  margin-bottom: $spacer-xxs;
}

//
// Media Queries
//

@media screen and (max-width: $grid-breakpoint-sm) {
  .case-teaser {
    /* stylelint-disable-next-line */
    margin-bottom: ms(23) !important;
  }

  .case-teaser__body {
    position: relative;
    top: ms(25);
  }
}

@media screen and (min-width: $grid-breakpoint-sm) {
  .case-teaser__wrapper {
    padding: $spacer-lg;
  }

  .case-teaser__body {
    align-items: flex-start;
    padding: $spacer-base;
    text-align: left;
  }

  .case-teaser__header {
    h2 {
      font-size: $font-size-2xl;
    }
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .case-teaser__wrapper {
    max-width: $default-page-layout-content-width-xl;
  }

  .case-teaser__text {
    font-size: $font-size-sm;
  }

  // Variation without stencil Headlines
  .case-teaser--simple {
    background-position: top left;
  }

  .case-teaser {
    min-height: ms(40); //magic number
  }

  .case-teaser__body {
    flex-basis: 50%;
  }
}
