.talk-page {
  display: flex;
  flex-direction: column;
  margin-top: $spacer-xl;

  .event-date-section {
    align-self: center;
  }
}

.talk-description {
  > * {
    @extend %body-font-italic;

    font-size: $font-size-md;
  }

  > * + * {
    margin-top: $spacer-md;
  }
}
