<main role="main" class="talk-page">
    <div class="event-date-section">
        <div class="label talk">Vortrag</div>
        <time class="event-date" datetime="2017-06-23">
            <span class="event-day-month">
                <span class='event-day'>23</span>
                <span class='event-month'>Jun</span>
            </span>
            <span class='event-year'>2017</span>
        </time>
    </div>

    <article class="page-layout-md--default">
        <h1>Vortrags Titel</h1>
        <div class="talk-description">
            <p>Lorem gibson <a href="#">face</a> forwards footage youtube concrete saturation point urban Ono-Sendai shanty
                town stimulate temperfoam arcology Bosozoku office tube franchise derm/dermadisk paranoid sprawl pen
                People of Importance saturation point.
            </p>

            <p>Lorem gibson <a href="#">face</a> forwards footage youtube concrete saturation point urban Ono-Sendai shanty
                town stimulate temperfoam arcology Bosozoku office tube franchise derm/dermadisk paranoid sprawl pen
                People of Importance saturation point.
            </p>
        </div>

        <h2>Heading Heading</h2>

        <ul class="checklist">
            <li>{{listitem}}</li>
            <li>{{listitem}}</li>
            <li>{{listitem}}</li>
        </ul>

        <dl class="date-location-section">
            <dt>Datum</dt>
            <dd>24.12.2018</dd>
            <dt>Uhrzeit</dt>
            <dd>13 - 15 Uhr</dd>
            <dt>Ort</dt>
            <dd>INNOQ Monheim</dd>
        </dl>
    </article>

    <section class="stripe stripe--gray">
        <div class="tag-section">
            <h3 class="tag-section__headline">TAGS</h3>
            <ul class="tag-list">
                <li class="tag-list__item"><a class="tag-list__link" href="#">Tag 1</a></li>
                <li class="tag-list__item"><a class="tag-list__link" href="#">Tag 2</a></li>
                <li class="tag-list__item"><a class="tag-list__link" href="#">Tag 3</a></li>
                <li class="tag-list__item"><a class="tag-list__link" href="#">Tag 4</a></li>
                <li class="tag-list__item"><a class="tag-list__link" href="#">Tag 5</a></li>
                <li class="tag-list__item"><a class="tag-list__link" href="#">Tag 6</a></li>
            </ul>
        </div>
    </section>

    <aside class="container-md container-vertical-spacing-lg">
        <h2 class='teaser-section-heading'>Der Referent</h2>
        <div id="author-bio" class="author-bio author-bio--long" itemscope itemtype="http://schema.org/Person">
            <a rel="author" class ="author-bio__head" itemprop="url" href="#">
                <div class="author-bio__image avatar avatar--base">
                    <img itemprop="photo" class="avatar__image" src="{{ path '/assets/example-content/heribert.jpg' }}"  alt="Portrait von Heribert Innoq"/>
                </div>
                <address class="author">
                    <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                    <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                </address>
            </a>
            <address class="author-bio__social">
                <a rel="author" class="author-bio__social-profile" href="#" title="Twitter">
                    <span class="icon icon--small icon-twitter icon--brand-secondary"></span>
                </a>
                <a rel= "author" class="author-bio__social-profile" href="#" title="GitHub">
                    <span class="icon icon--small icon-github icon--brand-secondary"></span>
                </a>
            </address>
            <div class="author-bio__text">
                <p>Heribert Innoq ist Senior Consultant bei INNOQ.
                    Als Berater, Entwickler und Architekt unterstützt er Kunden vor allem mit seinen langjährigen Kenntnissen von Java- und JVM-basierten Systemen.
                    Meist beschäftigt er sich hier mit dem Design, der Evaluierung und Implementierung von Architekturen für moderne Webanwendungen und Microservices
                    in Softwaremodernisierungsprojekten. Sein aktueller Fokus gilt den Themen Team-Organisation und Softwareevolution.
                </p>
            </div>
        </div>
        <a class="link-teaser" href="#">Mehr Vorträge von Heribert Innoq</a>
    </aside>
</main>
