//
// Table of contents
//

// Component specific variables
$toc-border-color: $brand-silver;
$toc-top-margin: $spacer-x * 3.5; // to match the content paragraph

.toc {
  margin-top: $toc-top-margin;
}

.toc__heading {
  @extend %heading-font-heavy;
  text-transform: uppercase;
  line-height: $toc-heading-line-height;
  font-size: $toc-heading-font-size;
}

.toc__list {
  @extend %list-unstyled;

  > li {
    @extend %body-font-italic;
    padding-top: $spacer-y / 2;
    padding-bottom: $spacer-y / 2;
    padding-left: $spacer-x;
    line-height: $toc-anchor-line-height;
    font-size: $toc-anchor-font-size;
  }

  > li + li {
    border-top: 1px solid $toc-border-color;
  }
}

.toc__anchor {
  @extend %link-unstyled;
  display: inline-block;
  position: relative;
  padding: 0 ($spacer-x / 4);

  &::before {
    @extend %icon; // inline-block
    position: absolute;
    top: 0;
    left: -$spacer-x;
    width: $spacer-x;
    color: $brand-interaction;
    content: $icon-arrow-down;
  }

  &:hover,
  &:focus {
    background-color: $brand-interaction;
    color: $brand-text;
  }
}

@media screen and (min-width: $grid-breakpoint-xl) {
  .toc {
    margin-right: $spacer-x * 2;
  }
}
