.superquote {
  margin-bottom: $content-spacer-base;
  text-align: center;

  .superquote__zigzag {
    @extend %zigzag;

    display: block;
    margin: 0 auto $component-spacer-zigzag-horizontal;
    width: 300px;
  }

  p {
    @extend %heading-font-heavy;
    line-height: $superquote-line-height;
    color: $superquote-color;
    font-size: $superquote-font-size;

    &::before {
      content: '„';
    }

    &::after {
      content: '“';
    }
  }

  .superquote__author {
    @extend %author-name;
    display: block;
  }

  .superquote__role {
    @extend %author-role;
  }
}
