.shortlist {
  @extend %list-unstyled;

  display: flex;
  flex-direction: column;
  padding: $spacer-xs;
}

.shortlist-item {
  display: flex;
  flex-direction: column;
  padding: $spacer-md $spacer-sm;
  margin: $spacer-xs;
  background-color: $brand-secondary;
  color: $brand-text-light;
}

.shortlist-item__label {
  @extend %heading-font-bold;

  color: $brand-primary;
  font-size: $font-size-xs;
  text-transform: uppercase;
}

.shortlist-item__title {
  margin-bottom: $spacer-xs;
  color: $brand-text-light;
}

.shortlist-item__caption {
  @extend %heading-font-regular;

  margin-bottom: $spacer-md;
  font-size: $font-size-base;
}

//Breakpoints
@media screen and (min-width: $grid-breakpoint-md) {
  .shortlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
