p {
  @extend %body-font-regular;
  margin-top: 0;
  margin-bottom: $content-spacer-base;
  line-height: $paragraph-line-height;
  font-size: $paragraph-font-size;

  &.lead {
    @extend %body-font-italic;
    line-height: $paragraph-lead-line-height;
    font-size: $paragraph-lead-font-size;
  }
}
