$topic-header-outer-padding: $spacer-lg;
$topic-header-outer-padding-small: $spacer-sm;
$topic-header-inner-padding: $spacer-lg;
$topic-header-inner-padding-small: $spacer-base;

.topic-header {
  @extend %page-header;
  padding: $topic-header-outer-padding $topic-header-outer-padding-small;
  min-height: $fullscreen-like-height;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: $topic-header-intro-bg-color;
    background-size: cover;
    padding: $topic-header-inner-padding-small;
    max-width: $default-page-layout-content-width-md;
    color: $topic-header-intro-text-color;
  }

  &__punch-in {
    @extend %punch-in;
  }

  &__title {
    @extend %punch-in;
    margin-bottom: $spacer-xs;
    padding-bottom: $spacer-base;
    text-align: center;
    line-height: $standard-header-title-line-height-small;
    font-size: $standard-header-title-font-size-small;
  }

  &__type {
    @extend %heading-font-bold;
    margin-bottom: $spacer-xs;
    text-align: center;
    text-transform: uppercase;
    line-height: $standard-header-type-line-height-small;
    font-size: $standard-header-type-font-size-small;
  }

  &__tag {
    @extend %heading-font-regular;
  }

  &__text {
    @extend %body-font-italic;

    margin-bottom: $spacer-base;
    padding-right: $topic-header-inner-padding-small;
    padding-left: $topic-header-inner-padding-small;
    text-align: center;
    line-height: $standard-header-intro-line-height-small;
    font-size: $standard-header-intro-font-size-small;
  }
}

//Background images for topic header
.topic-header-bg-image-girl {
  background-image: asset-url('public/assets/visual-header-girl.jpg');
}

.topic-header-bg-image-text-box-girl {
  @extend %topic-header-bg-image-text-box-girl;
}

.topic-header-bg-image-medusa {
  background-image: asset-url('public/assets/visual-header-medusa.jpg');
}

.topic-header-bg-image-text-box-medusa {
  @extend %topic-header-bg-image-text-box-medusa;
}

.topic-header-bg-image-ice {
  background-image: asset-url('public/assets/visual-header-ice.jpg');
}

.topic-header-bg-image-text-box-ice {
  @extend %topic-header-bg-image-text-box-ice;
}

.topic-header-bg-image-igel {
  background-image: asset-url('public/assets/visual-header-igel.jpg');
}

.topic-header-bg-image-text-box-igel {
  @extend %topic-header-bg-image-text-box-igel;
}

.topic-header-bg-image-koralle {
  background-image: asset-url('public/assets/visual-header-koralle.jpg');
}

.topic-header-bg-image-text-box-koralle {
  @extend %topic-header-bg-image-text-box-koralle;
}

.topic-header-bg-image-heads {
  background-image: asset-url('public/assets/visual-header-heads.jpg');
}

.topic-header-bg-image-text-box-heads {
  @extend %topic-header-bg-image-text-box-heads;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .topic-header {
    padding: $topic-header-outer-padding;
  }

  .topic-header__body {
    padding: $topic-header-inner-padding;
  }

  .topic-header__title {
    line-height: $standard-header-title-line-height;
    font-size: $standard-header-title-font-size;
  }

  .topic-header__subtitle {
    line-height: $standard-header-subtitle-line-height;
    font-size: $standard-header-subtitle-font-size;
  }

  .topic-header__type {
    margin-bottom: $spacer-md;
    line-height: $standard-header-type-line-height;
    font-size: $standard-header-type-font-size;
  }

  .topic-header__text {
    line-height: $standard-header-intro-line-height;
    font-size: $standard-header-intro-font-size;
  }
}
