$topic-header-outer-padding: $spacer-lg;
$topic-header-outer-padding-small: $spacer-sm;
$topic-header-inner-padding: $spacer-base;

$gradient-stencil: rgba(0, 0, 0, .25);

.topic-header {
  @extend %page-header;

  padding: $topic-header-outer-padding $topic-header-outer-padding-small;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: $topic-header-intro-bg-color;
    background-size: cover;
    padding: $topic-header-inner-padding;
    max-width: $default-page-layout-content-width-xl;
    color: $topic-header-intro-text-color;
  }

  &__punch-in {
    @extend %punch-in;
  }

  &__title {
    margin-bottom: $spacer-xs;
    line-height: $standard-header-title-line-height-small;
    font-size: $standard-header-title-font-size-small;
  }

  &__type {
    @extend %heading-font-bold;
    margin-bottom: $spacer-xs;
    text-transform: uppercase;
    line-height: $standard-header-type-line-height-small;
    font-size: $standard-header-type-font-size-small;
  }

  &__tag {
    @extend %heading-font-regular;
  }

  &__text {
    @extend %body-font-italic;

    margin-bottom: $spacer-base;
    line-height: $standard-header-intro-line-height-small;
    font-size: $standard-header-intro-font-size-small;
  }
}

//Background images for topic header
.topic-header-bg-image-girl {
  background-image: asset-url('public/assets/static/visual-header-girl.jpg');
}

.topic-header-bg-image-text-box-girl {
  background-image: linear-gradient($gradient-stencil, $gradient-stencil), asset-url('public/assets/static/visual-header-girl-1444.jpg');
}

.topic-header-bg-image-medusa {
  background-image: asset-url('public/assets/static/visual-header-medusa.jpg');
}

.topic-header-bg-image-text-box-medusa {
  background-image: linear-gradient($gradient-stencil, $gradient-stencil), asset-url('public/assets/static/visual-header-medusa-1444.jpg');
}

.topic-header-bg-image-ice {
  background-image: asset-url('public/assets/static/visual-header-ice.jpg');
}

.topic-header-bg-image-text-box-ice {
  background-image: linear-gradient($gradient-stencil, $gradient-stencil), asset-url('public/assets/static/visual-header-ice-1444.jpg');
}

.topic-header-bg-image-igel {
  background-image: asset-url('public/assets/static/visual-header-igel.jpg');
}

.topic-header-bg-image-text-box-igel {
  background-image: linear-gradient($gradient-stencil, $gradient-stencil), asset-url('public/assets/static/visual-header-igel-1444.jpg');
}

.topic-header-bg-image-koralle{
  background-image: asset-url('public/assets/static/visual-header-koralle.jpg');
}

.topic-header-bg-image-text-box-koralle {
  background-image: linear-gradient($gradient-stencil, $gradient-stencil), asset-url('public/assets/static/visual-header-koralle-1444.jpg');
}

@media screen and (min-width: $grid-breakpoint-md) {
  .topic-header {
    padding: $topic-header-outer-padding;
  }

  .topic-header__title {
    line-height: $standard-header-title-line-height;
    font-size: $standard-header-title-font-size;
  }

  .topic-header__subtitle {
    line-height: $standard-header-subtitle-line-height;
    font-size: $standard-header-subtitle-font-size;
  }

  .topic-header__type {
    line-height: $standard-header-type-line-height;
    font-size: $standard-header-type-font-size;
  }

  .topic-header__text {
    line-height: $standard-header-intro-line-height;
    font-size: $standard-header-intro-font-size;
  }
}

@media screen and (min-width: $grid-breakpoint-lg) {
  .topic-header__body {
    max-width: 70%;
  }
}
