.search-result {
  color: $search-result-color;
  text-decoration: none;

  &:hover,
  &:focus {
    .search-result__title {
      color: $brand-interaction;
    }
  }
}

.search-result__date,
.search-result__type {
  @extend %heading-font-regular;
}

.search-result__type + .search-result__date {
  &::before {
    content: " | ";
  }
}

.search-result__title {
  @extend %h3;

  transition: standard-transition(color);

  // Fix Google CSE markup and the resulting style
  b {
    font-weight: normal;
  }
}

.search-result__subtitle {
  @extend %h4;

  margin-top: $spacer-xxs;
  transition: standard-transition(color);

  // Fix Google CSE markup and the resulting style
  b {
    font-weight: normal;
  }
}

.search-result__body {
  margin-top: $spacer-sm;
}
