// Art
.bg-image-art-01,
%bg-image-art-01 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-art-01.webp');
}

//Culture
.bg-image-culture-01,
%bg-image-culture-01 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-culture-01.webp');
}

.bg-image-culture-02,
%bg-image-culture-02 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-culture-02.webp');
}

.bg-image-culture-03,
%bg-image-culture-03 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-culture-03.webp');
}

.bg-image-culture-04,
%bg-image-culture-04 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-culture-04.webp');
}

.bg-image-culture-05,
%bg-image-culture-05 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-culture-05.webp');
}

.bg-image-culture-06,
%bg-image-culture-06 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-culture-06.webp');
}

.bg-image-culture-07,
%bg-image-culture-07 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-culture-07.webp');
}

.bg-image-culture-08,
%bg-image-culture-08 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-culture-08.webp');
}

.bg-image-culture-09,
%bg-image-culture-09 {
  background-blend-mode: multiply;
  background-color: $brand-petrol-50;
  background-image: asset-url('bg-images/general/visual-culture-09.webp');
}

.bg-image-culture-10,
%bg-image-culture-10 {
  background-blend-mode: multiply;
  background-color: $brand-petrol-50;
  background-image: asset-url('bg-images/general/visual-culture-10.webp');
}

.bg-image-culture-11,
%bg-image-culture-11 {
  background-blend-mode: multiply;
  background-color: $brand-petrol-50;
  background-image: asset-url('bg-images/general/visual-culture-11.webp');
}

.bg-image-culture-12,
%bg-image-culture-12 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-culture-12.webp');
}

.bg-image-culture-13,
%bg-image-culture-13 {
  background-blend-mode: multiply;
  background-color: $brand-petrol-50;
  background-image: asset-url('bg-images/general/visual-culture-13.webp');
}

.bg-image-culture-14,
%bg-image-culture-14 {
  background-blend-mode: multiply;
  background-color: $brand-petrol-50;
  background-image: asset-url('bg-images/general/visual-culture-14.webp');
}

.bg-image-culture-15,
%bg-image-culture-15 {
  background-blend-mode: multiply;
  background-image: asset-url('bg-images/general/visual-culture-15.webp');
}

// Staff
.bg-image-staff-01,
%bg-image-staff-01 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-staff-01.webp');
}

//Podcast
.bg-image-podcast-01,
%bg-image-podcast-01 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-podcast.webp');
}

//Trainings
.bg-image-trainings-01,
%bg-image-trainings-01 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-trainings-01.webp');
}

.bg-image-trainings-02,
%bg-image-trainings-02 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-trainings-02.webp');
}

.bg-image-trainings-03,
%bg-image-trainings-03 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-trainings-03.webp');
}

.bg-image-trainings-04,
%bg-image-trainings-04 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-trainings-04.webp');
}

.bg-image-trainings-05,
%bg-image-trainings-05 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-trainings-05.webp');
}

.bg-image-trainings-06,
%bg-image-trainings-06 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-trainings-06.webp');
}

.bg-image-trainings-07,
%bg-image-trainings-07 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-trainings-07.webp');
}

.bg-image-trainings-08,
%bg-image-trainings-08 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-trainings-08.webp');
}

.bg-image-trainings-09,
%bg-image-trainings-09 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-trainings-09.webp');
}

.bg-image-trainings-10,
%bg-image-trainings-10 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-trainings-10.webp');
}

.bg-image-trainings-11,
%bg-image-trainings-11 {
  background-image: asset-url('bg-images/general/visual-trainings-11.webp');
}

// Workshops
.bg-image-workshop-01,
%bg-image-workshop-02 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-01.webp');
}

.bg-image-workshop-02,
%bg-image-workshop-02 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-02.webp');
}

.bg-image-workshop-03,
%bg-image-workshop-03 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-03.webp');
}

.bg-image-workshop-04,
%bg-image-workshop-04 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-04.webp');
}

.bg-image-workshop-05,
%bg-image-workshop-05 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-05.webp');
}

.bg-image-workshop-06,
%bg-image-workshop-06 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-06.webp');
}

.bg-image-workshop-07,
%bg-image-workshop-07 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-07.webp');
}

.bg-image-workshop-08,
%bg-image-workshop-08 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-08.webp');
}

.bg-image-workshop-09,
%bg-image-workshop-09 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-09.webp');
}

.bg-image-workshop-10,
%bg-image-workshop-10 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-10.webp');
}

.bg-image-workshop-11,
%bg-image-workshop-11 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-11.webp');
}

.bg-image-workshop-12,
%bg-image-workshop-12 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-12.webp');
}

.bg-image-workshop-13,
%bg-image-workshop-13 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-13.webp');
}

.bg-image-workshop-14,
%bg-image-workshop-14 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-14.webp');
}

.bg-image-workshop-15,
%bg-image-workshop-15 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-15.webp');
}

.bg-image-workshop-16,
%bg-image-workshop-16 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-16.webp');
}

.bg-image-workshop-17,
%bg-image-workshop-17 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/general/visual-workshop-17.webp');
}

// Edition Images Just change the image URLs for upcoming editions
.bg-image-edition-01,
%bg-image-edition-01 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/edition-02/edition02-canyon-01.webp');
}

.bg-image-edition-02,
%bg-image-edition-02 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/edition-02/edition02-canyon-02.webp');
}

.bg-image-edition-03,
%bg-image-edition-03 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/edition-02/edition02-canyon-03.webp');
}

.bg-image-edition-04,
%bg-image-edition-04 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/edition-02/edition02-canyon-04.webp');
}

.bg-image-edition-05,
%bg-image-edition-05 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/edition-02/edition02-canyon-05.webp');
}

.bg-image-edition-06,
%bg-image-edition-06 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/edition-02/edition02-cloth-01.webp');
}

.bg-image-edition-07,
%bg-image-edition-07 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/edition-02/edition02-cloth-02.webp');
}

.bg-image-edition-08,
%bg-image-edition-08 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/edition-02/edition02-cloth-03.webp');
}

.bg-image-edition-09,
%bg-image-edition-09 {
  background-blend-mode: multiply;
  background-color: $brand-gray-25;
  background-image: asset-url('bg-images/edition-02/edition02-cloth-04.webp');
}

.bg-image-edition-10,
%bg-image-edition-10 {
  background-blend-mode: multiply;
  background-color: $brand-gray-75;
  background-image: asset-url('bg-images/edition-02/edition02-data-01.webp');
}

.bg-image-edition-11,
%bg-image-edition-11 {
  background-blend-mode: multiply;
  background-color: $brand-gray-75;
  background-image: asset-url('bg-images/edition-02/edition02-data-02.webp');
}

.bg-image-edition-12,
%bg-image-edition-12 {
  background-blend-mode: multiply;
  background-color: $brand-gray-75;
  background-image: asset-url('bg-images/edition-02/edition02-data-03.webp');
}

.bg-image-edition-13,
%bg-image-edition-13 {
  background-blend-mode: multiply;
  background-color: $brand-gray-75;
  background-image: asset-url('bg-images/edition-02/edition02-data-04.webp');
}

.bg-image-edition-14,
%bg-image-edition-14 {
  background-blend-mode: multiply;
  background-color: $brand-gray-75;
  background-image: asset-url('bg-images/edition-02/edition02-data-05.webp');
}

.bg-image-edition-15,
%bg-image-edition-15 {
  background-blend-mode: multiply;
  background-color: $brand-gray-50;
  background-image: asset-url('bg-images/edition-02/edition02-data-06.webp');
}

.bg-image-edition-16,
%bg-image-edition-16 {
  background-blend-mode: multiply;
  background-color: $brand-gray-50;
  background-image: asset-url('bg-images/edition-02/edition02-human-01.webp');
}

.bg-image-edition-17,
%bg-image-edition-17 {
  background-blend-mode: multiply;
  background-color: $brand-gray-50;
  background-image: asset-url('bg-images/edition-02/edition02-human-02.webp');
}

.bg-image-edition-18,
%bg-image-edition-18 {
  background-blend-mode: multiply;
  background-color: $brand-gray-50;
  background-image: asset-url('bg-images/edition-02/edition02-human-03.webp');
}

.bg-image-edition-19,
%bg-image-edition-19 {
  background-blend-mode: multiply;
  background-color: $brand-gray-50;
  background-image: asset-url('bg-images/edition-02/edition02-human-04.webp');
}

.bg-image-edition-20,
%bg-image-edition-20 {
  background-blend-mode: multiply;
  background-color: $brand-gray-50;
  background-image: asset-url('bg-images/edition-02/edition02-human-05.webp');
}

.bg-image-edition-21,
%bg-image-edition-21 {
  background-blend-mode: multiply;
  background-color: $brand-gray-50;
  background-image: asset-url('bg-images/edition-02/edition02-human-06.webp');
}

.bg-image-edition-22,
%bg-image-edition-22 {
  background-blend-mode: multiply;
  background-color: $brand-gray-50;
  background-image: asset-url('bg-images/edition-02/edition02-human-07.webp');
}

.bg-image-edition-23,
%bg-image-edition-23 {
  background-blend-mode: multiply;
  background-color: $brand-gray-50;
  background-image: asset-url('bg-images/edition-02/edition02-human-08.webp');
}

// Demo Classes for bg images
.bg-image-demo {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h3 {
    color: $brand-white;
  }
}
