$pull-quote-padding: $spacer-x * .75;

aside {
  blockquote {
    @extend %heading-font-bold;
    border: 1px solid $brand-text;
    border-width: 1px 0;
    padding: $pull-quote-padding;
    width: 80%;
    text-align: center;
    line-height: $pull-quote-line-height;
    color: $pull-quote-color;
    font-size: $pull-quote-font-size;
  }
}
