.checklist {
  @extend %base-list-styling;

  margin-left: 1.2rem; //magic number

  li {
    @extend %heading-font-bold;

    padding-left: $spacer-xxs;
    list-style-type: "✓";

    &::marker {
      color: $bullet-list-color;
      font-size: 1.5rem;
    }
  }
}
