// ---- Ordered Lists ----------------------------------------------------------
//
// Generated numbers from default ordered lists can't be styled directly
// yet. Therefore we disable auto-numbering and use a counter to increment
// a number and insert it via :before content.
//
// Scope element based selector to elements, that do not carry a
// class attribute, to prevent reverting styles for all non-default lists.
//

$number-space: $spacer-md;

ol:not([class]) {
  @extend %body-font-regular;
  @include list-unstyled;

  margin-bottom: $content-spacer-base;
  line-height: $paragraph-line-height;
  font-size: $paragraph-font-size-small;
  counter-reset: number;

  @media screen and (min-width: $grid-breakpoint-md) {
    line-height: $paragraph-line-height;
    font-size: $paragraph-font-size;
  }

  & > li {
    position: relative;
    margin-bottom: $spacer-xs;
    padding-left: $number-space;

    &::before {
      @extend %heading-font-bold;

      position: absolute;
      top: -.2rem;
      left: -.5rem;
      width: $number-space;
      text-align: right;
      line-height: $paragraph-line-height;
      font-size: $paragraph-font-size-small;
      content: counter(number);
      counter-increment: number;

      @media screen and (min-width: $grid-breakpoint-md) {
        top: -.23rem;
        line-height: $paragraph-line-height;
        font-size: $paragraph-font-size;
      }
    }
  }

  ul {
    // Nested lists need diffrent vertical spacings
    // to blend into the outer list.
    margin-top: $spacer-xs;
    line-height: $paragraph-line-height;
    font-size: $paragraph-font-size-small;

    @media screen and (min-width: $grid-breakpoint-md) {
      line-height: $paragraph-line-height;
      font-size: $paragraph-font-size;
    }

    &,
    li > ul > li {
      margin-bottom: 0;
    }
  }
}
