$tuple-list-label-width: 8rem;

.tuple-list {
  @extend %list-unstyled;

  > * + * {
    margin-top: $spacer-sm;
  }
}

.tuple-list__label {
  @extend %heading-font-bold;

  display: block;
  font-size: $font-size-xs;
  color: $tupel-list-label-color;
  text-transform: uppercase;
}

.tuple-list__value {
  @extend %heading-font-regular;

  display: block;
  font-size: $font-size-xs;
  line-height: $paragraph-line-height;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .tuple-list {
    > * + * {
      margin-top: $spacer-xxs;
    }
  }

  .tuple-list__entry {
    display: grid;
    grid-template-areas: 'label value';
    grid-template-columns: $tuple-list-label-width auto;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-rows: auto;
  }

  .tuple-list__label {
    grid-area: label;
  }

  .tuple-list__value {
    grid-area: value;
  }
}
