$bullet-size: $spacer-xs; // ~9px
$bullet-offset: $spacer-sm; // ~16px
$list-indent: $bullet-offset + $bullet-size;

.list-unstyled {
  @extend %list-unstyled;
}

// ---- Unordered Lists --------------------------------------------------------
//
// Scope element based selector to elements, that do not carry a
// class attribute, to prevent reverting styles for all non-default lists.
//

ul:not([class]),
.bold-list {
  @extend %unsorted-list;
  @extend %body-font-regular;

  > li {
    padding-left: $list-indent;

    &::before {
      position: absolute;
      top: 0.4rem; //magic number
      left: 0;
      width: $bullet-size;
      height: $bullet-size;
      background: $bullet-list-color-primary;
      border-radius: 50%;
      content: "";

      @media screen and (min-width: $grid-breakpoint-md) {
        top: 0.5rem; //magic number
      }
    }
  }

  ul {
    // Nested lists need diffrent vertical spacings
    // to blend into the outer list.
    margin-top: $spacer-xs;

    /* stylelint-disable-next-line selector-max-compound-selectors */
    &,
    li > ul > li {
      margin-bottom: 0;
    }

    // Change bullet appeareance in nested contexts
    li::before {
      background: $bullet-list-color-secondary;
    }
  }
}

// ---- Bold Bullet Lists ----------------------------------------------------------
//
.bold-list {
  @extend %heading-font-bold;

  > li {
    &::before {
      top: 0.59rem; //magic number

      @media screen and (min-width: $grid-breakpoint-md) {
        top: 0.73rem; //magic number
      }
    }
  }
}
