.service-intro-grid {
  display: grid;
  grid-row-gap: $spacer-xl;
}

.service-intro {
  @extend %link-unstyled;

  justify-self: center;
  width: 90%;
}

.service-intro__header {
  @extend %heading-font-heavy;
  @extend %manual-hyphenation;

  margin-bottom: $spacer-md;
  font-size: $font-size-lg;
  line-height: 1.38; //magic number
  color: $service-intro-text-color;

  a,
  a:not([class]) {
    padding: ms(-16);

    background-color: $brand-primary;
    box-shadow:
      $spacer-xxs 0 0 $brand-primary,
      -$spacer-xxs 0 0 $brand-primary;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &:hover {
      background-color: $brand-primary;
    }
  }
}

.service-intro__text {
  @extend %heading-font-bold;

  margin-bottom: $spacer-sm;
  font-size: $font-size-base;
  line-height: $paragraph-line-height;
  color: $service-intro-text-color;
}

@media screen and (min-width: $grid-breakpoint-md-lg) {
  .service-intro-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: $spacer-sm;
  }

  .service-intro {
    justify-self: flex-end;
    width: 100%;
    padding: 0 $spacer-lg;
    border-right: 1px solid $brand-gray-25;

    &:nth-child(2n) {
      border-right: 0;
    }
  }

  .service-intro__header {
    margin-bottom: $spacer-base;
    font-size: $font-size-xl;
    line-height: 1.35; //magic number
  }

  .service-intro__text {
    margin-bottom: $spacer-md;
    font-size: $font-size-sm;
  }
}

@media screen and (min-width: $grid-breakpoint-xl) {
  .service-intro-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .service-intro {
    &:nth-child(2n) {
      border-right: 1px solid $brand-gray-25;
    }

    &:nth-child(3n) {
      border-right: 0;
    }
  }
}
