.footnote-section__headline__container {
  width: 100%;
}

.footnote-section__headline {
  display: flex;
  flex-direction: row;
  justify-content: left;

  margin-bottom: $spacer-sm;

  font-size: $font-size-sm;
  color: $footnote-section-headline-color;
  text-transform: uppercase;

  &::after {
    content: '\a0';

    position: relative;
    top: 0.65em;

    flex-grow: 1;

    max-width: 80px;
    height: 3px;
    margin-left: 10px;

    background-color: $footnote-section-headline-color;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .footnote-section__headline__container {
    width: 30%;
  }
}
