$list-indent: 0.7rem;

.checklist {
  @extend %unsorted-list;
  @extend %heading-font-bold;
  padding-left: 1rem;

  li {
    @extend %heading-font-bold;
    padding-left: $list-indent;
    list-style-type: $icon-check;

    &::marker {
      @extend %icon;

      font-size: 0.9rem;
      font-weight: bold;
      color: $bullet-list-color;
      -webkit-text-stroke-width: 2px;
    }
  }
}
