$list-indent: 0.5rem;

.checklist {
  @extend %unsorted-list;

  padding-left: 1.2rem;

  li {
    @extend %heading-font-bold;

    padding-left: $list-indent;
    list-style-type: "✓";

    &::marker {
      color: $bullet-list-color;
      font-size: 1.5rem;
    }
  }
}
