// ---- Ordered Lists ----------------------------------------------------------
//
// Generated numbers from default ordered lists can't be styled directly
// yet. Therefore we disable auto-numbering and use a counter to increment
// a number and insert it via :before content.
//
// Scope element based selector to elements, that do not carry a
// class attribute, to prevent reverting styles for all non-default lists.
//

$number-space: $spacer-md;
$list-indent: 1.2rem;


ol:not([class]) {
  @extend %body-font-regular;
  @include list-unstyled;

  margin-bottom: $spacer-md;
  line-height: $paragraph-line-height;
  font-size: $font-size-base;
  padding-left: $list-indent;

  @media screen and (min-width: $grid-breakpoint-md) {
    line-height: $paragraph-line-height;
    font-size: $font-size-sm;
  }

  & > li {
    position: relative;
    margin-bottom: $spacer-xs;
    padding-left: 0.5rem;
    //padding-left: $number-space;
    counter-increment: number;

    &::marker {
      @extend %heading-font-bold;

      line-height: $paragraph-line-height;
      color: $bullet-list-color-secondary;
      font-size: $font-size-base;
      content: counter(number);


      @media screen and (min-width: $grid-breakpoint-md) {
        top: -0.23rem;
        line-height: $paragraph-line-height;
        font-size: $font-size-sm;
      }
    }
  }

  ul {
    // Nested lists need diffrent vertical spacings
    // to blend into the outer list.
    margin-top: $spacer-xs;
    line-height: $paragraph-line-height;
    font-size: $font-size-base;

    @media screen and (min-width: $grid-breakpoint-md) {
      line-height: $paragraph-line-height;
      font-size: $font-size-sm;
    }
    padding-left: 1.4rem;
    &,
    li > ul > li {
      margin-bottom: 0;

    }

    li {
      list-style-type:disc;

      &::marker{
        font-size: 1.9rem;
        color:  $bullet-list-color;
      }

    }
  }
}


