// ---- Ordered Lists ----------------------------------------------------------
//
// Generated numbers from default ordered lists can't be styled directly
// yet. Therefore we disable auto-numbering and use a counter to increment
// a number and insert it via :before content.
//
// Scope element based selector to elements, that do not carry a
// class attribute, to prevent reverting styles for all non-default lists.
//

$number-space: $spacer-md;
$list-indent: 2.5rem;

ol:not([class]) {
  @extend %unsorted-list;
  
  padding-left: $list-indent;

  & > li {
    margin-bottom: $spacer-xs;
    padding-left: 0.5rem;
    counter-increment: number;


    &::marker {
      @extend %heading-font-bold;

      line-height: $paragraph-line-height;
      color: $bullet-list-color-secondary;
      content: counter(number);
      font-size: $font-size-base;

      @media screen and (min-width: $grid-breakpoint-md) {
        font-size: $font-size-sm;
      }
    }
  }
}
