$bullet-size: $spacer-xs; // ~9px
$bullet-offset: $spacer-sm; // ~16px
$list-indent: $bullet-offset + $bullet-size;
$background: $bullet-list-color-primary;

.list-unstyled {
  @extend %list-unstyled;
}

// ---- Unordered Lists --------------------------------------------------------
//
// Scope element based selector to elements, that do not carry a
// class attribute, to prevent reverting styles for all non-default lists.
//

.unordered-list li {
  @extend %body-font-regular;
  @extend %unsorted-list;
  list-style-type: disc;
  position: relative;
  top:0.4rem;

}
.unordered-list >li::marker{
  color: #ff9c66;
  font-size: 1.9rem;
}

.unordered-list >li li::marker {
  color: #004153;
  font-size: 1.9rem;

}

// ---- Bold Bullet Lists ----------------------------------------------------------
//
.bold-list {
  @extend %heading-font-bold;

  > li {
    &::before {
      top: 0.59rem; //magic number
      list-style-type: none;

      @media screen and (min-width: $grid-breakpoint-md) {
        top: 0.73rem; //magic number
      }
    }
  }
}
