/*$bullet-size: $spacer-xs; // ~9px
$bullet-offset: $spacer-sm; // ~16px
$list-indent: $bullet-offset + $bullet-size;
$background: $bullet-list-color-primary;*/
$bullet-size: 1.9rem;
$padding-top: 0.5rem;



.list-unstyled {
  @extend %list-unstyled;
}

// ---- Unordered Lists --------------------------------------------------------
//
// Scope element based selector to elements, that do not carry a
// class attribute, to prevent reverting styles for all non-default lists.
//


ul:not(class) {

  & li {
    @extend %body-font-regular;
    @extend %unsorted-list;

    list-style-type: disc;

    & ul{
      padding-top: $padding-top;
      padding-left:1.2rem;

      & li {
        padding-top: 0;
        padding-bottom: 0;
      }

      & ul li {
        padding-top: $padding-top;
        padding-bottom: 0;
      }
    }
  }

  & >li {
    margin-bottom: 0.3rem;

    &::marker{
      color: $bullet-list-color;
      font-size: $bullet-size;
    }
    & li::marker{
      color: $bullet-list-color-secondary;
      font-size: $bullet-size;
    }
  }
}

// ---- Bold Bullet Lists ----------------------------------------------------------
//
.bold-list {
  padding-left: 1.5rem;

  & > li {
    @extend %heading-font-bold;

    &::marker {
      color: $bullet-list-color;
      font-size: $bullet-size;

    }
  }
}
