/*$bullet-size: $spacer-xs; // ~9px
$bullet-offset: $spacer-sm; // ~16px
$list-indent: $bullet-offset + $bullet-size;
$background: $bullet-list-color-primary;*/

.list-unstyled {
  @extend %list-unstyled;
}

// ---- Unordered Lists --------------------------------------------------------
//
// Scope element based selector to elements, that do not carry a
// class attribute, to prevent reverting styles for all non-default lists.
//

//TODO: spacings, reference variables, reduce

.unordered-list li {
  @extend %body-font-regular;
  @extend %unsorted-list;
  list-style-type: disc;
  padding-bottom: 0;
}
.unordered-list >li::marker{
  color: $bullet-list-color;
  font-size: 1.9rem;
}

.unordered-list >li li::marker {
  color: $bullet-list-color-secondary;
  font-size: 1.9rem;
}

.unordered-list ul li, .unordered-list ul li ul li{
  padding-bottom: 0;
  padding-top: 1rem;
}


// ---- Bold Bullet Lists ----------------------------------------------------------
//
.bold-list {
  @extend %heading-font-bold;

  > li {
    padding-bottom: 0.9rem;

    &::marker {
      //top: 0.59rem; //magic number
      color: $bullet-list-color;
      font-size: 1.9rem;

      @media screen and (min-width: $grid-breakpoint-md) {
        top: 0.73rem; //magic number
      }
    }
  }
}
