$bullet-size: 1.9rem;

.list-unstyled {
  @extend %list-unstyled;
}

// ---- Unordered Lists --------------------------------------------------------
//
// Scope element based selector to elements, that do not carry a
// class attribute, to prevent reverting styles for all non-default lists.
//

ul:not(class) {
  @extend %unsorted-list;
  padding-left: 1.5rem;

  li {
    @extend %body-font-regular;

    list-style-type: disc;
  }

  > li {
    &::marker {
      color: $bullet-list-color;
      font-size: $bullet-size;
      line-height: $paragraph-line-height;
    }

    & li::marker {
      color: $bullet-list-color-secondary;
      font-size: $bullet-size;
      line-height: $paragraph-line-height;
    }
  }
}

// ---- Bold Bullet Lists ----------------------------------------------------------
//
.bold-list {
  > li {
    @extend %heading-font-bold;

    &::marker {
      color: $bullet-list-color;
      font-size: $bullet-size;
    }
  }
}
