.tag-list__container {
  margin: 0 auto;
  width: 90%;
}

.tag-list {
  @extend %list-unstyled;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
}

.tag-list__item {
  display: inline-block;
  margin: $spacer-xxs;
  background: $tag-background-color;
  padding: $spacer-xs $spacer-sm;


  &:hover {
    background-color: $tag-background-color-hover;
    color: $tag-text-color-hover;
  }

  a {
    @extend %heading-font-bold;

    text-decoration: none;
    line-height: $tag-line-height-small;
    color: $tag-text-color;
    font-size: $tag-font-size-small;

    &:hover {
      color: $tag-text-color;
    }
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .tag-list__container {
    width: 60%;
  }

  .tag-list__item {
    margin: $spacer-xxs;

    a {
      line-height: $tag-line-height;
      font-size: $tag-font-size;
    }
  }
}
