.stripe {
  overflow: hidden;
  width: 100%;
}

.stripe--primary {
  background-color: $brand-primary;
}

.stripe--secondary {
  background-color: $brand-secondary;
}

.stripe--gray {
  background-color: $brand-gray-10;
}

.stripe--gradient {
  background: rgb(255,230,217);
  background: linear-gradient(360deg, rgba(255,230,217,1) 23%, rgba(255,156,102,1) 60%);
}
