.form--inverted {
  .form-label {
    color: $form-label-inverted-color;
  }

  .form-control {
    border-color: $form-control-inverted-border-color;

    &:hover,
    &:focus {
      background-color: $form-control-inverted-focus-bg;
      color: $form-control-inverted-focus-color;
    }
  }
}
