.form--inverted {
  .form-label {
    color: $form-label-inverted-color;
  }

  .form-control {
    border-color: $form-control-inverted-border-color;
    caret-color: $form-control-inverted-caret-color; 

    &:hover,
    &:focus {
      background-color: $form-control-inverted-focus-bg;
      color: $form-control-inverted-focus-color;
    }
  }

  .form-group--invalid {
    .form-control {
      border-color: $form-control-invalid-border-color;
    }
  }
}
