.date-location-section {
  @extend %definition-list-simple;
  margin-bottom: $spacer-sm;
  border-top: 1px solid $date-location-section-border-color;
  border-bottom: 1px solid $date-location-section-border-color;
  padding-top: $spacer-sm;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .date-location-section {
    margin-bottom: $spacer-xl;
  }
}
