.event-teaser--simple {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: $event-teaser-simple-bg;
  padding: $spacer-sm;

  padding-bottom: -$spacer-sm;

  > * {
    text-align: center;
    color: $event-teaser-simple-color;
  }

  .event-teaser__btn {
    margin: 0;
    padding-top: $spacer-xs;
    padding-bottom: $spacer-xs;
  }
}
