.podcast-overview-page--security {
  .topic-header {
    background-color: $brand-gray-75;
    background-blend-mode: multiply;

    .topic-header__body {
      background-color: $brand-white;
      color: $brand-gray;
    }

    .toolbar__link {
      color: $brand-gray;

      &:hover,
      &:focus {
        color: $brand-gray;
      }

      .icon-svg {
        background: $brand-gray;
      }

      .icon-svg:hover,
      .icon-svg:focus {
        background: $brand-gray;
      }
    }
  }
}
