$topic-header-outer-padding: $spacer-lg;
$topic-header-outer-padding-small: $spacer-sm;
$topic-header-inner-padding: $spacer-lg;
$topic-header-inner-padding-small: $spacer-md;

.topic-header {
  @extend %page-header;

  min-height: $fullscreen-like-height;
  padding: $topic-header-outer-padding $topic-header-outer-padding-small;
  background-blend-mode: multiply;

  &__body {
    display: flex;
    max-width: $default-page-layout-content-width-md;
    flex-direction: column;
    align-items: center;
    padding: $topic-header-inner-padding-small;
    margin: 0 auto;
    background-color: $topic-header-intro-bg-color;
    background-size: cover;
    color: $topic-header-intro-text-color;
  }

  &__punch-in {
    @extend %punch-in;
  }

  &__title {
    @extend %punch-in;

    padding-bottom: $spacer-base;
    margin-bottom: $spacer-xs;
    font-size: $font-size-xxl;
    line-height: $heading-line-height-sm;
    text-align: center;
  }

  &__type {
    @extend %heading-font-bold;

    margin-bottom: $spacer-xs;
    color: $topic-header-intro-text-color;
    font-size: $font-size-base;
    text-align: center;
    text-transform: uppercase;
  }

  &__tag {
    @extend %heading-font-regular;
  }

  &__text {
    @extend %body-font-italic;

    max-width: 100%; // This fixes IE11 Flexbox rendering issues.
    padding-right: $topic-header-inner-padding-small;
    padding-left: $topic-header-inner-padding-small;
    margin-bottom: $spacer-base;
    font-size: $font-size-sm;
    line-height: $paragraph-line-height;
    text-align: center;
  }
}

//
// Media Queries
//

@media screen and (min-width: $grid-breakpoint-md) {
  .topic-header {
    padding: $topic-header-outer-padding;
  }

  .topic-header__body {
    padding: $topic-header-inner-padding;
  }

  .topic-header__title {
    font-size: $font-size-xxxxl;
  }

  .topic-header__subtitle {
    font-size: $font-size-lg;
  }

  .topic-header__text {
    font-size: $font-size-lg;
  }
}

// This fixes IE11 Flexbox rendering issues.
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .topic-header__body {
    max-width: 100%;
  }
}
