pre > code {
  @extend %monospace-font-regular;

  display: block;
  overflow: auto;
  padding: $spacer-xs;
  margin-bottom: $spacer-md;
  background-color: $code-background-color;
  font-size: $font-size-xs;
  line-height: $paragraph-line-height;
}

pre {
  margin: 0;
}

figure > div > pre {
  /* stylelint-disable-next-line selector-max-compound-selectors */
  code {
    margin-bottom: $spacer-xxs;
  }
}
