<div class="dialog-banner">
    <div class="dialog-banner__body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
    </div>
    <form class="dialog-banner__form" action="#" method="post">
        <div class="form-check">
            <label class="form-check__label" for="gold">
                <input type="checkbox" id="gold" class="form-check__input" />I'm OK with this
            </label>
        </div>
        <button type="submit" class="btn btn--small">
            Save settings
        </button>
    </form>
</div>
