touch-detection {
  display: block;
}

.slider {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: block;
}

.slider__all {
  @extend %list-unstyled;

  position: relative;
  display: flex;
  margin: 0;
}

.slider__slide {
  scroll-snap-align: center;
  display: block;
  flex: 0 0 100%;
}

.slider__page {
  margin-bottom: 0;

  line-height: 0;

  border-color: $brand-muted;
  border-style: solid;
  border-width: 0.5px;
}

.slider:focus {
  outline: 4px solid $brand-secondary-75;
}

.page__number__box {
  position: absolute;
  top: 3%;
  width: 4%;
  margin-left: 94%;
}

.page__number {
  @extend %heading-font-regular;

  display: inline-block;
  font-size: $font-size-xxs;
  background: rgba(247, 247, 247, 0.7);
}

.instructions--hover,
.instructions--focus,
.instructions--hover-and-focus,
.instructions--touch {
  @extend %heading-font-regular;

  display: none;
  font-size: $font-size-base;
}

.slider__instructions {
  margin-top: $spacer-sm;
  text-align: center;
}

.slider:focus:not(:hover) + .slider__instructions .instructions--focus,
.slider:hover:not(:focus) + .slider__instructions .instructions--hover {
  display: block;
}

.slider:hover:focus + .slider__instructions .instructions--hover-and-focus {
  display: block;
}

.instructions--touch-active .instructions__no-touch {
  /* stylelint-disable-next-line */
  display: none !important;
}

.instructions--touch-active .slider__instructions .instructions--touch {
  display: block;
}
