.toc {
  max-width: 100%;
}

.toc__heading {
  @extend %heading-font-heavy;

  margin-bottom: $spacer-sm;
  font-size: $font-size-sm;
  color: $toc-heading-color;
  text-transform: uppercase;
}

.toc__list {
  @extend %list-unstyled;

  padding-left: 0.7rem;

  > li {
    @extend %body-font-italic;

    display: flex;
    padding-top: $spacer-xxs;
    padding-bottom: $spacer-xxs;
    font-size: $font-size-base;

    &::before {
      content: asset-url('icons/arrow-short-down.svg');
      padding-right: 0.5rem;
    }
  }

  > li + li {
    border-top: 1px solid $toc-border-color;
  }
}

.toc__anchor {
  @extend %link-unstyled;

  @include hover-fill($link-hover-color-light, $toc-anchor-hover-text-color, $toc-anchor-text-color);

  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
}

@media screen and (min-width: $grid-breakpoint-lg-xl) {
  .toc {
    margin-top: $spacer-xxs;
    margin-right: $spacer-xl;
  }

  .toc--sticky {
    position: sticky;
    top: $spacer-xs;
    align-self: start;
  }
}
