<main role="main" class="talk-page">
    <article class="page-layout-md--default">
        <section class="center">
            <h1>🙊</h1>
            <h2>Irgendetwas ist da gerade leider schief gegangen.</h2>
            <p>Das tut uns sehr leid. Da wir unsere Logs im Auge behalten, sind wir vermutlich bereits dabei, das Problem zu beheben.</p>
            <p>
                <small>
                    <a class="link--muted" href="#">INNOQ.com</a>
                </small>
            </p>
        </section>
    </article>
</main>
