.alert {
  @extend %heading-font-regular;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  padding: $spacer-xs;

  font-size: $font-size-base;
  color: $alert-color;

  &--info {
    background-color: $brand-info;
  }

  &--warn {
    color: $brand-text;
    background-color: $brand-warn;
  }

  &--error {
    background-color: $brand-danger;
  }
}

.alert-btn {
  @extend %base-button;

  color: inherit;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .alert {
    padding: $spacer-sm;
  }
}
