.swatch-text {
  font-family: HackRegular, "Monaco", "Courier New", monospace;
  font-weight: normal;
  font-style: normal;
}

.link-unstyled {
  border-bottom: 0;
  text-decoration: none;
  color: inherit;
}
.link-unstyled:hover, .link-unstyled:focus {
  background-color: initial;
}

@supports ((-webkit-background-clip: text) or (background-clip: text)) or (-webkit-background-clip: text) {
  .punch-in {
    background-clip: text;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
  }
}
.text-center {
  text-align: center;
}

@font-face {
  font-family: FreightTextPro;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("https://assets.innoq.com/fonts/350ED6_0_unhinted_0.woff2?cachebuster=7d0a3995eec718ff34fa844413298153") format("woff2"), url("https://assets.innoq.com/fonts/350ED6_0_unhinted_0.woff?cachebuster=7d0a3995eec718ff34fa844413298153") format("woff"), url("https://assets.innoq.com/fonts/350ED6_0_unhinted_0.ttf?cachebuster=7d0a3995eec718ff34fa844413298153") format("truetype");
}
@font-face {
  font-family: FreightTextPro;
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url("https://assets.innoq.com/fonts/350ED6_1_unhinted_0.woff2?cachebuster=7d0a3995eec718ff34fa844413298153") format("woff2"), url("https://assets.innoq.com/fonts/350ED6_1_unhinted_0.woff?cachebuster=7d0a3995eec718ff34fa844413298153") format("woff"), url("https://assets.innoq.com/fonts/350ED6_1_unhinted_0.ttf?cachebuster=7d0a3995eec718ff34fa844413298153") format("truetype");
}
@font-face {
  font-family: FreightTextPro;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("https://assets.innoq.com/fonts/350ED6_2_unhinted_0.woff2?cachebuster=7d0a3995eec718ff34fa844413298153") format("woff2"), url("https://assets.innoq.com/fonts/350ED6_2_unhinted_0.woff?cachebuster=7d0a3995eec718ff34fa844413298153") format("woff"), url("https://assets.innoq.com/fonts/350ED6_2_unhinted_0.ttf?cachebuster=7d0a3995eec718ff34fa844413298153") format("truetype");
}
@font-face {
  font-family: FreightTextPro;
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url("https://assets.innoq.com/fonts/350ED6_3_unhinted_0.woff2?cachebuster=7d0a3995eec718ff34fa844413298153") format("woff2"), url("https://assets.innoq.com/fonts/350ED6_3_unhinted_0.woff?cachebuster=7d0a3995eec718ff34fa844413298153") format("woff"), url("https://assets.innoq.com/fonts/350ED6_3_unhinted_0.ttf?cachebuster=7d0a3995eec718ff34fa844413298153") format("truetype");
}
@font-face {
  font-family: FFMarkWebProBook;
  font-display: swap;
  src: url("https://assets.innoq.com/fonts/MarkPro-Book.woff2?cachebuster=ebbf66fc8344ca6f16c5d660323ab3b4") format("woff2"), url("https://assets.innoq.com/fonts/MarkPro-Book.woff?cachebuster=ebbf66fc8344ca6f16c5d660323ab3b4") format("woff"), url("https://assets.innoq.com/fonts/MarkPro-Book.ttf?cachebuster=ebbf66fc8344ca6f16c5d660323ab3b4") format("truetype");
}
@font-face {
  font-family: FFMarkWebProBold;
  font-display: swap;
  src: url("https://assets.innoq.com/fonts/MarkPro-Bold.woff2?cachebuster=ebbf66fc8344ca6f16c5d660323ab3b4") format("woff2"), url("https://assets.innoq.com/fonts/MarkPro-Bold.woff?cachebuster=ebbf66fc8344ca6f16c5d660323ab3b4") format("woff"), url("https://assets.innoq.com/fonts/MarkPro-Bold.ttf?cachebuster=ebbf66fc8344ca6f16c5d660323ab3b4") format("truetype");
}
@font-face {
  font-family: FFMarkWebProHeavy;
  font-display: swap;
  src: url("https://assets.innoq.com/fonts/MarkPro-Heavy.woff2?cachebuster=ebbf66fc8344ca6f16c5d660323ab3b4") format("woff2"), url("https://assets.innoq.com/fonts/MarkPro-Heavy.woff?cachebuster=ebbf66fc8344ca6f16c5d660323ab3b4") format("woff"), url("https://assets.innoq.com/fonts/MarkPro-Heavy.ttf?cachebuster=ebbf66fc8344ca6f16c5d660323ab3b4") format("truetype");
}
@font-face {
  font-family: HackRegular;
  font-display: swap;
  src: url("https://assets.innoq.com/fonts/hack-regular.woff2?cachebuster=7d0a3995eec718ff34fa844413298153") format("woff2"), url("https://assets.innoq.com/fonts/hack-regular.woff?cachebuster=7d0a3995eec718ff34fa844413298153") format("woff");
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("https://assets.innoq.com/fonts/icomoon.woff2?cachebuster=7d0a3995eec718ff34fa8444132981c6") format("woff2"), url("https://assets.innoq.com/fonts/icomoon.woff?cachebuster=7d0a3995eec718ff34fa8444132981c6") format("woff"), url("https://assets.innoq.com/fonts/icomoon.ttf?cachebuster=7d0a3995eec718ff34fa8444132981c6") format("truetype"), url("https://assets.innoq.com/fonts/icomoon.svg?cachebuster=7d0a3995eec718ff34fa8444132981c6#icons") format("svg");
  font-style: normal;
  font-weight: normal;
}
.swatches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.swatch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.44rem;
}
.swatch:first-child {
  margin-left: 0;
}

.swatch-color {
  display: block;
  width: 150px;
  height: 150px;
}

.swatch-text {
  background-color: #f7f7f7;
  padding-top: 0.5787037037rem;
  padding-bottom: 0.5787037037rem;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
}
.swatch-text::after {
  display: none;
}

.swatch-brand-blue > .swatch-color {
  background-color: #24244c;
}
.swatch-brand-blue > .swatch-text::after {
  content: "#24244c";
}

.swatch-brand-blue-75 > .swatch-color {
  background-color: #5b5b79;
}
.swatch-brand-blue-75 > .swatch-text::after {
  content: "#5b5b79";
}

.swatch-brand-blue-50 > .swatch-color {
  background-color: #5b5b79;
}
.swatch-brand-blue-50 > .swatch-text::after {
  content: "#5b5b79";
}

.swatch-brand-blue-25 > .swatch-color {
  background-color: #c8c8d2;
}
.swatch-brand-blue-25 > .swatch-text::after {
  content: "#c8c8d2";
}

.swatch-brand-red > .swatch-color {
  background-color: #ff4d67;
}
.swatch-brand-red > .swatch-text::after {
  content: "#ff4d67";
}

.swatch-brand-red-75 > .swatch-color {
  background-color: #fc6e86;
}
.swatch-brand-red-75 > .swatch-text::after {
  content: "#fc6e86";
}

.swatch-brand-red-50 > .swatch-color {
  background-color: #fd9eae;
}
.swatch-brand-red-50 > .swatch-text::after {
  content: "#fd9eae";
}

.swatch-brand-red-25 > .swatch-color {
  background-color: #feced6;
}
.swatch-brand-red-25 > .swatch-text::after {
  content: "#feced6";
}

.swatch-brand-green > .swatch-color {
  background-color: #55cdaf;
}
.swatch-brand-green > .swatch-text::after {
  content: "#55cdaf";
}

.swatch-brand-green-75 > .swatch-color {
  background-color: #68ddc3;
}
.swatch-brand-green-75 > .swatch-text::after {
  content: "#68ddc3";
}

.swatch-brand-green-50 > .swatch-color {
  background-color: #9ae8d7;
}
.swatch-brand-green-50 > .swatch-text::after {
  content: "#9ae8d7";
}

.swatch-brand-green-25 > .swatch-color {
  background-color: #ccf3eb;
}
.swatch-brand-green-25 > .swatch-text::after {
  content: "#ccf3eb";
}

.swatch-brand-yellow > .swatch-color {
  background-color: #fff019;
}
.swatch-brand-yellow > .swatch-text::after {
  content: "#fff019";
}

.swatch-brand-yellow-75 > .swatch-color {
  background-color: #fff87a;
}
.swatch-brand-yellow-75 > .swatch-text::after {
  content: "#fff87a";
}

.swatch-brand-yellow-50 > .swatch-color {
  background-color: #fffb9f;
}
.swatch-brand-yellow-50 > .swatch-text::after {
  content: "#fffb9f";
}

.swatch-brand-yellow-25 > .swatch-color {
  background-color: #fffdbe;
}
.swatch-brand-yellow-25 > .swatch-text::after {
  content: "#fffdbe";
}

.swatch-brand-petrol > .swatch-color {
  background-color: #004153;
}
.swatch-brand-petrol > .swatch-text::after {
  content: "#004153";
}

.swatch-brand-petrol-75 > .swatch-color {
  background-color: #40707e;
}
.swatch-brand-petrol-75 > .swatch-text::after {
  content: "#40707e";
}

.swatch-brand-petrol-50 > .swatch-color {
  background-color: #80a0a9;
}
.swatch-brand-petrol-50 > .swatch-text::after {
  content: "#80a0a9";
}

.swatch-brand-petrol-25 > .swatch-color {
  background-color: #bfcfd4;
}
.swatch-brand-petrol-25 > .swatch-text::after {
  content: "#bfcfd4";
}

.swatch-brand-apricot > .swatch-color {
  background-color: #ff9c66;
}
.swatch-brand-apricot > .swatch-text::after {
  content: "#ff9c66";
}

.swatch-brand-apricot-75 > .swatch-color {
  background-color: #ffb58c;
}
.swatch-brand-apricot-75 > .swatch-text::after {
  content: "#ffb58c";
}

.swatch-brand-apricot-50 > .swatch-color {
  background-color: #ffcdb2;
}
.swatch-brand-apricot-50 > .swatch-text::after {
  content: "#ffcdb2";
}

.swatch-brand-apricot-25 > .swatch-color {
  background-color: #ffe6d9;
}
.swatch-brand-apricot-25 > .swatch-text::after {
  content: "#ffe6d9";
}

.swatch-brand-gray > .swatch-color {
  background-color: #242424;
}
.swatch-brand-gray > .swatch-text::after {
  content: "#242424";
}

.swatch-brand-gray-75 > .swatch-color {
  background-color: #646465;
}
.swatch-brand-gray-75 > .swatch-text::after {
  content: "#646465";
}

.swatch-brand-gray-50 > .swatch-color {
  background-color: #646465;
}
.swatch-brand-gray-50 > .swatch-text::after {
  content: "#646465";
}

.swatch-brand-gray-25 > .swatch-color {
  background-color: #d8d8d8;
}
.swatch-brand-gray-25 > .swatch-text::after {
  content: "#d8d8d8";
}

.swatch-brand-gray-20 > .swatch-color {
  background-color: #f4f4f4;
}
.swatch-brand-gray-20 > .swatch-text::after {
  content: "#f4f4f4";
}

.swatch-brand-gray-10 > .swatch-color {
  background-color: #f7f7f7;
}
.swatch-brand-gray-10 > .swatch-text::after {
  content: "#f7f7f7";
}

.Header {
  background-color: #004153;
}

.Header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.theme-brand-logo {
  height: 1.5rem;
}
