<main class="product-microsite-page" role="main">
  <header class="image-header">
    <div class="image-header__body image-header-bg-visual-01">
        <div class="image-header__content">
            <h1 class="image-header__headline">Digitale Produktentwicklung</h1>
            <h3 class="image-header__subtitle">Wir entwickeln aus Ihren Ideen einzigartige Services.</h3>
            <img src="../../assets/arrow-long-down-red.svg"/>
        </div>
    </div>
  </header>

  <section class="triplet-divider">
      <div class="triplet-divider__left">
          Die einen designen Produkte.
      </div>
      <div class="triplet-divider__right">
          Die anderen entwickeln Software.
      </div>
      <div class="triplet-divider__center">
          <div class="page-layout-md--default">
              <h2>INNOQ kann beides.</h2>
              <p class="lead">
                  Für uns kann ein ausgereiftes Produkt nur dann entstehen, wenn Design
                  und Entwicklung Hand in Hand arbeiten. Deshalb haben wir Module entwickelt,
                  die ein ganzheitliches Vorgehen ermöglichen. Mit Methoden, die zum richtigen
                  Zeitpunkt greifen – von der ersten vagen Idee bis zum fertigen Produkt,
                  die von Anfang an Nutzergruppen mit einbeziehen und Prozesse beschleunigen.
              </p>
          </div>
      </div>
  </section>

  <section class="two-column-image-divider">
      <figure class="two-column-image-divider__left-image">
        <img src={context.app.uri('assets/visual-workshop-12.jpg')} />
      </figure>
      <figure class="two-column-image-divider__right-image">
        <img src={context.app.uri('assets/visual-workshop-16.jpg')} />
      </figure>
  </section>

  <article class="stripe--primary">
    <div class="page-layout-md--default">
        <div class="icon-devider icon-devider--transparent">
            <img class="icon-divider__image" src="../../assets/arrow-long-down-red.svg" />
        </div>

        <a href="#" class="product-list-teaser">
            <div class="product-list-teaser__body">
                <div class="product-list-teaser__caption">Das Auf-Herz-und-Nieren-Modul</div>
                <h2 class="product-list-teaser__headline">Vision Day</h2>
                <p class="product-list-teaser__text">
                    Ihre Idee steht noch ganz am Anfang? In einem gemeinsamen Workshop nach dem LeanCanvas- Prinzip gehen
                    wir den
                    notwendigen nächsten Schritt. Gemeinsam mit Ihnen und Ihrem Team stellen wir Ihre Idee auf den
                    Prüfstand und
                    erarbeiten Geschäftsziele, Zielgruppen und Produktvorteile.
                </p>
            </div>
            <div class="product-list-teaser__footer">
                <ul class="tuple-list">
                    <li class="tuple-list__entry"><span class="tuple-list__label">Dauer:</span><span class="tuple-list__value">1
                            Tag</span></li>
                    <li class="tuple-list__entry"><span class="tuple-list__label">Teilnehmer:</span><span class="tuple-list__value">Management,
                            Product Owner, Digital Product Designer</span></li>
                    <li class="tuple-list__entry"><span class="tuple-list__label">Ergebnis:</span><span class="tuple-list__value">Eine
                            konkrete Produktvision und ein Vorschlag zu umsetzbaren nächsten Schritten</span></li>
                </ul>
            </div>
        </a>

        <div class="icon-devider icon-devider--transparent">
            <img class="icon-divider__image" src="../../assets/arrow-long-down-red.svg" />
        </div>

        <a href="#" class="product-list-teaser">
            <div class="product-list-teaser__body">
                <div class="product-list-teaser__caption">Das Zeit-ist-Geld-Modul</div>
                <h2 class="product-list-teaser__headline">Design Sprint</h2>
                <p class="product-list-teaser__text">
                    In vier Tagen zu greifbaren Resultaten und echtem Nutzerfeedback? Klingt sportlich, ist aber eine
                    bewährte Methode,
                    um entscheidende Fragen zu Produktideen zu beantworten – durch Design, Prototyping und Nutzer-Tests.
                    Wesentlich
                    effizienter als bei einem Brainstorming, stehen am Ende eines Designsprints messbare Ergebnisse, die
                    monatelange,
                    nicht validierte Entwicklungsarbeit einsparen können.
                </p>
            </div>
            <div class="product-list-teaser__footer">
                <ul class="tuple-list">
                    <li class="tuple-list__entry"><span class="tuple-list__label">Dauer:</span><span class="tuple-list__value">4
                            Tage</span></li>
                    <li class="tuple-list__entry"><span class="tuple-list__label">Teilnehmer:</span><span class="tuple-list__value">Design,
                            Entwicklung, Product Owner, Management</span></li>
                    <li class="tuple-list__entry"><span class="tuple-list__label">Ergebnis:</span><span class="tuple-list__value">Ein
                            nutzergetesteter Prototyp für Ihr digitales Produkt</span></li>
                </ul>
            </div>
        </a>

        <figure>
            <img src={context.app.uri('assets/visual-workshop-11.jpg')} />
        </figure>

        <div class="icon-devider icon-devider--transparent">
            <img class="icon-divider__image" src="../../assets/arrow-long-down-red.svg" />
        </div>

        <a href="#" class="product-list-teaser">
            <div class="product-list-teaser__body">
                <div class="product-list-teaser__caption">Das Alles-auf-dem-Zettel-Modul</div>
                <h2 class="product-list-teaser__headline">Ignition Days</h2>
                <p class="product-list-teaser__text">
                    Jetzt wird es konkret. In diesem Workshop erarbeiten wir gemeinsam mit Product Owner und allen
                    wichtigen Stakeholdern
                    Kriterien für das MVP (Minimum Viable Product) – also dem kleinsten lauffähigen Produkt, das die
                    ersten Geschäftsziele
                    erreichen kann. Dabei arbeiten wir mit modernen, erprobten Tools und einem großen Stapel Post-it’s. Das
                    nennt sich User
                    Story Mapping und ist eine ebenso kreative wie effiziente Möglichkeit, den ersten Produktumfang zu
                    definieren.
                </p>
            </div>
            <div class="product-list-teaser__footer">
                <ul class="tuple-list">
                    <li class="tuple-list__entry"><span class="tuple-list__label">Dauer:</span><span class="tuple-list__value">2
                            Tage</span></li>
                    <li class="tuple-list__entry"><span class="tuple-list__label">Teilnehmer:</span><span class="tuple-list__value">Product
                            Owner, Design,
                            Entwicklung</span></li>
                    <li class="tuple-list__entry"><span class="tuple-list__label">Ergebnis:</span><span class="tuple-list__value">Inhalt
                            und Umfang ihres MVP, sowie messbare Erfolgskriterien</span></li>
                </ul>
            </div>
        </a>

        <div class="icon-devider icon-devider--transparent">
            <img class="icon-divider__image" src="../../assets/arrow-long-down-red.svg" />
        </div>

        <a href="#" class="product-list-teaser">
            <div class="product-list-teaser__body">
                <div class="product-list-teaser__caption">Das Auf-die-Plätze-fertig-los-Modul:</div>
                <h2 class="product-list-teaser__headline">Backlog Boost</h2>
                <p class="product-list-teaser__text">
                    Das Herzstück der Produktentwicklung ist der Backlog, also die Auflistung aller zu entwickelnden
                    Features und die damit verbundenen
                    Aufgaben. Mit dem Backlog Boost sparen Sie wertvolle Zeit und Geld: Ein erfahrener Digital Product
                    Designer erstellt und priorisiert
                    gemeinsam mit Ihrem Product Owner die ersten konkreten Aufgabenpakete – so kann das Entwicklungsteam
                    sofort ab Sprint produktiv sein.
                </p>
            </div>
            <div class="product-list-teaser__footer">
                <ul class="tuple-list">
                    <li class="tuple-list__entry"><span class="tuple-list__label">Dauer:</span><span class="tuple-list__value">2-5
                            Tage</span></li>
                    <li class="tuple-list__entry"><span class="tuple-list__label">Teilnehmer:</span><span class="tuple-list__value">Product
                            Owner, Digital Product Designer</span></li>
                    <li class="tuple-list__entry"><span class="tuple-list__label">Ergebnis:</span><span class="tuple-list__value">Ein
                            Basis-Backlog, der für Effektivitätssteigerung im Projekt sorgt</span></li>
                </ul>
            </div>
        </a>

        <div class="icon-devider icon-devider--transparent">
            <img class="icon-divider__image" src="../../assets/arrow-long-down-red.svg" />
        </div>

        <a href="#" class="product-list-teaser">
            <div class="product-list-teaser__body">
                <div class="product-list-teaser__caption">Das Alle-an-Deck-Modul</div>
                <h2 class="product-list-teaser__headline">Team Campfire</h2>
                <p class="product-list-teaser__text">
                    Dieser Workshop für das gesamte Produktteam stellt sicher, dass alle für die Zusammenarbeit relevanten
                    Entscheidungen bereits vorab
                    getroffen werden – und nicht während der eigentlichen Entwicklungsphase wertvolle Zeit binden. Ebenso
                    wichtig ist, dass das Team die
                    Produktvision versteht und gemeinsam die Akzeptanzkriterien festlegt, die für die Fertigstellung von
                    Features gelten sollen.
                </p>
            </div>
            <div class="product-list-teaser__footer">
                <ul class="tuple-list">
                    <li class="tuple-list__entry"><span class="tuple-list__label">Dauer:</span><span class="tuple-list__value">2
                            Tage</span></li>
                    <li class="tuple-list__entry"><span class="tuple-list__label">Teilnehmer:</span><span class="tuple-list__value">Das
                            ganze Team</span></li>
                    <li class="tuple-list__entry"><span class="tuple-list__label">Ergebnis:</span><span class="tuple-list__value">Teambuilding,
                            ein Set an Entscheidungen zur Entwicklung, Regeln für die Zusammenarbeit</span></li>
                </ul>
            </div>
        </a>

        <div class="icon-devider icon-devider--transparent">
            <img class="icon-divider__image" src="../../assets/arrow-long-down-red.svg" />
        </div>
    </div>
  </article>

  <div class="wall-note wall-note-bg-image-workshop">
      <div class="wall-note__content">
          <h3 class="wall-note__subheading">Aus unserer Erfahrung untrennbar</h3>
          <h2 class="wall-note__heading">Continous Discovery &<br />Continous Development</h2>
          <p class="lead">Jetzt kann der eigentliche Entwicklungsprozess beginnen. Doch damit am Ende ein wirklich gutes
              Produkt herauskommt, sind neben der Produktentwicklung (Continous Development) auch Nutzertests und
              Validierung (Continous Discovery) notwendig. Und noch wichtiger ist, dass beides synchron läuft. Dafür
              sorgen wir mit all unserer Erfahrung: Vorausschauende Konzeptarbeit findet parallel und in Abstimmung zur
              Entwicklung statt. UX-Experten sind selbstverständlich Teil des Produktteams. Konzipierte Features werden
              direkt entwickelt und im Anschluss getestet. Das Feedback aus den Tests fließt umgehend wieder in die
              Entwicklung zurück. So stellen wir sicher, dass jede Entwicklung auch den gewünschten Outcome bringt. Und
              dass es bald Zeit wird für das Jetzt-wird-gefeiert-Modul.</p>
          <img class="icon icon--big" src={context.app.uri('assets/arrow-sync-red.svg')} />
      </div>
  </div>
</main>
