<main class="product-microsite-page" role="main">
    <header class="image-header">
        <div class="image-header__body image-header-bg-visual-01">
            <div class="image-header__content">
                <h1 class="image-header__headline">Digitale Produktentwicklung</h1>
                <h3 class="image-header__subtitle">Wir entwickeln aus Ihren Ideen einzigartige Services.</h3>
                <img src="../../assets/arrow-long-down-red.svg" />
            </div>
        </div>
    </header>

    <article class="page-layout-md--default">
        <p class="lead">
            Ihre Fachexpertise und unser Entwicklungs-Know-how sind eine erfolgversprechende Kombination. Im
            Software-as-a-Service-Modell (SaaS) transformieren wir Ihr neues oder bestehendes Geschäftsmodell in einen
            innovativen, digitalen Service für Ihre Kunden. Das gilt selbstverständlich für den gesamten Lebenszyklus --
            fachlich, technisch und kommerziell.
        </p>

        <h3 id="diekraftderveränderung.">Die Kraft der Veränderung.</h3>

        <p>Durch die Digitalisierung verändert sich die Art und Weise, wie wir
            zusammenarbeiten, wie wir kommunizieren, wie wir mit Informationen umgehen. Und
            es gibt kaum eine Firma oder einen Unternehmensbereich, der davon nicht
            betroffen ist. Von der Prozessoptimierung bis zur Kundenkommunikation; ob
            Großunternehmen, Mittelständler oder Startup. Geschäftsfelder verändern sich,
            ganz neue Märkte können erschlossen werden – mit neuen Produkten und neuen
            Dienstleistungen. INNOQ begleitet seit Jahren erfolgreich Unternehmen beim
            Aufbau digitaler Geschäftsmodelle bzw. bei der digitalen Transformation. Es
            gibt unzählige Definitionen, was das genau bedeutet.</p>

        <p>Wir verstehen darunter vor
            allem eines: Ihre Ideen in Erfolg zu verwandeln – technisch exzellent, nachhaltig
            motiviert und fair. Das bedeutet nicht, dass wir uns nicht auch gerne bei der
            Ideenfindung beteiligen. Doch die Erfahrung zeigt, dass die besten Ideen bereits
            in den Köpfen Ihrer Mitarbeiterinnen und Mitarbeiter bestehen. Wir sind die
            Partner, die daraus erfolgreiche, digitale Produkte designen und entwickeln –
            von der Ideengenerierung und Konzeption bis zur Umsetzung. Dank unserer
            jahrelangen Erfahrung in Technologieberatung und der Entwicklung digitaler
            Produkte können wir sämtliche Funktionen abdecken: Produktmanagement, Design,
            UI/UX, Frontend- und Backend-Entwicklung. Auch und vor allem für die Lösung
            schwieriger, technischer Probleme finden Sie bei uns die richtigen Expertinnen
            und Experten.</p>

        <h3 id="unsercodefürihreinnovation.">Unser Code für Ihre Innovation.</h3>

        <p>Als außenstehender – und rein digital denkender – Partner haben wir den nötigen
            Abstand und auch den Mut, Dinge ganz neu zu denken, an Probleme völlig anders
            heranzugehen. Das gibt Ihnen die Chance, sich nach außen vom Wettbewerb zu
            differenzieren und nach innen neue Prozesse anzustoßen. Entscheidend ist dabei
            immer, den Menschen in den Mittelpunkt zu stellen – ob Kunde oder die eigenen
            Mitarbeiter. Das kann eine SaaS-Lösung sein, die die Zusammenarbeit mit Ihren
            Kunden wesentlich erleichtert. Oder das effektive Zusammenführen von Wissen und
            Daten innerhalb der Abteilungen. Das spart nicht nur wertvolle Zeit. Eine
            konsequente digitale Transformation hat auch das Potential, die gesamte
            Unternehmenskultur zu verändern.</p>

        <p>Gerade mittelständischen Unternehmen kann ein digitales Geschäftsmodell
            den entscheidenden Wettbewerbsvorteil sichern. Dabei
            können wir uns unterschiedliche Partnerschaften vorstellen: ob externe
            IT-Abteilung, Berater und Wissensvermittler oder als Produktentwickler. Vor
            allem bei Letzterem handelt es sich um eine intensive Zusammenarbeit: Mit einem
            Projektteam – meist bestehend aus Software-Entwicklern, Web-Designern und
            Cloud-Engineers – steigen wir früh in den Prozess ein, unterstützen Sie bei
            der Konzeption und übernehmen Architektur, Technologie-Auswahl, die
            vollständige Umsetzung des Service und selbstverständlich auch Verantwortung.
            So entsteht eine Software-Anwendung, die auf aktuelle Marktanforderungen
            reagieren kann und dementsprechend technisch skalierbar ist – ohne langfristige
            finanzielle Verpflichtungen.</p>

        <h3 id="wirinvestierenindiezukunft.mitzeitundknow-how.">Wir investieren in die Zukunft.<br/>Mit Zeit und Know-how.</h3>

        <p>Innovation ist Teil unseres Namens und gute Ideen treiben uns an. Vor allem,
            wenn sie uns technologisch weiterbringen. Aber manchmal ist da auch diese eine
            herausragende Idee, die auch wir technologisch voranbringen können. Deshalb
            bieten wir Startups aus dem B2B-Umfeld ein Tech4Equity-Investment an: Unsere
            IT-Leistung im Tausch gegen Unternehmensanteile. Wir sind also auch bereit, mit
            ins unternehmerische Risiko zu gehen – vorausgesetzt, Idee und Gründerteam
            überzeugen uns. Dabei verstehen wir uns als initialer Enabler. Das ist uns
            besonders wichtig. Denn Ziel ist es immer, ein nachhaltig erfolgreiches Setup zu
            schaffen. Deshalb unterstützen wir bei der Produktentwicklung ebenso wie beim
            Aufbau eines Tech-Teams, das das Produkt langfristig weiterentwickeln kann. Sie
            haben genau diese eine Idee? Wir freuen uns darauf, Sie kennenzulernen.</p>
    </article>

    <h2 class="teaser-section-heading">So arbeiten wir mit Ihnen zusammen</h2>

    <section class="two-column-image-divider">
        <figure class="two-column-image-divider__left-image">
            <img src={context.app.uri('assets/visual-workshop-12.jpg')} />
        </figure>
        <figure class="two-column-image-divider__right-image">
            <img src={context.app.uri('assets/visual-workshop-16.jpg')} />
        </figure>
    </section>

    <article class="stripe--primary">
        <div class="page-layout-md--no-margin">
            <div class="icon-devider icon-devider--transparent">
                <img class="icon-divider__image" src="../../assets/arrow-long-down-red.svg" />
            </div>

            <a href="#" class="product-list-teaser">
                <div class="product-list-teaser__body">
                    <div class="product-list-teaser__caption">Das Auf-Herz-und-Nieren-Modul</div>
                    <h2 class="product-list-teaser__headline">Vision Day</h2>
                    <p class="product-list-teaser__text">
                        Ihre Idee steht noch ganz am Anfang? In einem gemeinsamen Workshop nach dem LeanCanvas- Prinzip
                        gehen
                        wir den
                        notwendigen nächsten Schritt. Gemeinsam mit Ihnen und Ihrem Team stellen wir Ihre Idee auf den
                        Prüfstand und
                        erarbeiten Geschäftsziele, Zielgruppen und Produktvorteile.
                    </p>
                </div>
                <div class="product-list-teaser__footer">
                    <ul class="tuple-list">
                        <li class="tuple-list__entry"><span class="tuple-list__label">Dauer:</span><span class="tuple-list__value">1
                                Tag</span></li>
                        <li class="tuple-list__entry"><span class="tuple-list__label">Teilnehmer:</span><span class="tuple-list__value">Management,
                                Product Owner, Digital Product Designer</span></li>
                        <li class="tuple-list__entry"><span class="tuple-list__label">Ergebnis:</span><span class="tuple-list__value">Eine
                                konkrete Produktvision und ein Vorschlag zu umsetzbaren nächsten Schritten</span></li>
                    </ul>
                </div>
            </a>

            <div class="icon-devider icon-devider--transparent">
                <img class="icon-divider__image" src="../../assets/arrow-long-down-red.svg" />
            </div>

            <a href="#" class="product-list-teaser">
                <div class="product-list-teaser__body">
                    <div class="product-list-teaser__caption">Das Zeit-ist-Geld-Modul</div>
                    <h2 class="product-list-teaser__headline">Design Sprint</h2>
                    <p class="product-list-teaser__text">
                        In vier Tagen zu greifbaren Resultaten und echtem Nutzerfeedback? Klingt sportlich, ist aber
                        eine
                        bewährte Methode,
                        um entscheidende Fragen zu Produktideen zu beantworten – durch Design, Prototyping und
                        Nutzer-Tests.
                        Wesentlich
                        effizienter als bei einem Brainstorming, stehen am Ende eines Designsprints messbare
                        Ergebnisse, die
                        monatelange,
                        nicht validierte Entwicklungsarbeit einsparen können.
                    </p>
                </div>
                <div class="product-list-teaser__footer">
                    <ul class="tuple-list">
                        <li class="tuple-list__entry"><span class="tuple-list__label">Dauer:</span><span class="tuple-list__value">4
                                Tage</span></li>
                        <li class="tuple-list__entry"><span class="tuple-list__label">Teilnehmer:</span><span class="tuple-list__value">Design,
                                Entwicklung, Product Owner, Management</span></li>
                        <li class="tuple-list__entry"><span class="tuple-list__label">Ergebnis:</span><span class="tuple-list__value">Ein
                                nutzergetesteter Prototyp für Ihr digitales Produkt</span></li>
                    </ul>
                </div>
            </a>

            <figure>
                <img src={context.app.uri('assets/visual-workshop-11.jpg')} />
            </figure>

            <div class="icon-devider icon-devider--transparent">
                <img class="icon-divider__image" src="../../assets/arrow-long-down-red.svg" />
            </div>

            <a href="#" class="product-list-teaser">
                <div class="product-list-teaser__body">
                    <div class="product-list-teaser__caption">Das Alles-auf-dem-Zettel-Modul</div>
                    <h2 class="product-list-teaser__headline">Ignition Days</h2>
                    <p class="product-list-teaser__text">
                        Jetzt wird es konkret. In diesem Workshop erarbeiten wir gemeinsam mit Product Owner und allen
                        wichtigen Stakeholdern
                        Kriterien für das MVP (Minimum Viable Product) – also dem kleinsten lauffähigen Produkt, das
                        die
                        ersten Geschäftsziele
                        erreichen kann. Dabei arbeiten wir mit modernen, erprobten Tools und einem großen Stapel
                        Post-it’s. Das
                        nennt sich User
                        Story Mapping und ist eine ebenso kreative wie effiziente Möglichkeit, den ersten Produktumfang
                        zu
                        definieren.
                    </p>
                </div>
                <div class="product-list-teaser__footer">
                    <ul class="tuple-list">
                        <li class="tuple-list__entry"><span class="tuple-list__label">Dauer:</span><span class="tuple-list__value">2
                                Tage</span></li>
                        <li class="tuple-list__entry"><span class="tuple-list__label">Teilnehmer:</span><span class="tuple-list__value">Product
                                Owner, Design,
                                Entwicklung</span></li>
                        <li class="tuple-list__entry"><span class="tuple-list__label">Ergebnis:</span><span class="tuple-list__value">Inhalt
                                und Umfang ihres MVP, sowie messbare Erfolgskriterien</span></li>
                    </ul>
                </div>
            </a>

            <div class="icon-devider icon-devider--transparent">
                <img class="icon-divider__image" src="../../assets/arrow-long-down-red.svg" />
            </div>

            <a href="#" class="product-list-teaser">
                <div class="product-list-teaser__body">
                    <div class="product-list-teaser__caption">Das Auf-die-Plätze-fertig-los-Modul:</div>
                    <h2 class="product-list-teaser__headline">Backlog Boost</h2>
                    <p class="product-list-teaser__text">
                        Das Herzstück der Produktentwicklung ist der Backlog, also die Auflistung aller zu
                        entwickelnden
                        Features und die damit verbundenen
                        Aufgaben. Mit dem Backlog Boost sparen Sie wertvolle Zeit und Geld: Ein erfahrener Digital
                        Product
                        Designer erstellt und priorisiert
                        gemeinsam mit Ihrem Product Owner die ersten konkreten Aufgabenpakete – so kann das
                        Entwicklungsteam
                        sofort ab Sprint produktiv sein.
                    </p>
                </div>
                <div class="product-list-teaser__footer">
                    <ul class="tuple-list">
                        <li class="tuple-list__entry"><span class="tuple-list__label">Dauer:</span><span class="tuple-list__value">2-5
                                Tage</span></li>
                        <li class="tuple-list__entry"><span class="tuple-list__label">Teilnehmer:</span><span class="tuple-list__value">Product
                                Owner, Digital Product Designer</span></li>
                        <li class="tuple-list__entry"><span class="tuple-list__label">Ergebnis:</span><span class="tuple-list__value">Ein
                                Basis-Backlog, der für Effektivitätssteigerung im Projekt sorgt</span></li>
                    </ul>
                </div>
            </a>

            <div class="icon-devider icon-devider--transparent">
                <img class="icon-divider__image" src="../../assets/arrow-long-down-red.svg" />
            </div>

            <a href="#" class="product-list-teaser">
                <div class="product-list-teaser__body">
                    <div class="product-list-teaser__caption">Das Alle-an-Deck-Modul</div>
                    <h2 class="product-list-teaser__headline">Team Campfire</h2>
                    <p class="product-list-teaser__text">
                        Dieser Workshop für das gesamte Produktteam stellt sicher, dass alle für die Zusammenarbeit
                        relevanten
                        Entscheidungen bereits vorab
                        getroffen werden – und nicht während der eigentlichen Entwicklungsphase wertvolle Zeit binden.
                        Ebenso
                        wichtig ist, dass das Team die
                        Produktvision versteht und gemeinsam die Akzeptanzkriterien festlegt, die für die
                        Fertigstellung von
                        Features gelten sollen.
                    </p>
                </div>
                <div class="product-list-teaser__footer">
                    <ul class="tuple-list">
                        <li class="tuple-list__entry"><span class="tuple-list__label">Dauer:</span><span class="tuple-list__value">2
                                Tage</span></li>
                        <li class="tuple-list__entry"><span class="tuple-list__label">Teilnehmer:</span><span class="tuple-list__value">Das
                                ganze Team</span></li>
                        <li class="tuple-list__entry"><span class="tuple-list__label">Ergebnis:</span><span class="tuple-list__value">Teambuilding,
                                ein Set an Entscheidungen zur Entwicklung, Regeln für die Zusammenarbeit</span></li>
                    </ul>
                </div>
            </a>

            <div class="icon-devider icon-devider--transparent">
                <img class="icon-divider__image" src="../../assets/arrow-long-down-red.svg" />
            </div>
        </div>
    </article>

    <div class="wall-note wall-note-bg-image-workshop">
        <div class="wall-note__content">
            <h3 class="wall-note__subheading">Aus unserer Erfahrung untrennbar</h3>
            <h2 class="wall-note__heading">Continous Discovery &<br />Continous Development</h2>
            <p class="lead">Jetzt kann der eigentliche Entwicklungsprozess beginnen. Doch damit am Ende ein wirklich
                gutes
                Produkt herauskommt, sind neben der Produktentwicklung (Continous Development) auch Nutzertests und
                Validierung (Continous Discovery) notwendig. Und noch wichtiger ist, dass beides synchron läuft. Dafür
                sorgen wir mit all unserer Erfahrung: Vorausschauende Konzeptarbeit findet parallel und in Abstimmung
                zur
                Entwicklung statt. UX-Experten sind selbstverständlich Teil des Produktteams. Konzipierte Features
                werden
                direkt entwickelt und im Anschluss getestet. Das Feedback aus den Tests fließt umgehend wieder in die
                Entwicklung zurück. So stellen wir sicher, dass jede Entwicklung auch den gewünschten Outcome bringt.
                Und
                dass es bald Zeit wird für das Jetzt-wird-gefeiert-Modul.</p>
            <img class="icon icon--big" src={context.app.uri('assets/arrow-sync-red.svg')} />
        </div>
    </div>
</main>
