.culture-page {
  .culture-bg-04 {
    background-image: asset-url('public/assets/visual-culture-04.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .culture-bg-04-text-box {
    background-image: linear-gradient($gradient-stencil, $gradient-stencil), asset-url('public/assets/visual-culture-04.jpg');
  }

  .culture-bg-05 {
    background-image: asset-url('public/assets/visual-culture-05.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .culture-bg-05-text-box {
    background-image: linear-gradient($gradient-stencil, $gradient-stencil), asset-url('public/assets/visual-culture-05.jpg');
  }
}
