.culture-page {
  .culture-bg-04 {
    background-image: asset-url('visual-culture-04.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .culture-bg-04-text-box {
    @extend %culture-bg-04-text-box;
  }

  .culture-bg-05 {
    background-image: asset-url('visual-culture-05.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .culture-bg-05-text-box {
    @extend %culture-bg-05-text-box;
  }
}
