<main role="main" class="culture-page">
    <header class="image-header">
        <div class="image-header__body image-header-bg">
            <div class="image-header__content">
                <h1 class="image-header__title image-header-bg-text-box ">Ein<br />Titel</h1>
                <img src={context.app.uri('assets/static/arrow-long-down-red.svg')} />
            </div>
        </div>
    </header>
    <header class="claim-header">
        <div class="claim-header__body">
            <h3 class="claim-header__type">Lorem Gibson</h3>
            <h1 class="claim-header__title">
                Keine Architektur <br />
                ohne Plan.<br />
                <hr class="claim-header__divider"/>
                Keine Entwicklung ohne <br />
                wie und warum.<br />
                <hr class="claim-header__divider"/>
                Keine Entscheidung ohne<br />
                guten Grund.
            </h1>
            <img src={context.app.uri('assets/static/arrow-long-down-blue.svg')} />
        </div>
    </header>

    <div class="image-divider-right">
        <div class="image-divider-right-content">
            <div class="image-divider-right-textbox">
                <p class="image-divider-right-content-textbox__text">
                    Jeans shrine Chiba fluidity shoes chrome arcology nano-San Francisco singularity
                    vehicle crypto-new yen Blue Nine. Maas Biolabs hacker Freeside uplink dermatrodes
                    franchise gauntlet personality Chiba systema
                    Dex beef noodles biochip personality Chiba post-uplink euro-pop sentient.
                </p>
            </div>
            <img class="image-divider-right-image" itemprop="photo" src={context.app.uri("assets/static/visual-culture-02.jpg")} alt="innoQ Mitarbeiter" />
        </div>
    </div>

    <div class="page-layout-xl--default">
        <div class="image-divider-center image-divider-center-bg">
            <div class="image-divider-center__textbox">
                <h1 class="image-divider-center__title image-divider-center-bg-text-box">Ein Titel</h1>
                <p class="image-divider-center__textbox__text">
                    Filet mignon sausage tongue, hamburger porchetta fatback kielbasa flank
                    ribeye. Pastrami t-bone pork chop sirloin ham swine cupim brisket
                    prosciutto buffalo drumstick strip steak capicola short loin.
                    Frankfurter fatback turkey pork chop prosciutto pork ground round tongue
                    chuck doner. Pig venison pork chop shoulder corned beef capicola
                    meatball.
                </p>
                <img src={context.app.uri('assets/static/arrow-long-down-red.svg')} />
            </div>
        </div>
    </div>

    <div class="case-teaser culture-bg-04">
        <div class="case-teaser__wrapper">
            <div class="case-teaser__body">
                <div>
                    <div class='case-teaser__punch-in culture-bg-04-text-box'>
                        <div class="case-teaser__header">
                            <h1>Case Study Headline</h1>
                        </div>
                    </div>
                    <div class="case-teaser__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit doloremque culpa minima vero quod, optio itaque nisi deserunt, debitis ad laudantium libero, quia nemo!
                    </div>
                </div>
                <div><a class="link-teaser" href="#">Mehr erfahren</a></div>
            </div>
        </div>
    </div>

    <div class="page-layout-xl--default">
        <div class="blocks">
            <a href="#" class="teaser big-content-teaser big-content-teaser--image culture-bg-05">
                <div class="big-content-teaser__content filled-background">
                    <div class="big-content-teaser__body">
                        <h2 class="big-content-teaser__headline">Dies ist eine Headline</h2>
                        <p class="big-content-teaser__text">
                            Lorem gibson 8-bit Freeside denim otaku sign boy neon warp long-chain hydrocarbons car.
                        </p>
                    </div>
                    <div class="big-content-teaser__footer">
                        <div class="link-teaser" href="#">Mehr erfahren</div>
                    </div>
                </div>
            </a>
            <a href="#" class="teaser big-content-teaser big-content-teaser--colored">
                <div class="big-content-teaser__content">
                    <div class="big-content-teaser__body">
                        <h2 class="big-content-teaser__headline">Dies ist eine Headline</h2>
                        <p class="big-content-teaser__text">
                            Lorem gibson 8-bit Freeside denim otaku sign boy neon warp long-chain hydrocarbons car.
                        </p>
                    </div>
                    <div class="big-content-teaser__footer">
                        <div class="link-teaser inverted-text-color" href="#">Mehr erfahren</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>
