.tile-grid-sm {
  display: grid;
  width: 100%;
  grid-gap: $spacer-sm;
}

.tile-grid-md {
  display: grid;
  width: 100%;
  grid-gap: $spacer-sm;
}

@media screen and (min-width: $grid-breakpoint-sm) {
  .tile-grid-sm {
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  }

  .tile-grid-md {
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  }
}
