figure {
  margin: 0;

  img,
  video {
    display: block;
    width: 100%;
  }

  a:not([class]) {
    @extend %hover-glow;

    display: block;
    background-color: transparent;
    border-bottom: 0;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
}

.image-link {
  @extend %image-link;
}

a:has(figure) {
  @extend %hover-glow;
}

figcaption {
  @extend %heading-font-regular;

  margin-top: $spacer-xs;
  font-size: $font-size-xxs;
  line-height: $paragraph-line-height-sm;
  text-align: center;
}

@media screen and (min-width: $grid-breakpoint-md) {
  figcaption {
    font-size: $font-size-base;
    line-height: $paragraph-line-height-sm;
  }
}
