figure {
  margin: 0 0 $spacer-md;

  img,
  video {
    width: 100%;
  }
}

figcaption {
  @extend %heading-font-regular;

  font-size: $font-size-xxs;
  line-height: $paragraph-line-height-sm;
  text-align: center;
}

@media screen and (min-width: $grid-breakpoint-md) {
  figcaption {
    font-size: $font-size-base;
    line-height: $paragraph-line-height-sm;
  }
}
