
<main role="main" class="artist-collabo-page">
    <header class="standard-header bg-image-art-01">
        <span class="standard-header__type">Artist Collaboration</span>
        <h1 class="standard-header__title">Artist-in-Residence Program by INNOQ</h1>
        <div class="standard-header__intro">
            <h3>Wir glauben an die bewusste Reflektion zwischen Technik und Gesellschaft.</h3>
            <p class="standard-header__intro__text">
                Filet mignon sausage tongue, hamburger porchetta fatback kielbasa flank
                ribeye. Pastrami t-bone pork chop sirloin ham swine cupim brisket
                prosciutto buffalo drumstick strip steak capicola short loin.
                Frankfurter fatback turkey pork chop prosciutto pork ground round tongue
                chuck doner. Pig venison pork chop shoulder corned beef capicola
                meatball.
            </p>
        </div>
    </header>

    <section class="page-layout-xl--default">
        <div class="edition-section">
            <hr class="edition-separator" />
            <div class="edition">Edition</div>
            <span class="edition-date edition-date--edition-1">18
                <hr class="edition-date-separator" />
                21
            </span>
        </div>

        <a href="#" class="image-list-teaser">
            <h3 class="image-list-teaser__title image-list-teaser__title--01">Vertigo in the Face of the Infinite</h3>
            <p class="image-list-teaser__subtitle">Matthew Plummer-Fernandez</p>
            <figure>
                <img class="content__image__big" src={context.app.uri("assets/bg-images/edition-01/visual-header-heads.jpg")} alt="Tower" />
                <figcaption>
                    Erste INNOQ-Medienkunst-Edition
                </figcaption>
            </figure>
        </a>

        <div class="edition-section">
            <hr class="edition-separator" />
            <div class="edition">Edition</div>
            <span class="edition-date edition-date--edition-2">21
                <hr class="edition-date-separator edition-date-separator--edition-2" />
                jetzt
            </span>
        </div>
        <a href="#" class="image-list-teaser">
            <h3 class="image-list-teaser__title image-list-teaser__title--02">Neuroevolutionary Trails</h3>
            <p class="image-list-teaser__subtitle">Studio Waltz Binaire</p>
            <figure>
                <img class="content__image__big" src={context.app.uri("assets/bg-images/edition-02/edition02-01.jpg")} alt="Neuroevolutionary Trails" />
                <figcaption>
                    Zweite INNOQ-Medienkunst-Edition
                </figcaption>
            </figure>
        </a>
    </section>
</main>
