<info-box>
    <details>
        <summary>
            <div class="infobox__teaser">
                <div class="infobox__teaser__left">
                    <span class="infobox__teaser__heading">Ich bin eine Infobox</span>
                    <span class="icon icon-info"></span>
                </div>
                <div class="infobox__teaser__right">
                    <span class="icon icon-chevron-down icon--small"></span>
                </div>
            </div>
        </summary>
        <div class="infobox__content">
            <h2>{{headline}}</h2>
            <p>{{text_short}} <a href="#"">Link</a></p>
            <p>{{text_short}}</p>
            <h2>{{headline}}</h2>
            <p>{{text_short}}</p>
            <ul>
                <li>{{listitem}}</li>
                <li>{{listitem}}</li>
                <li>{{listitem}}</li>
                <li><a href="#"">Link</a></li>
            </ul>
        </div>
    </details>
</info-box>
