// ---- Ordered Lists ----------------------------------------------------------
//
// Generated numbers from default ordered lists can't be styled directly
// yet. Therefore we disable auto-numbering and use a counter to increment
// a number and insert it via :before content.
//
// Scope element based selector to elements, that do not carry a
// class attribute, to prevent reverting styles for all non-default lists.
//

ol:not([class]) {
  @extend %base-list-styling;
  @extend %body-font-regular;
  @extend %list-unstyled;

  counter-reset: number;

  > * + * {
    margin-top: $spacer-xxs;
  }

  > li {
    counter-increment: number;

    &::before {
      @extend %heading-font-bold;

      padding-right: $spacer-xxs;
      color: $bullet-list-color-secondary;
      content: counter(number);
      font-size: $font-size-base;
      line-height: $paragraph-line-height;

      @media screen and (min-width: $grid-breakpoint-md) {
        font-size: $font-size-sm;
      }
    }

    ul {
      margin-left: $spacer-base;
    }

    ol {
      margin-left: $spacer-md;
    }
  }
}
