.list-unstyled {
  @extend %list-unstyled;
}

// ---- Unordered Lists --------------------------------------------------------
//
// Scope element based selector to elements, that do not carry a
// class attribute, to prevent reverting styles for all non-default lists.
//

ul:not([class], [role='list']),
.bold-list {
  @extend %base-list-styling;

  margin-left: $spacer-xs;

  > * + * {
    margin-top: $spacer-xxs;
  }

  > li {
    @extend %body-font-regular;

    padding-left: $spacer-xxs;
    list-style-type: '●';

    &::marker {
      font-size: $font-size-sm;
      color: $bullet-list-color;
    }

    li::marker {
      font-size: $font-size-sm;
      color: $bullet-list-color-secondary;
    }

    ul {
      margin-left: $spacer-sm;
    }

    ol {
      margin-left: $spacer-xxs;
    }
  }
}

// ---- Bold Bullet Lists ----------------------------------------------------------
//
.bold-list {
  @extend %base-list-styling;

  > li {
    @extend %heading-font-bold;

    list-style-type: '•';

    &::marker {
      font-size: $font-size-lg;
      color: $bullet-list-color;
    }
  }
}
