.container-xl,
%container-xl {
  width: 100%;
  max-width: $default-page-layout-content-width-xl;
  padding: 0 $spacer-xs;
  margin: 0 auto;

  > * + * {
    margin-top: $spacer-base;
  }
}

.container-vertical-spacing,
%container-vertical-spacing {
  padding: $spacer-xl $spacer-xs;
}

.container-md,
%container-md {
  width: 100%;
  max-width: $default-page-layout-content-width-md;
  padding: 0 $spacer-xs;
  margin: 0 auto;

  > * + * {
    margin-top: $spacer-base;
  }
}


//Breakpoints

@media screen and (min-width: $grid-breakpoint-lg) {
  .container-xl {
    padding: 0 $spacer-base;
  }

  .container-vertical-spacing {
    padding: $spacer-xxl $spacer-base;
  }
}
