.container-xl,
%container-xl {
  margin: 0 auto;
  padding: $spacer-xl $spacer-xs;
  max-width: $default-page-layout-content-width-xl;

  @media screen and (min-width: $grid-breakpoint-lg) {
    padding: $spacer-xxl $spacer-base;
  }
}

// Demo Container
.container-demo {
  background: $brand-primary;
  min-height: 20rem;
}
