.container-xl,
%container-xl {
  width: 100%;
  max-width: $default-page-layout-content-width-xl;
  padding: 0 $spacer-xs;
  margin: 0 auto;

  > * + * {
    margin-top: $spacer-base;
  }
}

.container-xl-vertical-whitespace,
%container-xl-vertical-whitespace {
  padding: $spacer-xl $spacer-xs;
}

@media screen and (min-width: $grid-breakpoint-lg) {
  .container-xl {
    padding: 0 $spacer-base;
  }

  .container-xl-vertical-whitespace {
    padding: $spacer-xxl $spacer-base;
  }
}
