//
// Content Separator
//

// Component specific variables
$border-position: $base-font-size / 2;
$content-padding: $spacer-x / 2;

// Component definition
.content-separator {
  display: flex;
  align-content: center;
  align-items: baseline;
  justify-content: center;
  margin-bottom: $spacer-x;

  // The border in the middle of the component is realized with
  // a stack of two inset box-shadows the first one is white
  // and reaches from the top to the middle of the baseline.
  // The second box-shadow is 1px taller than the first one,
  // resulting in a single line.
  box-shadow: $brand-white 0 $border-position 0 0 inset,
  $brand-text 0 $border-position 0 0 inset;
  min-height: $base-font-size;
}

// Both subcomponents overlap the border of its parent component by
// having a small padding and a white background color.
.content-separator__date,
.content-separator__duration {
  background-color: $brand-white;
  padding-right: $content-padding;
  padding-left: $content-padding;
  line-height: 1;
}

.content-separator__date {
  margin-right: $spacer-x;
}
