.artist-collabo-page {
  background-color: $brand-gray-10;

  .standard-header__type {
    font-size: $font-size-sm;
  }

  .standard-header__intro {
    background-color: $brand-white;

    h3 {
      color: $brand-gray;
    }
  }

  .standard-header__intro__text {
    color: $brand-gray;
  }

  .artist-list-teaser {
    margin-top: $spacer-xl;
  }

  @media screen and (min-width: $grid-breakpoint-md) {
    .standard-header {
      margin-bottom: ms(20);
    }
  }
}
