long-quote > blockquote,
%longquote,
.longquote {
  margin-bottom: $content-spacer-base;
  text-align: center;

  > p {
    @extend %heading-font-heavy;
    line-height: $longquote-line-height-small;
    color: $brand-interaction;
    font-size: $longquote-font-size-small;

    &:lang(de) {
      &::before {
        content: '„';
      }

      &::after {
        content: '“';
      }
    }

    &:lang(en) {
      &::before {
        content: '“';
      }

      &::after {
        content: '”';
      }
    }
  }
}

%longquote__zigzag,
.longquote__zigzag {
  @extend %zigzag;

  display: block;
  margin: 0 auto $spacer-base;
  width: 80%;
}

%longquote__author,
.longquote__author {
  @extend %author-name;
  display: block;
}

%longquote__role,
.longquote__role {
  @extend %author-role;
}

%longquote__avatar,
.longquote__avatar {
  margin-bottom: $spacer-xs;
}

@media screen and (min-width: $grid-breakpoint-md) {
  %longquote,
  .longquote {
    > p {
      line-height: $longquote-line-height;
      font-size: $longquote-font-size;
    }
  }
}
