.info-note {
  @extend %box-shadow-primary-25-right-bottom;

  &__content {
    padding: $spacer-sm $spacer-sm $spacer-base $spacer-md;
  }

  &__title {
    @extend %heading-font-bold;

    margin-bottom: $spacer-base;

    font-size: $font-size-base;
    color: $info-note-title-color;
    text-align: center;
    text-transform: uppercase;
  }

  &__text,
  &__text * {
    @extend %heading-font-regular;

    font-size: $font-size-xs;
    color: $info-note-text-color;
    text-align: left;
  }

  p:last-child {
    margin-bottom: 0;
  }

  &__highlight {
    @extend %heading-font-bold;
  }
}
