$case-teaser-bg-width: 1444px; // Arbitrary value
$case-teaser-bg-height: 1000px; // Arbitrary value
$teaser-outer-padding: $spacer-md;
$teaser-inner-padding: $spacer-base;

$gradient-stencil: rgba(0, 0, 0, .25);

.case-teaser {
  @extend %page-header;
  justify-content: center;
  min-height: 50vh;

  &--right-aligned {
    justify-content: flex-end;
  }

  &__punch-in {
    @extend %punch-in;
  }
}

.case-teaser__wrapper {
  display: flex;
  justify-content: flex-start;
  padding: $spacer-xl $container-spacer-x-sm;
  width: $default-page-layout-width-xl;
  max-width: $default-page-layout-content-width-xl;
}

.case-teaser__body {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: $case-teaser-body-bg;
  padding: $teaser-inner-padding;
  max-width: 620px;
}

.case-teaser__text {
  @extend %teaser-text;
  margin-bottom: $spacer-base;
  line-height: $teaser-text-line-height;
  font-size: $teaser-text-font-size;
}

.case-teaser__header {
  padding-bottom: 0;
  color: $case-teaser-body-color;

  h1 {
    hyphens: auto;
  }
}

.case-teaser__caption {
  @extend %teaser-caption;
  margin-bottom: $spacer-xxs;
  height: $spacer-md;
}

// Variation without stencil Headlines
.case-teaser--simple {
  background-position: top left;
  min-height: 75vh;
}


//Breakpoints
@media screen and (min-width: $grid-breakpoint-md) {
  .case-teaser__body {
    flex-basis: 50%;
  }
}
