<div class="detail-item">
    <img class="detail-item__image" src="{{ path '/assets/example-content/blockchain-primer.jpg'}}" />
    <div class="detail-item-wrapper">
        <div class="detail-item__body">
            <h3 class="detail-item__title">{{headline}}</h3>
            <div class="detail-item__caption">
                <h3>{{headline}}</h3>

                <p>{{text}}</p>

                <ul>
                    <li>{{listitem}}</li>
                    <li>{{listitem}}</li>
                    <li>{{listitem}}</li>
                </ul>

                <figure>
                    <img src="{{ path '/assets/bg-images/edition-02/edition02-canyon-01.webp'}}" alt="Bild Groß" />
                    <figcaption>
                        {{quote}}
                    </figcaption>
                </figure>

                <a href="#">Textlink hier</a>
            </div>
            <ul class="detail-item__author">
                <li><a title="Michael Plöd" href="/de/staff/michael-pl%C3%B6d/">Michael Plöd</a></li>
                <li><a title="Christian Stettler" href="/de/staff/christian-stettler/">Christian Stettler</a></li>
                <li><a title="Eberhard Wolff" href="/de/staff/eberhard-wolff/">Eberhard Wolff</a></li>
            </ul>
        </div>
        <div class="detail-item__footer">
            <a class="link-teaser" href="https://leanpub.com/ddd-referenz">Download</a>
        </div>
    </div>
</div>
