<h-include>
    <div class="eyecatcher eyecatcher--event">
        <p class="eyecatcher--event__text">
            INNOQ Technology Lunch: Software Architecture for Agile Enterprises 👉
            <a href="#" class="eyecatcher--event__link">20. Mai, 12:15 Uhr</a>
        </p>
    </div>
</h-include>
<a href="#main" class="skip-link">Zum Inhalt springen</a>
<nav class="main-navigation" aria-label="Webseite Navigation">
    <a href="#" class="brand-link">
        <img alt="" class="brand-logo" src="{{ path '/assets/logos/edition-02/svg/innoq-logo--whiteapricot.svg' }}" />
        <span class="link-alt">INNOQ Homepage</span>
    </a>
    <a href="#" class="search-link">
        <span class="icon icon-search icon--brand-white"></span>
        <span class="link-alt">Suche</span>
    </a>
    <!--
        NOTE: in order to ensure that users of assistive technologies can
        easily find the content that is being collapsed and expanded, it is
        important for the content to directly follow the toggle button in the
        focus order on the page. When this doesn't match the visual design that
        we are trying to achieve, we can change the visual order of the
        elements with CSS.

        See: https://inclusive-components.design/menus-menu-buttons/#ariacontrols
    -->
    <menu-toggle hidden>
        <button>Menü</button>
    </menu-toggle>
    <!--
        NOTE: for each `ul` list in the navbar, we should explicitly set
        an `aria-label` that correctly describes the contents of the list to
        provide this information to assistive technologies. Additionally, we
        set the `role="list"` attribute to ensure that the lists will be
        announced as lists in Safari/VoiceOver

        See: https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
        and note in CSS file
    -->
    <ul class="navigation-links" role="list" aria-label="Seitennavigation">
        <li>
            <sub-menu>
                <details>
                    <summary>
                        Leistungen
                        <span class="icon icon-chevron-down-filled icon--brand-white"></span>
                    </summary>
                    <ul role="list" aria-label="Leistungen Untermenü">
                        <li>
                            <a href="#">Strategie- und Technologieberatung</a>
                        </li>
                    </ul>
                </details>
            </sub-menu>
        </li>
        <li>
            <a href="#">Success Stories</a>
        </li>
        <li>
            <sub-menu>
                <details>
                    <summary>
                        Kultur
                        <span class="icon icon-chevron-down-filled icon--brand-white"></span>
                    </summary>
                    <ul role="list" aria-label="Kultur Untermenü">
                        <li>
                            <!--
                                NOTE: use `aria-current="page"` for the link within the
                                navbar representing the current page. The CSS rules to
                                visually highlight this link are hooked to that attribute.

                                See: https://adrianroselli.com/2021/06/using-css-to-enforce-accessibility.html
                                and note in CSS file
                            -->
                            <a href="#" aria-current="page">Wie wir zusammenarbeiten</a>
                        </li>
                        <li>
                            <a href="#">Was uns wichtig ist</a>
                        </li>
                        <li>
                            <a href="#">Arbeiten bei INNOQ</a>
                        </li>
                    </ul>
                </details>
            </sub-menu>
        </li>
        <li>
            <sub-menu>
                <details>
                    <summary>
                        Magazin
                        <span class="icon icon-chevron-down-filled icon--brand-white"></span>
                    </summary>
                    <ul role="list" aria-label="Magazin Untermenü">
                        <li>
                            <a href="#">Blog & Artikel</a>
                        </li>
                        <li>
                            <a href="#">Podcasts</a>
                        </li>
                        <li>
                            <a href="#">Vorträge</a>
                        </li>
                        <li>
                            <a href="#">Primer</a>
                        </li>
                    </ul>
                </details>
            </sub-menu>
        </li>
        <li>
            <sub-menu>
                <details>
                    <summary>
                        Trends
                        <span class="icon icon-chevron-down-filled icon--brand-white"></span>
                    </summary>
                    <ul role="list" aria-label="Trends Untermenü">
                        <li>
                            <a href="#">Accessibility</a>
                        </li>
                        <li>
                            <a href="#">Cloud Migration</a>
                        </li>
                        <li>
                            <a href="#">Data Mesh</a>
                        </li>
                    </ul>
                </details>
            </sub-menu>
        </li>
        <li>
            <sub-menu>
                <details>
                    <summary>
                        Schulungen
                        <span class="icon icon-chevron-down-filled icon--brand-white"></span>
                    </summary>
                    <ul role="list" aria-label="Schulungen Untermenü">
                        <li>
                            <a href="#">Warum Online-Schulungen?</a>
                        </li>
                        <li>
                            <a href="#">Softwarearchitektur Kickstart</a>
                        </li>
                        <li>
                            <a href="#">Data Mesh</a>
                        </li>
                        <li>
                            <a href="#">iSAQB CPSA-F Foundation Level</a>
                        </li>
                        <li>
                            <a href="#">Accessibility</a>
                        </li>
                        <li>
                            <a href="#">Blockchain</a>
                        </li>
                        <li>
                            <a href="#">Cloud Native Infrastruktur</a>
                        </li>
                        <li>
                            <a href="#">Cloud Migration</a>
                        </li>
                        <li>
                            <a href="#">Domain-driven Design</a>
                        </li>
                        <li>
                            <a href="#">DDD für Machine Learning</a>
                        </li>
                        <li>
                            <a href="#">Flexible Architekturen</a>
                        </li>
                        <li>
                            <a href="#">JavaScript</a>
                        </li>
                        <li>
                            <a href="#">Modernisierung</a>
                        </li>
                        <li>
                            <a href="#">Product Ownership</a>
                        </li>
                        <li>
                            <a href="#">Remote Mob Programming</a>
                        </li>
                        <li>
                            <a href="#">Software Analytics</a>
                        </li>
                        <li>
                            <a href="#">Web-Architekturen</a>
                        </li>
                        <li>
                            <a href="#">Web-Security</a>
                        </li>
                    </ul>
                </details>
            </sub-menu>
        </li>
    </ul>
    <div class="navigation-meta">
        <a href="#">
            <span lang="ru" aria-label="Ви з України та розробляєте програмнi (software) продукти? Зв’язатися з нами.">💙💛</span>
        </a>
        <a href="#">Kontakt</a>
        <ul role="list" aria-label="Verfügbare Sprachen">
            <li>
                <!--
                    NOTE: use the `aria-current="true"` attribute to specify the language
                    which is currently selected. As with `aria-current="page"`, setting
                    this attribute correctly is necessary to obtain the visual CSS styles.
                -->
                <a lang="de" href="#" title="Zu Deutsch wechseln" aria-label="Zu Deutsch wechseln" aria-current="true">de</a>
            </li>
            <li>
                <a lang="de_CH" href="#" title="Zu Schweizerdeutsch wechseln" aria-label="Zu Schweizerdeutsch wechseln">ch</a>
            </li>
            <li>
                <a lang="en" href="#" title="Switch to English" aria-label="Switch to English">en</a>
            </li>
        </ul>
    </div>
</nav>
