<main role="main" class="talk-page">
    <article class="page-layout--grid">
        <aside class="left talk-date">
            <div class="event-date-section">
                <div class="event-date-wrapper">
                    <time class="event-date" datetime="2017-06-23">
                        <span class="event-day-month">
                            <span class="event-day">23</span>
                            <span class="event-month">Jun</span>
                        </span>
                    </time>
                    <hr class="event-date-separator" />
                    <time class="event-date" datetime="2017-06-24">
                        <span class="event-day-month">
                            <span class="event-day">24</span>
                            <span class="event-month">Jun</span>
                        </span>
                        <span class="event-year">2017</span>
                    </time>
                </div>
            </div>
        </aside>

        <section class="center">
            <h1 class="talk-title">Anmeldung</h1>
            <h2>Design Patterns – Software pragmatisch und effizient gestalten</h2>
            <div class="talk-description">
                <p>
                    Vielen Dank für Ihr Interesse an unserer Schulung. Wenn Sie noch Fragen haben, zögern Sie bitte nicht, eine E-Mail an training@innoq.com zu schreiben.
                    Bitte erfassen Sie Ihre Kontakt- und Rechnungsdaten im Anmeldeformular. Eine Teilnahmebestätigung schicken wir Ihnen ca. 7 Tage vor Schulungsbeginn.
                </p>
            </div>
        </section>
    </article>

    <section class="stripe stripe--primary">
        <div class="page-layout--grid">
            <div class="center">
                <h3>Teilnehmerdaten</h3>

                <form>
                    <div class="form-group">
                        <label class="form-label">Firma</label>
                        <input class="form-control" type="text" placeholder="Hier kann ich was eintragen" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Vorname</label>
                        <input class="form-control" type="text" placeholder="Hier kann ich was eintragen" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Nachname</label>
                        <input class="form-control" type="text" placeholder="Hier kann ich was eintragen" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Straße und Hausnummer</label>
                        <input class="form-control" type="text" placeholder="Hier kann ich was eintragen" />
                    </div>
                </form>

            </div>
        </div>
    </section>

    <aside class="page-layout--grid">
        <section class="center">
            <h2>Zusammenfassung</h2>
            <div class="label training">Training</div>
            <h3>Design Patterns – Software pragmatisch und effizient gestalten</h3>

            <dl class="date-location-section">
                <dt>Zeitraum</dt>
                <dd>23. Juni 2018 – 24. Juni 2018</dd>
                <dt>Ort</dt>
                <dd>INNOQ Monheim</dd>
                <dt>Trainer</dt>
                <dd>Alexander Heusingfeld</dd>
                <dt>Preis</dt>
                <dd>EUR 1799,00 zzgl. 19% MwSt.</dd>
            </dl>

            <form>
                <p>
                    <label>
                        <input type="checkbox" name="booked" checked="checked" />
                        Hiermit melde ich mich verbindlich an
                    </label>
                </p>
                <p>
                    <button type="submit" class="btn btn-cta" data-label="Anmelden">Anmelden</button>
                </p>
            </form>

            <p>
                Wir bitten um Ihr Verständnis, dass bei Stornierung der Anmeldung bis 7 Tage vor der Veranstaltung eine Gebühr von 50% der Seminarkosten, bei Stornierung danach bzw. bei Nichterscheinen am Veranstaltungstag die vollen Seminarkosten in Rechnung gestellt werden. Sie können jedoch gerne eine Ersatzperson benennen. Bitte nehmen Sie Ihre Stornierung schriftlich vor. Bei nicht ausreichender Belegung kann die Veranstaltung bis zum Anmeldeschluss abgesagt werden. Alle Preise verstehen sich zzgl. der gesetzlichen Mehrwertsteuer von 19%.
            </p>
        </section>
    </aside>
</main>
