%icon,
.icon {
  text-transform: none;
  line-height: 1;
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  speak: none;

  // Better Font Rendering
  // sass-lint:disable no-vendor-prefixes
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Adds support for embedded svg icons
icon {
  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}

.icon-arrow-long {
  &::before {
    content: $icon-arrow-long;
  }
}

.icon-arrow-small {
  &::before {
    content: $icon-arrow-small;
  }
}

.icon-backlink {
  &::before {
    content: $icon-backlink;
  }
}

.icon-check,
%icon-check {
  &::before {
    content: $icon-check;
  }
}

.icon-chevron-down {
  &::before {
    content: $icon-chevron-down;
  }
}

.icon-chevron-up {
  &::before {
    content: $icon-chevron-up;
  }
}

.icon-close {
  &::before {
    content: $icon-close;
  }
}

.icon-download {
  &::before {
    content: $icon-download;
  }
}

.icon-facebook {
  &::before {
    content: $icon-facebook;
  }
}

.icon-feedback {
  &::before {
    content: $icon-feedback;
  }
}

.icon-github-logo {
  &::before {
    content: $icon-github-logo;
  }
}

.icon-github-typo {
  &::before {
    content: $icon-github-typo;
  }
}

.icon-info {
  &::before {
    content: $icon-info;
  }
}

.icon-itunes {
  &::before {
    content: $icon-itunes;
  }
}

.icon-location-filled {
  &::before {
    content: $icon-location-filled;
  }
}

.icon-location {
  &::before {
    content: $icon-location;
  }
}

.icon-mail {
  &::before {
    content: $icon-mail;
  }
}

.icon-phone {
  &::before {
    content: $icon-phone;
  }
}

.icon-rss {
  &::before {
    content: $icon-rss;
  }
}

.icon-search {
  &::before {
    content: $icon-search;
  }
}

.icon-transcript {
  &::before {
    content: $icon-transcript;
  }
}

.icon-twitter {
  &::before {
    content: $icon-twitter;
  }
}

.icon-arrow-long-down {
  &::before {
    content: $icon-arrow-long-down;
  }
}
