%icon,
.icon {
  text-transform: none;
  line-height: 1;
  font-family: 'icons';
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  speak: none;
  // sass-lint:disable no-vendor-prefixes
  // -webkit-text-stroke: 1px;

  // Better Font Rendering
  // sass-lint:disable no-vendor-prefixes
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Adds support for embedded svg icons
icon {
  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}

.icon-search {
  &::before {
    content: $icon-search;
  }
}

.icon-arrow-down {
  &::before {
    content: $icon-arrow-down;
  }
}

.icon-chevron-down {
  &::before {
    content: $icon-chevron-down;
  }
}

.icon-chevron-up {
  &::before {
    content: $icon-chevron-up;
  }
}

.icon-chevron-right {
  &::before {
    content: $icon-chevron-right;
  }
}

.icon-chevron-left {
  &::before {
    content: $icon-chevron-left;
  }
}

.icon-return {
  &::before {
    content: $icon-return;
  }
}

.icon-check {
  &::before {
    content: $icon-check;
  }
}

.icon-close {
  &::before {
    content: $icon-close;
  }
}

.icon-download {
  &::before {
    content: $icon-download;
  }
}

.icon-facebook {
  &::before {
    content: $icon-facebook;
  }
}

.icon-twitter {
  &::before {
    content: $icon-twitter;
  }
}

.icon-bubble-conversation-4 {
  &::before {
    content: $icon-bubble-conversation-4;
  }
}

.icon-info {
  &::before {
    content: $icon-info;
  }
}

.icon-itunes {
  &::before {
    content: $icon-itunes;
  }
}

.icon-email {
  &::before {
    content: $icon-email;
  }
}

.icon-phone {
  &::before {
    content: $icon-phone;
  }
}

.icon-rss {
  &::before {
    content: $icon-rss;
  }
}

.icon-location {
  &::before {
    content: $icon-location;
  }
}

.icon-text {
  &::before {
    content: $icon-text;
  }
}
