%icon,
.icon {
  text-transform: none;
  line-height: 1;
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  speak: none;

  // Better Font Rendering
  // sass-lint:disable no-vendor-prefixes
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Arrows
.icon-arrow-down {
  &::before {
    content: $icon-arrow-down;
  }
}

.icon-arrow-long-right {
  &::before {
    content: $icon-arrow-long-right;
  }
}

.icon-arrow-long-down {
  &::before {
    content: $icon-arrow-long-down;
  }
}


.icon-chevron-up {
  &::before {
    content: $icon-chevron-up;
  }
}

.icon-chevron-down {
  &::before {
    content: $icon-chevron-down;
  }
}

// Misc
.icon-check,
%icon-check {
  &::before {
    content: $icon-check;
  }
}

.icon-close {
  &::before {
    content: $icon-close;
  }
}

.icon-mail {
  &::before {
    content: $icon-mail;
  }
}

.icon-download {
  &::before {
    content: $icon-download;
  }
}

.icon-info {
  &::before {
    content: $icon-info;
  }
}

// Social Icons
.icon-facebook {
  &::before {
    content: $icon-facebook;
  }
}

.icon-gplus {
  &::before {
    content: $icon-gplus;
  }
}

.icon-linkedin {
  &::before {
    content: $icon-linkedin;
  }
}

.icon-twitter {
  &::before {
    content: $icon-twitter;
  }
}

.icon-xing {
  &::before {
    content: $icon-xing;
  }
}

.icon-youtube {
  &::before {
    content: $icon-youtube;
  }
}

.icon-github {
  &::before {
    content: $icon-github;
  }
}
