<header class="topic-header bg-image-edition-08">
    <div class="topic-header__body">
        <div>
            <h2 class="topic-header__title bg-image-edition-04">Buchtitel Primer</h2>
        </div>
        <span class="icon-svg icon-arrow-long-down icon--brand-secondary"></span>
    </div>
</header>

<section class="page-layout-md--default">
    <div class="detail-item">
        <img class="detail-item__image" itemprop="photo" src={context.app.uri("assets/example-content/blockchain-primer.jpg")} alt="Primertitel" />
        <div class="detail-item-wrapper">
            <div class="detail-item__body">
                <h3 class="detail-item__title">Lustiger Titel, der etwas länger ist</h3>
                <p class="detail-item__caption">Eine Beschreibung des Buchs, das sehr interessant und unterhaltsam ist</p>
                <ul class="detail-item__author">
                    <li><a href="#">Autorin Eins</a></li>
                    <li><a href="#">Autor Zwei</a></li>
                    <li><a href="#">Doktor Drei</a></li>
                </ul>
            </div>
            <div class="detail-item__footer">
                <a href="#" class="link-teaser">Download PDF</a>
                <a href="#" class="link-teaser">Download ebook</a>
            </div>
        </div>
    </div>
    <div class="detail-item__footer">
        <a href="#" class="btn btn--small btn--cta--color-swap" data-label="Zu allen Büchern">Zu allen Büchern</a>
        <a href="#" class="btn btn--small btn--cta--color-swap" data-label="Zu allen Primern">Zu allen Primern</a>
    </div>
</section>


