.image-header {
  display: flex;
  min-height: $fullscreen-real-mobile-height;
  align-items: flex-end;
  justify-content: center;
  border: 10px solid $image-header-bg-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    width: 100%;
    padding: $spacer-base $spacer-xl;
    background-color: $image-header-content-bg-color;
    text-align: center;

    > * + * {
      margin-top: $spacer-md;
    }
  }

  &__title--punch-in {
    @extend %punch-in;
  }

  &--no-border {
    border: 0;
  }
}

//
// Media Queries
//
@media screen and (min-width: $grid-breakpoint-md) {
  .image-header {
    min-height: $fullscreen-real-desktop-height;
    align-items: center;
    border: 30px solid $image-header-bg-color;

    &__content {
      margin: $spacer-sm;
      width: auto;
    }
  }
}
