.image-header {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  min-height: $fullscreen-real-mobile-height;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 10px solid $image-header-bg-color;

  &__content {
    width: 100%;
    padding: $spacer-base $spacer-xl;
    text-align: center;
    background-color: $image-header-content-bg-color;

    > * + * {
      margin-top: $spacer-md;
    }
  }

  &__title--punch-in {
    @extend %punch-in;
  }

  &--no-border {
    /* stylelint-disable-next-line declaration-no-important */
    border-style: none !important;
  }
}

//
// Media Queries
//
@media screen and (min-width: $grid-breakpoint-md) {
  .image-header {
    align-items: center;
    min-height: $fullscreen-real-desktop-height;
    border: 30px solid $image-header-bg-color;

    &__content {
      width: auto;
      margin: $spacer-sm;
    }
  }
}
