.share-section {
  @extend %container-vertical-spacing-xl;

  margin: 0 auto;
  text-align: center;

  > * + * {
    margin-top: $spacer-sm;
  }

  .icon-arrow-long-down {
    transition: $transform-transition;
  }

  &:hover {
    .icon-arrow-long-down {
      transform: translateY($spacer-xs);
    }
  }
}

.share-section__heading {
  color: $sharing-headline-color;
  font-size: $font-size-lg;
}

.share-section__list {
  @extend %list-unstyled;

  display: flex;
  flex-wrap:nowrap;
  justify-content: center;
}

.share-section__link {
  @extend %heading-font-bold;
  @extend %link-unstyled;

  padding: $spacer-sm;

  .icon {
    transition: standard-transition(background-color);

    &:hover,
    &:focus {
      background-color: $sharing-interaction-color;
    }
  }
}
