.landing-page-header--centered {
  justify-content: center;
}

.landing-page-header__body--centered {
  top: 0; // reset
  border: 0;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .landing-page-header__title--centered {
    font-size: ms(13); // unmodified: ms(11)
  }
}
