.landing-page-header {

  &__body--blue {
    border-bottom: 8px solid $brand-primary;
    background-color: $brand-text;
  }

  &__title--blue {
    color: $landing-page-header-inverted-text-color;
  }

  &__text--blue {
    color: $brand-primary;
  }
}
