pre > code {
  @extend %monospace-font-regular;

  overflow: auto;
  display: block;

  padding: $spacer-xs;

  font-size: $font-size-xxs;
  line-height: $paragraph-line-height;

  background-color: $code-background-color;
}

pre {
  margin: 0;
}

figure > div > pre {
  /* stylelint-disable-next-line selector-max-compound-selectors */
  code {
    margin-bottom: $spacer-xxs;
  }
}
