.dropdown__toggle {
  display: inline-block;
  cursor: pointer;

  .icon-chevron-down-filled {
    width: $spacer-xs;
    height: $spacer-xs;
    transition: standard-transition(background);

    &:hover,
    &:focus {
      background: $sharing-interaction-color;
    }
  }
}

.dropdown__list-wrapper {
  position: absolute;
  display: none;
}

.dropdown__list {
  @extend %list-unstyled;

  margin-bottom: 0;
}

.dropdown__link {
  min-width: 100%;
  white-space: nowrap;
}

.dropdown__checkbox:focus + .dropdown__toggle {
  color: $dropdown-link-hover-color;
  outline: none;
}

.dropdown__checkbox:checked + .dropdown__toggle > .dropdown__toggle__expanded-text {
  display: inline;
}

.dropdown__checkbox:checked + .dropdown__toggle > .dropdown__toggle__collapsed-text {
  display: none;
}

.dropdown__checkbox:not(:checked) + .dropdown__toggle > .dropdown__toggle__expanded-text {
  display: none;
}

.dropdown__checkbox:not(:checked) + .dropdown__toggle > .dropdown__toggle__collapsed-text {
  display: inline;
}

// show dropdown list when checkbox is checked
.dropdown__checkbox:checked ~ .dropdown__list-wrapper {
  display: block;
}
