<div class="dropdown">
    <a href="#">Corresponding Link</a>
    <input type="checkbox" role="button" aria-haspopup="true" id="toggle-unique-name" class="sr-only dropdown__checkbox" />
    <label for="toggle-unique-name" class="dropdown__toggle">
        <span class="icon icon-chevron-down-filled icon--brand-secondary"></span>
        <span class="sr-only dropdown__toggle__expanded-text">Untermenü einklappen</span>
        <span class="sr-only dropdown__toggle__collapsed-text">Untermenü ausklappen</span>
    </label>
    <div role="menu" data-origin="left" class="dropdown__list-wrapper">
        <ul class="dropdown__list">
            <li class="dropdown__list-item"><a href="#" class="dropdown__link">Strategie- und Technologieberatung</a></li>
            <li class="dropdown__list-item"><a href="#" class="dropdown__link">Entwicklung digitaler Geschäftsmodelle</a></li>
            <li class="dropdown__list-item"><a href="#" class="dropdown__link">Softwarearchitektur und -entwicklung</a></li>
            <li class="dropdown__list-item"><a href="#" class="dropdown__link">Digitale Plattformen und Infrastrukturen</a></li>
            <li class="dropdown__list-item"><a href="#" class="dropdown__link">Wissenstransfer, Coaching und Trainings</a></li>
        </ul>
    </div>
</div>
