// Centered Containers with a max width

.container-xl,
%container-xl,
.container-md,
%container-md {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 0 auto;
  padding: 0 $spacer-xs;

  > * + * {
    margin-top: $spacer-base;
  }
}

.container-xl,
%container-xl {
  max-width: $default-page-layout-content-width-xl;
}

.container-md,
%container-md {
  max-width: $default-page-layout-content-width-md;
}

// Vertical Spacing
.container-vertical-spacing-xxl,
%container-vertical-spacing-xxl {
  padding-top: $spacer-xl;
  padding-bottom: $spacer-xl;
}

.container-vertical-spacing-xl,
%container-vertical-spacing-xl {
  padding-top: $spacer-lg;
  padding-bottom: $spacer-lg;
}

.container-vertical-spacing-lg,
%container-vertical-spacing-lg {
  padding-top: $spacer-base;
  padding-bottom: $spacer-base;
}

//Breakpoints

@media screen and (min-width: $grid-breakpoint-lg) {
  .container-xl {
    padding: 0 $spacer-base;
  }

  .container-vertical-spacing-xxl {
    padding-top: $spacer-xxl;
    padding-bottom: $spacer-xxl;
  }

  .container-vertical-spacing-xl {
    padding-top: $spacer-xl;
    padding-bottom: $spacer-xl;
  }

  .container-vertical-spacing-lg {
    padding-top: $spacer-lg;
    padding-bottom: $spacer-lg;
  }
}
