.reviews-page {
  background: $gradient-2;

  p,
  ul > li {
    @extend %body-font-sans;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend %heading-font-bold;
  }

  .center-section {
    text-align: center;
  }

  .big-content-teaser {
    justify-content: flex-start;
  }
}
