.video-cards {
  display: grid;
  grid-gap: $spacer-md;
  grid-template-columns: 1fr;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .video-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: $grid-breakpoint-lg) {
  .video-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.video-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-self: auto;
  justify-content: space-between;
  padding: $spacer-md;
  background-color: $brand-white;

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $brand-interaction;
    text-align: center;
  }

  &__label {
    margin-bottom: $spacer-xs;
  }

  &__video {
    margin-top: $spacer-md;
  }

  &__video > * {
    max-width: 100%;
  }

  &__video + * {
    margin-top: $spacer-sm;
  }
}
