// List Teaser with Abstract
// sass-lint:disable nesting-depth
.list-teaser-abstract {
  @extend %list-teaser;

  &.primary {
    background-color: $list-teaser-abstract-primary-bg-color;

    .list-teaser-abstract__text {
      color: $list-teaser-abstract-primary-text-color;

      &::first-letter {
        color: $list-teaser-abstract-primary-drop-caps-color;
      }
    }
  }

  &.secondary {
    background-color: $list-teaser-abstract-secondary-bg-color;

    .list-teaser-abstract__text {
      color: $list-teaser-abstract-secondary-text-color;

      &::first-letter {
        color: $list-teaser-abstract-secondary-drop-caps-color;
      }
    }

    .author-bio__text {
      color: $list-teaser-abstract-secondary-author-name-color;
    }
  }
}

.list-teaser-abstract__caption {
  @extend %teaser-caption;

  margin-bottom: $spacer-xxs;
  color: $list-teaser-abstract-caption-color;
}

.list-teaser-abstract__headline {
  margin-bottom: $spacer-md;
  line-height: $list-teaser-abstract-headline-line-height-small;
  color: $list-teaser-abstract-headline-color;
  font-size: $list-teaser-abstract-headline-font-size-small;
}

.list-teaser-abstract__text {
  @extend %heading-font-regular;

  margin-bottom: 0;
  line-height: $list-teaser-abstract-text-line-height-small;
  font-size: $list-teaser-abstract-text-font-size-small;

  &::first-letter {
    @extend %body-font-regular;

    float: left;
    padding-top: 18px;
    padding-right: 12px;
    padding-left: 3px;
    line-height: .35;
    font-size: ms(14);
  }
}

//
//Breakpoints
//
@media screen and (min-width: $grid-breakpoint-md) {
  .list-teaser-abstract__headline {
    margin-bottom: $spacer-sm;
    line-height: $list-teaser-abstract-headline-line-height;
    font-size: $list-teaser-abstract-headline-font-size;
  }

  .list-teaser-abstract__text {
    line-height: $list-teaser-abstract-text-line-height;
    font-size: $list-teaser-abstract-text-font-size;

    &::first-letter {
      float: left;
      padding-top: 18px;
      padding-right: 12px;
      padding-left: 3px;
      line-height: .45;
      font-size: ms(16);
    }
  }
}
