<div class="eyecatcher">
    <p class="eyecatcher__text">Finden können Sie uns auch auf</p>
    <ul class="social-media-bar">
        <li class="social-media-bar__item">
            <a href="#" class="social-media-bar__link">
                <i class="social-media-bar__icon icon icon-twitter"></i>
            </a>
        </li>
        <li class="social-media-bar__item">
            <a href="#" class="social-media-bar__link">
                <i class="social-media-bar__icon icon icon-facebook"></i>
            </a>
        </li>
        <li class="social-media-bar__item">
            <a href="#" class="social-media-bar__link">
                <i class="social-media-bar__icon icon icon-linkedin"></i>
            </a>
        </li>
        <li class="social-media-bar__item">
            <a href="#" class="social-media-bar__link">
                <i class="social-media-bar__icon icon icon-xing"></i>
            </a>
        </li>
    </ul>
</div>
