$event-date-section-height: ($label-fonte-size * $label-line-height) + (2 * $spacer-xxs);

.list-teaser {
  @extend %list-teaser;
  border-top: 3px solid $list-teaser-border-color;
  background-color: $list-teaser-background-color;
}

.list-teaser__body {
  margin-bottom: 0;
  padding: $spacer-sm $spacer-md;

  & .label {
    &.talk,
    &.slides,
    &.training {
      display: none;
    }
  }
}

.list-teaser__footer {
  @extend %list-teaser-footer;

  .author-bio {
    margin-bottom: 0;
  }
}

.list-teaser__caption {
  @extend %teaser-caption;
}

.list-teaser__headline {
  @extend %h3;

  margin-bottom: $spacer-xxs;
  color: $list-teaser-headline-color;
  hyphens: none;
}

.list-teaser__subheadline {
  @extend %heading-font-regular;

  margin-bottom: $spacer-xs;
  line-height: $list-teaser-subheadline-line-height-small;
  font-size: $list-teaser-subheadline-font-size-small;
}

// List Teaser with Abstract
// sass-lint:disable nesting-depth
.list-teaser-abstract {
  @extend %list-teaser;

  &.primary {
    background-color: $list-teaser-abstract-primary-bg-color;

    .list-teaser-abstract__text {
      color: $list-teaser-abstract-primary-text-color;

      &::first-letter {
        color: $list-teaser-abstract-primary-drop-caps-color;
      }
    }
  }

  &.secondary {
    background-color: $list-teaser-abstract-secondary-bg-color;

    .list-teaser-abstract__text {
      color: $list-teaser-abstract-secondary-text-color;

      &::first-letter {
        color: $list-teaser-abstract-secondary-drop-caps-color;
      }
    }

    .author-bio__text {
      color: $list-teaser-abstract-secondary-author-name-color;
    }
  }
}

.list-teaser-abstract__caption {
  @extend %teaser-caption;

  margin-bottom: $spacer-xxs;
  color: $list-teaser-abstract-caption-color;
}

.list-teaser-abstract__headline {
  margin-bottom: $spacer-md;
  line-height: $list-teaser-abstract-headline-line-height-small;
  color: $list-teaser-abstract-headline-color;
  font-size: $list-teaser-abstract-headline-font-size-small;
}

.list-teaser-abstract__text {
  @extend %heading-font-regular;

  margin-bottom: 0;
  line-height: $list-teaser-abstract-text-line-height-small;
  font-size: $list-teaser-abstract-text-font-size-small;

  &::first-letter {
    @extend %body-font-regular;

    float: left;
    padding-top: 18px;
    padding-right: 12px;
    padding-left: 3px;
    line-height: .35;
    font-size: ms(14);
  }
}

//List Teaser for events

.list-teaser-event {
  @extend %list-teaser;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $event-date-section-height + $spacer-base;
  background-color: $list-teaser-background-color;
}

@media screen and (max-width: $grid-breakpoint-md) {
  .list-teaser-event {
    .label {
      margin-bottom: 0;
      text-align: center;

      &.training,
      &.talk {
        border-left: 0;
      }
    }
  }
}

.list-teaser-event__footer {
  @extend %list-teaser-footer;
  justify-content: flex-end;
}

.list-teaser__content {
  flex-grow: 1;
}

.list-teaser-event__headline {
  @extend %h3;

  margin-bottom: $spacer-sm;
  line-height: $list-teaser-event-headline-line-height-small;
  color: $list-teaser-event-headline-color;
  font-size: $list-teaser-event-headline-font-size-small;
  hyphens: none;
}

.list-teaser-event__subheadline {
  @extend %body-font-italic;

  margin-bottom: $spacer-xs;
  line-height: $list-teaser-event-subheadline-line-height-small;
  font-size: $list-teaser-event-subheadline-font-size-small;
  hyphens: none;
}

//
//Breakpoints
//
@media screen and (min-width: $grid-breakpoint-md) {
  .list-teaser__subheadline {
    line-height: $list-teaser-subheadline-line-height;
    font-size: $list-teaser-subheadline-font-size;
  }

  .list-teaser__footer {
    flex-wrap: nowrap;
  }

  .list-teaser__body {
    & .label {
      &.talk,
      &.slides,
      &.training {
        display: inline-block;
        margin-bottom: $spacer-xs;
      }
    }
  }

  .list-teaser-abstract__headline {
    margin-bottom: $spacer-sm;
    line-height: $list-teaser-abstract-headline-line-height;
    font-size: $list-teaser-abstract-headline-font-size;
  }

  .list-teaser-abstract__text {
    line-height: $list-teaser-abstract-text-line-height;
    font-size: $list-teaser-abstract-text-font-size;

    &::first-letter {
      float: left;
      padding-top: 18px;
      padding-right: 12px;
      padding-left: 3px;
      line-height: .45;
      font-size: ms(16);
    }
  }

  .list-teaser-event {
    flex-direction: row;
    align-items: stretch;
    margin-top: 0;
  }

  .event-date-section {
    .label {
      display: none;
    }
  }

  .list-teaser-event__headline {
    line-height: $list-teaser-event-headline-line-height;
    font-size: $list-teaser-event-headline-font-size;
  }

  .list-teaser-event__subheadline {
    line-height: $list-teaser-event-subheadline-line-height;
    font-size: $list-teaser-event-subheadline-font-size;
  }
}
