$alert-color: $brand-white;

.alert {
  @extend %heading-font-regular;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: $content-spacer-sm;
  padding: $spacer-xs;
  line-height: $alert-line-height;
  color: $alert-color;
  font-size: $alert-font-size-sm;

  &--info {
    background-color: $brand-info;
  }

  &--warn {
    background-color: $brand-warn;
    color: darken($brand-warn, 51%); // Use accessible dark yellow
  }

  &--error {
    background-color: $brand-danger;
  }
}

.alert-btn {
  @extend %base-button;
  color: inherit;
}


@media screen and (min-width: $grid-breakpoint-md) {
  .alert {
    margin-bottom: $content-spacer-base;
    padding: $container-spacer-y-sm $container-spacer-x-sm;
    font-size: $alert-font-size;
  }
}
