.tile-grid-sm,
.tile-grid-md,
.tile-grid-alternating-1-4 {
  @extend %list-unstyled;

  display: grid;
  width: 100%;
  grid-gap: $spacer-sm;
}

.tile-grid-alternating-1-4 {
  grid-gap: $spacer-xxl $spacer-sm;
}

.tile-grid-sm {
  grid-template-columns: repeat(auto-fit, minmax(min(23rem, 100%), 1fr));
}

.tile-grid-md {
  grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
}

@media screen and (min-width: $grid-breakpoint-md-lg) {
  .tile-grid-alternating-1-4 {
    grid-template-columns: repeat(2, minmax(6rem, 1fr));

    :nth-child(5n + 1) {
      grid-column: span 2;
    }
  }
}
