$case-tile-teaser-sm-height: ms(32);

.case-tile-teaser {
  @extend %block-link;
  @extend %hover-glow;

  display: flex;
  flex-direction: column;
  padding: $spacer-md;
  background-blend-mode: multiply;
  background-size: cover;
  color: $case-tile-teaser-text-color;
}

.case-tile-teaser__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: $spacer-md $spacer-xs;
  background-color: $case-tile-teaser-body-bg-color;
  text-align: center;

  > * + * {
    margin-top: $spacer-base;
  }
}

.case-tile-teaser__body {
  > * + * {
    margin-top: $spacer-base;
  }
}

.case-tile-teaser__caption {
  @extend %teaser-caption;

  color: $case-tile-teaser-text-color;
}

.case-tile-teaser__headline {
  color: $case-tile-teaser-text-color;
}

.case-tile-teaser__text {
  @extend %teaser-text-italic;

  color: $case-tile-teaser-text-color;
  line-height: $paragraph-line-height;
}

.case-tile-teaser__logo {
  max-width: ms(22);
}

.case-tile-teaser__goto {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-between;
}

//
// case-tile-teaser--sm
//
.case-tile-teaser--sm {
  min-height: $case-tile-teaser-sm-height;
  padding: $spacer-lg $spacer-xs;
  margin-bottom: $spacer-xxl;
}

.case-tile-teaser__content--sm {
  position: relative;
  bottom: -(ms(25));
  justify-content: space-between;
  padding: $spacer-sm;
}

.case-tile-teaser__headline--sm {
  font-size: $font-size-sm;
}

.case-tile-teaser__text--sm {
  margin-bottom: $spacer-xs;
  font-size: $font-size-base;
}

//
// Breakpoints
//

@media screen and (min-width: $grid-breakpoint-sm) {
  .case-tile-teaser {
    padding: $spacer-lg;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .case-tile-teaser__content {
    padding: $spacer-lg $spacer-md;
  }

  .case-tile-teaser--sm {
    padding: $spacer-lg;
  }
}

// Hack for teaser in masonry grid
@media screen and (min-width: $grid-breakpoint-lg) {
  .case-tile-teaser {
    padding: $spacer-xl;
  }

  .span-5 {
    .case-tile-teaser__content {
      max-width: ms(37);
    }
  }
}
