.form-label {
  @extend %heading-font-regular;
  display: block;
  width: 100%;

  &--emphasized {
    @extend %heading-font-bold;
  }

  &--invalid {
    color: $form-label-invalid-color;
  }

  // Mute labels in next to disabled form-controls
  // sass-lint:disable force-pseudo-nesting
  &.form-label--disabled,
  .form-control__input:disabled ~ & {
    cursor: not-allowed;
    color: $checkbox-color-disabled;
  }
}
