.contact-person {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--layout {
    display: flex;
    padding: $spacer-sm $spacer-md;
  }

  .subheading {
    @extend %heading-font-regular;

    padding-bottom: $spacer-xs;
    margin: 0;
    font-size: $font-size-md;
  }

  .author-bio--large {
    margin-right: $spacer-lg;
    margin-left: $spacer-lg;
    color: $brand-secondary;
  }
}
