.slider {
  display: block;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider__all {
  @extend %list-unstyled;

  position: relative;
  display: flex;
  margin: 0;
}

.slider__slide {
  display: block;
  flex: 0 0 100%;
  scroll-snap-align: center;
}

.slider__page {
  border-width: 1px;
  border-color: $brand-muted;
  border-right-style: solid;
  margin-bottom: 0;
}

.slider:focus {
  outline: 4px solid $brand-secondary-75;
}

.page__number__box {
  position: absolute;
  top: 2%;
  width: 10%;
  margin-right: 45%;
  margin-left: 45%;
}

.page__number {
  @extend %heading-font-regular;

  display: inline-block;
  padding: $spacer-xxs;
  background: rgba(247, 247, 247, 0.7);
  font-size: $font-size-xxs;
}

.instructions--hover,
.instructions--focus,
.instructions--hover--and--focus,
.instructions--touch {
  @extend %heading-font-regular;

  display: none;
  font-size: $font-size-base;
}

.slider__instructions {
  margin-top: $spacer-sm;
  text-align: center;
}

.slider:focus+.slider__instructions .instructions--focus,
.slider:hover+.slider__instructions .instructions--hover {
  display: block;
}

.slider:hover+.slider__instructions {
  display: none;
}

.instructions--hover+.instructions--focus {
  display: none;
}

.slider:hover:focus+.slider__instructions .instructions--hover--and--focus {
  display: block;
}

.slider:hover:focus+.slider__instructions {
  display: none;
}

.instructions--hover--and--focus~* {
  display: none;
}

.instructions--touch--active .instructions__text {
  display: none;
}

.instructions--touch--active .slider__instructions .instructions--touch {
  display: block;
}
