.podcast-detail-page {
  .podigee-podcast-player,
  .toolbar {
    margin-bottom: $spacer-lg;
    text-align: center;
  }

  .btn {
    display: block;
    width: max-content;
    margin: 0 auto $spacer-lg;
  }
}
