$tuple-list-label-width: 8rem;

.tuple-list {
  @extend %list-unstyled;
}

.tuple-list__label {
  @extend %teaser-caption;

  display: block;
  color: $tupel-list-label-color;
}

.tuple-list__entry {
  margin-bottom: $spacer-sm;
}

.tuple-list__value {
  @extend %heading-font-regular;

  display: block;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .tuple-list__entry {
    display: grid;
    margin-bottom: $spacer-xxs;
    grid-template-columns: $tuple-list-label-width auto;
    grid-template-rows: auto;
    grid-template-areas: "label value";
  }

  .tuple-list__label {
    grid-area: label;
  }

  .tuple-list__value {
    grid-area: value;
  }
}
