$bullet-size: $spacer-xs; // ~9px
$bullet-offset: $spacer-sm; // ~16px
$list-indent: $bullet-offset + $bullet-size;

.list-unstyled {
  @extend %list-unstyled;
}

// ---- Unordered Lists --------------------------------------------------------
//
// Scope element based selector to elements, that do not carry a
// class attribute, to prevent reverting styles for all non-default lists.
//
// sass-lint:disable force-pseudo-nesting

ul:not([class]),
.bold-list {
  @extend %unsorted-list;

  & > li {
    padding-left: $list-indent;

    &::before {
      position: absolute;
      top: ($paragraph-line-height-small * $paragraph-font-size-small / 2) - ($bullet-size / 2);
      left: 0;
      border-radius: 50%;
      background: $bullet-list-color;
      width: $bullet-size;
      height: $bullet-size;
      content: '';

      @media screen and (min-width: $grid-breakpoint-md) {
        top: ($paragraph-line-height * $paragraph-font-size / 2) - ($bullet-size / 2);
      }
    }
  }

  ul {
    // Nested lists need diffrent vertical spacings
    // to blend into the outer list.
    margin-top: $spacer-xs;

    &,
    li > ul > li {
      margin-bottom: 0;
    }

    // Change bullet appeareance in nested contexts
    li::before {
      border: 1px solid $bullet-list-color;
      background: $bullet-list-bg-color;
    }
  }
}


// ---- Bold Bullet Lists ----------------------------------------------------------
//
.bold-list {
  @extend %heading-font-bold;
}
