.icon-eyecatcher {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  &__cell {
    display: flex;
    max-width: 12.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacer-lg;
    text-align: center;

    .icon-svg {
      margin-bottom: $spacer-sm;
    }
  }
}
