html {
scroll-behavior: smooth;
}

.--sticky {
  position: sticky;
  top:0;
  align-self: start;
}

@media screen and (max-width: $grid-breakpoint-xl) {
  .page-layout--grid, .--sticky {
    position: relative;
  }
}
