.paginator {
  @extend %heading-font-regular;
}

.paginator__list {
  @extend %list-unstyled;
}

.paginator__item {
  display: inline-block;
}

.paginator__item--active {
  text-decoration: underline;
}

.paginator__item + .paginator__item {
  margin-left: $spacer-xs;
}

.paginator__link {
  @extend %link-unstyled;
  transition: standard-transition(color);

  &:hover,
  &focus {
    color: $paginator-focus-color;
  }
}
