<nav class="paginator">
    <div class="paginator__prevs">
        <a href="#" class="paginator__item paginator__link">First</a>
        <a href="#" class="paginator__item paginator__link">Previous</a>
    </div>
    <ul class="paginator__list">
        <li class="paginator__item paginator__item--active"><a href="#" class="paginator__link">1</a></li>
        <li class="paginator__item"><a href="#" class="paginator__link">2</a></li>
        <li class="paginator__item"><a href="#" class="paginator__link">3</a></li>
        <li class="paginator__item"><a href="#" class="paginator__link">4</a></li>
        <li class="paginator__item"><a href="#" class="paginator__link">5</a></li>
        <li class="paginator__item paginator__dots">…</li>
    </ul>
    <div class="paginator__nexts">
        <a href="#" class="paginator__item paginator__link">Next</a>
        <a href="#" class="paginator__item paginator__link">Last</a>
    </div>
</nav>
