.filter-label {
  @extend %heading-font-bold;

  display: block;
  width: 100%;
  color: $filter-label-color;
  font-size: $font-size-base;
}

.filter-select {
  @extend %heading-font-bold;

  display: inline-block;
  width: 100%;
  padding: $spacer-xs;
  border: 4px solid $brand-white;
  margin-top: $spacer-xs;
  appearance: none;
  background-color: $filter-select-background-color;
  background-image: asset-url('icons/chevron-down.svg');
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 14px 10px;
  color: $filter-select-text-color;
  cursor: pointer;
  font-size: $font-size-base;
  text-align: center;
}

auto-submit-form {
  display: block;
  width: 100%;
}

auto-submit-form.enhanced {
  [type='submit'] {
    display: none;
  }
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $spacer-xs;
}

.filter-group__item {
  min-width: 15rem;
  max-width: 50%;
  flex-grow: 1;
  margin-top: 0;
}
