long-quote {
  display: block;
}

long-quote > blockquote,
%longquote,
.longquote {
  padding: 2px 0;
  text-align: center;

  > p {
    @extend %heading-font-heavy;

    display: inline;
    padding: $spacer-xxs;
    background-color: $quote-bg-color;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    box-shadow: $spacer-xxs 0 0 $brand-primary, -$spacer-xxs 0 0 $brand-primary;
    color: $quote-color;
    font-size: $font-size-sm;

    &:lang(de) {
      &::before {
        content: '„';
      }

      &::after {
        content: '“';
      }
    }

    &:lang(en) {
      &::before {
        content: '“';
      }

      &::after {
        content: '”';
      }
    }
  }
}

%longquote__zigzag,
.longquote__zigzag {
  @extend %zigzag;

  width: 25%;
  margin: 0 auto $spacer-base;
}

%longquote__author,
.longquote__author {
  @extend %heading-font-bold;

  display: block;
  margin-top: $spacer-xs;
  font-size: $font-size-base;
  text-transform: uppercase;
}

%longquote__role,
.longquote__role {
  @extend %body-font-italic;

  font-size: $font-size-base;
}

%longquote__avatar,
.longquote__avatar {
  display: block;
  margin-top: $spacer-xs;
}

@media screen and (min-width: $grid-breakpoint-md) {
  %longquote,
  .longquote {
    > p {
      font-size: $font-size-lg;
    }
  }
}
