.info-note {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    min-width: $default-page-layout-content-width-md / 2;
    flex-direction: column;
    justify-content: center;
    padding: $spacer-lg $spacer-base;
    margin: $spacer-sm;
  }
  
  &__title {
    @extend %heading-font-bold;
  
    margin-bottom: $spacer-base;
    color: $info-note-title-color;
    font-size: $font-size-base;
    text-align: center;
    text-transform: uppercase;
  }
  
  &__text {
    @extend %heading-font-regular;
  
    font-size: $font-size-xs;
    text-align: left;
  }
  
  &__highlight {
    @extend %heading-font-bold;
    
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .info-note {
    display: flex;
    flex-direction: row;

    &__content {
      height: fit-content;
      margin-right: -125px;
    }
  }
}