$conclusion-border-size: ms(5);

//
// Conclusion
//

.conclusion {
  padding: $spacer-lg $spacer-base;
  border-top: $conclusion-border-size solid $conclusion-border-color;
  border-bottom: $conclusion-border-size solid $conclusion-border-color;
  background: $conclusion-background-color;
}

.conclusion-wrapper {
  @extend %container-md;

  .btn {
    align-self: flex-start;
  }
}

.conclusion-headline {
  align-self: flex-start;
  color: $conclusion-headline-color;
  font-size: $font-size-2xl;
}

.conclusion-subheadline {
  align-self: flex-start;
  color: $conclusion-subheadline-color;
  font-size: $font-size-lg;
}

.conclusion-text {
  > * + * {
    margin-top: $spacer-md;
  }

  > * {
    @extend %heading-font-regular;

    color: $conclusion-text-color;
  }

  a:not([class]) {
    border-bottom: 1px solid $conclusion-link-color;
    color: $conclusion-link-color;

    &:hover {
      border-bottom: 1px solid $conclusion-background-color;
      color: $conclusion-link-hover-color;
    }
  }

  ul {
    margin-left: $spacer-sm;

    > li {
      padding-left: $spacer-xs;
    }

    /* stylelint-disable-next-line selector-max-compound-selectors */
    > li,
    > li p {
      @extend %heading-font-regular;

      /* stylelint-disable-next-line selector-max-compound-selectors */
      li::marker {
        color: $bullet-list-color;
      }
    }
  }

  code {
    background-color: $conclusion-background-color;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .conclusion {
    padding: $spacer-xxl 0;
  }
}

@media screen and (min-width: $grid-breakpoint-lg) {
  .conclusion {
    border: $conclusion-border-size solid $conclusion-border-color;
  }

  .conclusion-headline {
    font-size: $font-size-3xl;
  }

  .conclusion-subheadline {
    font-size: $font-size-xl;
  }
}
