.toolbar {
  @extend %list-unstyled;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.toolbar__item {
  margin: $spacer-sm;
}

.toolbar__link {
  @extend %link-unstyled;
  @extend %heading-font-bold;

  display: flex;
  align-items: center;
  justify-content: center;
  color: $toolbar-link-color;
  transition: standard-transition(color);

  .icon-svg {
    margin-right: $spacer-xxs;
    transition: standard-transition(background);
  }

  &:hover,
  &:focus {
    color: $toolbar-link-hover-color;

    .icon-svg {
      background: $toolbar-link-hover-color;
    }
  }
}
