$info-box-icon-font-size: ms(3);

info-box {
  display: block;
}

.infobox__teaser {
  @extend %heading-font-bold;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid $infobox-teaser-border-color;
  background-color: $infobox-teaser-background-color-closed;
  color: $infobox-teaser-text-color-closed;
  cursor: pointer;
  font-size: $font-size-xs;

  .infobox__teaser__heading {
    display: inline-flex;
    align-items: center;
    padding-right: $spacer-xs;
  }

  .infobox__teaser__right {
    display: flex;
    padding: $spacer-sm $spacer-md $spacer-sm 0;
  }

  .infobox__teaser__left {
    display: flex;
    padding: $spacer-sm 0 $spacer-sm $spacer-md;
  }

  .icon-chevron-down {
    background: $infobox-teaser-text-color-closed;
  }

  .icon-info {
    background: $infobox-teaser-text-color-closed;
  }
}

details {
  ::-webkit-details-marker {
    display: none; // hides marker in Safari
  }

  &[open] {
    .infobox__teaser {
      background-color: $infobox-teaser-background-color-open;
      color: $infobox-teaser-text-color-open;

      .icon-chevron-down {
        background: $infobox-teaser-text-color-open;
        transform: rotate(180deg);
      }

      .icon-info {
        background: $infobox-teaser-text-color-open;
      }
    }

    .infobox__content {
      padding: $spacer-sm $spacer-sm $spacer-md;
      background-color: $infobox-content-background-color;

      p {
        @extend %heading-font-regular;

        font-size: $font-size-base;
        line-height: $paragraph-line-height;
      }
    }
  }
}

summary {
  display: block; // hides marker in all browser but Safari
}
