$author-bio-image-offset: ms(22) / 2;
// tiny space between name and info
$author-text-margin: 0.18rem;

.author-bio {
  @extend %link-unstyled;

  position: relative;
  margin-bottom: $spacer-base;

  &.author-bio--condensed {
    display: inline-flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  &.author-bio--short {
    display: inline-flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    + .author-bio--short {
      margin-top: $spacer-sm;
    }
  }

  &.author-bio--long {
    padding: $spacer-base;
    padding-top: $author-bio-image-offset + $spacer-sm;
    margin-top: $author-bio-image-offset;
    margin-bottom: $spacer-xl;
    background-color: $author-bio-background-color;
  }

  //CONTACT PERSON/ BEWERBUNGSBUDDIES
  &.author-bio--large {
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;*/


    .avatar__image {
      margin-bottom: $spacer-base;
      background-color: $brand-primary;
      resize: $spacer-sm;
    }

    .author-bio__name {
      padding-bottom:$spacer-xs;
      font-size: $font-size-md;
    }

    .author-bio__expertise {
      @extend %heading-font-regular;

      font-size: $font-size-md;
    }

    .author-bio__text {
      text-align: center;

      .author-bio__info {
        @extend %body-font-italic;

        margin-bottom: $spacer-md;
        font-size:$font-size-md;
      }
      .author-bio--large--aligned {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      }
    }
  }//end of author-bio--large

}

.author-bio__head {
  @extend %link-unstyled;

  margin-bottom: $spacer-base;
  text-align: center;
}

.author-bio__name {
  @extend %heading-font-bold;

  display: block;
  font-size: $font-size-base;
  text-transform: uppercase;
}

.author-bio__info {
  @extend %body-font-italic;

  font-size: $font-size-base;

  .author-bio__name + & {
    margin-top: $author-text-margin;
  }

  .author-bio--condensed & {
    line-height: normal;
  }
}

.author-bio__social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: $spacer-sm;
  border-top: 1px solid $author-bio-social-border-color;
  margin: $spacer-sm auto;
}

.author-bio__social-profile {
  @extend %link-unstyled;

  .icon-svg:hover,
  .icon-svg:focus {
    background: $author-bio-link-background-color;
  }

  & + & {
    margin-left: $spacer-sm;
  }
}

.author-bio__text,
.author-bio__text > p {
  @extend %heading-font-regular;
  @extend %link-unstyled;

  font-size: $font-size-base;
  hyphens: none;
  line-height: $paragraph-line-height;
}

.author-bio__image {
  display: flex;
  margin-right: $spacer-md;

  .author-bio--condensed & {
    margin-right: $spacer-sm;
  }

  .author-bio--long & {
    position: absolute;
    top: -$author-bio-image-offset;
    left: calc(50% - #{$author-bio-image-offset});
    margin-right: 0;
  }
}

//
// Breakpoints
//
@media screen and (min-width: $grid-breakpoint-md) {
  .author-bio {
    // adjusted for better spacings in article/podcast context
    &.author-bio--long {
      margin-top: $author-bio-image-offset + $spacer-md;
    }
  }
}

@media screen and (min-width: $grid-breakpoint-xl) {
  .author-bio {
    &.author-bio--short {
      width: 49%;

      + .author-bio--short {
        margin-top: 0;
      }
    }

    &.author-bio--long {
      margin-top: $author-bio-image-offset + $spacer-md;
    }
  }
}
