$author-bio-image-offset: ms(14);

.author-bio {
  position: relative;
  color: $author-bio-text-color;
}

.author-bio--long {
  padding: $spacer-base;
  padding-top: $author-bio-image-offset + $spacer-sm;
  margin-top: $author-bio-image-offset;
  background-color: $author-bio-background-color;

  .author-bio__image {
    position: absolute;
    top: -$author-bio-image-offset;
    left: calc(50% - #{$author-bio-image-offset});
    margin-right: 0;
  }
}

.author-bio__image {
  display: flex;

  &.avatar--xs,
  &.avatar--sm {
    margin-right: $spacer-sm;
  }

  &.avatar--md {
    margin-right: $spacer-md;
  }
}

.author-bio__head {
  @extend %link-unstyled;

  text-align: center;
}

.author-bio__name {
  @extend %heading-font-bold;

  display: block;
  font-size: $font-size-base;
  line-height: $paragraph-line-height;
  text-transform: uppercase;
}

.author-bio__info {
  @extend %body-font-italic;

  font-size: $font-size-base;
  line-height: $paragraph-line-height;
}

.author-bio__social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: $spacer-sm;
  border-top: 1px solid $author-bio-social-border-color;
  margin-top: $spacer-sm;
}

.author-bio__social-profile {
  @extend %link-unstyled;

  .icon:hover,
  .icon:focus {
    background: $author-bio-link-background-color;
  }

  & + & {
    margin-left: $spacer-sm;
  }
}

.author-bio__text {
  margin-top: $spacer-base;

  > * {
    @extend %heading-font-regular;

    font-size: $font-size-base;
    hyphens: none;
    line-height: $paragraph-line-height;

    a {
      color: $author-bio-text-color;
    }
  }
}

// Variations
.author-bio--short {
  @extend %link-unstyled;

  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.author-bio--large {
  @extend %link-unstyled;

  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar__image {
    background-color: $brand-primary;
  }

  .author-bio__text {
    text-align: center;
  }

  .author-bio__name {
    font-size: $font-size-md;
  }

  .author-bio__info {
    @extend %body-font-italic;

    font-size: $font-size-md;
  }

  .author-bio__expertise {
    @extend %heading-font-regular;

    margin-top: $spacer-md;
    font-size: $font-size-md;
  }
}

// Layouting TODO Move somwhere else
.author-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $spacer-sm;
}

//
// Breakpoints
//

@media screen and (min-width: $grid-breakpoint-xl) {
  .author-bio {
    &.author-bio--short {
      width: 49%;
    }
  }
}
