$author-bio-image-offset: ms(22) / 2;
// tiny space between name and info
$author-text-margin: 0.18rem;

.author-bio {
  @extend %link-unstyled;

  position: relative;
  margin-bottom: $spacer-base;

  &.author-bio--condensed {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  &.author-bio--short {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    & + .author-bio--short {
      margin-top: $spacer-sm;
    }
  }

  &.author-bio--long {
    margin-top: $author-bio-image-offset;
    margin-bottom: $spacer-xl;
    background-color: $author-bio-background-color;
    padding: $spacer-base;
    padding-top: $author-bio-image-offset + $spacer-sm;
  }
}

.author-bio__head {
  @extend %link-unstyled;

  margin-bottom: $spacer-base;
  text-align: center;
}

.author-bio__name {
  @extend %heading-font-bold;

  display: block;
  text-transform: uppercase;
  font-size: $font-size-base;
}

.author-bio__info {
  @extend %body-font-italic;

  font-size: $font-size-base;

  .author-bio__name + & {
    margin-top: $author-text-margin;
  }

  .author-bio--condensed & {
    line-height: normal;
  }
}

.author-bio__social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $spacer-sm auto;
  border-top: 1px solid $author-bio-social-border-color;
  padding-top: $spacer-sm;
}

.author-bio__social-profile {
  @extend %link-unstyled;

  .icon-svg:hover,
  .icon-svg:focus {
    background: $author-bio-link-background-color;
  }

  & + & {
    margin-left: $spacer-sm;
  }
}

.author-bio__text,
.author-bio__text > p {
  @extend %heading-font-regular;
  @extend %link-unstyled;

  line-height: $paragraph-line-height;
  font-size: $font-size-base;
  hyphens: none;
}

.author-bio__image {
  display: flex;
  margin-right: $spacer-md;

  .author-bio--condensed & {
    margin-right: $spacer-sm;
  }

  .author-bio--long & {
    position: absolute;
    top: -$author-bio-image-offset;
    left: calc(50% - #{$author-bio-image-offset});
    margin-right: 0;
  }
}

//
// Breakpoints
//
@media screen and (min-width: $grid-breakpoint-md) {
  .author-bio {
    // adjusted for better spacings in article/podcast context
    &.author-bio--long {
      margin-top: $author-bio-image-offset + $spacer-md;
    }
  }
}

@media screen and (min-width: $grid-breakpoint-xl) {
  .author-bio {
    &.author-bio--short {
      width: 49%;

      & + .author-bio--short {
        margin-top: 0;
      }
    }

    &.author-bio--long {
      margin-top: $author-bio-image-offset + $spacer-md;
    }
  }
}
