.tag-section {
  background-color: $meta-tags-background-color;
  padding-top: $spacer-base;
  padding-bottom: $spacer-lg;
}

.tag-section__container {
  margin: 0 auto;
  width: 90%;
}

.tag-section__headline {
  @extend %heading-font-heavy;

  text-align: center;
  line-height: $meta-tags-headline-line-height-small;
  color: $meta-tags-headline-text-color;
  font-size: $meta-tags-headline-font-size-small;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .tag-section {
    padding-top: $spacer-lg;
    padding-bottom: $spacer-xl;
  }

  .tag-section__headline {
    line-height: $meta-tags-headline-line-height;
    font-size: $meta-tags-headline-font-size;
  }

  .tag-section__container {
    width: 60%;
  }
}
