.reference {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
}

.reference__image {
  margin: 0 auto $spacer-sm;
  max-width: 50%;
}

.reference__link {
  @extend %block-link;
  @extend %hover-zoom-in;
  text-align: center;
}

.reference__description {
  @extend %heading-font-regular;

  margin-right: auto;
  margin-left: auto;
  text-align: center;
  line-height: $reference-line-height-small;
  font-size: $reference-font-size-small;
}

@media screen and (min-width: $grid-breakpoint-md) {

  .reference {
    margin-bottom: $spacer-lg;
  }

  .reference__image {
    margin: 0 auto $spacer-base;
    max-width: 40%;
  }

  .reference__description {
    max-width: 90%;
    line-height: $reference-line-height;
    font-size: $reference-font-size;
  }
}
