$zzheight: 12px;
$zzhalfheight: ($zzheight / 2);
$zzthickness: 130%; // increase to make the line thicker
$zzoffset: 4px;
$zzbgc: $brand-white;
$zzlinecolor: $brand-text;

.zigzag {
  background: $zzbgc;
  display: block;
  height: $zzheight;
  margin: 0;
  position: relative;
  z-index: 1;

  &::after,
  &::before {
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
  }

  &::before {
    background: linear-gradient(-135deg, $zzlinecolor $zzhalfheight, transparent 0) 0 $zzhalfheight, linear-gradient(135deg, $zzlinecolor $zzhalfheight, transparent 0) 0 $zzhalfheight;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: $zzheight $zzheight;
    height: ($zzheight - $zzoffset);
    top: $zzthickness;
  }

  &::after {
    background: linear-gradient(-135deg, $zzbgc $zzhalfheight, transparent 0) 0 $zzhalfheight, linear-gradient(135deg, $zzbgc $zzhalfheight, transparent 0) 0 $zzhalfheight;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: $zzheight $zzheight;
    height: $zzheight;
    top: 100%;
  }
}
