.table {
  border-collapse: collapse;

  width: 100%;
  max-width: 100%;

  text-align: left;

  border-bottom: 3px solid $table-border-color;

  caption {
    @extend %heading-font-regular;

    caption-side: bottom;
    margin-top: $spacer-xxs;
    font-size: $font-size-xs;
  }

  thead,
  tfoot {
    @extend %heading-font-bold;

    font-size: $font-size-base;
    line-height: $heading-line-height;
    color: $table-header-text-color;
    background-color: $table-header-background-color;

    th {
      padding: $spacer-sm $spacer-xs;
      text-align: left;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $table-row-border-color;

      &:nth-child(odd) {
        background-color: $table-row-color-dark;
      }
    }
  }

  td {
    @extend %heading-font-regular;

    padding: $spacer-xs;
    font-size: $font-size-xs;
    line-height: $paragraph-line-height;
    vertical-align: top;
  }
}

// Responsive tables code taken from BS4
@media screen and (max-width: $grid-breakpoint-sm) {
  .table {
    overflow-x: auto;
    display: block;

    width: 100%;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
