$divider-center-textbox-offset: $spacer-xxl * 2;

.image-divider-center {
  @extend %page-header;

  width: 100%;
  min-height: ms(20);
  /* stylelint-disable-next-line declaration-no-important */
  margin-bottom: $divider-center-textbox-offset !important; //FIXME
  &__title {
    @extend %punch-in;

    padding: 0 $spacer-md;
    font-size: $font-size-xxl;
    text-align: center;
  }
}

.image-divider-center__textbox {
  position: relative;
  top: $divider-center-textbox-offset;
  display: flex;
  max-width: 630px;
  flex-direction: column;
  align-items: center;
  padding: $spacer-md;
  background-color: $image-divider-center-bg-color;
  text-align: center;
}

.image-divider-center__textbox__text {
  @extend %body-font-italic;

  margin-top: $spacer-md;
  color: $image-divider-center-color;
  font-size: $font-size-sm;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .image-divider-center__title {
    font-size: $font-size-3xl;
  }

  .image-divider-center__textbox {
    top: $divider-center-textbox-offset;
    width: 630px;
    padding: $spacer-lg;
  }

  .image-divider-center__textbox__text {
    margin-top: $spacer-lg;
    font-size: $font-size-lg;
  }
}
