$divider-center-textbox-offset: $spacer-xxl * 2;

.image-divider-center {
  @extend %page-header;

  min-height: 50vh;
  padding-top: $spacer-lg;
   /* stylelint-disable-next-line declaration-no-important */
  margin-bottom: $divider-center-textbox-offset !important; //FIXME
  &__title {
    @extend %punch-in;

    padding: 0 $spacer-md;
    margin-bottom: $spacer-md;
    font-size: $font-size-xxl;
    text-align: center;
  }
}

.image-divider-center__textbox {
  position: relative;
  top: $divider-center-textbox-offset;
  display: flex;
  max-width: 630px;
  box-sizing: content-box;
  flex-direction: column;
  align-items: center;
  padding: $spacer-md;
  margin-top: $spacer-md;
  background-color: $image-divider-center-bg-color;
  text-align: center;
}

.image-divider-center__textbox__text {
  @extend %body-font-italic;

  color: $image-divider-center-color;
  font-size: $font-size-sm;
  // IE11 Hack
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    max-width: 100%;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .image-divider-center {
    margin-bottom: $divider-center-textbox-offset;
  }

  .image-divider-center__title {
    margin-bottom: $spacer-lg;
    font-size: $font-size-xxxxl;
  }

  .image-divider-center__textbox {
    top: $divider-center-textbox-offset;
    width: 630px;
    padding: $spacer-lg;
  }

  .image-divider-center__textbox__text {
    font-size: $font-size-lg;
  }
}
