.story-page {
  @extend %article-layout;

  align-items: center;
  margin-bottom: $spacer-lg;

  .zigzag {
    width: 40%;
    margin: $spacer-xl auto 0 auto;
  }

  img,
  > img {
    @extend %box-shadow-primary-25-right-bottom;
  }


  figure {
    @extend %container-vertical-spacing-lg;
  }
}
