.legacy-modernization-page {
  background: $gradient-2;

  p {
    @extend %body-font-sans;

    &.text-card__quote {
      @extend %body-font-italic;

      grid-row: span 2;
      padding: $spacer-lg $spacer-md;
      font-size: $font-size-lg;
      color: $brand-secondary;
    }
  }

  .longquote__zigzag {
    @include zigzag($gradient-header-background-color);
  }

  @media screen and (min-width: $grid-breakpoint-lg) {
    .big-content-teaser__headline {
      font-size: $font-size-xl;
    }
  }
}

.faq-section {
  align-items: flex-start;
  padding-right: $spacer-md;
  padding-left: $spacer-md;
}

.text-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: $spacer-md;
  margin-top: $spacer-base;

  &__heading {
    @extend %heading-font-bold;

    font-size: $font-size-sm;

    + p {
      margin-top: $spacer-xxs;
    }
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  column-gap: $spacer-md;
}

.text-card {
  @extend %hover-glow;

  display: grid;
  grid-row: span 3;
  grid-template-rows: subgrid;

  margin-bottom: $spacer-md;

  background: $gradient-2;

  &__quote {
    padding: $spacer-md;
    color: $brand-white;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    padding: $spacer-md;
  }

  &__name {
    @extend %heading-font-bold;

    font-size: $font-size-sm;
    color: $brand-primary;
  }

  &__job {
    padding-top: $spacer-sm;
    color: $brand-primary;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  .text-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: $spacer-lg;
    column-gap: $spacer-lg;

    &__heading {
      font-size: $font-size-md;
    }
  }

  .text-card__name {
    font-size: $font-size-md;
  }
}
