//
// project-index
//

// Related Markup probably not necessary in actual page
.project-index {
  color: $project-index-text-color;
}

.project-index__entry {
  margin-top: $spacer-xl;
}

.project-index__header {
  border-bottom: 5px solid $project-index-text-color;
  text-align: center;
}

.project-index__title {
  @extend %h1;

  display: inline-block;
  margin: 0;
  background-color: $project-index-text-color;
  padding: 0 $spacer-sm $spacer-xs;
  color: $project-index-text-inverted-color;
}

//
// client-projects
//

.client-projects {
  @extend %list-unstyled;

  position: relative;
}

.client-projects__header {
  margin-top: $spacer-sm;
}

.client-projects__client {
  position: relative;
}

.client-projects__client-name {
  margin: $spacer-lg 0 $spacer-sm;
  color: $project-index-highlight-color;
  font-size: $font-size-md;
}

.client-projects__project {
  display: grid;
  border-top: 1px solid $project-index-text-color;
  border-bottom: 1px solid $project-index-text-color;
  padding: $spacer-sm 0;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;

  &:last-child {
    border-bottom-width: 2px;
  }
}

.client-projects__project + .client-projects__project {
  border-top: 0;
}

.client-projects__project-title {
  margin-bottom: $spacer-sm;
  text-transform: none;
  color: $project-index-title-color;
  font-size: $font-size-md;
}

.client-projects__intro-text {
  @extend %teaser-text-italic;

  margin: 0;
}

.client-projects__show-more-btn,
.client-projects__goto-btn {
  margin: $spacer-sm 0 0;
  justify-self: start;
}

.client-projects__show-more-btn {
  img {
    vertical-align: middle;
  }
}

.client-projects__text {
  @extend %teaser-text;

  margin: $spacer-md 0 $spacer-sm;
}

@supports (display: grid) {
  @media screen and (min-width: $grid-breakpoint-md) {
    .client-projects__header {
      position: absolute;
      max-width: 11rem; // Hacky, we should consider a refactoring of the whole component
    }

    .client-projects__client-name {
      margin: 0;
    }

    .client-projects__project {
      grid-template-columns: 1fr 50% 1fr;
      grid-column-gap: $spacer-md;
    }

    .client-projects__intro {
      grid-column: 2 / span 1;
    }

    .client-projects__show-more-btn,
    .client-projects__goto-btn {
      align-self: end;
      justify-self: end;
      grid-column: 3 / span 1;
    }

    .client-projects__text {
      grid-column: 2 / span 2;
    }
  }
}
