<main role="main" class="talk-page">
    <article class="page-layout-md--default">
        <section class="center">
            <h1>🙈</h1>
            <h2>Die gesuchte Seite konnte leider nicht gefunden werden.</h2>
            <p>Das tut uns sehr leid. Wenn Sie die Information nicht an einer anderen Stelle finden oder sicher sind, dass diese URL funktionieren sollte, <a href="#">kontaktieren Sie uns bitte</a>.</p>
            <p>
                <small>
                    <a class="link--muted" href="#">INNOQ.com</a>
                </small>
            </p>
        </section>
    </article>
</main>
