//
// Default Link - used on all class-less link elements
//

a:not([class]) {
  border-bottom: 1px solid $link-color;
  color: $link-color;
  text-decoration: none;
  transition: standard-transition(background-color);

  &:focus,
  &:hover {
    background-color: $link-hover-color-light;
    outline: none;
  }

  &[href='mailto'] {
    hyphens: none;
  }
}

.link--muted {
  @extend %heading-font-bold;
  @extend %link-unstyled;

  color: $brand-muted;
  font-size: $font-size-xs;
}

.link-teaser {
  @extend %heading-font-heavy;
  @extend %link-unstyled;

  padding-bottom: 2px;
  border-bottom: 3px solid $link-teaser-border-color;
  color: $link-teaser-text-color;
  font-size: $font-size-xs;
  transition: standard-transition(background-color);

  &.inverted-text-color {
    border-bottom: 3px solid $link-teaser-inverted-text-border-color;
    color: $link-teaser-inverted-text-text-color;
  }

  &.inverted-interaction-color {
    border-bottom: 3px solid $link-teaser-inverted-interaction-border-color;
    color: $link-teaser-inverted-interaction-text-color;
  }
}

a.link-teaser {
  &:focus,
  &:hover {
    background-color: $link-hover-color-light;
  }
}

a.link-teaser.inverted-text-color {
  &:focus,
  &:hover {
    background-color: $link-hover-color-secondary;
  }
}

a.link-teaser.inverted-interaction-color {
  &:focus,
  &:hover {
    background-color: $link-hover-color-light;
  }
}
