.kununu-link {
  @extend %link-unstyled;

  cursor: pointer;

  display: flex;
  justify-content: center;

  max-width: 20rem;
  height: auto;
  margin: 0 auto;

  img {
    width: 50%;
  }

  // On mobile, only show the last image (simplified version)
  @media screen and (max-width: $grid-breakpoint-md) {
    img:not(:last-child) {
      display: none;
    }
  }
}
