.card {
  padding: $spacer-sm;
}

.card__image-header {
  position: relative;
}

.card__tags {
  @extend %list-unstyled;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: $spacer-md;
}

.card__tag {
  @extend %teaser-caption;
  background-color: $card-tag-bg-color;
  padding: $spacer-xxs;
  color: $card-tag-text-color;

  & + .card__tag {
    margin-top: $spacer-xs;
  }
}

.card__image {
  max-width: 100%;
  vertical-align: bottom;
}

.card__body {
  border-bottom: 1px solid $brand-gray-25;
}

.card__body,
.card__footer {
  background-color: $card-bg-color;
  padding: $spacer-sm;

  .upcase-heading {
    color: $card-headline-color;
  }

  .standalone {
    color: $card-subheadline-color;
  }

  .checklist {
    color: $card-headline-color;
  }
}

.card__subheadline {
  @extend %teaser-caption;

  margin-bottom: $spacer-xxs;
  color: $card-subheadline-color;
}

.card__headline {
  @extend %h3;
  color: $card-headline-color;
}

.card__text {
  @extend %body-font-italic;

  margin-bottom: $spacer-xxs;
  color: $card-text-color;
  font-size: $font-size-sm;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .card {
    padding: $spacer-base;
  }

  .card__body,
  .card__footer {
    transform: translateY(-$spacer-xxl);
    margin: 0 $spacer-base;
  }

  .card__image {
    vertical-align: baseline;
  }
}
