.newsletter-optin {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacer-lg;
  background-blend-mode: multiply;
  background-color: $brand-gray-75;
  background-image: asset-url("bg-images/edition-02/edition02-data-05.webp");
  background-size: cover;
  color: $newsletter-optin-color;

  .form-label {
    color: $newsletter-optin-color;
  }
}

.newsletter-optin__title {
  @extend %h1;

  margin-bottom: $spacer-sm;
  color: $newsletter-optin-color;
  text-align: center;
}

.newsletter-optin__subtitle {
  @extend %h5;

  margin-bottom: $spacer-lg;
  color: $newsletter-optin-color;
  text-align: center;
}

.newsletter-optin__form {
  .form-control {
    border: 0;
  }
}

.newsletter-optin__inputfield {
  display: flex;
  flex-direction: row;

  .btn {
    flex-grow: 1;
    margin-bottom: 0;
  }
}
