p {
  @extend %body-font-regular;

  margin-bottom: 0;
  font-size: $font-size-base;
  line-height: $paragraph-line-height;

  &:not([class]) {
    @extend %improved-hyphenation-text;
  }

  &.lead {
    @extend %body-font-italic;

    font-size: $font-size-sm;
    line-height: $paragraph-line-height;
  }

  &.display,
  &.standalone {
    @extend %heading-font-regular;
  }

  &.display {
    text-transform: uppercase;
  }

  &.small {
    font-size: $font-size-xxs;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  p {
    font-size: $font-size-sm;

    &.lead {
      font-size: $font-size-md;
    }
  }
}
