p {
  @extend %body-font-regular;

  font-size: $font-size-base;
  line-height: $paragraph-line-height;
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  // hyphenate-limit-chars: 6 4 4;
  // hyphenate-limit-last: always;
  // hyphenate-limit-lines: 2;
  // TODO turn on when it's supported
  // see: http://clagnut.com/blog/2395

  &.lead {
    @extend %body-font-italic;

    font-size: $font-size-sm;
    line-height: $paragraph-line-height;
  }

  &.display,
  &.standalone {
    @extend %heading-font-regular;
  }

  &.display {
    text-transform: uppercase;
  }

  &.small {
    font-size: $font-size-xxs;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  p {
    font-size: $font-size-sm;

    &.lead {
      font-size: $font-size-md;
    }
  }
}
