// ---- Pull quotes ------------------------------------------------------------
//
pull-quote > blockquote,
.pullquote {
  padding: $spacer-sm;
  border: 1px solid $pull-quote-border-color;
  border-width: 1px 0;
  margin: 0 0 $spacer-md;

  &,
  > p {
    @extend %heading-font-bold;

    color: $pull-quote-color;
    font-size: $font-size-sm;
    line-height: $paragraph-line-height;
    text-align: center;
  }

  > p {
    margin-bottom: 0;
  }
}

@media screen and (min-width: $grid-breakpoint-md) {
  pull-quote > blockquote,
  .pullquote {
    width: 80%;
    margin: 0 auto $spacer-md;
  }
}
