.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $spacer-sm $spacer-md;
  justify-content: center;

  padding: $spacer-base 0;

  .btn {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (min-width: $grid-breakpoint-md-lg) {
  .button-wrapper .btn {
    width: auto;
  }
}
