<section class="center share-section">
    <img src={context.app.uri('static/arrow-long-down.svg')} class="share-section__arrow" />
    <h3 class="share-section__heading">Share on</h3>
    <ul class="share-section__list">
        <li>
            <a class="share-section__link" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.innoq.com%2Fde%2Farticles%2F2017%2F06%2Finnovation-tokens%2F">
                <i class="icon icon--social icon-facebook"></i>
            </a>
        </li>
        <li>
            <a class="share-section__link" target="_blank" href="http://twitter.com/share?url=https%3A%2F%2Fwww.innoq.com%2Fde%2Farticles%2F2017%2F06%2Finnovation-tokens%2F&amp;text=Innovation+Tokens+%E2%80%93+Gegen+Informatikerromantik+und+Technologie%C3%BCberflutung+von+%40aheusingfeld&amp;via=innoq">
                <i class="icon icon--social icon-twitter"></i>
            </a>
        </li>
        <li>
            <a class="share-section__link" href="mailto:?subject=Innovation+Tokens+%E2%80%93+Gegen+Informatikerromantik+und+Technologie%C3%BCberflutung&amp;body=https%3A%2F%2Fwww.innoq.com%2Fde%2Farticles%2F2017%2F06%2Finnovation-tokens%2F">
                <i class="icon icon--social icon-mail"></i>
            </a>
        </li>
    </ul>
</section>
