.stripe {
  overflow: hidden;
  width: 100%;
}

.stripe--primary {
  background-color: $brand-primary;
}

.stripe--secondary {
  background-color: $brand-secondary;
}

.stripe--white {
  background-color: $brand-white;
}

.stripe--bg-image {
  background-color: rgba($brand-secondary, 0.5);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.stripe--gray {
  background-color: $brand-gray-10;
}

.stripe--black {
  background-color: $brand-gray;
}

.stripe--gradient {
  background: $gradient;
}

.stripe--gradient-2 {
  background: $gradient-2;
}
