<label class="form-label" for="filter">Branche wählen:</label>

<select name="filter" id="filter" class="filter-select">
  <option value="all">All</option>
  <option value="category1">Category 1</option>
  <option value="category2">Category 2</option>
  <option value="category3">Category 3</option>
</select>

<div id="industries">
  <div class="industry" data-category="category1">industry 1</div>
  <div class="industry" data-category="category2">industry 2</div>
  <div class="industry" data-category="category3">industry 3</div>
  <div class="industry" data-category="category1">industry 4</div>
  <div class="industry" data-category="category2">industry 5</div>
</div>