# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build and Release

on:
  push:
    branches: [main]
    tags:
      - v* # Our tags are prefixed with 'v'
  pull_request:
    branches: [main]

permissions:
  id-token: write  # Required for OIDC npm Trusted Publishing https://docs.npmjs.com/trusted-publishers
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup cache for npm
        id: npm_cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.npm
            ~/cache
            !~/cache/exclude
            **/node_modules
          key: npm-${{ matrix.node-version }}-${{ hashFiles('**/package-lock.json') }}
      - name: npm install
        if: steps.npm_cache.outputs.cache-hit != 'true'
        run: npm install-clean
      - run: npm run test

  deploy_site:
    if: ${{ contains(github.ref, 'refs/tags') }}
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup cache for npm
        id: npm_cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.npm
            ~/cache
            !~/cache/exclude
            **/node_modules
          key: npm-${{ matrix.node-version }}-${{ hashFiles('**/package-lock.json') }}
      - name: npm install
        if: steps.npm_cache.outputs.cache-hit != 'true'
        run: npm install-clean
      - run: ./scripts/dist
        env:
          SKIP_RELEASE_BUNLDE: true
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages # The branch the action should deploy to.
          folder: dist/site # The folder the action should deploy.
          clean: true # Automatically remove deleted files from the deploy branch

  publish:
    if: ${{ contains(github.ref, 'refs/tags') }}
    needs: build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org'
      - name: Setup cache for npm
        id: npm_cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.npm
            ~/cache
            !~/cache/exclude
            **/node_modules
          key: npm-${{ matrix.node-version }}-${{ hashFiles('**/package-lock.json') }}
      - name: npm install
        if: steps.npm_cache.outputs.cache-hit != 'true'
        run: npm install --frozen-lockfile
      - run: ./scripts/dist
      - name: Publish to Node Packages
        run: npm publish
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: "@innoq-innoq-styleguide-${{ steps.tag_name.outputs.tag }}.zip"