// sass-lint:disable no-vendor-prefixes,

.service-intro-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: $spacer-lg;
}

.service-intro {
  @extend %link-unstyled;

  width: 75%;
  justify-self: center;
}

.service-intro__header {
  @extend %heading-font-heavy;
  @extend %manual-hyphenation;

  margin-bottom: $spacer-md;
  line-height: 1.38; //magic number
  color: $service-intro-text-color;
  font-size: $font-size-lg;

  a,
  a:not([class]) {
    box-shadow: $spacer-xxs 0 0 $brand-primary, -$spacer-xxs 0 0 $brand-primary;
    background-color: $brand-primary;
    padding: ms(-16);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &:hover {
      background-color: $brand-primary;
    }
  }
}

.service-intro__text {
  @extend %heading-font-bold;

  margin-bottom: $spacer-sm;
  line-height: $paragraph-line-height;
  color: $service-intro-text-color;
  font-size: $font-size-base;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .service-intro {
    border-right: 1px solid $brand-gray-25;
    padding-right: $spacer-base;
    width: 100%;

    &:nth-child(2n) {
      border-right: 0;
    }
  }

  .service-intro__header {
    margin-bottom: $spacer-base;
    line-height: 1.35; //magic number
    font-size: $font-size-xl;
  }

  .service-intro__text {
    margin-bottom: $spacer-base;
    font-size: $font-size-sm;
  }
}

@media screen and (min-width: $grid-breakpoint-xl) {
  .service-intro {
    &:nth-child(2n) {
      border-right: 1px solid $brand-gray-25;
    }

    &:nth-child(3n) {
      border-right: 0;
    }
  }
}
