

<html>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <main role="main" class="talk-page">
    <article class="page-layout-md--default">
        <h1>🙈</h1>
        <h2>Die gesuchte Seite konnte leider nicht gefunden werden.</h2>
        <p>Das tut uns sehr leid. Wenn Sie die Information nicht an einer anderen Stelle finden oder sicher sind, dass diese URL funktionieren sollte, <a href="#">kontaktieren Sie uns bitte</a>.</p>
        <p>
            <small>
                <a class="link--muted" href="#">INNOQ.com</a>
            </small>
        </p>
    </article>
</main>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

