

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <main role="main" class="talk-page">
      <article class="page-layout-md--default">
        <section class="center">
          <h1>🙊</h1>
          <h2>Irgendetwas ist da gerade leider schief gegangen.</h2>
          <p>
            Das tut uns sehr leid. Da wir unsere Logs im Auge behalten, sind wir
            vermutlich bereits dabei, das Problem zu beheben.
          </p>
          <p>
            <small><a class="link--muted" href="#">INNOQ.com</a></small>
          </p>
        </section>
      </article>
    </main>
  </body>
  <script src="../../assets/bundle.js"></script>
</html>

