

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="alert alert--warn">
    <div class="alert-text"><strong>Das hat nicht geklappt!</strong> Bitte füllen Sie alle Felder aus.</div>
    <button class="alert-btn" type="button">
        <span class="icon icon-close icon--brand-gray icon--small"></span>
        <span class="sr-only">Schließen</span>
    </button>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

