

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div class="alert alert--error">
      <div class="alert-text">
        <strong>Das hat nicht geklappt!</strong> Bitte füllen Sie alle Felder
        aus.
      </div>
      <button class="alert-btn" type="button">
        <i class="icon icon-close"></i><span class="sr-only">Schließen</span>
      </button>
    </div>
  </body>
  <script src="../../assets/document-register-element.js"></script>
  <script src="../../assets/bundle.js"></script>
</html>

