

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <header class="article-intro">
      <h1>Article – Headline</h1>
      <h2>Article Subheadline</h2>
      <p class="lead">
        Lorem gibson Freeside Mycotoxin mimetic polycarbon suits digital savant
        arcology tattoo arcology savant stimulate soul-delay free-market watch.
        Narrative artisanal RAM dome black sprawl nano-pen nodal point
        corporation into office assassin meta-.
      </p>
      <div class="content-separator">
        <time class="content-separator__date date" datetime="2017-06-26"
          >26. Juni 2017</time
        ><time class="content-separator__duration duration" datetime="P8M"
          >8 Min. Lesedauer</time
        >
      </div>
      <a
        rel="author"
        class="author-bio author-bio--short"
        href="#author-bio"
        itemscope
        itemtype="http://schema.org/Person"
        ><div class="author-bio__image avatar avatar--small">
          <img
            itemprop="photo"
            class="avatar__image"
            src="../../assets/example-content/heribert.jpg"
            alt="Portrait von Heribert Innoq"
          />
        </div>
        <address class="author-bio__text">
          <span rel="author" class="author-bio__name" itemprop="givenName"
            >Heribert Innoq</span
          ><span class="author-bio__info" itemprop="jobTitle"
            >Senior Consultant</span
          >
        </address></a
      >
    </header>
  </body>
  <script src="../../assets/bundle.js"></script>
</html>

