

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="demo">
    <a rel="author" class="author-bio author-bio--short" href="#author-bio" itemscope itemtype="http://schema.org/Person">
        <div class="author-bio__image avatar avatar--md">
            <img itemprop="photo" class="avatar__image" src="../../assets/example-content/heribert.jpg"  alt="Portrait von Heribert Innoq"/>
        </div>
        <address>
            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
        </address>
    </a>

    <a rel="author" class="author-bio author-bio--short" href="#author-bio" itemscope itemtype="http://schema.org/Person">
        <div class="author-bio__image avatar avatar--sm">
            <img itemprop="photo" class="avatar__image" src="../../assets/example-content/heribert.jpg"  alt="Portrait von Heribert Innoq"/>
        </div>
        <address>
            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
        </address>
    </a>

    <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
        <div class="author-bio__image avatar avatar--xs">
            <img class="avatar__image" itemprop="photo" src="../../assets/example-content/heribert.jpg"
                alt="Portrait von Alexander Hesingfeld" />
        </div>
        <address>
            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
        </address>
    </div>
</div>



        <script src="../../assets/bundle.js"></script>
    </body>
</html>

