

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div
      class="author-bio author-bio--condensed"
      itemscope
      itemtype="http://schema.org/Person"
    >
      <div class="author-bio__image avatar avatar--xs">
        <img
          class="avatar__image"
          itemprop="photo"
          src="../../assets/example-content/heribert.jpg"
          alt="Portrait von Alexander Hesingfeld"
        />
      </div>
      <address class="author-bio__text">
        <span rel="author" class="author-bio__name" itemprop="fullName"
          >Heribert Innoq</span
        ><span class="author-bio__info" itemprop="jobTitle"
          >Senior Consultant</span
        >
      </address>
    </div>
  </body>
  <script src="../../assets/bundle.js"></script>
</html>

