

<html>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="avatar avatar--base">
    <a class="avatar__link" href="#author-bio">
        <img class="avatar__image" itemprop="photo" src="../../assets/example-content/heribert.jpg"  alt="Portrait von Heribert Innoq" />
    </a>
</div>

<div class="avatar avatar--sm">
    <a class="avatar__link" href="#author-bio">
        <img class="avatar__image" itemprop="photo" src="../../assets/example-content/heribert.jpg"  alt="Portrait von Heribert Innoq" />
    </a>
</div>

<div class="avatar avatar--xs">
    <a class="avatar__link" href="#author-bio">
        <img class="avatar__image" itemprop="photo" src="../../assets/example-content/heribert.jpg"  alt="Portrait von Heribert Innoq" />
    </a>
</div>


        <script src="../../assets/bundle.js"></script>
    </body>
</html>

