

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="bg-image-demo bg-image-workshop-01">
    <h3>bg-image-workshop-01</h3>
</div>

<div class="bg-image-demo bg-image-workshop-02">
    <h3>bg-image-workshop-02</h3>
</div>

<div class="bg-image-demo bg-image-workshop-03">
    <h3>bg-image-workshop-03</h3>
</div>

<div class="bg-image-demo bg-image-workshop-04">
    <h3>bg-image-workshop-04</h3>
</div>

<div class="bg-image-demo bg-image-workshop-05">
    <h3>bg-image-workshop-05</h3>
</div>

<div class="bg-image-demo bg-image-workshop-06">
    <h3>bg-image-workshop-06</h3>
</div>

<div class="bg-image-demo bg-image-workshop-07">
    <h3>bg-image-workshop-07</h3>
</div>

<div class="bg-image-demo bg-image-workshop-08">
    <h3>bg-image-workshop-08</h3>
</div>

<div class="bg-image-demo bg-image-workshop-09">
    <h3>bg-image-workshop-09</h3>
</div>

<div class="bg-image-demo bg-image-workshop-10">
    <h3>bg-image-workshop-10</h3>
</div>

<div class="bg-image-demo bg-image-workshop-11">
    <h3>bg-image-workshop-11</h3>
</div>

<div class="bg-image-demo bg-image-workshop-12">
    <h3>bg-image-workshop-12</h3>
</div>

<div class="bg-image-demo bg-image-workshop-13">
    <h3>bg-image-workshop-13</h3>
</div>

<div class="bg-image-demo bg-image-workshop-14">
    <h3>bg-image-workshop-14</h3>
</div>

<div class="bg-image-demo bg-image-workshop-15">
    <h3>bg-image-workshop-15</h3>
</div>

<div class="bg-image-demo bg-image-workshop-16">
    <h3>bg-image-workshop-16</h3>
</div>

<div class="bg-image-demo bg-image-workshop-17">
    <h3>bg-image-workshop-17</h3>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

