

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div class="page-layout--xl-default">
      <div class="blocks">
        <a href="#" class="big-content-teaser big-content-teaser--inverted"
          ><div class="big-content-teaser__content">
            <div class="big-content-teaser__body">
              <h2
                class="
                  big-content-teaser__headline
                  big-content-teaser__headline--inverted
                "
              >
                Dies ist eine Geschäftsmodelle Headline
              </h2>
              <p class="big-content-teaser__text">
                Lorem gibson 8-bit Freeside denim otaku sign boy neon warp
                long-chain hydrocarbons car.
              </p>
            </div>
            <div class="big-content-teaser__footer">
              <div class="link-teaser inverted-interaction-color" href="#">
                Mehr erfahren
              </div>
            </div>
          </div></a
        ><a href="#" class="big-content-teaser big-content-teaser--colored"
          ><div class="big-content-teaser__content">
            <div class="big-content-teaser__body">
              <h2 class="big-content-teaser__headline">
                Dies ist eine Headline
              </h2>
              <p class="big-content-teaser__text">
                Lorem gibson 8-bit Freeside denim otaku sign boy neon warp
                long-chain hydrocarbons car.
              </p>
            </div>
            <div class="big-content-teaser__footer">
              <div class="link-teaser inverted-text-color" href="#">
                Mehr erfahren
              </div>
            </div>
          </div></a
        >
      </div>
      <div class="blocks">
        <a
          href="#"
          class="
            big-content-teaser big-content-teaser--image
            bg-image-edition-10
          "
          ><div class="big-content-teaser__content">
            <div class="big-content-teaser__body">
              <h2 class="big-content-teaser__headline">
                Dies ist eine Technologieberatung Headline
              </h2>
              <p class="big-content-teaser__text">
                Lorem gibson 8-bit Freeside denim otaku sign boy neon warp
                long-chain hydrocarbons car.
              </p>
            </div>
            <div class="big-content-teaser__footer">
              <div class="link-teaser" href="#">Mehr erfahren</div>
            </div>
          </div></a
        ><a
          href="#"
          class="
            big-content-teaser big-content-teaser--image
            bg-image-edition-02
          "
          ><div class="big-content-teaser__content filled-background">
            <div class="big-content-teaser__body">
              <h2 class="big-content-teaser__headline">
                Dies ist eine Headline
              </h2>
              <p class="big-content-teaser__text">
                Lorem gibson 8-bit Freeside denim otaku sign boy neon warp
                long-chain hydrocarbons car.
              </p>
            </div>
            <div class="big-content-teaser__footer">
              <div class="link-teaser" href="#">Mehr erfahren</div>
            </div>
          </div></a
        >
      </div>
      <div class="blocks">
        <a
          href="#"
          class="
            big-content-teaser big-content-teaser--image
            bg-image-edition-10
          "
          ><div class="big-content-teaser__content">
            <div class="big-content-teaser__body">
              <h2 class="big-content-teaser__headline">
                Dies ist eine Headline
              </h2>
              <p class="big-content-teaser__text">
                Lorem gibson 8-bit Freeside denim otaku sign boy neon warp
                long-chain hydrocarbons car.
              </p>
            </div>
            <div class="big-content-teaser__footer">
              <div class="link-teaser" href="#">Mehr erfahren</div>
            </div>
          </div></a
        ><a
          href="#"
          class="
            big-content-teaser big-content-teaser--image
            bg-image-edition-06
          "
          ><div class="big-content-teaser__content filled-background">
            <div class="big-content-teaser__body">
              <h2 class="big-content-teaser__headline">
                Dies ist eine Headline
              </h2>
              <p class="big-content-teaser__text">
                Lorem gibson 8-bit Freeside denim otaku sign boy neon warp
                long-chain hydrocarbons car.
              </p>
            </div>
            <div class="big-content-teaser__footer">
              <div class="link-teaser" href="#">Mehr erfahren</div>
            </div>
          </div></a
        >
      </div>
    </div>
  </body>
  <script src="../../assets/bundle.js"></script>
</html>

