

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <main id="main" role="main">
    <header class="topic-header bg-image-edition-20">
        <div class="topic-header__body">
            <h1 class="topic-header__title">
                Domain-Driven Design Referenz - Definitionen &amp; Muster
            </h1>
            <span class="icon icon-arrow-long-down icon--brand-secondary"></span>
        </div>
    </header>
    <section class="page-layout-md--default">
        <div class="detail-item">
            <img width="400" class="detail-item__image"
                src="https://res.cloudinary.com/innoq/image/upload/c_scale,dpr_2.0,w_400/v1/uploads-production/qaxm9re51q3f92i6j32o8dv76z4h" />
            <div class="detail-item-wrapper">
                <div class="detail-item__body">
                    <h3 class="detail-item__title">Domain-Driven Design Referenz - Definitionen &amp; Muster</h3>
                    <p class="detail-item__caption">Domain-driven Design spielt beim Entwerfen und Umsetzen von fachlich
                        anspruchsvollen Systemen eine entscheidende Rolle. Für das Verständnis von DDD ist die
                        DDD-Referenz von Eric Evans eine unverzichtbare Quelle – und liegt mit diesem Buch erstmalig in
                        deutscher Übersetzung vor.
                        Sowohl die Originalversion, als auch die Übersetzung stehen unter Creative-Common-Lizenz.</p>
                    <ul class="detail-item__author">
                        <li><a title="Michael Plöd" href="/de/staff/michael-pl%C3%B6d/">Michael Plöd</a></li>
                        <li><a title="Christian Stettler" href="/de/staff/christian-stettler/">Christian Stettler</a>
                        </li>
                        <li><a title="Eberhard Wolff" href="/de/staff/eberhard-wolff/">Eberhard Wolff</a></li>
                    </ul>
                </div>
                <div class="detail-item__footer">
                    <a class="link-teaser" href="https://leanpub.com/ddd-referenz">Download</a>
                </div>
            </div>
        </div>
        <div class="detail-item__footer">
            <a class="btn btn--small btn--cta--color-swap" data-label="Alle Primer" href="/de/topics/primer/">Alle
                Primer</a>
            <a class="btn btn--small btn--cta--color-swap" data-label="Alle Bücher" href="/de/topics/buecher/">Alle
                Bücher</a>
        </div>
    </section>
    <section class="stripe stripe--gray">
        <div class="tag-section">
            <h3 class="tag-section__headline">TAGS</h3>
            <ul class="tag-list">
                <li class="tag-list__item">
                    <a class="tag-list__link" href="/de/topics/domain-driven-design/">Domain-driven Design</a>
                </li>
            </ul>
        </div>
    </section>
</main>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

