

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="card">
    <div class="card__header">
        <img class="card__header__image" src="../../assets/bg-images/general/visual-workshop-12.webp" />
        <ul class="card__header__tags">
            <li class="card__header__tag">Label</li>
            <li class="card__header__tag">Label</li>
        </ul>
    </div>
    <div class="card__content">
        <div class="card__content__body">
            <div class="card__content__body__subheadline">Ich bin eine Headline</div>
            <h2 class="card__content__body__headline">Ich bin eine Headline</h2>
            <p class="card__content__body__text">
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
            </p>
        </div>
        <div class="card__content__footer">
            <div>
                <h3 class="upcase-heading">Ich bin eine Headline</h3>
                <ul class="checklist">
                    <li>Ich bin ein kleines Listitem</li>
                    <li>Ich bin ein kleines Listitem</li>
                </ul>
            </div>
            <div>
                <h3 class="upcase-heading">Ich bin eine Headline</h3>
                <p class="standalone">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            </div>
        </div>
    </div>
</div>


        <script src="../../assets/bundle.js"></script>
    </body>
</html>

