

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div>
    <check-to-toggle target="#foo">
        <div class="form-check">
            <label class="form-check__label">
                <input type="checkbox" class="form-check__input check-to-toggle__checkbox" />
                Toggle
            </label>
        </div>
    </check-to-toggle>
    <div id="foo">I can be toggled</div>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

