

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="color-container">
    <p>Der Ablauf ist bei längeren Reviews grundsätzlich der gleiche. Interviews und Analysen benötigen bei größeren Reviews allerdings deutlich mehr Zeit, die Abstimmungsphase und die Erstellung des Ergebnisberichts dauern dagegen nur geringfügig länger.</p>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

