

<html>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="tile-grid-sm">
    <a href="#" class="content-teaser content-teaser--inverted">
        <div class="content-teaser__body">
            <div class="content-teaser__caption">Artikel</div>
            <h2 class="content-teaser__header">Command Line Interfaces in Java</h2>
            <p class="content-teaser__text">
                Wie man auf Kommando die richtigen Dinge tut.
            </p>
        </div>
        <div class="content-teaser__footer">
            <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                <div class="author-bio__image avatar avatar--xs">
                    <img class="avatar__image" itemprop="photo" src="../../assets/example-content/heribert.jpg"
                        alt="Portrait von Alexander Hesingfeld" />
                </div>
                <address class="author-bio__text">
                    <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                    <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                </address>
            </div>
            <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                <div class="author-bio__image avatar avatar--xs">
                    <img class="avatar__image" itemprop="photo" src="../../assets/example-content/heribert.jpg"
                        alt="Portrait von Alexander Hesingfeld" />
                </div>
                <address class="author-bio__text">
                    <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                    <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                </address>
            </div>
            <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                <div class="author-bio__image avatar avatar--xs">
                    <img class="avatar__image" itemprop="photo" src="../../assets/example-content/heribert.jpg"
                        alt="Portrait von Alexander Hesingfeld" />
                </div>
                <address class="author-bio__text">
                    <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                    <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                </address>
            </div>
        </div>
    </a>

    <a href="#" class="content-teaser content-teaser--default">
        <div class="content-teaser__body">
            <div class="content-teaser__caption">Artikel</div>
            <h2 class="content-teaser__header">Microservices à la Netflix</h2>
            <p class="content-teaser__text">
                Die Bestandteile von Spring Cloud Netflix.
            </p>
        </div>
        <div class="content-teaser__footer">
            <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                <div class="author-bio__image avatar avatar--xs">
                    <img class="avatar__image" itemprop="photo" src="../../assets/example-content/heribert.jpg"
                        alt="Portrait von Alexander Hesingfeld" />
                </div>
                <address class="author-bio__text">
                    <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                    <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                </address>
            </div>
        </div>
    </a>

    <a href="#" class="content-teaser content-teaser--colored">
        <div class="content-teaser__body">
            <div class="content-teaser__caption">Artikel</div>
            <h2 class="content-teaser__header">Unendliches Vertrauen</h2>
            <p class="content-teaser__text">
                Continuous Delivery – ein Blick auf den Stand der Dinge.
            </p>
        </div>
        <div class="content-teaser__footer">
            <div class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                <div class="author-bio__image avatar avatar--xs">
                    <img class="avatar__image" itemprop="photo" src="../../assets/example-content/heribert.jpg"
                        alt="Portrait von Alexander Hesingfeld" />
                </div>
                <address class="author-bio__text">
                    <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                    <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                </address>
            </div>
        </div>
    </a>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

