

<html>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <section class="contact-person">
    <h3 class="section-heading--primary">Noch Fragen?</h3>
    <h4 class="contact-person__subheading">Du möchtest dich bewerben, hast aber noch Fragen?</h4>
    <h4 class="contact-person__subheading">Sprich mit uns!</h4>
    <div class="contact-person__wrapper">
        <a rel="author" class="author-bio author-bio--large" href="#mailto:contact-person@innoq.com" itemscope itemtype="http://schema.org/Person">
            <div class="author-bio__image avatar avatar--xl">
                <img itemprop="photo" class="avatar__image" src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq"/>
            </div>
            <address class="author-bio__text">
                <span rel="author" class="author-bio__name" itemprop="fullName">Heribert INNOQ</span>
                <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                <p class="author-bio__info" itemprop="description">seit 10 Jahren dabei.</p>
                <p class="author-bio__expertise" itemprop="knowsAbout">Fachgebiet1, Fachgebiet2</p>
            </address>
        </a>
        <a rel="author" class="author-bio author-bio--large" href="#mailto:contact-person@innoq.com" itemscope itemtype="http://schema.org/Person">
            <div class="author-bio__image avatar avatar--xl">
                <img itemprop="photo" class="avatar__image" src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq"/>
            </div>
            <address class="author-bio__text">
                <span rel="author" class="author-bio__name" itemprop="fullName">Heribert INNOQ</span>
                <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                <p class="author-bio__info" itemprop="description">seit 10 Jahren dabei.</p>
                <p class="author-bio__expertise" itemprop="knowsAbout">Fachgebiet1, Fachgebiet2</p>
            </address>
        </a>
    </div>
</section>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

