

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div
      class="cover cover__avatar-overlay"
      style="
        background-image: url(../../assets/example-content/heribert-rechts.png),
          url(../../assets/example-content/heribert-links.png);
      "
    >
      <div class="cover__body">
        <h3 class="cover__type">Podcast</h3>
        <h1 class="cover__title">Podcast Titel</h1>
        <h2 class="cover__subtitle">Ein Untertitel</h2>
        <div class="cover__authors">
          <div
            class="cover__author"
            itemscope
            itemtype="http://schema.org/Person"
          >
            Heribert Innoq
          </div>
          <div
            class="cover__author"
            itemscope
            itemtype="http://schema.org/Person"
          >
            Heribert Innoq
          </div>
        </div>
      </div>
      <div class="cover__footer cover__footer--white cover__footer--single">
        <img
          itemprop="photo"
          class="cover__logo--right"
          src="../../assets/logos/edition-02/svg/innoq-logo--petrolapricot.svg"
        />
      </div>
    </div>
    <div
      class="cover cover__avatar-overlay cover__avatar-overlay--security"
      style="
        background-image: url(../../assets/example-content/heribert-rechts.png),
          url(../../assets/example-content/heribert-links.png);
      "
    >
      <div class="cover__body">
        <h3 class="cover__type">Podcast</h3>
        <h1 class="cover__title">Podcast Titel</h1>
        <h2 class="cover__subtitle">Ein Untertitel</h2>
        <div class="cover__authors">
          <div
            class="cover__author"
            itemscope
            itemtype="http://schema.org/Person"
          >
            Heribert Innoq
          </div>
          <div
            class="cover__author"
            itemscope
            itemtype="http://schema.org/Person"
          >
            Heribert Innoq
          </div>
        </div>
      </div>
      <div class="cover__footer cover__footer--white cover__footer--single">
        <img
          itemprop="photo"
          class="cover__logo--right"
          src="../../assets/logos/edition-02/svg/innoq-logo--petrolapricot.svg"
        />
      </div>
    </div>
    <div class="cover bg-image-edition-18">
      <div class="cover__body">
        <h1 class="cover__title">Ich bin ein Titel</h1>
        <h2 class="cover__subtitle">Ich bin ein Untertitel</h2>
      </div>
      <div class="cover__footer cover__footer--primary">
        <ul class="cover__people">
          <li
            rel="author"
            class="author-bio author-bio--short"
            itemscope
            itemtype="http://schema.org/Person"
          >
            <div class="author-bio__image avatar avatar--small">
              <img
                itemprop="photo"
                class="avatar__image"
                src="../../assets/example-content/heribert.jpg"
                alt="Portrait von Heribert Innoq"
              />
            </div>
            <address class="author-bio__text">
              <span rel="author" class="author-bio__name" itemprop="fullName"
                >Heribert Innoq</span
              ><span class="author-bio__info" itemprop="jobTitle"
                >Senior Consultant</span
              >
            </address>
          </li>
          <li
            rel="author"
            class="author-bio author-bio--short"
            itemscope
            itemtype="http://schema.org/Person"
          >
            <div class="author-bio__image avatar avatar--small">
              <img
                itemprop="photo"
                class="avatar__image"
                src="../../assets/example-content/heribert.jpg"
                alt="Portrait von Heribert Innoq"
              />
            </div>
            <address class="author-bio__text">
              <span rel="author" class="author-bio__name" itemprop="fullName"
                >Heribert Innoq</span
              ><span class="author-bio__info" itemprop="jobTitle"
                >Senior Consultant</span
              >
            </address>
          </li>
        </ul>
        <img
          itemprop="photo"
          class="cover__logo--right"
          src="../../assets/logos/edition-02/svg/innoq-logo--whitepetrol.svg"
        />
      </div>
    </div>
    <div class="cover bg-image-edition-18">
      <div class="cover__body">
        <h1 class="cover__type">Content-type</h1>
        <h1 class="cover__title">Ich bin ein Titel</h1>
        <h2 class="cover__subtitle">Ich bin ein Untertitel</h2>
      </div>
      <div class="cover__footer cover__footer--white cover__footer--single">
        <img
          itemprop="photo"
          class="cover__logo--right"
          src="../../assets/logos/edition-02/svg/innoq-logo--petrolapricot.svg"
        />
      </div>
    </div>
    <div class="cover bg-image-edition-18">
      <div class="cover__body">
        <h1 class="cover__title">Ich bin ein Titel</h1>
        <h2 class="cover__subtitle">Ich bin ein Untertitel</h2>
      </div>
      <div class="cover__footer cover__footer--secondary cover__footer--single">
        <img
          itemprop="photo"
          class="cover__logo--right"
          src="../../assets/logos/edition-02/svg/innoq-logo--whiteapricot.svg"
        />
      </div>
    </div>
    <div class="cover bg-image-edition-18">
      <div class="cover__body">
        <h1 class="cover__title">Ich bin ein Titel</h1>
        <h2 class="cover__subtitle">Ich bin ein Untertitel</h2>
      </div>
      <div class="cover__footer cover__footer--white">
        <img
          itemprop="photo"
          class="cover__logo--left"
          src="../../assets/logos/edition-02/svg/innoq-logo--petrolapricot.svg"
        /><img
          itemprop="photo"
          class="cover__logo--right"
          src="../../assets/logos/edition-02/svg/innoq-logo--petrolapricot.svg"
        />
      </div>
    </div>
    <div class="cover bg-image-edition-18">
      <div class="cover__body">
        <h1 class="cover__title">Ich bin ein Titel</h1>
        <h2 class="cover__subtitle">Ich bin ein Untertitel</h2>
      </div>
      <div class="cover__footer cover__footer--white">
        <img
          itemprop="photo"
          class="cover__logo--left"
          src="../../assets/logos/edition-02/svg/innoq-logo--petrolapricot.svg"
        /><img
          itemprop="photo"
          class="cover__logo--right"
          src="../../assets/logos/edition-02/svg/innoq-logo--petrolapricot.svg"
        />
      </div>
    </div>
  </body>
  <script src="../../assets/bundle.js"></script>
</html>

