

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <aside class="cta-sidebar">
  <h2 class="cta-sidebar__heading">Primer Blockchain</h2>
  <p class="cta-sidebar__text">Lade Dir hier unseren kostenlosen Primer zum Thema Blockchain herunter!</p>
  <img class="cta-sidebar__image" src="../../assets/example-content/blockchain-primer.jpg" alt="" />
  <a class="cta-sidebar__btn btn btn--cta btn--xsmall" data-label="Download" href="#"
     aria-label="Download Blockchain Primer">Download</a>
</aside>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

