

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="cta-section">
    <h2>Kein passender Termin dabei?</h2>
    <p class="standalone">Gerne bieten wir Ihnen einen gesonderten Termin an!</p>
    <a class="btn btn--cta" data-label="Termin anfragen" href="#">Termin anfragen</a>
    <p class="display small"> 1 weiterer Termin verfügbar</p>
</div>

<div class="cta-section cta-section--dark-bg">
    <h2>Kein passender Termin dabei?</h2>
    <p class="standalone">Gerne bieten wir Ihnen einen gesonderten Termin an!</p>
    <a class="btn btn--cta btn--cta--inverted" href="#">Termin anfragen</a>
    <p class="display small"> 1 weiterer Termin verfügbar</p>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

