

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="download-section-feature">
    <img class="download-section-feature__image" itemprop="photo" src="../../assets/example-content/beispiel-talk.jpg" alt="Eine Vortragsfolie" />
    <h3 class="download-section-feature__title">Titel des Talks</h3>
    <p class="download-section-feature__caption">Dies ist eine lustige Beschreibung des Talks</p>
    <a href="#" class="btn btn--small btn--cta download-section-feature__link" data-label="Download">Download</a>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

