

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div>
      Time period of artist edition<br /><br />
      <div class="edition-section">
        <hr class="edition-separator" />
        <div class="edition">Edition</div>
        <span class="edition-date"
          >18
          <hr class="edition-date-separator" />
          19</span
        >
      </div>
      <div class="edition-section">
        <hr class="edition-separator" />
        <div class="edition">Edition</div>
        <span class="edition-date"
          >20
          <hr class="edition-date-separator edition-date-separator--variant" />
          21</span
        >
      </div>
    </div>
  </body>
  <script src="../../assets/document-register-element.js"></script>
  <script src="../../assets/bundle.js"></script>
</html>

