

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        Time period of artist edition<br />
<br />
<div class="edition-section">
    <hr class="edition-separator" />
    <div class="edition">Edition</div>
    <span class="edition-date edition-date--edition-1">18
        <hr class="edition-date-separator" />
        19
    </span>
</div>

<div class="edition-section">
    <hr class="edition-separator" />
    <div class="edition">Edition</div>
    <span class="edition-date edition-date--edition-2">20
        <hr class="edition-date-separator edition-date-separator--edition-2" />
        heute
    </span>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

