

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <figure class="embed-responsive embed-responsive--16by9">
    <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube-nocookie.com/embed/ywgPDSbQzPE?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</figure>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

