

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="eyecatcher eyecatcher--social">
    <p class="eyecatcher--social__text">Finden können Sie uns auch auf</p>
    <ul class="social-media-bar">
        <li class="social-media-bar__item">
            <a href="#" class="social-media-bar__link" title="Twitter">
                <span class="icon icon-twitter icon--brand-white"></span>
            </a>
        </li>
        <li class="social-media-bar__item">
            <a href="#" class="social-media-bar__link" title="Youtube">
                <span class="icon icon-youtube icon--brand-white"></span>
            </a>
        </li>
        <li class="social-media-bar__item">
            <a href="#" class="social-media-bar__link" title="Linkedin">
                <span class="icon icon-linkedin icon--brand-white"></span>
            </a>
        </li>
        <li class="social-media-bar__item">
            <a href="#" class="social-media-bar__link" title="Xing">
                <span class="icon icon-xing icon--brand-white"></span>
            </a>
        </li>
    </ul>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

