

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="eyecatcher eyecatcher--event">
    <p class="eyecatcher--event__text">
        INNOQ Technology Lunch: Software Architecture for Agile Enterprises 👉
        <a href="#" class="eyecatcher--event__link">20. Mai, 12:15 Uhr</a>
    </p>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

