

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="demo demo--accented">
    <auto-submit-form>
        <form class="filter-group">
            <div class="filter-group__item">
                <label class="filter-label" for="filter">Tag wählen:</label>
                <select name="filter" id="filter" class="filter-select">
                    <option value="all">All</option>
                    <option value="category1">Category 1</option>
                    <option value="category2">Category 2</option>
                    <option value="category3">Category 3</option>
                </select>
            </div>
            <button type="submit" class="btn btn--xsmall">Filtern</button>
        </form>
    </auto-submit-form>
    <auto-submit-form>
        <form class="filter-group">
            <div class="filter-group__item">
                <label class="filter-label" for="filter">Tag wählen:</label>
                <select name="filter" id="filter" class="filter-select">
                    <option value="all">All</option>
                    <option value="category1">Category 1</option>
                    <option value="category2">Category 2</option>
                    <option value="category3">Category 3</option>
                </select>
            </div>
            <div class="filter-group__item">
                <label class="filter-label" for="filter">Tag wählen:</label>
                <select name="filter" id="filter" class="filter-select">
                    <option value="all">All</option>
                    <option value="category1">Category 1</option>
                    <option value="category2">Category 2</option>
                    <option value="category3">Category 3</option>
                </select>
            </div>
            <div class="filter-group__item">
                <label class="filter-label" for="filter">Tag wählen:</label>
                <select name="filter" id="filter" class="filter-select">
                    <option value="all">All</option>
                    <option value="category1">Category 1</option>
                    <option value="category2">Category 2</option>
                    <option value="category3">Category 3</option>
                </select>
            </div>
            <button type="submit" class="btn btn--xsmall">Filtern</button>
        </form>
    </auto-submit-form>
</div>


        <script src="../../assets/bundle.js"></script>
    </body>
</html>

