

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="stripe stripe--secondary">
    <footer class="footer">
        <div class="footer__form">
            <h2 class="footer__heading">Get in touch</h2>
            <p class="footer__paragraph"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong></p>
            <p class="footer__paragraph">Sed do eiusmod <a href="#" class="footer__link">tempor</a> incididunt ut labore et dolore magna.</p>
            <form class="form--inverted">
                <div class="form-group">
                    <label class="form-label" for="first_name">Name</label>
                    <input type="text" id="name" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="last_name">Email</label>
                    <input type="email" id="email" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="bio">Your message</label>
                    <textarea id="bio" class="form-control" rows="8"></textarea>
                </div>
                <button type="submit" class="btn btn--small btn--inverted">Submit</button>
            </form>
        </div>

        <div class="footer__list__section">
            <h2 class="footer__heading">Links</h2>
            <ul class="footer__list">
                <li class="footer__list__item"><a href="#" class="footer__list__link">Newsletter</a></li>
                <li class="footer__list__item"><a href="#" class="footer__list__link">Blog</a></li>
            </ul>
        </div>

        <div class="footer__list__section">
            <h2 class="footer__heading">Expertise</h2>
            <ul class="footer__list">
                <li class="footer__list__item"><a href="#" class="footer__list__link">Strategie- und Technologieberatung</a></li>
                <li class="footer__list__item"><a href="#" class="footer__list__link">Entwicklung digitaler Geschäftsmodelle</a></li>
            </ul>
        </div>

        <div class="footer__offices">
            <div class="footer__offices__section">
                <h2 class="footer__heading">Offices</h2>
                <h3 class="footer__subheading">INNOQ Deutschland GmbH</h3>
                <ul class="footer__offices__section__list">
                    <li>
                        <address class="footer__address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">Krischerstr. 100</span><br/>
                            <span itemprop="postalCode">40789</span> <span itemprop="addressLocality">Monheim am Rhein</span><br/>
                            Tel <span itemprop="telephone">(+49) 2173 3366 0</span><br/>
                            <a href="https://goo.gl/maps/w3Yp3KicooD2" class="footer__directions-link">Directions</a>
                        </address>
                    </li>
                    <li>
                        <address class="footer__address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">Krischerstr. 100</span><br/>
                            <span itemprop="postalCode">40789</span> <span itemprop="addressLocality">Monheim am Rhein</span><br/>
                            Tel <span itemprop="telephone">(+49) 2173 3366 0</span><br/>
                            <a href="https://goo.gl/maps/w3Yp3KicooD2" class="footer__directions-link">Directions</a>
                        </address>
                    </li>
                    <li>
                        <address class="footer__address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">Krischerstr. 100</span><br/>
                            <span itemprop="postalCode">40789</span> <span itemprop="addressLocality">Monheim am Rhein</span><br/>
                            Tel <span itemprop="telephone">(+49) 2173 3366 0</span><br/>
                            <a href="https://goo.gl/maps/w3Yp3KicooD2" class="footer__directions-link">Directions</a>
                        </address>
                    </li>
                    <li>
                        <address class="footer__address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">Krischerstr. 100</span><br/>
                            <span itemprop="postalCode">40789</span> <span itemprop="addressLocality">Monheim am Rhein</span><br/>
                            Tel <span itemprop="telephone">(+49) 2173 3366 0</span><br/>
                            <a href="https://goo.gl/maps/w3Yp3KicooD2" class="footer__directions-link">Directions</a>
                        </address>
                    </li>
                    <li>
                        <address class="footer__address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">Krischerstr. 100</span><br/>
                            <span itemprop="postalCode">40789</span> <span itemprop="addressLocality">Monheim am Rhein</span><br/>
                            Tel <span itemprop="telephone">(+49) 2173 3366 0</span><br/>
                            <a href="https://goo.gl/maps/w3Yp3KicooD2" class="footer__directions-link">Directions</a>
                        </address>
                    </li>
                    <li>
                        <address class="footer__address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">Krischerstr. 100</span><br/>
                            <span itemprop="postalCode">40789</span> <span itemprop="addressLocality">Monheim am Rhein</span><br/>
                            Tel <span itemprop="telephone">(+49) 2173 3366 0</span><br/>
                            <a href="https://goo.gl/maps/w3Yp3KicooD2" class="footer__directions-link">Directions</a>
                        </address>
                    </li>
                </ul>
            </div>

            <div class="footer__offices__section">
                <h3 class="footer__subheading">INNOQ Schweiz GmbH</h3>
                <ul class="footer__offices__section__list">
                    <li>
                        <address class="footer__address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">Gewerbestr. 11</span><br/>
                            <span itemprop="postalCode">6330</span> <span itemprop="addressLocality">Cham</span><br/>
                            Tel <span itemprop="telephone">(+41) 41 743 01 11</span><br/>
                            <a href="https://goo.gl/maps/N9qbZPPjr9R2" class="footer__directions-link">Directions</a>
                        </address>
                    </li>
                    <li>
                        <address class="footer__address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">Albulastr. 55</span><br/>
                            <span itemprop="postalCode">8048</span> <span itemprop="addressLocality">Zürich</span><br/>
                            <a href="https://goo.gl/maps/s3CffwfWG362" class="footer__directions-link">Directions</a>
                        </address>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

