

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div>
    <div class="form-group">
        <label class="form-label" for="input1">Email</label>
        <input class="form-control" type="email" placeholder="arnulf@beckenbauer.com" id="input1" />
        <small class="form-text">I'm a helpful message</small>
    </div>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

