

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="highlight-card bg-image-edition-24">
    <div class="highlight-card__content">
        <h2 class="highlight-card__title">Soziotechnische Architekturen als Wettbewerbsvorteil</h2>
        <p class="highlight-card__text">In der heutigen Geschäftswelt dient technologischer Fortschritt nicht nur der Effizienzsteigerung, sondern eröffnet auch neue Geschäftsfelder, die ohne diese Technologien undenkbar wären. Die optimale Nutzung neuer Technologien wird damit zu einem zentralen Wettbewerbsvorteil. IT-Entscheider:innen stehen jedoch zunehmend vor der Herausforderung, dass Technologie allein nicht ausreicht. Stattdessen müssen Unternehmen sich als soziotechnisches System verstehen, in dem technische Systeme und menschliche Interaktionen eng miteinander verzahnt sind.
</p>
        <a href="#" class="highlight-card__link link-teaser">Mehr erfahren</a>
    </div>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

