

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <hr />
  </body>
  <script src="../../assets/bundle.js"></script>
</html>

