

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div>
      <header class="image-header">
        <div class="image-header__body image-header-bg-culture-01">
          <div class="image-header__content">
            <h1 class="image-header__title image-header-bg-culture-01-text-box">
              Ein<br />Titel
            </h1>
            <img src="../../assets/icons/arrow-long-down-red.svg" />
          </div>
        </div>
      </header>
      <header class="image-header">
        <div class="image-header__body image-header-bg-staff-01">
          <div class="image-header__content">
            <h1 class="image-header__title image-header-bg-staff-01-text-box">
              Ein<br />Titel
            </h1>
            <img src="../../assets/icons/arrow-long-down-red.svg" />
          </div>
        </div>
      </header>
    </div>
  </body>
  <script src="../../assets/document-register-element.js"></script>
  <script src="../../assets/bundle.js"></script>
</html>

