

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div class="image-divider-center image-divider-center-bg">
      <div class="image-divider-center__textbox">
        <h1
          class="image-divider-center__title image-divider-center-bg-text-box"
        >
          Ein Titel
        </h1>
        <p class="image-divider-center__textbox__text">
          Filet mignon sausage tongue, hamburger porchetta fatback kielbasa
          flank ribeye. Pastrami t-bone pork chop sirloin ham swine cupim
          brisket prosciutto buffalo drumstick strip steak capicola short loin.
          Frankfurter fatback turkey pork chop prosciutto pork ground round
          tongue chuck doner. Pig venison pork chop shoulder corned beef
          capicola meatball.
        </p>
        <img src="../../assets/icons/arrow-long-down-red.svg" />
      </div>
    </div>
  </body>
  <script src="../../assets/document-register-element.js"></script>
  <script src="../../assets/bundle.js"></script>
</html>

