

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <a href="#" class="image-list-teaser">
    <h3 class="image-list-teaser__title image-list-teaser__title--01">Vertigo in the Face of the Infinite</h3>
    <p class="image-list-teaser__subtitle">Matthew Plummer-Fernandez</p>
    <figure>
        <img src="../../assets/bg-images/edition-01/visual-header-heads.webp" alt="Tower" />
        <figcaption>
            Erste INNOQ-Medienkunst-Edition
        </figcaption>
    </figure>
</a>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

