

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div class="image-divider-right">
      <div class="image-divider-right-content">
        <div class="image-divider-right-textbox">
          <p class="image-divider-right-content-textbox__text">
            Jeans shrine Chiba fluidity shoes chrome arcology nano-San Francisco
            singularity vehicle crypto-new yen Blue Nine. Maas Biolabs hacker
            Freeside uplink dermatrodes franchise gauntlet personality Chiba
            systema Dex beef noodles biochip personality Chiba post-uplink
            euro-pop sentient.
          </p>
        </div>
        <img
          class="image-divider-right-image"
          itemprop="photo"
          src="../../assets/bg-images/general/visual-culture-02.jpg"
          alt="innoQ Mitarbeiter"
        />
      </div>
    </div>
  </body>
  <script src="../../assets/bundle.js"></script>
</html>

