

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="image-divider-center bg-image-culture-03">
    <div class="image-divider-center__textbox">
        <h1 class="image-divider-center__title bg-image-culture-03">Ein Titel</h1>
        <p class="image-divider-center__textbox__text">
            Filet mignon sausage tongue, hamburger porchetta fatback kielbasa flank
            ribeye. Pastrami t-bone pork chop sirloin ham swine cupim brisket
            prosciutto buffalo drumstick strip steak capicola short loin.
            Frankfurter fatback turkey pork chop prosciutto pork ground round tongue
            chuck doner. Pig venison pork chop shoulder corned beef capicola
            meatball.
        </p>
        <span class="icon icon-arrow-long-down icon--brand-primary"></span>
    </div>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

