

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <info-box
      ><details>
        <summary>
          <div class="infobox__teaser">
            <div class="infobox__teaser__left">
              <span class="infobox__teaser__heading">Ich bin eine Infobox</span
              ><i class="icon icon-info"></i>
            </div>
            <div class="infobox__teaser__right">
              <i class="icon infobox__teaser__chevron"></i>
            </div>
          </div>
        </summary>
        <div class="infobox__content">
          <p>
            Lorem gibson man engine dome assassin savant marketing neural
            Chatsubo. Advert meta-BASE jump decay long-chain hydrocarbons
            Freeside range-rover carbon youtube motion cardboard hacker.
          </p>
          <p>
            Lorem gibson man engine dome assassin savant marketing neural
            Chatsubo. Advert meta-BASE jump decay long-chain hydrocarbons
            Freeside range-rover carbon youtube motion cardboard hacker.
          </p>
        </div>
      </details></info-box
    >
  </body>
  <script src="../../assets/bundle.js"></script>
</html>

