

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <a href="#" class="kununu-link">
    <img itemprop="photo" src="../../assets/logos/kununu-2022.svg" alt="kununu Top Company 2022" />
    <img itemprop="photo" src="../../assets/logos/kununu-2023.png" alt="kununu Top Company 2023" />
    <img itemprop="photo" src="../../assets/logos/kununu-2024.svg" alt="kununu Top Company 2024" />
</a>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

