

<html>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        
<div class="demo">
    <div class="label talk">
        Vortrag
    </div>

    <div class="label training">
        Training
    </div>

    <div class="label slides">
        Folien verfügbar
    </div>

    <div class="label-big hint">
        Ausverkauft!
    </div>

    <div class="label-big badge">
        Neu!
    </div>

    <div class="label-big badge badge--inverted">
        Neu.
    </div>
</div>



        <script src="../../assets/bundle.js"></script>
    </body>
</html>

