

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <header class="landing-page-header bg-image-edition-01">
      <div class="landing-page-header__body">
        <div>
          <h1 class="landing-page-header__title bg-image-edition-01">
            Wir geben Technologie einen Sinn. <br />Und ihren Ideen eine
            Zukunft.
          </h1>
        </div>
        <div class="landing-page-header__text">
          Wir beraten ehrlich, denken innovativ und entwickeln leidenschaftlich
          gern. Das Ergebnis sind erfolgreiche Softwarelösungen, Infrastrukturen
          und Geschäftsmodelle.
        </div>
      </div>
    </header>
  </body>
  <script src="../../assets/document-register-element.js"></script>
  <script src="../../assets/bundle.js"></script>
</html>

