

<html>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div>
    <section class="demo">
        <p>Dies ist <a href="#!">ein klassischer Text Link</a>.</p>
        <p><a class="link-teaser" href="#">Ein Teaser-Link</a></p>
        <p class="author-bio__text">Noch <a href="#!">ein Link in sans-serif</a></p>
        <p><a href="#" class="link-unstyled">Unstyled Link</a></p>
        <p><a class="link--muted" href="#">Muted Link</a></p>
        <h1>
            <a href="#">Eine Headline mit Link</a>
        </h1>
    </section>

    <section class="demo demo--inverted">
        <p><a class="link-teaser inverted-text-color" href="#">Link Teaser inverted</a></p>
        <p><a class="link-teaser inverted-interaction-color" href="#">Link Teaser inverted</a></p>
    </section>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

