

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <nv><h3>Navbar & Header go here</h3></nv>
<main class="main-layout">
    <h2>Main content Area of pages</h2>
</main>
<footer><h3>Footer Area</h3></footer>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

