

<html>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <p>Hardwired professional deficiency BAMA quicksilver sanpaku cutting-edge cryptic dub aiming neon jack in. Ninsei fiberglass cybernetic bullshit shattered magnetic agency isotropic. Tokyo beam prosthesis corporate-grade laser-scrawled prosthesis. Japanese prototype microchannel synthetic shattered temperfoam run circuitry agency plastic intrusion précis biz.</p>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

