

<html>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <a href="#" class="list-teaser-podcast list-teaser-podcast--avatar--overlay--big" style="background-image: url(../../assets/example-content/heribert-rechts.png), url(../../assets/example-content/heribert-links.png) ">
    <div class="list-teaser-podcast__body">
        <div class="list-teaser-podcast__caption">Podcast</div>
        <h2 class="list-teaser-podcast__headline">Podcast Headline</h2>
        <h3 class="list-teaser-podcast__subheadline">
            Podcast Subheadline
        </h3>
        <span class="icon-svg icon-arrow-long-right icon--brand-white"></span>
    </div>
    <div class="list-teaser-podcast__footer">
        <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
            Heribert Innoq
        </div>
        <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
            Heribert Innoq
        </div>
        <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
            Heribert Innoq
        </div>
        <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
            Heribert Innoq
        </div>
    </div>
</a>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

