

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <a
      href="#"
      class="list-teaser-podcast list-teaser-podcast--avatar--overlay--big list-teaser-podcast--avatar--overlay--big--security"
      style="
        background-image: url(../../assets/example-content/heribert-rechts.png),
          url(../../assets/example-content/heribert-links.png);
      "
      ><div class="list-teaser-podcast__body">
        <div
          class="list-teaser-podcast__caption list-teaser-podcast__caption--security"
        >
          Security-Podcast
        </div>
        <h2
          class="list-teaser-podcast__headline list-teaser-podcast__headline--security"
        >
          Podcast Headline
        </h2>
        <h3
          class="list-teaser-podcast__subheadline list-teaser-podcast__subheadline--security"
        >
          Podcast Subheadline
        </h3>
        <span class="icon-svg icon-arrow-long-right icon--brand-black"></span>
      </div>
      <div class="list-teaser-podcast__footer">
        <div
          class="podcast-author podcast-author--security"
          itemscope
          itemtype="http://schema.org/Person"
        >
          Heribert Innoq
        </div>
        <div
          class="podcast-author podcast-author--security"
          itemscope
          itemtype="http://schema.org/Person"
        >
          Heribert Innoq
        </div>
      </div></a
    >
  </body>
  <script src="../../assets/document-register-element.js"></script>
  <script src="../../assets/bundle.js"></script>
</html>

