

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div href="#" class="product-list-teaser">
    <div class="product-list-teaser__body">
        <div class="product-list-teaser__caption">Ich bin eine Headline</div>
        <h2 class="product-list-teaser__headline">Ich bin eine Headline</h2>
        <p class="product-list-teaser__text">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et. magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="product-list-teaser__footer">
        <ul class="tuple-list">
            <li class="tuple-list__entry">
                <span class="tuple-list__label">Dauer:</span>
                <span class="tuple-list__value">1 Tag</span>
            </li>
            <li class="tuple-list__entry">
                <span class="tuple-list__label">Teilnehmer:</span>
                <span class="tuple-list__value">Management,
                    Product Owner, Digital Product Designer</span>
            </li>
            <li class="tuple-list__entry">
                <span class="tuple-list__label">Ergebnis:</span>
                <span class="tuple-list__value">Eine
                    konkrete Produktvision und ein Vorschlag zu umsetzbaren nächsten Schritten</span>
                </li>
        </ul>
    </div>
    <a class="product-list-teaser__cta" href="#">Jetzt anfragen</a>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

