

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div class="product-list-teaser">
      <div class="product-list-teaser__body">
        <div class="product-list-teaser__caption">
          Das Auf-Herz-und-Nieren-Modul
        </div>
        <h2 class="product-list-teaser__headline">Vision Day</h2>
        <p class="product-list-teaser__text">
          Ihre Idee steht noch ganz am Anfang? In einem gemeinsamen Workshop
          nach dem LeanCanvas- Prinzip gehen wir den notwendigen nächsten
          Schritt. Gemeinsam mit Ihnen und Ihrem Team stellen wir Ihre Idee auf
          den Prüfstand und erarbeiten Geschäftsziele, Zielgruppen und
          Produktvorteile.
        </p>
      </div>
      <div class="product-list-teaser__footer">
        <ul class="tuple-list">
          <li class="tuple-list__entry">
            <span class="tuple-list__label">Dauer:</span
            ><span class="tuple-list__value">1 Tag</span>
          </li>
          <li class="tuple-list__entry">
            <span class="tuple-list__label">Teilnehmer:</span
            ><span class="tuple-list__value"
              >Management, Product Owner, Digital Product Designer</span
            >
          </li>
          <li class="tuple-list__entry">
            <span class="tuple-list__label">Ergebnis:</span
            ><span class="tuple-list__value"
              >Eine konkrete Produktvision und ein Vorschlag zu umsetzbaren
              nächsten Schritten.</span
            >
          </li>
        </ul>
      </div>
      <a class="product-list-teaser__cta" href="#">Jetzt anfragen</a>
    </div>
  </body>
  <script src="../../assets/bundle.js"></script>
</html>

