

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div class="project-index">
      <div class="project-index__entry">
        <header class="project-index__header">
          <h1 class="project-index__title">A</h1>
        </header>
        <ul class="project-index__client-projects client-projects">
          <li class="client-projects__client">
            <header class="client-projects__header">
              <h1 class="client-projects__client-name">Allianz</h1>
            </header>
            <div class="client-projects__project">
              <div class="client-projects__intro">
                <h2 class="client-projects__project-title">
                  Frische neue Ideen
                </h2>
                <p class="client-projects__intro-text">
                  Dolor commodo dolor id consequat elit cillum tempor ad culpa
                  ipsum ea sint. Minim anim esse proident sint sit laborum
                  tempor dolore cillum aliqua aliqua. Nisi ipsum deserunt minim
                  commodo est ut aliqua.
                </p>
              </div>
              <a href="#" class="link-teaser client-projects__goto-btn"
                >zum Projekt</a
              >
            </div>
            <div class="client-projects__project">
              <div class="client-projects__intro">
                <h2 class="client-projects__project-title">
                  Meteoriteneinschlag in der IT
                </h2>
                <p class="client-projects__intro-text">
                  Dolor commodo dolor id consequat elit cillum tempor dolore
                  cillum aliqua aliqua.
                </p>
              </div>
              <multi-toggler
                aria-hidden="true"
                class="collapse-toggler client-projects__show-more-btn"
                data-target-next
                data-toggle-class="sr-only"
                data-toggle-self-class="collapsed"
                data-toggle-on-init
                ><span class="collapse-toggler__flop"
                  >mehr anzeigen<span
                    class="icon-svg icon-plus icon--brand-primary"
                  ></span></span
                ><span class="collapse-toggler__flip"
                  >weniger anzeigen<span
                    class="icon-svg icon-minus icon--brand-primary"
                  ></span></span
              ></multi-toggler>
              <p class="client-projects__text">
                Ipsum ex nisi cillum voluptate qui sunt voluptate nostrud
                consequat adipisicing in occaecat sit qui. Irure excepteur
                tempor eu consectetur proident laborum commodo ullamco deserunt
                excepteur culpa. Excepteur dolore ad veniam et in culpa dolore
                irure aliqua. Ea fugiat minim cillum exercitation. Culpa ex
                nulla id consequat pariatur quis non veniam qui consequat ipsum
                cillum. Sint eiusmod nulla veniam mollit sunt cillum ea
                adipisicing adipisicing laborum quis ea aliqua. Et sit mollit
                aliqua irure minim do deserunt proident consectetur consequat.
              </p>
            </div>
          </li>
          <li class="client-projects__client">
            <header class="client-projects__header">
              <h1 class="client-projects__client-name">AXA</h1>
            </header>
            <div class="client-projects__project">
              <div class="client-projects__intro">
                <h2 class="client-projects__project-title">
                  Benutzerfreundlich und Agil
                </h2>
                <p class="client-projects__intro-text">
                  Dolor commodo dolor id consequat elit cillum tempor ad culpa
                  ipsum ea sint. Minim anim esse proident sint sit laborum
                  tempor dolore cillum aliqua aliqua. Nisi ipsum deserunt minim
                  commodo est ut aliqua.
                </p>
              </div>
              <a href="#" class="link-teaser client-projects__goto-btn"
                >zum Projekt</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
  <script src="../../assets/document-register-element.js"></script>
  <script src="../../assets/bundle.js"></script>
</html>

