

<html>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <pull-quote>
    <blockquote class="pullquote">
        <p>This is a piece of information that stands out</p>
    </blockquote>
</pull-quote>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

