

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div>
      <div class="form-group">
        <div class="custom-form-control radio">
          <input
            type="radio"
            id="customRadio1"
            checked="checked"
            name="customRadios"
            class="form-control__input"
          /><label class="form-label" for="customRadio1"
            >Ich möchte eine vegetarische Option zum Mittagessen</label
          >
        </div>
        <div class="custom-form-control radio">
          <input
            type="radio"
            id="customRadio2"
            name="customRadios"
            class="form-control__input"
          /><label class="form-label" for="customRadio2"
            >Ich möchte Fisch zum Mittagessen</label
          >
        </div>
        <div class="custom-form-control radio">
          <input
            type="radio"
            disabled="disabled"
            id="customRadio3"
            name="customRadios"
            class="form-control__input"
          /><label class="form-label" for="customRadio3"
            >Ich möchte eine vegane Option zum Mittagessen</label
          >
        </div>
      </div>
      <div class="form-group form-group--invalid">
        <label class="form-label form-label--emphasized">Dein Frühstück</label
        ><small class="form-text"
          >Aufgepasst! Du musst hier eine Auswahl treffen.</small
        >
        <div class="custom-form-control radio">
          <input
            type="radio"
            id="customRadio4"
            name="customRadios2"
            class="form-control__input"
          /><label class="form-label" for="customRadio4">Avocado</label>
        </div>
        <div class="custom-form-control radio">
          <input
            type="radio"
            id="customRadio5"
            name="customRadios2"
            class="form-control__input"
          /><label class="form-label" for="customRadio5">Mango</label>
        </div>
      </div>
    </div>
  </body>
  <script src="../../assets/document-register-element.js"></script>
  <script src="../../assets/bundle.js"></script>
</html>

