

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <section class="reference">
      <a href="#" class="reference__link"
        ><img
          class="reference__image"
          src="../../assets/logos/business_technology.svg"
          alt="Business technology"
      /></a>
      <p class="reference__description">
        Spicy jalapeno bacon ipsum dolor amet t-bone sirloin culpa, tenderloin
        tempor ullamco flank rump. Biltong corned beef pork loin et. Labore
        dolore laborum pork laboris. Do alcatra ball tip consequat venison spare
        ribs pig. Bresaola boudin chuck, spare ribs officia mollit ut esse est
        jowl minim.
      </p>
    </section>
  </body>
  <script src="../../assets/bundle.js"></script>
</html>

