

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div class="search-hero">
      <div class="page-layout--grid">
        <form class="search-form">
          <input type="search" class="search-form__input" /><button
            type="submit"
            class="search-form__btn"
            title="Search"
          >
            <i class="icon icon-search"></i>
          </button>
        </form>
      </div>
    </div>
  </body>
  <script src="../../assets/bundle.js"></script>
</html>

