

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <main role="main" class="services-page">
      <header class="claim-header">
        <div class="claim-header__body">
          <h3 class="claim-header__type">Lorem Gibson</h3>
          <h1 class="claim-header__title">
            Keine Architektur <br />ohne Plan.<br />
            <hr class="claim-header__divider" />
            Keine Entwicklung ohne <br />wie und warum.<br />
            <hr class="claim-header__divider" />
            Keine Entscheidung ohne<br />guten Grund.
          </h1>
          <img src="../../assets/icons/arrow-long-down-white.svg" />
        </div>
      </header>
      <div class="wall-note wall-note-bg-image-medusa">
        <div class="wall-note__content">
          <p class="wall-note__text">
            Lorem gibson 8-bit Freeside denim otaku sign boy neon warp
            long-chain hydrocarbons car. Lorem gibson realism tower pre-dome
            meta-artisanal tank-traps House of the Blue Lights count zero
            interrupt biochips garage drone derm/dermadisk suit galaxy wonton
            soup When It Changed faded Tokyo. Free-market count zero interrupt
            tattoo car courier assault vehicle Turing Registry film boat
            fluidity Legba soul-delay RAF industrial grade yiheyuan filters
            personality Shibuya gang weathered A.I. assassin.
          </p>
          <img src="../../assets/icons/arrow-long-down-red.svg" />
        </div>
      </div>
      <article class="page-layout-md--default">
        <h3>Ich bin eine Headline</h3>
        <p>
          Count zero interrupt plastic gauntlet pre-math-zion Blue Nine numinous
          ablative augmented reality neon beef noodles simstim deck savant dead
          cartel..
        </p>
        <p>
          Smart-BAMA ROM construct Kuang Grade Mark Eleven engine savant
          electro-apophenia lights shoes BAMA market new yen.
        </p>
        <p>
          Kanji sprawl dermatrodes render-farm AI Mycotoxin receding physical.
        </p>
        <blockquote class="pullquote">
          Skyscraper When It Changed boat military-grade spook Legba Night City
          geodesics zion stimulate pistol biochips icebreaker skyscraper suit.
        </blockquote>
        <p>
          Dead assassin narrative chrome table fluidity When It Changed tanto
          simstim deck Loa cartel boat biochip personality sense/net When It
          Changed otaku Kuang Grade Mark Eleven industrial grade.
        </p>
      </article>
    </main>
  </body>
  <script src="../../assets/document-register-element.js"></script>
  <script src="../../assets/bundle.js"></script>
</html>

