

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <a href="#" class="small-tile-teaser">
    <div>
        <p class="small-tile-teaser__type">Blogpost</p>
        <h4 class="small-tile-teaser__title">Ein Titel</h4>
        <h5 class="small-tile-teaser__subtitle">Ein Untertitel</h5>
    </div>
    <span class="icon icon-arrow-long-right icon--brand-primary"></span>
</a>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

