

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div>
      <header class="staff-header">
        <div class="staff-header-content">
          <div class="staff-header-quote">
            <h2 class="staff-header-quote--text">
              "Wir lösen das persönlich."
            </h2>
            <cite class="staff-header-quote--author" itemprop="name"
              >Heribert Innoq</cite
            >
          </div>
          <img
            class="staff-header-image"
            itemprop="photo"
            src="../../assets/example-content/heribert.jpg"
            alt="Portrait von Heribert Innoq"
          />
        </div>
      </header>
      <div class="staff-intro">
        <h2 class="staff-intro--name" itemprop="name">Heribert Inooq</h2>
        <h3 class="staff-intro--job-title" itemprop="jobTitle">
          Senior Consultant
        </h3>
        <div class="staff-intro--text">
          Filet mignon sausage tongue, hamburger porchetta fatback kielbasa
          flank ribeye. Pastrami t-bone pork chop sirloin ham swine cupim
          brisket prosciutto buffalo drumstick strip steak capicola short loin.
          Frankfurter fatback turkey pork chop prosciutto pork ground round
          tongue chuck doner. Pig venison pork chop shoulder corned beef
          capicola meatball.
        </div>
        <section class="staff-intro--social">
          <ul class="share-section__list">
            <li>
              <a class="share-section__link" target="_blank" href=""
                ><span
                  class="icon-svg icon-twitter icon--brand-secondary"
                ></span
              ></a>
            </li>
            <li>
              <a class="share-section__link" target="_blank" href=""
                ><span class="icon-svg icon-github icon--brand-secondary"></span
              ></a>
            </li>
            <li>
              <a class="share-section__link" href=""
                ><span class="icon-svg icon-email icon--brand-secondary"></span
              ></a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </body>
  <script src="../../assets/document-register-element.js"></script>
  <script src="../../assets/bundle.js"></script>
</html>

