

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div class="blocks">
      <a href="#" class="static-tile-teaser static-tile-teaser-bg-color"
        ><div class="static-tile-teaser__content">
          <div class="static-tile-teaser__body">
            <h2 class="static-tile-teaser__caption">Unsere Podcasts</h2>
            <h2 class="static-tile-teaser__headline">Dies ist eine Headline</h2>
            <div class="static-tile-teaser__text">
              Lorem gibson 8-bit Freeside denim otaku sign boy neon warp
              long-chain hydrocarbons car. Qui excepteur laborum ea est culpa
              reprehenderit enim ex amet veniam excepteur. Minim aliqua amet
              reprehenderit id velit id dolor quis et ea anim in. Cillum nisi ex
              incididunt id adipisicing reprehenderit id dolor qui anim non
              velit. Laboris esse ex duis sit labore culpa quis duis. Irure
              tempor deserunt et velit labore excepteur pariatur aute
              adipisicing eu do cupidatat nisi. Cupidatat officia aliquip
              excepteur Lorem in. Cillum amet enim anim do ut do adipisicing
              excepteur proident aute.
            </div>
          </div>
          <div class="static-tile-teaser__goto">
            <span class="link-teaser">Alle Episoden</span>
          </div>
        </div></a
      ><a
        href="#"
        class="static-tile-teaser static-tile-teaser-bg-color--security"
        ><div class="static-tile-teaser__content">
          <div class="static-tile-teaser__body">
            <h2 class="static-tile-teaser__headline">
              Dies ist eine Headline ohne Caption
            </h2>
            <div class="static-tile-teaser__text">
              Lorem gibson 8-bit Freeside denim otaku sign boy neon warp
              long-chain hydrocarbons car.
            </div>
          </div>
          <div class="static-tile-teaser__goto">
            <span class="link-teaser link-teaser--security">Alle Episoden</span>
          </div>
        </div></a
      >
    </div>
  </body>
  <script src="../../assets/bundle.js"></script>
</html>

