

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="stripe stripe--primary" style="height: 20rem;">
Full width colored bg
</div>
<div class="stripe stripe--secondary"style="height: 20rem;"></div>
<div class="stripe stripe--gray" style="height: 20rem;"></div>
<div class="stripe stripe--gradient" style="height: 20rem;"></div>
<div class="stripe stripe--gradient-2" style="height: 20rem;"></div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

