

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <super-quote>
    <blockquote class="superquote" itemscope itemtype="http://schema.org/Person">
        <span class="superquote__zigzag"></span>
        <p>Wertschöpfung findet statt, wenn unsere Änderung oder das neue Feature in unserem Produktionssystem genutzt wird.</p>
        <cite class="superquote__author" itemprop="name">Heribert Innoq</cite>
        <span class="superquote__role" itemprop="jobTitle">Senior Consultant</span>
    </blockquote>
</super-quote>

<super-quote>
    <blockquote class="superquote" itemscope itemtype="http://schema.org/Person">
        <span class="superquote__zigzag"></span>
        <p>Wertschöpfung findet statt, wenn unsere Änderung oder das neue Feature in unserem Produktionssystem genutzt wird.</p>
        <div class="longquote__avatar avatar avatar--sm">
            <img class="avatar__image" itemprop="photo" src="../../assets/example-content/heribert.jpg"  alt="Portrait von Heribert Innoq" />
        </div>
        <cite class="superquote__author" itemprop="name">Heribert Innoq</cite>
        <span class="superquote__role" itemprop="jobTitle">Senior Consultant</span>
    </blockquote>
</super-quote>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

