

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="superhero">
    <h1 class="superhero__lead">Success Stories</h1>
    <p class="superhero__title">Nicht einfach nur Dinge bauen, sondern <span class="superhero__highlight">Mehrwert</span> schaffen.</p>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

