

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <aside class="toc">
      <h3 class="toc__heading">Inhalt</h3>
      <ol class="toc__list">
        <li>
          <a class="toc__anchor" href="#dilemma"
            >Das Dilemma: Innovation vs. Chaos</a
          >
        </li>
        <li>
          <a class="toc__anchor" href="#idee"
            >Die Idee hinter Innovation Tokens</a
          >
        </li>
        <li>
          <a class="toc__anchor" href="#unbekannt"
            >An die unbekannten Unbekannten denken</a
          >
        </li>
        <li>
          <a class="toc__anchor" href="#ballast"
            >Kognitiven Ballast vermeiden</a
          >
        </li>
        <li>
          <a class="toc__anchor" href="#fokus"
            >Fokus auf die Wertschöpfung legen</a
          >
        </li>
        <li><a class="toc__anchor" href="#fazit">Fazit</a></li>
      </ol>
    </aside>
  </body>
  <script src="../../assets/document-register-element.js"></script>
  <script src="../../assets/bundle.js"></script>
</html>

