

<html>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <main role="main" class="talk-page">
    <article class="container-md">
        <aside class="talk-date">
            <div class="event-date-section">
                <div class="label talk">Vortrag</div>
                <time class="event-date" datetime="2017-06-23">
                    <span class="event-day-month">
                        <span class='event-day'>23</span>
                        <span class='event-month'>Jun</span>
                    </span>
                    <span class='event-year'>2017</span>
                </time>
            </div>
        </aside>

        <section class="">
            <h1 class="talk-title">Vortrags Titel</h1>
            <div class="talk-description">
                <p>Lorem gibson <a href="#">face</a> forwards footage youtube concrete saturation point urban Ono-Sendai shanty
                    town stimulate temperfoam arcology Bosozoku office tube franchise derm/dermadisk paranoid sprawl pen
                    People of Importance saturation point.
                </p>
            </div>
            <dl class="date-location-section">
                <dt>Datum</dt>
                <dd>24.12.2018</dd>
                <dt>Uhrzeit</dt>
                <dd>13 - 15 Uhr</dd>
                <dt>Ort</dt>
                <dd>INNOQ Monheim</dd>
            </dl>
        </section>
    </article>

    <section class="tag-section">
        <h3 class="tag-section__headline">TAGS</h3>
        <div class="tag-section__container">
            <ul class="tag-list">
                <li class="tag-list__item"><a class="tag-list__link" href="/de/timeline/?tag=microservices">Microservices</a></li>
                <li class="tag-list__item"><a class="tag-list__link" href="/de/timeline/?tag=business+technology">Business Technology</a></li>
                <li class="tag-list__item"><a class="tag-list__link" href="/de/timeline/?tag=architecture">Architecture</a></li>
                <li class="tag-list__item"><a class="tag-list__link" href="/de/timeline/?tag=organization">Organization</a></li>
                <li class="tag-list__item"><a class="tag-list__link" href="/de/timeline/?tag=innovation">Innovation</a></li>
                <li class="tag-list__item"><a class="tag-list__link" href="/de/timeline/?tag=project+management">Project Management</a></li>
            </ul>
        </div>
    </section>

    <aside class="container-md">
        <h2 class='teaser-section-heading center'>Der Referent</h2>
        <div id="author-bio" class="author-bio author-bio--long" itemscope itemtype="http://schema.org/Person">
            <a rel="author" class ="author-bio__head" itemprop="url" href="#">
                <div class="author-bio__image avatar avatar--base">
                    <img itemprop="photo" class="avatar__image" src="../../assets/example-content/heribert.jpg"  alt="Portrait von Heribert Innoq"/>
                </div>
                <address class="author">
                    <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                    <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                </address>
            </a>
            <address class="author-bio__social">
                <a rel="author" class="author-bio__social-profile" href="#" title="Twitter">
                    <span class="icon icon--small icon-twitter icon--brand-secondary"></span>
                </a>
                <a rel= "author" class="author-bio__social-profile" href="#" title="GitHub">
                    <span class="icon icon--small icon-github icon--brand-secondary"></span>
                </a>
            </address>
            <div class="author-bio__text">
                <p>Heribert Innoq ist Senior Consultant bei INNOQ.
                    Als Berater, Entwickler und Architekt unterstützt er Kunden vor allem mit seinen langjährigen Kenntnissen von Java- und JVM-basierten Systemen.
                    Meist beschäftigt er sich hier mit dem Design, der Evaluierung und Implementierung von Architekturen für moderne Webanwendungen und Microservices
                    in Softwaremodernisierungsprojekten. Sein aktueller Fokus gilt den Themen Team-Organisation und Softwareevolution.
                </p>
            </div>
        </div>
        <div class="talk-link center"><a class="link-teaser" href="#">Mehr Vorträge von Heribert Innoq</a></div>
    </aside>
</main>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

