

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <main class="talk-portfolio-page">
    <div class="stripe stripe--gray">
        <div class="container-md container-vertical-spacing-lg">
            <h1 class="teaser-section-heading">Talk Portfolio</h1>
            <p class="lead">Ich bin ein netter Blindtext</p>
            <span class="icon icon-arrow-long-down icon--brand-primary icon-divider__image"></span>
        </div>
    </div>

    <div class="container-xl container-vertical-spacing-lg">
        <auto-submit-form>
            <form>
                <label class="filter-label" for="filter">Tag wählen:</label>
                <select name="filter" id="filter" class="filter-select">
                    <option value="all">All</option>
                    <option value="category1">Category 1</option>
                    <option value="category2">Category 2</option>
                    <option value="category3">Category 3</option>
                </select>
                <button type="submit" class="btn btn--xsmall">Filtern</button>
            </form>
        </auto-submit-form>
        <div class="tile-grid-md">
            <div class="list-teaser-abstract primary">
                <div class="list-teaser__body">
                    <div class="list-teaser-abstract__caption">Artikel</div>
                    <h2 class="list-teaser-abstract__headline">Artikel Headline</h2>
                    <p class="list-teaser-abstract__text">
                        Lorem gibson dermatrodes boy nodality neural office sprawl futurity Lado-Acheson count zero
                        interrupt
                        Night
                        City tanto papier-mache kanji corporation meta-lights neurosurgery.
                        Lorem gibson Chiba neon neon motion Mycotoxin Metro Holografix boat RAM AI disposable lights
                        saturation
                        point stimulate boat systemic vehicle.
                        <span class="icon icon-arrow-long-right icon--brand-white"></span>
                    </p>
                </div>
                <div class="list-teaser__footer">
                    <div rel="author" class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--sm">
                            <img itemprop="photo" class="avatar__image"
                                src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq" />
                        </div>
                        <address>
                            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                        </address>
                    </div>
                    <div rel="author" class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--sm">
                            <img itemprop="photo" class="avatar__image"
                                src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq" />
                        </div>
                        <address>
                            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                        </address>
                    </div>
                </div>
            </div>
            <div class="list-teaser-abstract primary">
                <div class="list-teaser__body">
                    <div class="list-teaser-abstract__caption">Artikel</div>
                    <h2 class="list-teaser-abstract__headline">Artikel Headline</h2>
                    <p class="list-teaser-abstract__text">
                        Lorem gibson dermatrodes boy nodality neural office sprawl futurity Lado-Acheson count zero
                        interrupt
                        Night
                        City tanto papier-mache kanji corporation meta-lights neurosurgery.
                        Lorem gibson Chiba neon neon motion Mycotoxin Metro Holografix boat RAM AI disposable lights
                        saturation
                        point stimulate boat systemic vehicle.
                        <span class="icon icon-arrow-long-right icon--brand-white"></span>
                    </p>
                </div>
                <div class="list-teaser__footer">
                    <div rel="author" class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--sm">
                            <img itemprop="photo" class="avatar__image"
                                src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq" />
                        </div>
                        <address>
                            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                        </address>
                    </div>
                    <div rel="author" class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--sm">
                            <img itemprop="photo" class="avatar__image"
                                src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq" />
                        </div>
                        <address>
                            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                        </address>
                    </div>
                </div>
            </div>
            <div class="list-teaser-abstract primary">
                <div class="list-teaser__body">
                    <div class="list-teaser-abstract__caption">Artikel</div>
                    <h2 class="list-teaser-abstract__headline">Artikel Headline</h2>
                    <p class="list-teaser-abstract__text">
                        Lorem gibson dermatrodes boy nodality neural office sprawl futurity Lado-Acheson count zero
                        interrupt
                        Night
                        City tanto papier-mache kanji corporation meta-lights neurosurgery.
                        Lorem gibson Chiba neon neon motion Mycotoxin Metro Holografix boat RAM AI disposable lights
                        saturation
                        point stimulate boat systemic vehicle.
                        <span class="icon icon-arrow-long-right icon--brand-white"></span>
                    </p>
                </div>
                <div class="list-teaser__footer">
                    <div rel="author" class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--sm">
                            <img itemprop="photo" class="avatar__image"
                                src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq" />
                        </div>
                        <address>
                            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                        </address>
                    </div>
                    <div rel="author" class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--sm">
                            <img itemprop="photo" class="avatar__image"
                                src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq" />
                        </div>
                        <address>
                            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                        </address>
                    </div>
                </div>
            </div>
            <div class="list-teaser-abstract primary">
                <div class="list-teaser__body">
                    <div class="list-teaser-abstract__caption">Artikel</div>
                    <h2 class="list-teaser-abstract__headline">Artikel Headline</h2>
                    <p class="list-teaser-abstract__text">
                        Lorem gibson dermatrodes boy nodality neural office sprawl futurity Lado-Acheson count zero
                        interrupt
                        Night
                        City tanto papier-mache kanji corporation meta-lights neurosurgery.
                        Lorem gibson Chiba neon neon motion Mycotoxin Metro Holografix boat RAM AI disposable lights
                        saturation
                        point stimulate boat systemic vehicle.
                        <span class="icon icon-arrow-long-right icon--brand-white"></span>
                    </p>
                </div>
                <div class="list-teaser__footer">
                    <div rel="author" class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--sm">
                            <img itemprop="photo" class="avatar__image"
                                src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq" />
                        </div>
                        <address>
                            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                        </address>
                    </div>
                    <div rel="author" class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--sm">
                            <img itemprop="photo" class="avatar__image"
                                src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq" />
                        </div>
                        <address>
                            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                        </address>
                    </div>
                </div>
            </div>
            <div  class="list-teaser-abstract primary">
                <div class="list-teaser__body">
                    <div class="list-teaser-abstract__caption">Artikel</div>
                    <h2 class="list-teaser-abstract__headline">Artikel Headline</h2>
                    <p class="list-teaser-abstract__text">
                        Lorem gibson dermatrodes boy nodality neural office sprawl futurity Lado-Acheson count zero
                        interrupt
                        Night
                        City tanto papier-mache kanji corporation meta-lights neurosurgery.
                        Lorem gibson Chiba neon neon motion Mycotoxin Metro Holografix boat RAM AI disposable lights
                        saturation
                        point stimulate boat systemic vehicle.
                        <span class="icon icon-arrow-long-right icon--brand-white"></span>
                    </p>
                </div>
                <div class="list-teaser__footer">
                    <div rel="author" class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--sm">
                            <img itemprop="photo" class="avatar__image"
                                src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq" />
                        </div>
                        <address>
                            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                        </address>
                    </div>
                    <div rel="author" class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--sm">
                            <img itemprop="photo" class="avatar__image"
                                src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq" />
                        </div>
                        <address>
                            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                        </address>
                    </div>
                </div>
            </div>
            <div class="list-teaser-abstract primary">
                <div class="list-teaser__body">
                    <div class="list-teaser-abstract__caption">Artikel</div>
                    <h2 class="list-teaser-abstract__headline">Artikel Headline</h2>
                    <p class="list-teaser-abstract__text">
                        Lorem gibson dermatrodes boy nodality neural office sprawl futurity Lado-Acheson count zero
                        interrupt
                        Night
                        City tanto papier-mache kanji corporation meta-lights neurosurgery.
                        Lorem gibson Chiba neon neon motion Mycotoxin Metro Holografix boat RAM AI disposable lights
                        saturation
                        point stimulate boat systemic vehicle.
                        <span class="icon icon-arrow-long-right icon--brand-white"></span>
                    </p>
                </div>
                <div class="list-teaser__footer">
                    <div rel="author" class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--sm">
                            <img itemprop="photo" class="avatar__image"
                                src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq" />
                        </div>
                        <address>
                            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                        </address>
                    </div>
                    <div rel="author" class="author-bio author-bio--short" itemscope itemtype="http://schema.org/Person">
                        <div class="author-bio__image avatar avatar--sm">
                            <img itemprop="photo" class="avatar__image"
                                src="../../assets/example-content/heribert.jpg" alt="Portrait von Heribert Innoq" />
                        </div>
                        <address>
                            <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                            <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>




        <script src="../../assets/bundle.js"></script>
    </body>
</html>

