

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <div class="timeline">
    <div class="timeline-event">
        <div class="timeline-event__icon"></div>
        <div class="timeline-event__content">
            <h2>Aufgaben</h2>
            <ul class="bulletfree-list">
                <li class="m-t-xs">Listitem Text</li>
                <li>Listitem Text</li>
                <li>Listitem Text</li>
            </ul>
        </div>
    </div>
    <div class="timeline-event">
        <div class="timeline-event__icon"></div>
        <div class="timeline-event__content">
            <h2>Interviews & Analysen</h2>
            <ul class="bulletfree-list">
                <li class="m-t-xs">Listitem Text</li>
                <li>Listitem Text</li>
                <li>Listitem Text</li>
            </ul>
        </div>
    </div>
    <div class="timeline-event">
        <div class="timeline-event__icon"></div>
        <div class="timeline-event__content">
            <h2>Ergebnisbericht & Präsentation</h2>
            <ul class="bulletfree-list">
                <li class="m-t-xs">Listitem Text</li>
                <li>Listitem Text</li>
                <li>Listitem Text</li>
            </ul>
        </div>
    </div>
</div>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

