

<html>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <ul class="toolbar">
    <li class="toolbar__item">
        <a href="#" class="toolbar__link">
            <span class="icon icon-feedback icon--brand-secondary"></span>
            Feedback
        </a>
    </li>
    <li class="toolbar__item">
        <a href="#" class="toolbar__link">
            <span class="icon icon-apple-itunes icon--brand-secondary"></span>
            Apple
        </a>
    </li>
    <li class="toolbar__item">
        <a href="#" class="toolbar__link">
            <span class="icon icon-spotify icon--brand-secondary"></span>
            Spotify
        </a>
    </li>
    <li class="toolbar__item">
        <a href="#" class="toolbar__link">
            <span class="icon icon-rss icon--brand-secondary"></span>
            RSS
        </a>
    </li>
    <li class="toolbar__item">
        <a href="#" class="toolbar__link">
            <span class="icon icon-text icon--brand-secondary"></span>
            Transkript
        </a>
    </li>
</ul>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

