

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <header class="topic-header bg-image-edition-04">
    <div class="topic-header__body">
        <h3 class="topic-header__type">Schwerpunktthema <span class="topic-header__tag">Microservices</span></h3>
        <div>
            <h2 class="topic-header__title bg-image-edition-04">Downloadbereich</h2>
        </div>
        <div class="topic-header__text">
            Filet mignon sausage tongue, hamburger porchetta fatback kielbasa flank
            ribeye. Pastrami t-bone pork chop sirloin ham swine cupim brisket
            prosciutto buffalo drumstick strip steak capicola short loin.
            Frankfurter fatback turkey pork chop prosciutto pork ground round tongue
            chuck doner. Pig venison pork chop shoulder corned beef capicola
            meatball.
        </div>
        <span class="icon icon-arrow-long-down icon--brand-secondary"></span>
    </div>
</header>

<section class="page-layout-md--default">
    <div class="download-section-feature">
        <img class="download-section-feature__image" itemprop="photo" src="../../assets/example-content/beispiel-talk.jpg" alt="Eine Vortragsfolie" />
        <h3 class="download-section-feature__title">Titel des Talks</h3>
        <p class="download-section-feature__caption">Dies ist eine lustige Beschreibung des Talks</p>
        <a href="#" class="btn btn--small btn--cta download-section-feature__link" data-label="Download">Download</a>
    </div>
</section>

<section class="stripe stripe--gray">
    <div class="page-layout-md--default">
        <h2 class="teaser-section-heading">Ressourcen und Links</h2>
        <ul>
            <li>
                <a href="#">Link 1</a>
            </li>
            <li>
                <a href="#">Link 2</a>
            </li>
            <li>
                <a href="#">Link 3</a>
            </li>
            <li>
                <a href="#">Link 4</a>
            </li>
        </ul>
    </div>
</section>

<section class="page-layout-xl--default">
    <h2 class="teaser-section-heading">INNOQ Primer</h2>
    <ul class="resource-list">
        <li class="resource-list-item">
            <img class="resource-list-item__image" itemprop="photo" src="../../assets/example-content/blockchain-primer.jpg" alt="Eine Vortragsfolie" />
            <div class=" resource-list-item-wrapper">
                <div class="resource-list-item__body">
                    <h3 class="resource-list-item__title">Lustiger Titel, der etwas länger ist</h3>
                    <p class="resource-list-item__caption">Eine Beschreibung des Primers, der sehr interessant und unterhaltsam ist</p>
                    <ul class="resource-list-item__author">
                        <li><a href="#">Autorin Eins</a></li>
                        <li><a href="#">Autor Zwei</a></li>
                        <li><a href="#">Doktor Drei</a></li>
                    </ul>
                </div>
                <div class="resource-list-item__footer">
                    <a href="#" class="link-teaser">Download PDF</a>
                    <a href="#" class="link-teaser">Download ebook</a>
                </div>
            </div>
        </li>
        <li class="resource-list-item">
            <img class="resource-list-item__image" itemprop="photo" src="../../assets/example-content/blockchain-primer.jpg" alt="Eine Vortragsfolie" />
            <div class=" resource-list-item-wrapper">
                <div class="resource-list-item__body">
                    <h3 class="resource-list-item__title">Lustiger Titel, der etwas länger ist</h3>
                    <p class="resource-list-item__caption"> Eine Beschreibung des Primers, der sehr interessant und unterhaltsam ist Eine Beschreibung des Primers, der sehr interessant und unterhaltsam ist</p>
                    <ul class="resource-list-item__author">
                        <li><a href="#">Autorin Eins</a></li>
                    </ul>
                </div>
                <div class="resource-list-item__footer">
                    <a href="#" class="link-teaser">Download PDF</a>
                    <a href="#" class="link-teaser">Download ebook</a>
                </div>
            </div>
        </li>
        <li class="resource-list-item">
            <img class="resource-list-item__image" itemprop="photo" src="../../assets/example-content/blockchain-primer.jpg" alt="Eine Vortragsfolie" />
            <div class=" resource-list-item-wrapper">
                <div class="resource-list-item__body">
                    <h3 class="resource-list-item__title">Lustiger Titel, der etwas länger ist</h3>
                    <p class="resource-list-item__caption">Eine Beschreibung des Primers, der sehr interessant und unterhaltsam ist</p>
                    <ul class="resource-list-item__author">
                        <li><a href="#">Autorin Eins</a></li>
                        <li><a href="#">Autorin Zwei</a></li>
                        <li><a href="#">Doktor Drei</a></li>
                        <li><a href="#">Und Vier</a></li>
                    </ul>
                </div>
                <div class="resource-list-item__footer">
                    <a href="#" class="link-teaser">Download PDF</a>
                    <a href="#" class="link-teaser">Download ebook</a>
                </div>
            </div>
        </li>
        <li class="resource-list-item">
            <img class="resource-list-item__image" itemprop="photo" src="../../assets/example-content/blockchain-primer.jpg" alt="Eine Vortragsfolie" />
            <div class=" resource-list-item-wrapper">
                <div class="resource-list-item__body">
                    <h3 class="resource-list-item__title">Lustiger Titel, der etwas länger ist</h3>
                    <p class="resource-list-item__caption">Eine Beschreibung des Primers, der sehr interessant und unterhaltsam ist</p>
                    <ul class="resource-list-item__author">
                        <li><a href="#">Autorin Eins</a></li>
                        <li><a href="#">Autorin Zwei</a></li>
                    </ul>
                </div>
                <div class="resource-list-item__footer">
                    <a href="#" class="link-teaser">Download PDF</a>
                    <a href="#" class="link-teaser">Download ebook</a>
                </div>
            </div>
        </li>
        <li class="resource-list-item">
            <img class="resource-list-item__image" itemprop="photo" src="../../assets/example-content/blockchain-primer.jpg" alt="Eine Vortragsfolie" />
            <div class=" resource-list-item-wrapper">
                <div class="resource-list-item__body">
                    <h3 class="resource-list-item__title">Lustiger Titel, der etwas länger ist</h3>
                    <p class="resource-list-item__caption">Eine Beschreibung des Primers, der sehr interessant und unterhaltsam ist</p>
                    <ul class="resource-list-item__author">
                        <li><a href="#">Autorin Eins</a></li>
                        <li><a href="#">Autor Zwei</a></li>
                    </ul>
                </div>
                <div class="resource-list-item__footer">
                    <a href="#" class="link-teaser">Download PDF</a>
                    <a href="#" class="link-teaser">Download ebook</a>
                </div>
            </div>
        </li>
    </ul>
</section>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

