

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div class="page-layout-xl--default">
      <div class="blocks">
        <a href="#" class="topic-teaser topic-list-teaser-bg-image-igel"
          ><div class="topic-teaser__body">
            <div class="topic-teaser__caption">Schwerpunktthema</div>
            <h2 class="topic-teaser__header">Themenschwerpunkt Headline</h2>
            <div class="topic-teaser__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
              doloremque culpa minima vero quod, optio itaque nisi deserunt,
              debitis ad laudantium libero, quia nemo!
            </div>
            <div class="topic-teaser__cta">
              Zum Schwerpunktthema
              <img src="../../assets/icons/arrow-long-right-red.svg" />
            </div></div
        ></a>
      </div>
      <div class="blocks">
        <a href="#" class="topic-teaser topic-list-teaser-bg-image-ice"
          ><div class="topic-teaser__body">
            <div class="topic-teaser__caption">Schwerpunktthema</div>
            <h2 class="topic-teaser__header">Themenschwerpunkt Headline</h2>
            <div class="topic-teaser__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
              doloremque culpa minima vero quod, optio itaque nisi deserunt,
              debitis ad laudantium libero, quia nemo!
            </div>
            <div class="topic-teaser__cta">
              Zum Schwerpunktthema
              <img src="../../assets/icons/arrow-long-right-red.svg" />
            </div></div
        ></a>
      </div>
      <div class="blocks">
        <a href="#" class="topic-teaser topic-list-teaser-bg-image-girl"
          ><div class="topic-teaser__body">
            <div class="topic-teaser__caption">Schwerpunktthema</div>
            <h2 class="topic-teaser__header">Themenschwerpunkt Headline</h2>
            <div class="topic-teaser__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
              doloremque culpa minima vero quod, optio itaque nisi deserunt,
              debitis ad laudantium libero, quia nemo!
            </div>
            <div class="topic-teaser__cta">
              Zum Schwerpunktthema
              <img src="../../assets/icons/arrow-long-right-red.svg" />
            </div></div
        ></a>
      </div>
      <div class="blocks">
        <a href="#" class="topic-teaser topic-list-teaser-bg-image-medusa"
          ><div class="topic-teaser__body">
            <div class="topic-teaser__caption">Schwerpunktthema</div>
            <h2 class="topic-teaser__header">Themenschwerpunkt Headline</h2>
            <div class="topic-teaser__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
              doloremque culpa minima vero quod, optio itaque nisi deserunt,
              debitis ad laudantium libero, quia nemo!
            </div>
            <div class="topic-teaser__cta">
              Zum Schwerpunktthema
              <img src="../../assets/icons/arrow-long-right-red.svg" />
            </div></div
        ></a>
      </div>
      <div class="blocks">
        <a href="#" class="topic-teaser topic-list-teaser-bg-image-koralle"
          ><div class="topic-teaser__body">
            <div class="topic-teaser__caption">Schwerpunktthema</div>
            <h2 class="topic-teaser__header">Themenschwerpunkt Headline</h2>
            <div class="topic-teaser__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
              doloremque culpa minima vero quod, optio itaque nisi deserunt,
              debitis ad laudantium libero, quia nemo!
            </div>
            <div class="topic-teaser__cta">
              Zum Schwerpunktthema
              <img src="../../assets/icons/arrow-long-right-red.svg" />
            </div></div
        ></a>
      </div>
    </div>
  </body>
  <script src="../../assets/document-register-element.js"></script>
  <script src="../../assets/bundle.js"></script>
</html>

