

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div class="page-layout-xl--default">
      <div class="blocks">
        <a href="#" class="topic-teaser bg-image-edition-07"
          ><div class="topic-teaser__body">
            <div class="topic-teaser__caption">Schwerpunktthema</div>
            <h2 class="topic-teaser__header">Themenschwerpunkt Headline</h2>
            <div class="topic-teaser__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
              doloremque culpa minima vero quod, optio itaque nisi deserunt,
              debitis ad laudantium libero, quia nemo!
            </div>
            <div class="topic-teaser__cta">
              Zum Schwerpunktthema<span
                class="icon-svg icon-arrow-long-right icon--brand-primary"
              ></span>
            </div></div
        ></a>
      </div>
      <div class="blocks">
        <a href="#" class="topic-teaser bg-image-edition-14"
          ><div class="topic-teaser__body">
            <div class="topic-teaser__caption">Schwerpunktthema</div>
            <h2 class="topic-teaser__header">Themenschwerpunkt Headline</h2>
            <div class="topic-teaser__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
              doloremque culpa minima vero quod, optio itaque nisi deserunt,
              debitis ad laudantium libero, quia nemo!
            </div>
            <div class="topic-teaser__cta">
              Zum Schwerpunktthema<span
                class="icon-svg icon-arrow-long-right icon--brand-primary"
              ></span>
            </div></div
        ></a>
      </div>
      <div class="blocks">
        <a href="#" class="topic-teaser bg-image-edition-04"
          ><div class="topic-teaser__body">
            <div class="topic-teaser__caption">Schwerpunktthema</div>
            <h2 class="topic-teaser__header">Themenschwerpunkt Headline</h2>
            <div class="topic-teaser__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
              doloremque culpa minima vero quod, optio itaque nisi deserunt,
              debitis ad laudantium libero, quia nemo!
            </div>
            <div class="topic-teaser__cta">
              Zum Schwerpunktthema<span
                class="icon-svg icon-arrow-long-right icon--brand-primary"
              ></span>
            </div></div
        ></a>
      </div>
      <div class="blocks">
        <a href="#" class="topic-teaser bg-image-edition-17"
          ><div class="topic-teaser__body">
            <div class="topic-teaser__caption">Schwerpunktthema</div>
            <h2 class="topic-teaser__header">Themenschwerpunkt Headline</h2>
            <div class="topic-teaser__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
              doloremque culpa minima vero quod, optio itaque nisi deserunt,
              debitis ad laudantium libero, quia nemo!
            </div>
            <div class="topic-teaser__cta">
              Zum Schwerpunktthema<span
                class="icon-svg icon-arrow-long-right icon--brand-primary"
              ></span>
            </div></div
        ></a>
      </div>
      <div class="blocks">
        <a href="#" class="topic-teaser bg-image-edition-12"
          ><div class="topic-teaser__body">
            <div class="topic-teaser__caption">Schwerpunktthema</div>
            <h2 class="topic-teaser__header">Themenschwerpunkt Headline</h2>
            <div class="topic-teaser__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
              doloremque culpa minima vero quod, optio itaque nisi deserunt,
              debitis ad laudantium libero, quia nemo!
            </div>
            <div class="topic-teaser__cta">
              Zum Schwerpunktthema<span
                class="icon-svg icon-arrow-long-right icon--brand-primary"
              ></span>
            </div></div
        ></a>
      </div>
    </div>
  </body>
  <script src="../../assets/bundle.js"></script>
</html>

