

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <header class="topic-header bg-image-edition-03">
      <div class="topic-header__body">
        <h3 class="topic-header__type">
          Schwerpunktthema <span class="topic-header__tag">Microservices</span>
        </h3>
        <div>
          <h1 class="topic-header__title bg-image-edition-03">
            Schwerpunkt-Thema Headline
          </h1>
        </div>
        <div class="topic-header__text">
          Filet mignon sausage tongue, hamburger porchetta fatback kielbasa
          flank ribeye. Pastrami t-bone pork chop sirloin ham swine cupim
          brisket prosciutto buffalo drumstick strip steak capicola short loin.
          Frankfurter fatback turkey pork chop prosciutto pork ground round
          tongue chuck doner. Pig venison pork chop shoulder corned beef
          capicola meatball.
        </div>
        <span
          class="icon-svg icon-arrow-long-down icon--brand-secondary"
        ></span>
      </div>
    </header>
  </body>
  <script src="../../assets/document-register-element.js"></script>
  <script src="../../assets/bundle.js"></script>
</html>

