

<html lang="de">
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <link rel='stylesheet' type='text/css' href='../../assets/normalize.css' />
        <link media='all' rel='stylesheet' href='../../assets/bundle.css' />
        <style>
            body {
            padding: 1rem;
            }
        </style>
        <title>Preview Layout</title>
    </head>
    <body class="application">
        <a class=" list-teaser-training primary">
    <div class="list-teaser__body">
        <div class="list-teaser-training__caption">Untertitel</div>
        <h2 class="list-teaser-training__headline">Titel</h2>
        <div class="label-big badge badge--inverted">Labeltext</div>
    </div>
    <div class="list-teaser__footer">
        <span class="link-teaser">Termine &amp; Details</span>
    </div>
</a>

        <script src="../../assets/bundle.js"></script>
    </body>
</html>

