

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../assets/normalize.css" />
    <link media="all" rel="stylesheet" href="../../assets/bundle.css" />
    <link
      rel="preload"
      href="https://hello.myfonts.net/count/350ed6"
      as="style"
    />
    <style>
      body {
        padding: 1rem;
      }
    </style>
    <title>Preview Layout</title>
  </head>
  <body class="application">
    <div class="two-column-image-divider">
      <figure class="two-column-image-divider__left-image">
        <img src="../../assets/bg-images/general/visual-trainings-03.jpg" />
      </figure>
      <figure class="two-column-image-divider__right-image">
        <img src="../../assets/bg-images/general/visual-trainings-04.jpg" />
      </figure>
    </div>
  </body>
  <script src="../../assets/document-register-element.js"></script>
  <script src="../../assets/bundle.js"></script>
</html>

