.service-intro {
  display: flex;
  flex-direction: column;

  & + & {
    margin-top: $spacer-lg;
  }
}

.service-intro__header {
  font-size: $service-intro-header-font-size;
}

.service-intro__text {
  @extend %heading-font-bold;
  margin-bottom: $spacer-sm;
  line-height: $service-intro-text-line-height-small;
  font-size: $service-intro-text-font-size-small;
}

@media screen and (min-width: $grid-breakpoint-md) {
  .service-intro-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: $spacer-lg;
  }

  .service-intro {
    border-right: 1px solid $brand-gray-50;
    padding: 0 $spacer-lg;
    grid-column: span 2;

    // &:nth-of-type(4) {
    //   // sass-lint:disable no-important
    //   border-left: 0 !important;
    //   grid-column-start: 2;
    //   grid-column-end: 4;
    //   grid-row: 2;
    //
    // }
    //
    // &:nth-of-type(5) {
    //   grid-column-start: 4;
    //   grid-column-end: 6;
    //   grid-row: 2;
    // }

    &:nth-child(3n) {
      border-right: 0;
    }

    & + & {
      margin-top: 0;
    }
  }

  .service-intro__text {
    line-height: $service-intro-text-line-height;
    font-size: $service-intro-text-font-size;
  }
}
