<main role="main" class="staff-page">
    <header class="gradient-header">
        <div class="gradient-header__body">
            <div class="staff-page__header">
                <div class="staff-header__profile">
                    <div class="staff-header__title">
                        <h3>Dr. Vorname Nachname</h3>
                        <p class="staff-header__role">Fellow</p>
                        <p class="staff-header__link"><a class="link-teaser" href="#">Trainerprofil</a> bei Socreatory</p>
                    </div>
                    <div class="avatar avatar--xxl">
                        <a class="avatar__link" href="#author-bio">
                            <img class="avatar__image" itemprop="photo" src="{{ path '/assets/example-content/heribert.jpg' }}"  alt="Portrait von Heribert Innoq" />
                        </a>
                    </div>
                </div>
                <p class="staff-header__text">Lars ist Senior Consultant bei INNOQ in München und ist interessiert
                    an Programmiersprachen (insbesondere funktionale), Webentwicklung und theoretischer Informatik.
                    Lars schreibt Artikel und spricht auf Konferenzen über eine Vielzahl von Themen.</p>
                <ul class="social-media-bar">
                    <li class="social-media-bar__item">
                        <a href="#" class="social-media-bar__link" title="Twitter">
                            <span class="icon-svg icon-twitter icon--brand-secondary"></span>
                        </a>
                    </li>
                    <li class="social-media-bar__item">
                        <a href="#" class="social-media-bar__link" title="Youtube">
                            <span class="icon-svg icon-youtube icon--brand-secondary"></span>
                        </a>
                    </li>
                    <li class="social-media-bar__item">
                        <a href="#" class="social-media-bar__link" title="Linkedin">
                            <span class="icon-svg icon-linkedin icon--brand-secondary"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="page-layout-xl--default">
        <h2 class="section-heading--primary ">Shortlist</h2>
        <ul class="shortlist">
            <li class="shortlist-item box-shadow-primary-25-right-bottom">
                <div class="shortlist-item__body">
                    <p class="shortlist-item__label">Blogpost</p>
                    <h4 class="shortlist-item__title">Ein Titel</h4>
                    <p class="shortlist-item__caption">Eine Beschreibung, die sehr interessant und
                        unterhaltsam ist</p>
                    <span class="icon-svg icon-arrow-long-right icon--brand-primary"></span>
                </div>
            </li>
            <li class="shortlist-item box-shadow-primary-25-right-bottom">
                <div class="shortlist-item__body">
                    <p class="shortlist-item__label">Artikel</p>
                    <h3 class="shortlist-item__title">Lustiger Titel, der etwas länger ist</h3>
                    <p class="shortlist-item__caption">Eine Beschreibung des Primers, der sehr interessant und
                        unterhaltsam ist</p>
                    <span class="icon-svg icon-arrow-long-right icon--brand-primary"></span>
                </div>
            </li>
            <li class="shortlist-item box-shadow-primary-25-right-bottom">
                <div class="shortlist-item__body">
                    <p class="shortlist-item__label">Podcast</p>
                    <h4 class="shortlist-item__title">Ein Titel</h4>
                    <p class="shortlist-item__caption">Eine Beschreibung, die sehr interessant und
                        unterhaltsam ist</p>
                    <span class="icon-svg icon-arrow-long-right icon--brand-primary"></span>
                </div>
            </li>
            <li class="shortlist-item box-shadow-primary-25-right-bottom">
                <div class="shortlist-item__body">
                    <p class="shortlist-item__label">Artikel</p>
                    <h3 class="shortlist-item__title">Lustiger Titel, der etwas länger ist</h3>
                    <p class="shortlist-item__caption">Eine Beschreibung des Primers, der sehr interessant und
                        unterhaltsam ist</p>
                    <span class="icon-svg icon-arrow-long-right icon--brand-primary"></span>
                </div>
            </li>
        </ul>
    </div>

    <section class="stripe stripe--gray">
        <div class="page-layout-xl--default">
            <h2 class="section-heading--primary">Vorträge</h2>
            <div class="tile-grid-sm">
                <a href="#" class="list-teaser-event">
                    <div class="event-date-section">
                        <div class="label talk">Vortrag</div>
                        <time class="event-date" datetime="2017-06-23">
                            <span class="event-day-month">
                                <span class='event-day'>23</span>
                                <span class='event-month'>Jun</span>
                            </span>
                            <span class='event-year'>2017</span>
                        </time>
                    </div>
                    <div class="list-teaser__content">
                        <div class="list-teaser__body">
                            <div class="label talk">Vortrag</div>
                            <div class="label slides">Folien verfügbar</div>
                            <h2 class="list-teaser-event__headline">Vortrag Titel</h2>
                            <h3 class="list-teaser-event__subheadline">
                                Vortragsort / 10-12 Uhr
                                <span class="icon-svg icon-arrow-long-right icon--brand-primary"></span>
                            </h3>
                        </div>
                        <div class="list-teaser__footer">
                            <div rel="author" class="author-bio author-bio--short" href="#author-bio" itemscope itemtype="http://schema.org/Person">
                                <div class="author-bio__image avatar avatar--small">
                                    <img itemprop="photo" class="avatar__image" src="{{ path '/assets/example-content/heribert.jpg' }}"  alt="Portrait von Heribert Innoq"/>
                                </div>
                                <address class="author-bio__text">
                                    <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                                    <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                                </address>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-teaser-event">
                    <div class="event-date-section">
                        <div class="label talk">Vortrag</div>
                        <time class="event-date" datetime="2017-06-23">
                            <span class="event-day-month">
                                <span class='event-day'>23</span>
                                <span class='event-month'>Jun</span>
                            </span>
                            <span class='event-year'>2017</span>
                        </time>
                    </div>
                    <div class="list-teaser__content">
                        <div class="list-teaser__body">
                            <div class="label talk">Vortrag</div>
                            <div class="label slides">Folien verfügbar</div>
                            <h2 class="list-teaser-event__headline">Vortrag Titel</h2>
                            <h3 class="list-teaser-event__subheadline">
                                Vortragsort / 10-12 Uhr
                                <span class="icon-svg icon-arrow-long-right icon--brand-primary"></span>
                            </h3>
                        </div>
                        <div class="list-teaser__footer">
                            <div rel="author" class="author-bio author-bio--short" href="#author-bio" itemscope itemtype="http://schema.org/Person">
                                <div class="author-bio__image avatar avatar--small">
                                    <img itemprop="photo" class="avatar__image" src="{{ path '/assets/example-content/heribert.jpg' }}"  alt="Portrait von Heribert Innoq"/>
                                </div>
                                <address class="author-bio__text">
                                    <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                                    <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                                </address>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-teaser-event">
                    <div class="event-date-section">
                        <div class="label talk">Vortrag</div>
                        <time class="event-date" datetime="2017-06-23">
                            <span class="event-day-month">
                                <span class='event-day'>23</span>
                                <span class='event-month'>Jun</span>
                            </span>
                            <span class='event-year'>2017</span>
                        </time>
                    </div>
                    <div class="list-teaser__content">
                        <div class="list-teaser__body">
                            <div class="label talk">Vortrag</div>
                            <div class="label slides">Folien verfügbar</div>
                            <h2 class="list-teaser-event__headline">Vortrag Titel</h2>
                            <h3 class="list-teaser-event__subheadline">
                                Vortragsort / 10-12 Uhr
                                <span class="icon-svg icon-arrow-long-right icon--brand-primary"></span>
                            </h3>
                        </div>
                        <div class="list-teaser__footer">
                            <div rel="author" class="author-bio author-bio--short" href="#author-bio" itemscope itemtype="http://schema.org/Person">
                                <div class="author-bio__image avatar avatar--small">
                                    <img itemprop="photo" class="avatar__image" src="{{ path '/assets/example-content/heribert.jpg' }}"  alt="Portrait von Heribert Innoq"/>
                                </div>
                                <address class="author-bio__text">
                                    <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                                    <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                                </address>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="staff-page--link"><a class="link-teaser" href="#">Weitere Inhalte</a></div>
        </div>
    </section>

    <div class="page-layout-xl--default">
        <h2 class="section-heading--primary">Podcasts</h2>
        <div class="podcast-grid">
            <a href="#" class="podcast-teaser podcast-teaser--avatar--overlay" style="background-image: url({{ path '/assets/example-content/heribert-rechts.png' }})">
                <div class="podcast-teaser__body">
                    <div class="podcast-teaser__caption">Podcast</div>
                    <h2 class="podcast-teaser__headline">Podcast Headline</h2>
                    <h3 class="podcast-teaser__subheadline">
                        Podcast Subheadline
                    </h3>
                    <span class="icon icon-arrow-long-right icon--brand-white"></span>
                </div>
                <div class="podcast-teaser__footer">
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                </div>
            </a>

            <a href="#" class="podcast-teaser podcast-teaser--default">
                <div class="podcast-teaser__body">
                    <div class="podcast-teaser__caption">Podcast</div>
                    <h2 class="podcast-teaser__headline">Podcast Headline</h2>
                    <h3 class="podcast-teaser__subheadline">
                        Podcast Subheadline
                    </h3>
                    <span class="icon-svg icon-arrow-long-right icon--brand-white"></span>
                </div>
                <div class="podcast-teaser__footer">
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                </div>
            </a>

            <a href="#" class="podcast-teaser podcast-teaser--avatar" style="background-image: url({{ path '/assets/example-content/heribert-rechts.png' }})">
                <div class="podcast-teaser__body">
                    <div class="podcast-teaser__caption">Podcast</div>
                    <h2 class="podcast-teaser__headline">Podcast Headline</h2>
                    <h3 class="podcast-teaser__subheadline">
                        Podcast Subheadline
                    </h3>
                    <span class="icon-svg icon-arrow-long-right icon--brand-primary"></span>
                </div>
                <div class="podcast-teaser__footer">
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                </div>
            </a>

            <a href="#" class="podcast-teaser podcast-teaser--default">
                <div class="podcast-teaser__body">
                    <div class="podcast-teaser__caption">Podcast</div>
                    <h2 class="podcast-teaser__headline">Podcast Headline</h2>
                    <h3 class="podcast-teaser__subheadline">
                        Podcast Subheadline
                    </h3>
                    <span class="icon-svg icon-arrow-long-right icon--brand-white"></span>
                </div>
                <div class="podcast-teaser__footer">
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                </div>
            </a>

            <a href="#" class="podcast-teaser podcast-teaser--avatar--overlay--big" style="background-image: url({{ path '/assets/example-content/heribert-rechts.png' }}), url({{ path '/assets/example-content/heribert-links.png' }}) ">
                <div class="podcast-teaser__body">
                    <div class="podcast-teaser__caption">Podcast</div>
                    <h2 class="podcast-teaser__headline">Podcast Headline</h2>
                    <h3 class="podcast-teaser__subheadline">
                        Podcast Subheadline
                    </h3>
                    <span class="icon-svg icon-arrow-long-right icon--brand-white"></span>
                </div>
                <div class="podcast-teaser__footer">
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                    <div class="podcast-author" itemscope itemtype="http://schema.org/Person" >
                        Heribert Innoq
                    </div>
                </div>
            </a>
        </div>
        <div class="staff-page--link"><a class="link-teaser" href="#">Weitere Inhalte</a></div>
    </div>

    <div style="background-image: url(https://assets.website-files.com/5f5b5ea2529de5deb26d650a/6076f8a016b5a8b29a6b5833_Scene4_Data_2.jpg);">
        <section class="stripe stripe--secondary-transparent">
            <div class="page-layout-xl--default">
                <h2 class="section-heading--primary inverted-section-heading">Artikel</h2>
                <div class="tile-grid-sm">
                    <a href="#" class="list-teaser">
                        <div class="list-teaser__body">
                            <div class="list-teaser__caption">Artikel</div>
                            <h2 class="list-teaser__headline">Artikel Headline</h2>
                            <h3 class="list-teaser__subheadline">
                                Artikel Subheadline
                                <span class="icon-svg icon-arrow-long-right icon--brand-primary"></span>
                            </h3>
                        </div>
                        <div class="list-teaser__footer">
                            <div rel="author" class="author-bio author-bio--short" href="#author-bio"
                                itemscope itemtype="http://schema.org/Person">
                                <div class="author-bio__image avatar avatar--small">
                                    <img itemprop="photo" class="avatar__image" src="{{ path '/assets/example-content/heribert.jpg' }}"
                                        alt="Portrait von Heribert Innoq" />
                                </div>
                                <address class="author-bio__text">
                                    <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                                    <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                                </address>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-teaser">
                        <div class="list-teaser__body">
                            <div class="list-teaser__caption">Artikel</div>
                            <h2 class="list-teaser__headline">Artikel Headline</h2>
                            <h3 class="list-teaser__subheadline">
                                Artikel Subheadline
                                <span class="icon-svg icon-arrow-long-right icon--brand-primary"></span>
                            </h3>
                        </div>
                        <div class="list-teaser__footer">
                            <div rel="author" class="author-bio author-bio--short" href="#author-bio"
                                itemscope itemtype="http://schema.org/Person">
                                <div class="author-bio__image avatar avatar--small">
                                    <img itemprop="photo" class="avatar__image" src="{{ path '/assets/example-content/heribert.jpg' }}"
                                        alt="Portrait von Heribert Innoq" />
                                </div>
                                <address class="author-bio__text">
                                    <span rel="author" class="author-bio__name" itemprop="fullName">Heribert Innoq</span>
                                    <span class="author-bio__info" itemprop="jobTitle">Senior Consultant</span>
                                </address>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="staff-page--link"><a class="link-teaser inverted-interaction-color" href="#">Weitere Inhalte</a></div>
            </div>
        </section>
    </div>

    <div class="page-layout-xl--default">
        <h2 class="section-heading--primary ">Was ich noch sagen wollte</h2>
    </div>
</main>
