$divider-center-textbox-offset: $spacer-xxl * 2;

.image-divider-center {
  @extend %page-header;

  margin-bottom: $divider-center-textbox-offset;
  padding-top: $spacer-lg;
  min-height: 50vh;

  &__title {
    @extend %punch-in;

    margin-bottom: $spacer-md;
    padding: 0 $spacer-md;
    text-align: center;
    line-height: $standard-header-title-line-height;
    font-size: $standard-header-title-font-size-small;
  }
}

.image-divider-center__textbox {
  display: flex;
  position: relative;
  top: $divider-center-textbox-offset;
  flex-direction: column;
  align-items: center;
  margin-top: $spacer-md;
  background-color: $standard-header-intro-bg;
  padding: $spacer-md;
  max-width: 630px;
  box-sizing: content-box;
}

.image-divider-center__textbox__text {
  @extend %body-font-italic;

  line-height: $standard-header-intro-line-height-small;
  color: $brand-red;
  font-size: $standard-header-intro-font-size-small;
}

.image-divider-center-bg {
  background-image: asset-url('public/assets/visual-culture-03.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.image-divider-center-bg-text-box {
  @extend %image-divider-center-bg-text-box;
}


@media screen and (min-width: $grid-breakpoint-md) {
  .image-divider-center {
    margin-bottom: $divider-center-textbox-offset;
  }

  .image-divider-center__title {
    margin-bottom: $spacer-lg;
    font-size: $standard-header-title-font-size;
  }

  .image-divider-center__textbox {
    top: $divider-center-textbox-offset;
    padding: $spacer-lg;
    width: 630px;
  }

  .image-divider-center__textbox__text {
    line-height: $standard-header-intro-line-height;
    font-size: $standard-header-intro-font-size;
  }
}
