$info-box-icon-font-size: ms(3);

info-box {
  display: block;
}

.infobox__teaser {
  @extend %heading-font-bold;

  cursor: pointer;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  padding: $spacer-sm $spacer-md;

  font-size: $font-size-xs;
  color: $infobox-teaser-text-color-closed;

  background-color: $infobox-teaser-background-color-closed;
  border-bottom: 3px solid $infobox-teaser-border-color;
}

.infobox__teaser__heading {
  display: inline-flex;
  align-items: center;
  padding-right: $spacer-sm;
}

.infobox__teaser__right {
  display: flex;
}

.infobox__teaser__left {
  display: flex;
}

.icon-chevron-down {
  background: $infobox-teaser-text-color-closed;
}

.icon-info {
  background: $infobox-teaser-text-color-closed;
}

.infobox__content {
  padding: $spacer-sm $spacer-md;
  background-color: $infobox-content-background-color;

  > * + * {
    margin-top: $spacer-md;
  }

  p,
  ul > li {
    @extend %heading-font-regular;

    font-size: $font-size-base;
    line-height: $paragraph-line-height;
  }

  li::marker {
    @extend %body-font-regular;
  }
}

details {
  ::-webkit-details-marker {
    display: none; // hides marker in Safari
  }

  &[open] {
    .infobox__teaser {
      color: $infobox-teaser-text-color-open;
      background-color: $infobox-teaser-background-color-open;

      .icon-chevron-down {
        transform: rotate(180deg);
        background: $infobox-teaser-text-color-open;
      }

      .icon-info {
        background: $infobox-teaser-text-color-open;
      }
    }
  }
}

summary {
  display: block; // hides marker in all browser but Safari
}
